Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat(cms): initial creation of cms package with cms studio and client
  .github/workflows/deploy-sanity-studio.yml
  apps/web/README.md
  apps/web/package.json
  eslint.config.js
  package.json
  packages/cms/.gitignore
  packages/cms/README.md
  packages/cms/index.ts
  packages/cms/nodemon.json
  packages/cms/package.json
  packages/cms/sanity-typegen.json
  packages/cms/sanity.cli.ts
  packages/cms/sanity.config.ts
  packages/cms/schema.json
  packages/cms/src/client/client.ts
  packages/cms/src/client/queries/index.ts
  packages/cms/src/environment.ts
  packages/cms/src/studio/schema-types/index.ts
  packages/cms/src/studio/schema-types/post-type.ts
  packages/cms/static/.gitkeep
  packages/cms/tsconfig.json
  packages/cms/tsup.config.ts
  packages/eslint-config/package.json
  packages/services/package.json
  pnpm-lock.yaml
  release-please-config.json
Due: none

feat(cms): add faq type
  packages/cms/schema.json
  packages/cms/src/studio/schema-types/faq-type.ts
  packages/cms/src/studio/schema-types/index.ts
Due: none

feat(cms): stub out sanity cms package
  apps/mobile/package.json
  apps/web/package.json
  eslint.config.js
  packages/query/src/bitcoin/fees/fee-estimates.query.ts
  packages/query/src/stacks/bns/bns.query.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: query

feat(web): use CMS for sbtc pool grid
  apps/web/app/components/posts/post-page-heading.tsx
  apps/web/app/data/data.ts
  apps/web/app/pages/sbtc-rewards/components/sbtc-protocol-reward-grid.tsx
  apps/web/app/pages/sbtc-rewards/components/sbtc-rewards-page-heading.tsx
  apps/web/app/pages/sbtc-rewards/sbtc-rewards.tsx
  apps/web/app/pages/sbtc-rewards/sbtc.route.tsx
  apps/web/app/pages/stacking/stacking.tsx
Due: none

feat(cms): add sbtc schema and fix exports
  apps/web/app/pages/stacking/components/stacking-page-heading.tsx
  packages/cms/package.json
  packages/cms/schema.json
  packages/cms/src/client/queries/index.ts
  packages/cms/src/studio/schema-types/index.ts
  packages/cms/src/studio/schema-types/sbtc-pool-information-type.ts
  packages/cms/src/studio/schema-types/sbtc-pool-meta-type.ts
Due: none

fix: error state should be with && instead of ||
  apps/mobile/src/queries/balance/account-balance.query.ts
  apps/mobile/src/queries/balance/total-balance.query.ts
Due: none

fix: wallet settings portfolio
  apps/mobile/src/app/settings/wallet/index.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/cms/CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: none

feat: add sensible shared balance query options
  apps/mobile/src/queries/balance/balance-query-options.ts
  apps/mobile/src/queries/balance/btc-balance.query.ts
  apps/mobile/src/queries/balance/runes-balance.query.ts
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  apps/mobile/src/queries/balance/stx-balance.query.ts
Due: none

fix(mobile): react query BTC balance error handling, ref LEA-3174
  apps/mobile/src/components/error/query-error-boundary.tsx
  apps/mobile/src/hooks/use-stable-query-key.ts
  apps/mobile/src/queries/balance/account-balance.query.ts
  apps/mobile/src/queries/balance/btc-balance.query.ts
  apps/mobile/src/utils/query-error-handler.ts
Due: none

fix(mobile): stop never ending loaders, ref LEA-3174
  apps/mobile/src/features/balances/total-balance.tsx
Due: none

fix(mobile): re-introduce query pre-loader for total balance loading, ref LEA-3174
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/core/query-preloader.tsx
Due: none

feat: account balances service
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/account/components/account-total-balance.tsx
  apps/mobile/src/features/account/components/available-account-balance.tsx
  apps/mobile/src/features/balances/total-balance.tsx
  apps/mobile/src/queries/balance/account-balance.query.ts
  packages/services/src/balances/account-balances.service.ts
  packages/services/src/inversify.config.ts
Due: none

fix: query cancellation issues
  apps/mobile/src/queries/balance/balance-query-options.ts
  packages/query/package.json
  packages/query/src/rate-limiter/queue-class.ts
  packages/services/package.json
  packages/services/src/bns/bns.service.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/services/src/infrastructure/rate-limiter/best-in-slot-limiter.ts
  packages/services/src/infrastructure/rate-limiter/hiro-rate-limiter.ts
  packages/services/src/infrastructure/rate-limiter/leather-rate-limiter.ts
  packages/services/src/infrastructure/rate-limiter/priority-queue.ts
  packages/services/src/infrastructure/rate-limiter/rate-limiter.service.ts
  pnpm-lock.yaml
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: query

fix(mobile): re-introduce query pre-loader for total balance loading, ref LEA-3168
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/core/query-preloader.tsx
Due: none

fix(mobile): remove half sheet from secure your account, ref LEA-3149
  apps/mobile/src/app/secure-your-wallet.tsx
  apps/mobile/src/components/screen/screen-header/screen-header.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

refactor(web): remove legacy sbtc posts content
  apps/mobile/package.json
  apps/web/app/components/basic-page/basic-page-hover-card.tsx
  apps/web/app/components/basic-page/basic-page-hover-icon.tsx
  apps/web/app/components/basic-page/basic-page-section-heading.tsx
  apps/web/app/components/pool-overview.tsx
  apps/web/app/components/posts/post-label-hover-card.tsx
  apps/web/app/components/posts/post-value-hover-card.tsx
  apps/web/app/components/protocol-overview.tsx
  apps/web/app/constants/cms-client.ts
  apps/web/app/data/content.ts
  apps/web/app/data/post-types.ts
  apps/web/app/layouts/page/page.tsx
  apps/web/app/pages/sbtc-rewards/components/get-sbtc-grid.tsx
  apps/web/app/pages/sbtc-rewards/components/sbtc-protocol-reward-grid.tsx
  apps/web/app/pages/sbtc-rewards/components/sbtc-provider-icon.tsx
  apps/web/app/pages/sbtc-rewards/components/sbtc-rewards-faq.tsx
  apps/web/app/pages/sbtc-rewards/components/sbtc-rewards-page-heading.tsx
  apps/web/app/pages/sbtc-rewards/sbtc-rewards.tsx
  apps/web/app/pages/sbtc-rewards/sbtc.route.tsx
  apps/web/app/utils/post-utils.ts
  apps/web/package.json
  apps/web/workers/csp.ts
  eslint.config.js
  packages/cms/.gitignore
  packages/cms/index.ts
  packages/cms/package.json
  packages/cms/schema.json
  packages/cms/src/client/client.ts
  packages/cms/src/client/queries/index.ts
  packages/cms/src/client/queries/queries.spec.ts
  packages/cms/src/client/queries/schemas.ts
  packages/cms/src/studio/schema-types/basic-concept-type.ts
  packages/cms/src/studio/schema-types/faq-section-builder-type.ts
  packages/cms/src/studio/schema-types/index.ts
  packages/cms/src/studio/schema-types/sbtc-pool-meta-type.ts
  packages/cms/vitest.config.js
  packages/query/src/bitcoin/fees/fee-estimates.query.ts
  packages/query/src/stacks/bns/bns.query.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/cms/CHANGELOG.md
  packages/cms/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: query

fix(mobile): fix incorrect fallback none loader
  apps/mobile/src/features/browser/approver-sheet/stx/call-contract/hooks.ts
  apps/mobile/src/features/browser/approver-sheet/stx/nonce-loader.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

feat(ledger): add windows firmware warning
  apps/extension/src/app/common/hooks/use-platform-info.ts
  apps/extension/src/app/features/ledger/generic-steps/connect-device/connect-ledger.tsx
Due: none

chore(release): 6.73.0
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

feat(web): add new tab icon to nav-item layout
  apps/web/app/layouts/nav/nav-item.layout.tsx
Due: none

feat: token management
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/account/components/available-account-balance.tsx
  apps/mobile/src/features/balances/manage-tokens.sheet.tsx
  apps/mobile/src/features/feature-flags/index.ts
  apps/mobile/src/features/token/components/token-switch.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/balance/account-balance.query.ts
  apps/mobile/src/queries/balance/runes-balance.query.ts
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  apps/mobile/src/shared/test-id.ts
  apps/mobile/src/store/settings/language-preference-hydration.ts
  apps/mobile/src/store/settings/settings.read.ts
  apps/mobile/src/store/settings/settings.ts
  apps/mobile/src/store/settings/settings.write.ts
  apps/mobile/src/store/settings/utils.ts
  packages/services/src/balances/runes-balances.service.ts
  packages/services/src/balances/sip10-balances.service.ts
  packages/services/src/filtering/filtering.spec.ts
  packages/services/src/filtering/filtering.ts
  packages/services/src/types/request.types.ts
  packages/ui/src/assets/icons/settings-slider-hor-24-24.svg
  packages/ui/src/icons/index.native.ts
  packages/ui/src/icons/settings-slider-hor-icon.native.tsx
  packages/utils/src/assets/asset-id.ts
  pnpm-lock.yaml
Due: utils

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
