Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

fix: update release please manifest
  .release-please-manifest.json
  apps/mobile/app.config.js
  apps/mobile/package.json
  packages/analytics/package.json
  packages/bitcoin/package.json
  packages/constants/package.json
  packages/crypto/package.json
  packages/eslint-config/package.json
  packages/models/package.json
  packages/panda-preset/package.json
  packages/prettier-config/package.json
  packages/provider/package.json
  packages/query/package.json
  packages/rpc/package.json
  packages/sdk/package.json
  packages/services/package.json
  packages/stacks/package.json
  packages/tokens/package.json
  packages/tsconfig-config/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.js
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/tsconfig-config/CHANGELOG.md
  packages/tsconfig-config/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

refactor(ui): re-design approver for web
  packages/ui/package.json
  packages/ui/src/components/approver/components/approver-container.web.tsx
  packages/ui/src/components/approver/components/approver-header.web.tsx
  packages/ui/src/components/approver/components/approver-section.web.tsx
  packages/ui/src/components/approver/components/approver-subheader.native.tsx
  packages/ui/src/components/approver/components/approver-subheader.web.tsx
  packages/ui/src/components/approver/stories/approver.web.stories.tsx
Due: none

fix(utils): fix incorrect minimumFractionDigitsCalculation
  packages/utils/src/currency-formatter/currency-formatter.ts
Due: utils

feat(utils): add "pad-decimals" preset to currency formatter
  packages/utils/src/currency-formatter/currency-formatter-presets.ts
  packages/utils/src/currency-formatter/currency-formatter.spec.ts
  packages/utils/src/currency-formatter/currency-formatter.types.ts
Due: utils

refactor(utils): rename formatter preset "token-price" -> "price"
  packages/utils/src/currency-formatter/README.md
  packages/utils/src/currency-formatter/currency-formatter-presets.ts
  packages/utils/src/currency-formatter/currency-formatter.spec.ts
  packages/utils/src/currency-formatter/currency-formatter.types.ts
Due: utils

feat(utils): return object from formatAmount
  packages/utils/src/currency-formatter/currency-formatter.spec.ts
  packages/utils/src/currency-formatter/currency-formatter.ts
Due: utils

ci: check leather.io headers
  .github/workflows/check-security-headers.yml
Due: none

chore: update leather packages
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/hooks/use-filtered-sip10-tokens.ts
  apps/extension/src/app/components/loaders/brc20-tokens-loader.tsx
  apps/extension/src/app/components/loaders/btc-balance-loader.tsx
  apps/extension/src/app/components/loaders/runes-loader.tsx
  apps/extension/src/app/components/loaders/src20-tokens-loader.tsx
  apps/extension/src/app/components/loaders/stx-balance-loader.tsx
  apps/extension/src/app/components/loaders/stx20-tokens-loader.tsx
  apps/extension/src/app/features/asset-list/bitcoin/brc20-token-asset-list/brc20-token-asset-list.tsx
  apps/extension/src/app/features/asset-list/bitcoin/btc-crypto-asset-item/btc-crypto-asset-item.tsx
  apps/extension/src/app/features/asset-list/bitcoin/runes-asset-list/runes-asset-list.tsx
  apps/extension/src/app/features/asset-list/stacks/sip10-token-asset-list/sip10-token-asset-item.tsx
  apps/extension/src/app/features/asset-list/stacks/stx-crypo-asset-item/stx-crypto-asset-item.tsx
  apps/extension/src/app/features/asset-list/stacks/stx20-token-asset-list/stx20-token-asset-list.tsx
  apps/extension/src/app/pages/fund/fund.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/sip10/sip10-token-send-form-container.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/sip10/sip10-token-send-form.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/sip10/use-sip10-send-form.tsx
  apps/extension/src/app/query/bitcoin/ordinals/brc20/brc20-tokens.hooks.ts
  apps/extension/src/app/query/bitcoin/runes/runes-ticker-info.query.ts
  apps/extension/src/app/query/bitcoin/stamps/stamps-by-address.hooks.ts
  apps/extension/src/app/query/stacks/balance/account-balance.utils.ts
  apps/extension/src/app/query/stacks/sip10/sip10-tokens.hooks.ts
  apps/extension/src/app/query/stacks/stx20/stx20-tokens.hooks.ts
  apps/extension/src/app/query/stacks/token-metadata/fungible-tokens/fungible-token-metadata.hooks.ts
  apps/extension/src/app/store/transactions/token-transfer.hooks.ts
Due: none

refactor(utils): make formatAmount metadata optional
  packages/utils/src/currency-formatter/README.md
  packages/utils/src/currency-formatter/currency-formatter.spec.ts
  packages/utils/src/currency-formatter/currency-formatter.ts
  packages/utils/src/currency-formatter/currency-formatter.types.ts
Due: utils

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.js
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

refactor(web): remove complex icon map in random folder
  apps/web/app/features/stacking/start-liquid-stacking/components/choose-liquid-stacking-conditions.tsx
  apps/web/app/features/stacking/start-pooled-stacking/components/choose-pooling-conditions.tsx
  apps/web/app/shared/stacking-icon-map.tsx
Due: none

refactor(web): remove shared folder
  apps/web/.claude/settings.local.json
  apps/web/README.md
  apps/web/app/app.tsx
  apps/web/app/components/pool-overview.tsx
  apps/web/app/components/posts/post-label-hover-card.tsx
  apps/web/app/components/posts/post-section-heading.tsx
  apps/web/app/constants/meta-tags.ts
  apps/web/app/features/stacking/providers/stacking-client-provider.tsx
  apps/web/app/features/stacking/start-liquid-stacking/components/choose-liquid-stacking-conditions.tsx
  apps/web/app/features/stacking/start-liquid-stacking/start-liquid-stacking.tsx
  apps/web/app/features/stacking/start-pooled-stacking/components/choose-pooling-conditions.tsx
  apps/web/app/features/stacking/start-pooled-stacking/start-pooled-stacking.tsx
  apps/web/app/layouts/page/page.tsx
  apps/web/app/pages/stacking/liquid/liquid-stacking-increase.tsx
  apps/web/app/pages/stacking/liquid/liquid-stacking.tsx
  apps/web/app/pages/stacking/pooled/pooled-stacking-active.tsx
  apps/web/app/pages/stacking/pooled/pooled-stacking.tsx
  apps/web/app/queries/balance/nft-holdings.ts
  apps/web/app/services/init-app-services.ts
  apps/web/app/services/web-settings.service.ts
  apps/web/app/shared/style-tokens.ts
  apps/web/app/utils/hiro-wrapped-fetch.ts
  apps/web/app/utils/post-types.ts
Due: none

refactor(web): colocate page, routes. adjust naming convention
  apps/web/app/components/pool-overview.tsx
  apps/web/app/constants/constants.ts
  apps/web/app/features/stacking/pooled-stacking-info/pooled-stacking-info-grid.tsx
  apps/web/app/pages/error/error-not-found.route.tsx
  apps/web/app/pages/sbtc-rewards/sbtc.route.tsx
  apps/web/app/pages/stacking/components/stacking-provider-table.tsx
  apps/web/app/pages/stacking/liquid/liquid-stacking-active.route.tsx
  apps/web/app/pages/stacking/liquid/liquid-stacking-increase.route.tsx
  apps/web/app/pages/stacking/liquid/liquid-stacking.route.tsx
  apps/web/app/pages/stacking/pooled/pooled-stacking-active.route.tsx
  apps/web/app/pages/stacking/pooled/pooled-stacking.route.tsx
  apps/web/app/pages/stacking/stacking.route.tsx
  apps/web/app/routes.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

refactor(web): genericise shared stacking form components
  apps/web/app/features/stacking/components/choose-stacking-amount.tsx
  apps/web/app/features/stacking/increase-liquid-stacking/increase-liquid-stacking.tsx
  apps/web/app/features/stacking/start-liquid-stacking/start-liquid-stacking.tsx
  apps/web/app/features/stacking/start-liquid-stacking/utils/types-preset-protocols.ts
  apps/web/app/features/stacking/start-liquid-stacking/utils/utils-liquid-stacking-stx.ts
  apps/web/app/features/stacking/start-liquid-stacking/utils/utils-preset-protocols.ts
  apps/web/app/features/stacking/start-pooled-stacking/start-pooled-stacking.tsx
  apps/web/app/features/stacking/start-pooled-stacking/utils/stacking-pool-types.ts
  apps/web/app/features/stacking/start-pooled-stacking/utils/utils-stacking-pools.ts
  apps/web/app/features/stacking/utils/stacking-network-types.ts
  apps/web/app/features/stacking/utils/stacking-network-utils.ts
  apps/web/app/queries/protocols/dao/balance.ts
  apps/web/app/queries/protocols/dao/fee.ts
  apps/web/app/queries/protocols/lisa/balance.ts
  apps/web/app/queries/protocols/use-protocol-balance.ts
  apps/web/app/queries/protocols/use-protocol-fee.ts
  apps/web/app/queries/protocols/use-protocol-info.tsx
  apps/web/app/store/stacks-network.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: none

refactor(utils): add formatAmountWithMeta to currency formatter
  packages/utils/src/currency-formatter/README.md
  packages/utils/src/currency-formatter/currency-formatter.spec.ts
  packages/utils/src/currency-formatter/currency-formatter.ts
Due: utils

feat: install leather services package
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/index.tsx
  apps/extension/src/app/services/extension-http-cache.service.ts
  apps/extension/src/app/services/extension-settings.service.ts
  apps/extension/src/app/services/fetch-state.ts
  apps/extension/src/app/services/init-app-services.ts
  apps/extension/src/app/services/queries/balance/account-balances.query.ts
  apps/extension/src/app/services/queries/balance/balance-query-options.ts
  apps/extension/src/app/services/queries/balance/btc-balance.query.ts
  apps/extension/src/app/services/queries/balance/runes-balance.query.ts
  apps/extension/src/app/services/queries/balance/sip10-balance.query.ts
  apps/extension/src/app/services/queries/balance/stx-balance.query.ts
  apps/extension/src/app/services/use-account-addresses.ts
Due: none

feat(mobile): add formatting options to Balance component
  apps/mobile/src/components/balance/balance.tsx
Due: none

feat(mobile): add required polyfills, set up the currency formatter
  .prettierignore
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/utils/currency-formatter.ts
  pnpm-lock.yaml
Due: none

feat(mobile): update Balance formatting options in relevant places
  apps/mobile/src/components/balance/balance.tsx
  apps/mobile/src/features/approver/components/bitcoin-outcome.tsx
  apps/mobile/src/features/approver/components/fees/base-fee-card.tsx
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/stacks-fee-option.tsx
  apps/mobile/src/features/approver/components/stacks-outcome.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/bitcoin/runes-balance.tsx
  apps/mobile/src/features/balances/stacks/sip10-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/psbt-signer/psbt-signer.tsx
  apps/mobile/src/features/stacks-tx-signer/stacks-tx-signer.tsx
  apps/mobile/src/features/token/account-list-item.tsx
  apps/mobile/src/features/token/components/token-balance.tsx
  apps/mobile/src/features/token/components/token-details.tsx
  apps/mobile/src/locales/en/messages.po
Due: none

refactor(mobile): remove unused Balance prop
  apps/mobile/src/components/balance/balance.tsx
  apps/mobile/src/features/activity/activity-card-content.tsx
  apps/mobile/src/features/activity/activity-list-item.tsx
  apps/mobile/src/features/approver/components/utxo-row.tsx
  apps/mobile/src/features/balances/total-balance.tsx
  apps/mobile/src/features/earn/locked-balance-card.tsx
  apps/mobile/src/features/send/screens/select-account.tsx
  apps/mobile/src/features/token/account-list-item.tsx
  apps/mobile/src/features/token/address-list.tsx
  apps/mobile/src/features/token/components/token-details.tsx
  apps/mobile/src/features/token/components/token-price-change.tsx
Due: none

refactor(web): use the new currency formatter in the web app
  apps/web/app/features/stacking/hooks/use-pool-info.tsx
  apps/web/app/queries/protocols/use-protocol-info.tsx
  apps/web/app/utils/currency-formatter.ts
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
