Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

ci: add codecov integration, closes leather-io/issues@34
  .github/workflows/code-checks.yml
  .gitignore
  apps/mobile/.gitignore
  apps/mobile/ios/Podfile.lock
  codecov.yml
  config/vitest-configs.ts
  package.json
  packages/bitcoin/package.json
  packages/crypto/package.json
  packages/query/package.json
  packages/query/vitest.config.js
  packages/stacks/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  vitest.workspace.js
Due: bitcoin, query, utils, crypto, stacks

feat: add collectibles widget, ref leather-io/issues#222
  apps/mobile/src/components/home/home.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles-header.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles-widget.layout.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles-widget.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles.mocks.tsx
  apps/mobile/src/components/widgets/collectibles/components/collectible-card-layout.tsx
  apps/mobile/src/components/widgets/collectibles/components/collectible-card.tsx
  apps/mobile/src/components/widgets/collectibles/components/collectible-html.tsx
  apps/mobile/src/components/widgets/collectibles/components/collectible-image.tsx
  apps/mobile/src/components/widgets/collectibles/components/collectible-text.tsx
  apps/mobile/src/locales/en/messages.po
  apps/mobile/src/locales/pseudo-locale/messages.po
Due: none

fix: security audit failures
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
Due: none

refactor: currency model imports
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/hooks/use-convert-to-fiat-amount.ts
  apps/extension/src/app/components/fees-row/components/custom-fee-field.tsx
  apps/extension/src/app/components/fees-row/components/transaction-fee.tsx
  apps/extension/src/app/features/asset-list/_components/connect-ledger-asset-item-fallback.tsx
  apps/extension/src/app/features/stacks-transaction-request/hooks/use-stacks-broadcast-transaction.tsx
  apps/extension/src/app/features/stacks-transaction-request/hooks/use-stacks-transaction-summary.ts
  apps/extension/src/app/pages/fund/components/fiat-providers.utils.ts
  apps/extension/src/app/pages/fund/components/fund.layout.tsx
  apps/extension/src/app/pages/fund/components/receive-funds-item.tsx
  apps/extension/src/app/pages/fund/fiat-providers-list.tsx
  apps/extension/src/app/pages/fund/fund.tsx
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer-confirmation.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/btc/btc-send-form-confirmation.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/btc/btc-send-form.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/stacks/stacks-send-form-confirmation.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/stx/stx-send-form.tsx
Due: none

fix: refactor add network to use card footer, closes leather-io/issues#313
  apps/extension/src/app/components/error-label.tsx
  apps/extension/src/app/features/add-network/add-network.tsx
Due: none

ci: update leather.io packages
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
Due: none

fix: update alex-sdk
  packages/query/package.json
  pnpm-lock.yaml
Due: query

refactor(ui): upgrade storybook, panda
  packages/ui/package.json
  packages/ui/panda.config.ts
  packages/ui/postcss.config.cjs
  packages/ui/src/.storybook-web/index.css
  packages/ui/src/.storybook-web/main.ts
  pnpm-lock.yaml
Due: none

refactor: update wbip004 method name, closes (leather-io/extension#5866)
  apps/extension/src/inpage/add-leather-to-providers.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat(ui): approver
  .dependency-cruiser.cjs
  packages/panda-preset/package.json
  packages/ui/package.json
  packages/ui/src/.storybook-web/index.css
  packages/ui/src/.storybook-web/main.ts
  packages/ui/src/components/animate-height/animate-height.web.tsx
  packages/ui/src/components/approver/animations/approver-animation.web.tsx
  packages/ui/src/components/approver/approver-context.shared.ts
  packages/ui/src/components/approver/approver.web.tsx
  packages/ui/src/components/approver/components/approver-actions.web.tsx
  packages/ui/src/components/approver/components/approver-advanced.web.tsx
  packages/ui/src/components/approver/components/approver-container.web.tsx
  packages/ui/src/components/approver/components/approver-header.web.tsx
  packages/ui/src/components/approver/components/approver-section.web.tsx
  packages/ui/src/components/approver/components/approver-status.web.tsx
  packages/ui/src/components/approver/components/approver-subheader.web.tsx
  packages/ui/src/components/approver/stories/approver-demo.web.tsx
  packages/ui/src/components/approver/stories/approver.web.stories.tsx
  packages/ui/src/components/bullet-separator/bullet-separator.shared.tsx
  packages/ui/src/components/bullet-separator/bullet-separator.web.stories.tsx
  packages/ui/src/components/bullet-separator/bullet-separator.web.tsx
  packages/ui/src/components/button/button.web.tsx
  packages/ui/src/components/favicon/favicon.web.tsx
  packages/ui/src/components/input/input.web.tsx
  packages/ui/src/components/input/use-on-mount.ts
  packages/ui/src/components/text/text.native.stories.tsx
  packages/ui/src/utils/has-children.tsx
  packages/ui/src/utils/style-context.web.tsx
  packages/ui/src/utils/use-element-height-listener.web.ts
  packages/ui/src/utils/use-on-mount.ts
  packages/ui/src/utils/use-register-children.ts
  packages/ui/src/utils/utils.web.ts
  packages/ui/tsconfig.web.json
  packages/ui/web.ts
  pnpm-lock.yaml
Due: none

ci: create simulator build when label is added to PR
  .github/actions/eas-deploy/action.yml
  .github/workflows/eas-deploy.yml
  .github/workflows/release-please.yml
Due: none

feat: cache utxos and stacks balance for 1 week, closes leather-io/issues#287
  packages/query/src/bitcoin/address/utxos-by-address.query.ts
  packages/query/src/stacks/balance/account-balance.query.ts
Due: query

refactor: blockchain model
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/features/activity-list/components/transaction-list/transaction-list.model.ts
  apps/extension/src/app/features/asset-list/_components/connect-ledger-asset-button.tsx
  apps/extension/src/app/features/asset-list/_components/connect-ledger-asset-item-fallback.tsx
  apps/extension/src/app/pages/fund/components/fund.layout.tsx
  apps/extension/src/app/pages/fund/fund.tsx
  apps/extension/src/app/pages/send/ordinal-inscription/sent-inscription-summary.tsx
  apps/extension/src/app/store/accounts/blockchain/utils.ts
Due: none

feat: add option to hide balance, closes leather-io#5096
  apps/extension/src/app/components/account-total-balance.tsx
  apps/extension/src/app/components/balance/btc-balance.tsx
  apps/extension/src/app/components/balance/stx-balance.tsx
  apps/extension/src/app/components/bitcoin-transaction-item/bitcoin-transaction-item.tsx
  apps/extension/src/app/components/crypto-asset-item/crypto-asset-item.layout.tsx
  apps/extension/src/app/components/layout/card/card.stories.tsx
  apps/extension/src/app/components/layout/card/components/available-balance.tsx
  apps/extension/src/app/components/privacy/private-text.layout.tsx
  apps/extension/src/app/components/privacy/private-text.tsx
  apps/extension/src/app/components/stacks-transaction-item/stacks-transaction-item.tsx
  apps/extension/src/app/components/transaction-item/transaction-item.layout.tsx
  apps/extension/src/app/features/asset-list/asset-list.tsx
  apps/extension/src/app/features/asset-list/bitcoin/brc20-token-asset-list/brc20-token-asset-list.tsx
  apps/extension/src/app/features/asset-list/bitcoin/btc-crypto-asset-item/btc-crypto-asset-item.tsx
  apps/extension/src/app/features/asset-list/bitcoin/runes-asset-list/runes-asset-list.tsx
  apps/extension/src/app/features/asset-list/bitcoin/src20-token-asset-list/src20-token-asset-list.tsx
  apps/extension/src/app/features/asset-list/stacks/sip10-token-asset-list/sip10-token-asset-item.tsx
  apps/extension/src/app/features/asset-list/stacks/stx-crypo-asset-item/stx-crypto-asset-item.stories.tsx
  apps/extension/src/app/features/asset-list/stacks/stx-crypo-asset-item/stx-crypto-asset-item.tsx
  apps/extension/src/app/features/asset-list/stacks/stx20-token-asset-list/stx20-token-asset-list.tsx
  apps/extension/src/app/features/bitcoin-choose-fee/bitcoin-choose-fee.tsx
  apps/extension/src/app/features/settings/settings.tsx
  apps/extension/src/app/pages/fund/choose-asset-to-fund/choose-asset-to-fund.tsx
  apps/extension/src/app/pages/home/home.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/btc/btc-send-form.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/stacks/stacks-common-send-form.tsx
  apps/extension/src/app/store/settings/settings.actions.ts
  apps/extension/src/app/store/settings/settings.selectors.ts
  apps/extension/src/app/store/settings/settings.slice.ts
  apps/extension/src/app/ui/components/account/account.card.stories.tsx
  apps/extension/src/app/ui/components/account/account.card.tsx
  apps/extension/tests/selectors/settings.selectors.ts
  apps/extension/tests/selectors/shared-component.selectors.ts
  apps/extension/tests/specs/settings/settings.spec.ts
Due: none

chore: package updates
  .github/actions/eas-deploy/action.yml
  apps/mobile/package.json
  packages/bitcoin/package.json
  packages/crypto/package.json
  packages/query/package.json
  packages/stacks/package.json
  pnpm-lock.yaml
Due: bitcoin, query, crypto, stacks

fix: package updates
  .github/actions/eas-deploy/action.yml
  apps/mobile/package.json
  packages/bitcoin/package.json
  packages/crypto/package.json
  packages/query/package.json
  packages/stacks/package.json
  pnpm-lock.yaml
Due: bitcoin, query, crypto, stacks

feat: eas update
  .github/actions/eas-deploy/action.yml
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/android/app/src/main/res/values/strings.xml
  apps/mobile/app.json
  apps/mobile/eas.json
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/leatherwalletmobile.xcodeproj/project.pbxproj
  apps/mobile/ios/leatherwalletmobile/Supporting/Expo.plist
  apps/mobile/package.json
  pnpm-lock.yaml
Due: none

fix: syncpack
  apps/mobile/package.json
  pnpm-lock.yaml
Due: none

fix: bash script
  .github/actions/eas-deploy/action.yml
Due: none

fix: commit message
  .github/actions/eas-deploy/action.yml
Due: none

fix: commit message
  .github/workflows/eas-deploy.yml
Due: none

fix: no need for env variables anymore
  apps/mobile/README.md
  apps/mobile/src/app/_layout.tsx
Due: none

fix: runtime version
  .github/actions/eas-deploy/action.yml
  apps/mobile/app.json
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
