Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

fix: add lock timeout
  apps/mobile/src/components/splash-screen-guard/splash-screen-guard.tsx
  apps/mobile/src/components/splash-screen-guard/use-auth-state.ts
  apps/mobile/src/store/settings/settings.read.ts
  apps/mobile/src/store/settings/settings.ts
  apps/mobile/src/store/settings/settings.write.ts
  apps/mobile/src/store/settings/utils.ts
Due: none

fix: no empty names on wallet and account
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/[account]/index.tsx
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/index.tsx
  apps/mobile/src/components/wallet-settings/account-name-sheet.tsx
  apps/mobile/src/components/wallet-settings/wallet-name-sheet.tsx
Due: none

fix: delete temp wallet after successful creation
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/view-secret-key.tsx
  apps/mobile/src/hooks/create-wallet.ts
  apps/mobile/src/store/storage-persistors.ts
Due: none

feat: app layer poc
  apps/mobile/ios/Podfile.lock
  apps/mobile/metro.config.cjs
  apps/mobile/package.json
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/init-app-services.ts
  apps/mobile/src/queries/balance/bitcoin-balance.query.ts
  packages/models/src/index.ts
  packages/models/src/utxo/utxo.model.ts
  packages/services/package.json
  packages/services/src/api/blockbook/blockbook.client.ts
  packages/services/src/api/blockbook/blockbook.utils.ts
  packages/services/src/api/mempool-space/mempool-space.client.ts
  packages/services/src/api/mempool-space/mempool-space.utils.ts
  packages/services/src/balances/account-balance.service.ts
  packages/services/src/balances/bitcoin/btc-balance.service.ts
  packages/services/src/balances/stacks/stx-balance.service.ts
  packages/services/src/cache/query-client.service.ts
  packages/services/src/index.ts
  packages/services/src/inversify.config.ts
  packages/services/src/settings/network-settings.service.ts
  packages/services/src/utxos/utxo.service.spec.ts
  packages/services/src/utxos/utxo.service.ts
  packages/services/tsconfig.json
  packages/services/tsup.config.ts
  packages/services/vitest.config.js
  pnpm-lock.yaml
Due: none

ci: fix audit issue
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
Due: none

fix: contractid missing
  apps/extension/src/app/features/asset-list/stacks/sip10-token-asset-list/sip10-token-asset-item.tsx
Due: none

fix: spinner on add account button
  apps/mobile/src/assets/spinner-dark.png
  apps/mobile/src/assets/spinner-light.png
  apps/mobile/src/assets/spinner.png
  apps/mobile/src/components/spinner-icon.tsx
  apps/mobile/src/components/splash-screen-guard/splash-screen-guard.tsx
  apps/mobile/src/components/wallet-settings/wallet-card.tsx
  packages/ui/native.ts
  packages/ui/tsconfig.native.json
Due: none

chore(release): 6.50.0
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

feat: market data service
  apps/mobile/package.json
  apps/mobile/src/app/init-app-services.ts
  packages/models/src/crypto-assets/crypto-asset-info.model.ts
  packages/models/src/crypto-assets/crypto-asset.model.ts
  packages/models/src/index.ts
  packages/services/package.json
  packages/services/src/index.ts
  packages/services/src/infrastructure/api/coingecko/coingecko-api.client.ts
  packages/services/src/infrastructure/api/coingecko/coingecko-api.utils.ts
  packages/services/src/infrastructure/cache/query-client.service.ts
  packages/services/src/infrastructure/settings/network-settings.service.ts
  packages/services/src/inversify.config.ts
  packages/services/src/market-data/market-data.service.ts
  packages/services/tsconfig.json
  packages/services/tsup.config.ts
  packages/services/vitest.config.js
  pnpm-lock.yaml
Due: none

feat: integrate bitcoin balances
  apps/mobile/ios/Podfile.lock
  apps/mobile/metro.config.cjs
  apps/mobile/package.json
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/app/(home)/recover-wallet.tsx
  apps/mobile/src/components/wallet-settings/account-card.tsx
  apps/mobile/src/components/widgets/tokens/index.ts
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
  apps/mobile/src/mocks/tokens.mocks.tsx
  apps/mobile/src/queries/balance/bitcoin-balance.query.ts
  packages/bitcoin/src/p2wpkh-address-gen.ts
  packages/query/index.ts
  packages/query/src/bitcoin/address/utxos-by-address.hooks.ts
  packages/query/src/bitcoin/address/utxos-by-address.spec.tsx
  packages/query/src/bitcoin/balance/btc-blockbook-utxos.ts
  packages/query/src/bitcoin/balance/btc-taproot-balance.hooks.ts
  packages/query/src/bitcoin/clients/bitcoin-client.ts
  packages/query/src/bitcoin/ordinals/inscriptions.query.ts
  packages/query/src/bitcoin/runes/runes-outputs-by-address.query.ts
  packages/query/src/stacks/contract/contract.query.ts
  pnpm-lock.yaml
Due: bitcoin, query

feat: lock app button
  apps/mobile/src/app/(home)/settings/index.tsx
  apps/mobile/src/components/splash-screen-guard/splash-screen-guard.tsx
  apps/mobile/src/components/splash-screen-guard/use-auth-context.ts
  apps/mobile/src/components/splash-screen-guard/use-auth-state.tsx
Due: none

feat: connect mobile to query and load stx token data, ref #LEA-1500
  apps/mobile/metro.config.cjs
  apps/mobile/package.json
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/common/app-router.tsx
  apps/mobile/src/common/leather-query-provider.tsx
  apps/mobile/src/common/theme-provider.tsx
  apps/mobile/src/components/widgets/accounts/accounts-widget.tsx
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.tsx
  apps/mobile/src/components/widgets/tokens/get-chain-name.spec.ts
  apps/mobile/src/components/widgets/tokens/get-chain-name.ts
  apps/mobile/src/components/widgets/tokens/index.ts
  apps/mobile/src/components/widgets/tokens/tokens-icon.tsx
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
  apps/mobile/src/components/widgets/tokens/types.ts
  apps/mobile/src/components/widgets/tokens/use-get-tokens-list.spec.ts
  apps/mobile/src/components/widgets/tokens/use-get-tokens-list.ts
  apps/mobile/src/hooks/balances/use-stx-balances.spec.ts
  apps/mobile/src/hooks/balances/use-stx-balances.ts
  apps/mobile/src/hooks/balances/use-total-balance.spec.ts
  apps/mobile/src/hooks/balances/use-total-balance.ts
  apps/mobile/src/mocks/account.mocks.tsx
  apps/mobile/src/mocks/tokens.mocks.tsx
  apps/mobile/src/scripts/injected-provider.js
  apps/mobile/src/shared/constants.ts
  apps/mobile/src/shared/environment.ts
  apps/mobile/src/store/accounts/accounts.write.ts
  apps/mobile/src/store/accounts/utils.ts
  apps/mobile/src/store/utils.ts
  packages/query/package.json
  packages/query/src/rate-limiter/queue-class.ts
  packages/query/src/stacks/contract/contract.query.ts
  pnpm-lock.yaml
Due: query

chore: refactor stacksSigner lookup
  apps/mobile/src/hooks/balances/use-stx-balances.ts
Due: none

chore: add useCallback so that combine doesn't rerun on every render
  packages/query/src/stacks/balance/account-balance.hooks.ts
Due: query

chore: refactor stacks balance queries and add test coverage
  packages/query/src/stacks/balance/account-balance.hooks.ts
  packages/query/src/stacks/balance/create-stx-crypto-asset-balance.spec.ts
  packages/query/src/stacks/balance/create-stx-crypto-asset-balance.ts
  packages/query/src/stacks/balance/create-stx-money.spec.ts
  packages/query/src/stacks/balance/create-stx-money.ts
  packages/query/src/stacks/balance/use-stx-balance-query.hooks.ts
Due: query

chore: move stacks balance queries local to mobile pre multi address support
  apps/mobile/package.json
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.tsx
  apps/mobile/src/components/widgets/tokens/use-get-tokens-list.spec.ts
  apps/mobile/src/components/widgets/tokens/use-get-tokens-list.ts
  apps/mobile/src/features/accounts/balances/hooks/mempool/use-get-address-mempool-transactions-query.ts
  apps/mobile/src/features/accounts/balances/hooks/mempool/use-mempool-txs-inbound-balance.ts
  apps/mobile/src/features/accounts/balances/hooks/mempool/use-mempool-txs-outbound-balance.ts
  apps/mobile/src/features/accounts/balances/hooks/stacks/transactions-with-transfers.query.ts
  apps/mobile/src/features/accounts/balances/hooks/stacks/use-stacks-confirmed-transactions.ts
  apps/mobile/src/features/accounts/balances/hooks/stacks/use-stacks-pending-transactions.ts
  apps/mobile/src/features/accounts/balances/hooks/use-stx-balances-query.hooks.ts
  apps/mobile/src/features/accounts/balances/hooks/use-stx-balances.spec.ts
  apps/mobile/src/features/accounts/balances/hooks/use-stx-balances.ts
  apps/mobile/src/features/accounts/balances/hooks/use-stx-crypto-asset-balances.ts
  apps/mobile/src/features/accounts/balances/hooks/use-total-balance.spec.ts
  apps/mobile/src/features/accounts/balances/hooks/use-total-balance.ts
  apps/mobile/src/hooks/balances/use-stx-balances.ts
  packages/query/src/stacks/balance/account-balance.hooks.ts
  pnpm-lock.yaml
Due: query

chore: implement useQueries for fetching stx balance data
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/hooks/balances/use-stx-balances.ts
  apps/mobile/src/hooks/balances/use-total-balance.ts
  packages/query/src/stacks/balance/account-balance.hooks.ts
Due: query

chore: clean code
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.tsx
  apps/mobile/src/components/widgets/tokens/use-get-tokens-list.spec.ts
  apps/mobile/src/components/widgets/tokens/use-get-tokens-list.ts
  apps/mobile/src/features/accounts/balances/hooks/use-total-balance.spec.ts
  packages/query/src/stacks/balance/create-stx-crypto-asset-balance.spec.ts
Due: query

feat: auth before deleting wallet
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/index.tsx
Due: none

fix: add wallet sheet image bg color
  apps/mobile/src/components/add-wallet/add-wallet-sheet.layout.tsx
Due: none

fix: fully opened sheet for Add Wallet button
  apps/mobile/src/components/action-bar/container.tsx
  apps/mobile/src/components/add-wallet/add-wallet-sheet.layout.tsx
  apps/mobile/src/components/add-wallet/add-wallet-sheet.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

fix: add experimental support for blur view on android
  apps/mobile/src/app/(home)/create-new-wallet.tsx
  packages/ui/src/components/blur-view/blur-view.native.tsx
Due: none

fix: vertical alignment of text set to top, closes lea-1582
  apps/mobile/src/app/(home)/recover-wallet.tsx
Due: none

feat: export priority levels
  packages/query/index.ts
  packages/query/src/stacks/hiro-requests-priorities.ts
  packages/query/src/stacks/stacks-client.ts
Due: query

chore: release dev
  .release-please-manifest.json
  packages/query/CHANGELOG.md
  packages/query/package.json
Due: query

feat: change gaia related requests priority levels
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/authentication/use-finish-auth-request.ts
Due: none

chore(release): 6.51.0
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

feat: increase hiro api rpm
  packages/query/src/rate-limiter/hiro-rate-limiter.ts
  packages/query/src/stacks/leather-headers.ts
  packages/query/src/stacks/stacks-client.ts
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
Due: query

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
