Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: bitcoin, query

fix: utxo inscription check, closes LEA-2398
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/query/bitcoin/transaction/use-check-utxos.ts
  apps/extension/src/app/query/stacks/contract.hooks.ts
  apps/extension/tests/mocks/mock-alex-assets.ts
  apps/extension/tests/mocks/mock-stacks-txs.ts
  apps/extension/tests/specs/send/send-btc.spec.ts
  apps/extension/tests/specs/swap/swap.spec.ts
Due: none

fix: utxo check in send transfer
  apps/extension/src/app/pages/rpc-send-transfer/use-rpc-send-transfer-actions.tsx
Due: none

feat: add client id to leather api reqs
  apps/mobile/index.js
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  packages/query/package.json
  packages/services/package.json
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/inversify.config.ts
  pnpm-lock.yaml
Due: query

feat: stack in a pool form part 1
  apps/mobile/package.json
  apps/web/app/constants/constants.ts
  apps/web/app/constants/network.ts
  apps/web/app/features/stacking/components/choose-pooling-amount.tsx
  apps/web/app/features/stacking/components/choose-rewards-address.tsx
  apps/web/app/features/stacking/components/stacking-form-info-panel.tsx
  apps/web/app/features/stacking/components/stacking-form-item-title.tsx
  apps/web/app/features/stacking/components/stacking-layout.tsx
  apps/web/app/features/stacking/start-pooled-stacking.tsx
  apps/web/app/features/stacking/utils/types-preset-pools.ts
  apps/web/app/features/stacking/utils/types.ts
  apps/web/app/features/stacking/utils/utils-delegate-stx.ts
  apps/web/app/features/stacking/utils/utils.ts
  apps/web/app/pages/stacking/components/earn-provider-table.tsx
  apps/web/app/pages/stacking/stack-in-pool.tsx
  apps/web/app/queries/balance/account-balance.hooks.ts
  apps/web/app/queries/balance/use-mempool-txs-balance.ts
  apps/web/app/queries/stacks/use-stacks-confirmed-transactions.ts
  apps/web/app/queries/stacks/use-stacks-pending-transactions.ts
  apps/web/app/queries/transaction/transactions-by-id.query.ts
  apps/web/app/queries/transaction/use-transactions-with-transfers.query.ts
  apps/web/app/routes.ts
  apps/web/app/routes/stacking/stacking.tsx
  apps/web/app/store/addresses.ts
  apps/web/package.json
  apps/web/vite.config.ts
  packages/models/package.json
  packages/query/package.json
  packages/services/package.json
  packages/stacks/package.json
  pnpm-lock.yaml
Due: query, stacks

feat: add pooling conditions in stack form
  apps/web/app/constants/network.ts
  apps/web/app/features/stacking/components/choose-pooling-conditions.tsx
  apps/web/app/features/stacking/start-pooled-stacking.tsx
  apps/web/app/features/stacking/utils/stacking-pools-validator.ts
  apps/web/app/routes/stacking/stacking.tsx
  apps/web/vite.config.ts
  packages/ui/src/assets/icons/magnifying-glass-24-24.svg
  packages/ui/src/icons/index.web.ts
  packages/ui/src/icons/magnifying-glass-icon.web.tsx
Due: none

feat: add pooling duration component
  apps/web/app/features/stacking/components/choose-pooling-duration.tsx
  apps/web/app/features/stacking/components/pooling-details.tsx
  apps/web/app/features/stacking/start-pooled-stacking.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix: specify WALLET_ENVIRONMENT for production build
  apps/mobile/eas.json
Due: none

fix: temporary test of simulator build using prod
  apps/mobile/eas.json
Due: none

feat(web): mobile nav
  apps/web/app/app.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: none

ci(web): check for, and fix fix broken formatting
  .github/workflows/deploy-web.yml
  apps/web/app/app.css
  apps/web/app/features/stacking/components/choose-pooling-conditions.tsx
  apps/web/app/features/stacking/start-pooled-stacking.tsx
  apps/web/app/pages/stacking/components/earn-provider-table.tsx
  apps/web/package.json
  apps/web/worker-configuration.d.ts
Due: none

refactor: use node_env var for api url switching
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/services/init-app-services.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/environment.ts
  packages/services/src/inversify.config.ts
  packages/services/src/inversify.types.ts
Due: none

refactor: use consistent request naming, m̵e̵s̵s̵a̵g̵e̵
  apps/extension/src/background/messaging/legacy/legacy-external-message-handler.ts
  apps/extension/src/background/messaging/rpc-helpers.ts
  apps/extension/src/background/messaging/rpc-message-handler.ts
  apps/extension/src/background/messaging/rpc-methods/get-addresses.ts
  apps/extension/src/background/messaging/rpc-methods/open-swap.ts
  apps/extension/src/background/messaging/rpc-methods/open.ts
  apps/extension/src/background/messaging/rpc-methods/send-transfer.ts
  apps/extension/src/background/messaging/rpc-methods/sign-message.ts
  apps/extension/src/background/messaging/rpc-methods/sign-psbt.ts
  apps/extension/src/background/messaging/rpc-methods/sign-stacks-message.ts
  apps/extension/src/background/messaging/rpc-methods/stx-call-contract.ts
  apps/extension/src/background/messaging/rpc-methods/stx-deploy-contract.ts
  apps/extension/src/background/messaging/rpc-methods/stx-sign-transaction.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip10-ft.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip9-nft.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-stx.ts
  apps/extension/src/background/messaging/rpc-methods/supported-methods.ts
  apps/extension/src/background/messaging/rpc-request-utils.ts
Due: none

feat: open fullpage api, closes LEA-2436
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/stacks-utils.ts
  apps/extension/src/app/common/utils/open-in-new-tab.ts
  apps/extension/src/app/components/collectibles/collectible-image.tsx
  apps/extension/src/app/components/tx-asset-item.tsx
  apps/extension/src/app/features/add-network/use-add-network.tsx
  apps/extension/src/app/store/app-permissions/app-permissions.slice.ts
  apps/extension/src/background/get-root-state.ts
  apps/extension/src/background/init-context-menus.ts
  apps/extension/src/background/messaging/legacy/legacy-external-message-handler.ts
  apps/extension/src/background/messaging/messaging-utils.ts
  apps/extension/src/background/messaging/rpc-helpers.ts
  apps/extension/src/background/messaging/rpc-message-handler.ts
  apps/extension/src/background/messaging/rpc-methods/get-addresses.ts
  apps/extension/src/background/messaging/rpc-methods/open.ts
  apps/extension/src/background/messaging/rpc-methods/send-transfer.ts
  apps/extension/src/background/messaging/rpc-methods/sign-message.ts
  apps/extension/src/background/messaging/rpc-methods/sign-psbt.ts
  apps/extension/src/background/messaging/rpc-methods/sign-stacks-message.ts
  apps/extension/src/background/messaging/rpc-methods/stx-sign-transaction.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip10-ft.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip9-nft.ts
  apps/extension/src/shared/actions/finalize-auth-response.ts
  apps/extension/src/shared/permissions/permission.helpers.ts
  apps/extension/src/shared/utils/urls.spec.ts
  apps/extension/src/shared/utils/urls.ts
  apps/extension/src/shared/utils/validate-url.ts
  apps/extension/src/shared/utils/validate-urls.spec.ts
  apps/extension/tests/specs/rpc-open/open.spec.ts
Due: none

refactor: use helper for popup closer listner, response
  apps/extension/src/app/pages/rpc-sign-bip322-message/use-sign-bip322-message.ts
  apps/extension/src/background/messaging/rpc-helpers.ts
  apps/extension/src/background/messaging/rpc-methods/get-addresses.ts
  apps/extension/src/background/messaging/rpc-methods/send-transfer.ts
  apps/extension/src/background/messaging/rpc-methods/sign-message.ts
  apps/extension/src/background/messaging/rpc-methods/sign-psbt.ts
  apps/extension/src/background/messaging/rpc-methods/sign-stacks-message.ts
  apps/extension/src/background/messaging/rpc-methods/stx-sign-transaction.ts
  apps/extension/src/background/messaging/rpc-request-utils.ts
  apps/extension/src/shared/rpc/methods/validation.utils.ts
  apps/extension/tests/specs/rpc-message-signing/bip322-message-signing.spec.ts
  apps/extension/tests/specs/rpc-send-transfer/rpc-send-transfer.spec.ts
  apps/extension/tests/specs/rpc-stx-call-contract/rpc-stx-call-contract.spec.ts
  apps/extension/tests/specs/rpc-stx-deploy-contract/rpc-stx-deploy-contract.spec.ts
  apps/extension/tests/specs/rpc-stx-sign-transaction/rpc-stx-sign-transaction.spec.ts
  apps/extension/tests/specs/rpc-stx-transfer-sip10-ft/rpc-stx-transfer-sip10-ft.spec.ts
  apps/extension/tests/specs/rpc-stx-transfer-sip9-nft/rpc-stx-transfer-sip9-nft.spec.ts
  apps/extension/tests/specs/rpc-stx-transfer-stx/rpc-stx-transfer-stx.spec.tsx
Due: none

feat(web): update icons, temp nav
  apps/web/app/app.tsx
  apps/web/app/components/icons/sbtc-icon.tsx
  apps/web/app/components/icons/stacking-icon.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/package.json
  apps/web/panda.config.ts
  pnpm-lock.yaml
Due: none

fix: hiro deprecated endpoints
  packages/query/index.ts
  packages/query/src/query-prefixes.ts
  packages/query/src/stacks/balance/account-balance.query.ts
  packages/query/src/stacks/balance/account-balance.utils.ts
  packages/query/src/stacks/balance/address-balances.query.ts
  packages/query/src/stacks/hiro-api-types.ts
  packages/query/src/stacks/hiro-requests-priorities.ts
  packages/query/src/stacks/stacks-client.ts
Due: query

fix: stx balance hooks
  apps/web/app/queries/balance/account-balance.hooks.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
Due: query

ci: remove mobile releasing from release-please, closes ENG-2
  .github/workflows/release-please.yml
Due: none

chore: remove unused balances code
  apps/mobile/src/queries/stacks/use-mempool-txs-balance.spec.ts
  apps/mobile/src/queries/stacks/use-mempool-txs-balance.ts
Due: none

fix: update currently failing unit tests to help them pass, ref ENG-6
  apps/mobile/src/components/widgets/collectibles/collectibles-serializer.spec.ts
  apps/mobile/src/queries/market-data/market-data.query.spec.ts
  apps/mobile/src/queries/stacks/use-transactions-with-transfers.query.spec.ts
  apps/mobile/src/store/keychains/keychains.spec.ts
  apps/mobile/src/store/keychains/stacks/stacks-keychains.read.spec.ts
Due: none

fix: update mobile unit test runner to make sure it runs in CI, ref ENG-6
  apps/mobile/package.json
Due: none

chore: reverse isDev to isProd and add proper feature flag for localisation
  apps/mobile/src/app/settings/display/index.tsx
  apps/mobile/src/app/settings/index.tsx
  apps/mobile/src/components/headers/components/header-options.tsx
  apps/mobile/src/features/feature-flags/feature-flag.ts
  apps/mobile/src/features/feature-flags/use-feature-flags.ts
  apps/mobile/src/locales/index.ts
  apps/mobile/src/utils/is-dev.ts
  apps/mobile/src/utils/is-production.ts
Due: none

fix: update mobile unit test runner to make sure it runs in CI, ref ENG-6
  apps/mobile/package.json
  apps/mobile/src/components/widgets/collectibles/collectibles-serializer.spec.ts
Due: none

chore: replace notifications isDev with real feature flag
  apps/mobile/src/app/settings/index.tsx
  apps/mobile/src/features/feature-flags/feature-flag.ts
  apps/mobile/src/features/feature-flags/use-feature-flags.ts
Due: none

chore: deprecate WALLET_ENVIRONMENT in favour of EXPO_PUBLIC_NODE_ENV
  apps/mobile/src/components/headers/components/header-options.tsx
  apps/mobile/src/core/leather-query-provider.tsx
  apps/mobile/src/locales/index.ts
  apps/mobile/src/shared/environment.ts
Due: none
