Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

fix(mobile): use react-svg for SVGs for improved rendering
  apps/mobile/src/features/token/bitcoin/stamp-token-details.tsx
  packages/services/src/collectibles/collectibles.utils.spec.ts
  packages/ui/src/components/collectibles/index.native.ts
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/collectible-svg.native.tsx
  packages/ui/src/components/collectibles/native/image-unavailable.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  pnpm-lock.yaml
Due: none

chore(mobile): add better error handling for collectible loading
  apps/mobile/src/features/token/bitcoin/inscription.tsx
  packages/models/src/assets/asset.model.ts
  packages/query/src/bitcoin/ordinals/inscription.utils.ts
  packages/services/src/collectibles/collectibles.utils.spec.ts
  packages/services/src/collectibles/collectibles.utils.ts
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/utils/src/assets/inscription-helpers.spec.ts
  packages/utils/src/assets/inscription-helpers.ts
Due: query, utils

fix(mobile): favour ord.io for viewing inscriptions
  apps/mobile/src/features/token/bitcoin/stamp.tsx
  apps/mobile/src/features/token/stacks/sip9.tsx
  packages/ui/src/components/collectibles/native/bns.native.tsx
  packages/ui/src/components/collectibles/native/collectible-gltf.native.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/ui/src/components/collectibles/native/sip9.native.tsx
  packages/utils/src/assets/inscription-helpers.ts
  pnpm-lock.yaml
Due: utils

feat: enhances yield model
  packages/models/src/index.ts
  packages/models/src/yield/helpers/yield.helpers.ts
  packages/models/src/yield/providers/bitflow-position.model.ts
  packages/models/src/yield/providers/fast-pool-position.model.ts
  packages/models/src/yield/providers/granite-position.model.ts
  packages/models/src/yield/providers/granite.model.ts
  packages/models/src/yield/providers/hermetica-position.model.ts
  packages/models/src/yield/providers/lisa-position.model.ts
  packages/models/src/yield/providers/stacking-dao-position.model.ts
  packages/models/src/yield/providers/stacking-dao.model.ts
  packages/models/src/yield/providers/velar-position.model.ts
  packages/models/src/yield/providers/xverse-position.model.ts
  packages/models/src/yield/providers/zest-position.model.ts
  packages/models/src/yield/yield-position.base.model.ts
  packages/models/src/yield/yield-position.model.ts
  packages/models/src/yield/yield-product.model.ts
  packages/models/src/yield/yield-provider.model.ts
  packages/services/src/index.ts
  packages/services/src/inversify.config.ts
  packages/services/src/yield/providers/bitflow/bitflow-amm-lp.service.ts
  packages/services/src/yield/providers/granite/granite-v1-borrow.service.ts
  packages/services/src/yield/providers/granite/granite-v1-earn.service.ts
  packages/services/src/yield/providers/granite/granite-v1.utils.ts
  packages/services/src/yield/providers/granite/granite.constants.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao-lst.service.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao-lst.utils.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao-ststx.service.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao-ststxbtc.service.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao.constants.ts
  packages/services/src/yield/providers/zest/zest-borrow.service.ts
  packages/services/src/yield/providers/zest/zest-borrow.utils.ts
  packages/services/src/yield/providers/zest/zest.constants.ts
  packages/services/src/yield/yield-product.interface.ts
  packages/services/src/yield/yield.service.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/extension/CHANGELOG.md
  apps/extension/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

chore(mobile): refactor token destructure
  packages/models/src/assets/asset-id.model.ts
  packages/utils/src/assets/asset-id.ts
Due: utils

fix(mobile): fix bug with sBTC avatar not appearing on mobile
  packages/ui/src/components/avatar/sip10-avatar-icon.native.tsx
Due: none

feat(extension): example integration of onramper
  apps/extension/.env.example
  apps/extension/scripts/generate-manifest.js
  apps/extension/src/app/pages/fund/choose-asset-to-fund/choose-asset-to-fund.tsx
  apps/extension/src/app/pages/fund/components/fiat-provider-item.tsx
  apps/extension/src/app/pages/fund/components/fiat-providers.utils.ts
  apps/extension/src/app/pages/fund/components/fund-account-tile.tsx
  apps/extension/src/app/pages/fund/components/fund.layout.tsx
  apps/extension/src/app/pages/fund/components/icon-components.tsx
  apps/extension/src/app/pages/fund/components/receive-funds-item.tsx
  apps/extension/src/app/pages/fund/fiat-providers-list.tsx
  apps/extension/src/app/pages/fund/fund.tsx
  apps/extension/src/app/pages/home/components/account-actions.tsx
  apps/extension/src/app/routes/app-routes.tsx
  apps/extension/src/shared/environment.ts
  apps/extension/src/shared/route-urls.ts
  apps/extension/tests/fixtures/fixtures.ts
  apps/extension/tests/page-object-models/fund-choose-currency.page.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/extension/CHANGELOG.md
  apps/extension/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/features/CHANGELOG.md
  packages/features/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

fix(mobile): scope compliance check to network to close loophole bypassing compliance
  apps/mobile/src/features/send/utils.spec.ts
  apps/mobile/src/features/send/utils.ts
Due: none

fix(mobile): sign with @scure/btc-signer and remove bitcoinjs dependancy
  apps/extension/src/app/pages/rpc-sign-bip322-message/use-sign-bip322-message.ts
  apps/mobile/src/features/browser/approver-sheet/sign-message/bip322-signer.ts
  packages/bitcoin/src/bip322/sign-message-bip322-bitcoinjs.ts
  packages/bitcoin/src/bip322/sign-message-bip322.spec.ts
  packages/bitcoin/src/bip322/sign-message-bip322.ts
  packages/bitcoin/src/index.ts
Due: bitcoin

feat: centralise network settings to settings service
  apps/extension/src/app/services/extension-settings.service.ts
  apps/mobile/src/services/mobile-settings.service.ts
  apps/mobile/src/store/settings/settings.read.ts
  apps/web/app/services/web-settings.service.ts
  apps/web/app/store/stacks-network.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/settings/network-preferences.spec.ts
  packages/services/src/infrastructure/settings/network-preferences.ts
  packages/services/src/infrastructure/settings/settings.service.ts
Due: none

fix: glob patch
  apps/extension/package.json
  apps/extension/test-app/webpack/webpack.config.base.cjs
  apps/extension/webpack/webpack.config.base.js
  apps/extension/webpack/webpack.config.prod.js
  package.json
  pnpm-lock.yaml
Due: none

chore(mobile): add analytics for tokens and collectibles
  apps/mobile/src/app/(tabs)/(index)/[assetId]/index.tsx
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/token/types.ts
  apps/mobile/src/hooks/use-token-tracking.ts
  apps/mobile/src/utils/analytics-hooks.ts
  packages/analytics/src/events.ts
  packages/analytics/src/types.ts
Due: none

feat: activity items better labeling and swap icons
  apps/web/app/components/mock-mode-toggle.tsx
  apps/web/app/features/activity-button/activity-button.tsx
  apps/web/app/features/activity-button/activity-modal.tsx
  apps/web/app/layouts/page/page.tsx
  apps/web/app/pages/portfolio/components/activity-list/activity-item.tsx
  apps/web/app/pages/portfolio/components/activity-list/index.tsx
  apps/web/app/pages/portfolio/components/activity-list/utils.ts
  apps/web/app/pages/portfolio/components/portfolio-page.layout.tsx
  packages/ui/src/assets/icons/activity/function.svg
  packages/ui/src/assets/icons/activity/swap.svg
  packages/ui/src/components/avatar/activity-avatar-icon.web.tsx
  packages/ui/src/icons/activity/function-icon.native.tsx
  packages/ui/src/icons/activity/function-icon.web.tsx
  packages/ui/src/icons/activity/swap-icon.native.tsx
  packages/ui/src/icons/activity/swap-icon.web.tsx
  packages/ui/src/icons/index.native.ts
  packages/ui/src/icons/index.web.ts
  pnpm-lock.yaml
Due: none

fix(extension): address speed issues with accounts switcher
  apps/extension/src/app/common/authentication/use-finish-auth-request.ts
  apps/extension/src/app/common/hooks/account/use-switch-account.ts
  apps/extension/src/app/components/loaders/stacks-account-loader.tsx
  apps/extension/src/app/features/address-monitor/use-monitorable-addresses.ts
  apps/extension/src/app/features/dialogs/switch-account-sheet/switch-account-sheet.tsx
  apps/extension/src/app/features/ledger/flows/jwt-signing/ledger-sign-jwt-container.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/signing-account-card/signing-account-card.tsx
  apps/extension/src/app/pages/onboarding/set-password/set-password.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/components/recipient-accounts-dialog/recipient-accounts-dialog.tsx
  apps/extension/src/app/store/accounts/account.ts
  apps/extension/src/app/store/accounts/blockchain/bitcoin/bitcoin.ledger.ts
  apps/extension/src/app/store/accounts/blockchain/stacks/stacks-account.hooks.ts
  apps/extension/src/app/store/profiles/requests.hooks.ts
  apps/extension/src/app/store/signatures/requests.hooks.ts
Due: none

fix: resolve type issues by using activity model util
  apps/mobile/src/components/external-link.tsx
  apps/mobile/src/features/activity/activity-list-item.tsx
  apps/mobile/src/features/activity/utils/make-activity-link.ts
  apps/mobile/src/features/approver/layouts/base-stx-tx-approver.layout.tsx
  apps/mobile/src/features/psbt-signer/psbt-signer.tsx
  apps/mobile/src/features/token/bitcoin/inscription-token-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-token-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  apps/web/app/pages/portfolio/components/activity-list/activity-item.tsx
  packages/models/src/activity/activity.utils.ts
  pnpm-lock.yaml
Due: none

chore(extension): add analytics
  apps/extension/src/app/features/container/container.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/switch-account-sheet.tsx
Due: none

fix: velar target swap assets
  packages/services/src/infrastructure/api/velar/velar-sdk.client.ts
Due: none

feat(ui): add circular progress component
  packages/ui/native.ts
  packages/ui/src/components/circular-progress/circular-progress.native.tsx
Due: none

fix(ui): fix useInterval lastUpdatedAt, make metadata nullable
  packages/ui/native.ts
  packages/ui/src/exports.web.ts
  packages/ui/src/utils/use-interval.shared.ts
  packages/ui/src/utils/use-interval.spec.ts
Due: none

fix(ui): fix the sBTC avatar indicator
  packages/ui/src/components/avatar/sip10-avatar-icon.native.tsx
Due: none

chore(web): gate portfolio behind flag
  apps/web/app/features/feature-flags/index.ts
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/portfolio/portfolio.route.tsx
Due: none

chore(extension): setup new Home component, LEA-3291
  apps/extension/src/app/features/feature-flags/index.ts
  apps/extension/src/app/pages/home/home-v1.tsx
  apps/extension/src/app/pages/home/home-v2.tsx
  apps/extension/src/app/pages/home/home.tsx
  apps/extension/src/app/pages/home/use-home-page-state.ts
Due: none
