Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

refactor(extension): redesign Add Wallet as a compact popover menu (#2413)
  apps/extension/src/app/features/dialogs/add-wallet-menu/add-wallet-menu.tsx
  apps/extension/src/app/features/dialogs/add-wallet-sheet/add-wallet-sheet.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/switch-account-sheet.tsx
  apps/extension/tests/page-object-models/switch-account.page.ts
  apps/extension/tests/specs/switch-account/multiwallet-integrity.spec.ts
  apps/extension/tests/specs/switch-account/switch-account.spec.ts
  docs/plans/2026-06-19-001-refactor-add-wallet-popover-plan.md
Due: none

feat: add new postconditions
  apps/extension/src/app/common/transactions/stacks/post-condition.utils.spec.ts
  apps/extension/src/app/common/transactions/stacks/post-condition.utils.ts
  apps/extension/src/app/features/rpc-stacks-transaction-request/stacks/post-conditions/post-condition-item.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/stacks/post-conditions/post-condition-list.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/stacks/post-conditions/post-conditions.utils.ts
  apps/extension/src/app/features/rpc-stacks-transaction-request/stacks/post-conditions/pox-post-condition-item.tsx
  apps/mobile/src/features/approver/components/post-conditions/post-conditions.utils.ts
  apps/mobile/src/features/approver/components/post-conditions/pox-post-condition.tsx
  apps/mobile/src/features/approver/components/post-conditions/staking-post-condition.tsx
  apps/mobile/src/features/approver/contract-call-post-conditions.section.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  package.json
  packages/stacks/src/transactions/post-condition.utils.spec.ts
  packages/stacks/src/transactions/transaction.mocks.ts
  patches/@stacks__transactions@7.4.0.patch
  pnpm-lock.yaml
Due: stacks

fix: fee bug
  apps/extension/src/app/pages/rpc-stx-sign-transaction/rpc-stx-sign-transaction-container.tsx
  apps/extension/src/app/pages/rpc-stx-sign-transaction/rpc-stx-sign-transaction.tsx
  apps/extension/src/app/pages/rpc-stx-sign-transaction/rpc-stx-sign-transaction.utils.ts
Due: none

fix(extension): update multi-wallet announcement visual
  apps/extension/public/assets/illustrations/multi-wallet-intro.png
  apps/extension/public/assets/illustrations/multi-wallet-intro.svg
  apps/extension/src/app/features/feature-introducer/feature-introducer-header.tsx
  apps/extension/src/app/features/feature-introducer/feature-introducer.tsx
  apps/extension/src/app/features/feature-introducer/implementations/multi-wallet-illustration.tsx
Due: none

fix: debug function
  apps/extension/src/app/debug.ts
  apps/extension/tests/page-object-models/onboarding.page.ts
Due: none

feat(extension): refine Ledger account indication
  apps/extension/src/app/components/account/account-list-item.layout.tsx
  apps/extension/src/app/components/account/ledger-account-indicator.spec.tsx
  apps/extension/src/app/components/account/ledger-account-indicator.tsx
  apps/extension/src/app/features/container/headers/popup.header.tsx
  apps/extension/src/app/features/current-account/current-account-avatar.tsx
  apps/extension/src/app/features/current-account/current-account-displayer.spec.tsx
  apps/extension/src/app/features/current-account/current-account-displayer.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/switch-account-list-item.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/wallet-header.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/signing-account-card/signing-account-card.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/components/recipient-accounts-dialog/account-list-item.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/components/recipient-accounts-dialog/recipient-accounts-dialog.tsx
  apps/extension/src/app/ui/components/account/account-avatar/account-avatar-item.tsx
  apps/extension/src/app/ui/components/account/account-avatar/account-avatar.tsx
  apps/extension/tests/selectors/account.selectors.ts
  apps/extension/tests/selectors/switch-account.selectors.ts
  apps/extension/tests/specs/switch-account/multiwallet-integrity.spec.ts
Due: none

fix: use services package
  apps/extension/src/app/common/hooks/account/use-probe-next-account-for-activity.ts
  apps/extension/src/app/common/hooks/use-key-actions.ts
  apps/extension/src/app/store/common/api-clients.hooks.ts
  apps/extension/src/app/store/software-keys/software-key.actions.spec.ts
  apps/extension/src/app/store/software-keys/software-key.actions.ts
Due: none

fix(extension): update multi-wallet announcement visual (#2423)
  apps/extension/public/assets/illustrations/multi-wallet-intro.png
  apps/extension/public/assets/illustrations/multi-wallet-intro.svg
  apps/extension/src/app/features/feature-introducer/feature-introducer-header.tsx
  apps/extension/src/app/features/feature-introducer/feature-introducer.tsx
  apps/extension/src/app/features/feature-introducer/implementations/multi-wallet-illustration.tsx
Due: none

fix: mocks
  apps/extension/tests/mocks/mock-leather-api.ts
Due: none

fix: constant
  apps/extension/src/shared/constants.ts
Due: none

fix: reuse account names cache
  apps/extension/src/app/common/hooks/account/use-account-names.spec.ts
  apps/extension/src/app/common/hooks/account/use-account-names.ts
Due: none

fix: remove max reasonable account index
  packages/crypto/src/wallet-account-count.ts
Due: crypto

fix: remove test that blocks account numbers more than 1000
  packages/crypto/src/wallet-account-count.spec.ts
Due: crypto

fix: add feature flag
  apps/extension/src/app/features/feature-flags/index.tsx
  apps/extension/src/app/pages/policy-account-feature-gate.ts
  apps/extension/src/app/pages/rpc-btc-add-account/rpc-btc-add-account.tsx
  apps/extension/src/app/pages/rpc-btc-add-account/use-btc-add-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/rpc-stx-add-account.tsx
  apps/extension/src/app/pages/rpc-stx-add-account/use-stx-add-account.ts
Due: none

fix: test
  apps/extension/tests/mocks/mock-mixed-utxos.ts
  apps/extension/tests/mocks/mock-utxos.ts
Due: none

fix(web): derive API environment from deploy target so staging hits staging API
  .github/workflows/web:staging-build.yml
  apps/web/app/constants/environment.ts
  apps/web/app/services/init-app-services.ts
Due: none

fix(web): guard aggregate balance against mixed-currency sum in render path
  apps/web/app/features/multisig/vaults/use-vault-account-balance.ts
Due: none

ci(web): deploy staging preview on every merge to dev
  .github/workflows/web:staging-deploy.yml
Due: none

refactor(web): rename multisig-account-addresses to match its non-hook export
  apps/web/app/features/multisig/vaults/multisig-account-addresses.ts
  apps/web/app/features/multisig/vaults/use-vault-account-balance.ts
Due: none

fix: use @stacks/transactions@7.5.0
  apps/extension/package.json
  apps/mobile/package.json
  apps/web/package.json
  package.json
  packages/queries/package.json
  packages/query/package.json
  packages/rpc/package.json
  packages/services/package.json
  packages/stacks/package.json
  packages/state/package.json
  patches/@stacks__transactions@7.4.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: query, stacks

feat(bitcoin): size fixed-address multisig inputs in coin selection
  apps/web/app/features/multisig/vaults/use-multisig-account-addresses.ts
  packages/bitcoin/src/coin-selection/calculate-max-spend.ts
  packages/bitcoin/src/coin-selection/coin-selection.ts
  packages/bitcoin/src/coin-selection/coin-selection.utils.spec.ts
  packages/bitcoin/src/coin-selection/coin-selection.utils.ts
  packages/models/src/account.model.ts
  packages/services/src/coin-selection/bitcoin-coin-selection.service.ts
  packages/services/src/coin-selection/bitcoin-coin-selection.utils.spec.ts
  packages/services/src/coin-selection/bitcoin-coin-selection.utils.ts
  packages/services/src/transactions/bitcoin-transactions.service.spec.ts
  packages/services/src/utxos/utxos.service.spec.ts
Due: bitcoin

feat(web): build multisig BTC+STX send transactions
  apps/web/app/features/multisig/transactions/build-btc-transfer.spec.ts
  apps/web/app/features/multisig/transactions/build-btc-transfer.ts
  apps/web/app/features/multisig/transactions/build-stx-transfer.spec.ts
  apps/web/app/features/multisig/transactions/build-stx-transfer.ts
  apps/web/app/features/multisig/transactions/use-vault-btc-transaction-fees.ts
  apps/web/app/features/multisig/transactions/use-vault-stx-transaction-fees.ts
  apps/web/app/features/multisig/vaults/multisig-account-addresses.ts
  apps/web/app/features/multisig/vaults/use-multisig-account-addresses.ts
  apps/web/app/pages/multisig/components/dev-tools-panel.tsx
  apps/web/app/pages/multisig/components/dev-tools/btc-propose-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/dev-tools-panel.tsx
  apps/web/app/pages/multisig/components/dev-tools/propose-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/stx-propose-tool.tsx
  apps/web/app/pages/multisig/multisig.layout.tsx
  packages/bitcoin/src/index.ts
  packages/bitcoin/src/transactions/wsh-multisig-transaction.spec.ts
  packages/bitcoin/src/transactions/wsh-multisig-transaction.ts
  packages/stacks/src/transactions/generate-unsigned-transaction.ts
  packages/stacks/src/transactions/transaction.types.ts
Due: bitcoin, stacks

feat: build multisig transfer transactions (#2418)
  apps/web/app/features/multisig/transactions/build-btc-transfer.spec.ts
  apps/web/app/features/multisig/transactions/build-btc-transfer.ts
  apps/web/app/features/multisig/transactions/build-stx-transfer.spec.ts
  apps/web/app/features/multisig/transactions/build-stx-transfer.ts
  apps/web/app/features/multisig/transactions/use-vault-btc-transaction-fees.ts
  apps/web/app/features/multisig/transactions/use-vault-stx-transaction-fees.ts
  apps/web/app/features/multisig/vaults/multisig-account-addresses.ts
  apps/web/app/features/multisig/vaults/use-multisig-account-addresses.ts
  apps/web/app/pages/multisig/components/dev-tools-panel.tsx
  apps/web/app/pages/multisig/components/dev-tools/btc-propose-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/dev-tools-panel.tsx
  apps/web/app/pages/multisig/components/dev-tools/propose-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/stx-propose-tool.tsx
  apps/web/app/pages/multisig/multisig.layout.tsx
  packages/bitcoin/src/coin-selection/calculate-max-spend.ts
  packages/bitcoin/src/coin-selection/coin-selection.ts
  packages/bitcoin/src/coin-selection/coin-selection.utils.spec.ts
  packages/bitcoin/src/coin-selection/coin-selection.utils.ts
  packages/bitcoin/src/index.ts
  packages/bitcoin/src/transactions/wsh-multisig-transaction.spec.ts
  packages/bitcoin/src/transactions/wsh-multisig-transaction.ts
  packages/models/src/account.model.ts
  packages/services/src/coin-selection/bitcoin-coin-selection.service.ts
  packages/services/src/coin-selection/bitcoin-coin-selection.utils.spec.ts
  packages/services/src/coin-selection/bitcoin-coin-selection.utils.ts
  packages/services/src/transactions/bitcoin-transactions.service.spec.ts
  packages/services/src/utxos/utxos.service.spec.ts
  packages/stacks/src/transactions/generate-unsigned-transaction.ts
  packages/stacks/src/transactions/transaction.types.ts
Due: bitcoin, stacks

fix: account lookup (#2416)
  apps/extension/src/app/common/account-restoration/account-restore.spec.ts
  apps/extension/src/app/common/account-restoration/account-restore.ts
  apps/extension/src/app/common/hooks/account/use-account-names.spec.ts
  apps/extension/src/app/common/hooks/account/use-account-names.ts
  apps/extension/src/app/common/hooks/account/use-probe-next-account-for-activity.ts
  apps/extension/src/app/common/hooks/use-key-actions.ts
  apps/extension/src/app/components/account-total-balance.tsx
  apps/extension/src/app/debug.ts
  apps/extension/src/app/features/container/container.tsx
  apps/extension/src/app/query/common/account-balance/account-balance.query.ts
  apps/extension/src/app/query/stacks/bns/bns-v2-client.ts
  apps/extension/src/app/store/accounts/blockchain/bitcoin/native-segwit-account.hooks.ts
  apps/extension/src/app/store/accounts/blockchain/bitcoin/taproot-account.hooks.ts
  apps/extension/src/app/store/accounts/blockchain/stacks/stacks-keychain.ts
  apps/extension/src/app/store/chains/stx-chain.slice.spec.ts
  apps/extension/src/app/store/chains/stx-chain.slice.ts
  apps/extension/src/app/store/common/api-clients.hooks.ts
  apps/extension/src/app/store/replay-actions.spec.ts
  apps/extension/src/app/store/replay-actions.ts
  apps/extension/src/app/store/software-keys/software-key.actions.spec.ts
  apps/extension/src/app/store/software-keys/software-key.actions.ts
  apps/extension/tests/mocks/constants.ts
  apps/extension/tests/mocks/mock-leather-api.ts
  apps/extension/tests/mocks/mock-mixed-utxos.ts
  apps/extension/tests/mocks/mock-stacks-balances-v2.ts
  apps/extension/tests/mocks/mock-utxos.ts
  apps/extension/tests/page-object-models/onboarding.page.ts
  packages/crypto/src/wallet-account-count.spec.ts
  packages/crypto/src/wallet-account-count.ts
Due: crypto

fix(extension): correct disabled swap button outline and add explanatory tooltip
  apps/extension/src/app/pages/home/components/account-actions-current/account-actions.tsx
  packages/ui/src/components/button/button.web.tsx
Due: none

fix(extension): label Bitcoin API dropdown as Custom when values diverge from a preset
  apps/extension/src/app/pages/network/components/bitcoin-api-section.tsx
  apps/extension/src/app/pages/network/components/network-form-fields.tsx
  apps/extension/src/app/pages/network/components/network-presets.spec.ts
  apps/extension/src/app/pages/network/components/network-presets.ts
  apps/extension/tests/specs/network/add-network.spec.ts
Due: none

fix(extension): position swap disabled tooltip above to avoid popup clipping
  apps/extension/src/app/pages/home/components/account-actions-current/account-actions.tsx
Due: none

fix: remove vaultAccountId
  packages/rpc/src/methods/stacks/stx-add-account.spec.ts
  packages/rpc/src/methods/stacks/stx-add-account.ts
Due: none

fix: signTransaction fee-nonce bug (#2420)
  apps/extension/src/app/pages/rpc-stx-sign-transaction/rpc-stx-sign-transaction-container.tsx
  apps/extension/src/app/pages/rpc-stx-sign-transaction/rpc-stx-sign-transaction.tsx
  apps/extension/src/app/pages/rpc-stx-sign-transaction/rpc-stx-sign-transaction.utils.ts
Due: none

feat: add btc/stx_addAccount rpc approver flow (#2421)
  apps/extension/src/app/features/feature-flags/index.tsx
  apps/extension/src/app/pages/policy-account-feature-gate.ts
  apps/extension/src/app/pages/policy-account-match.ts
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy-account.ts
  apps/extension/src/app/pages/rpc-btc-add-account/rpc-btc-add-account.tsx
  apps/extension/src/app/pages/rpc-btc-add-account/use-btc-add-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/rpc-stx-add-account.tsx
  apps/extension/src/app/pages/rpc-stx-add-account/use-stx-add-account.ts
  apps/extension/src/app/routes/rpc-routes.tsx
  apps/extension/src/background/messaging/methods-restricted-to-origin.ts
  apps/extension/src/background/messaging/rpc-message-handler.ts
  apps/extension/src/background/messaging/rpc-methods/btc-add-account.ts
  apps/extension/src/background/messaging/rpc-methods/stx-add-account.ts
  apps/extension/src/shared/constants.ts
  apps/extension/src/shared/route-urls.ts
  packages/rpc/src/index.ts
  packages/rpc/src/methods/bitcoin/btc-add-account.spec.ts
  packages/rpc/src/methods/bitcoin/btc-add-account.ts
  packages/rpc/src/methods/stacks/stx-add-account.spec.ts
  packages/rpc/src/methods/stacks/stx-add-account.ts
Due: none

feat: policy account state
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy-account.ts
  apps/extension/src/app/pages/rpc-btc-add-account/use-btc-add-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/use-stx-add-account.ts
  apps/extension/src/app/store/accounts/accounts.slice.spec.ts
  apps/extension/src/app/store/accounts/accounts.slice.ts
  apps/extension/src/app/store/index.ts
  apps/extension/src/app/store/policy/policy-store.utils.ts
  apps/extension/src/app/store/policy/policy.slice.spec.ts
  apps/extension/src/app/store/policy/policy.slice.ts
  apps/extension/src/shared/storage/redux-persist.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
  packages/stacks/src/addresses.spec.ts
  packages/stacks/src/addresses.ts
Due: bitcoin, stacks

fix: add replay
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy-account.ts
  apps/extension/src/app/store/replay-actions.spec.ts
  apps/extension/src/app/store/replay-actions.ts
Due: none

feat(web): show multisig transaction history on the vault account page
  apps/web/app/features/multisig/vaults/use-vault-transactions.ts
  apps/web/app/features/multisig/vaults/vault-query-keys.ts
  apps/web/app/pages/multisig/account/account.page.tsx
  apps/web/app/pages/multisig/account/components/account-transactions.tsx
  apps/web/app/pages/multisig/components/transaction-row.tsx
  apps/web/app/pages/multisig/components/transaction-status.ts
Due: none

feat(web): show real aggregate balance on active dashboard vault cards (#2419)
  .github/workflows/web:staging-build.yml
  apps/web/app/constants/environment.ts
  apps/web/app/features/multisig/vaults/multisig-account-addresses.ts
  apps/web/app/features/multisig/vaults/use-multisig-account-addresses.ts
  apps/web/app/features/multisig/vaults/use-vault-account-balance.ts
  apps/web/app/pages/multisig/dashboard/components/vault-card.tsx
  apps/web/app/pages/multisig/vault/components/accounts-section.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
  apps/web/app/services/init-app-services.ts
Due: none

ci(web): deploy staging preview on every merge to dev (#2425)
  .github/workflows/web:staging-deploy.yml
Due: none

feat(web): wire multisig transaction details page to real data
  apps/web/app/pages/multisig/components/address-text.tsx
Due: none

feat: sign, broadcast, and cancel multisig transactions
  apps/web/app/features/multisig/transactions/btc-multisig-descriptor.spec.ts
  apps/web/app/features/multisig/transactions/btc-multisig-descriptor.ts
  apps/web/app/features/multisig/transactions/build-btc-transfer.spec.ts
  apps/web/app/features/multisig/transactions/build-btc-transfer.ts
  apps/web/app/features/multisig/transactions/build-stx-transfer.spec.ts
  apps/web/app/features/multisig/transactions/signing/pre-sign-verification.ts
  apps/web/app/features/multisig/transactions/signing/sign-btc-transaction.ts
  apps/web/app/features/multisig/transactions/signing/sign-stx-transaction.ts
  apps/web/app/pages/multisig/components/dev-tools/broadcast-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/cancel-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/dev-tools-panel.tsx
  apps/web/app/pages/multisig/components/dev-tools/propose-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/sign-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/transaction-tools.tsx
  apps/web/workers/csp.ts
  packages/bitcoin/package.json
  packages/bitcoin/src/transactions/wsh-multisig-transaction.spec.ts
  packages/bitcoin/src/transactions/wsh-multisig-transaction.ts
  packages/models/src/multisig.model.ts
  packages/services/package.json
  packages/services/src/infrastructure/api/leather/leather-api.types.ts
  packages/stacks/src/index.ts
  packages/stacks/src/transactions/multisig-nonce.spec.ts
  packages/stacks/src/transactions/multisig-nonce.ts
  packages/stacks/src/transactions/multisig-signature.spec.ts
  packages/stacks/src/transactions/multisig-signature.ts
  pnpm-lock.yaml
Due: bitcoin, stacks

fix: test
  apps/extension/tests/page-object-models/onboarding.page.ts
Due: none

feat: multisig pre-signing verification
  apps/web/app/features/multisig/transactions/btc-multisig-descriptor.spec.ts
  apps/web/app/features/multisig/transactions/btc-multisig-descriptor.ts
  apps/web/app/features/multisig/transactions/build-btc-transfer.spec.ts
  apps/web/app/features/multisig/transactions/build-btc-transfer.ts
  apps/web/app/features/multisig/transactions/build-stx-transfer.spec.ts
  apps/web/app/features/multisig/transactions/build-stx-transfer.ts
  apps/web/app/features/multisig/transactions/derive-multisig-address.ts
  apps/web/app/features/multisig/transactions/signing/extract-stx-multisig-signature.spec.ts
  apps/web/app/features/multisig/transactions/signing/extract-stx-multisig-signature.ts
  apps/web/app/features/multisig/transactions/signing/pre-sign-verification.spec.ts
  apps/web/app/features/multisig/transactions/signing/pre-sign-verification.ts
  apps/web/app/features/multisig/transactions/signing/sign-btc-transaction.ts
  apps/web/app/features/multisig/transactions/signing/sign-stx-transaction.ts
  apps/web/app/features/multisig/transactions/signing/substitute-stx-nonce.spec.ts
  apps/web/app/features/multisig/transactions/signing/substitute-stx-nonce.ts
  apps/web/app/pages/multisig/components/dev-tools/sign-tool.tsx
  apps/web/workers/csp.ts
  packages/bitcoin/package.json
  packages/bitcoin/src/bip322/verify-message-bip322.spec.ts
  packages/bitcoin/src/bip322/verify-message-bip322.ts
  packages/bitcoin/src/index.ts
  packages/bitcoin/src/payments/p2wpkh-address-gen.ts
  packages/bitcoin/src/transactions/wsh-multisig-transaction.spec.ts
  packages/bitcoin/src/transactions/wsh-multisig-transaction.ts
  packages/bitcoin/src/utils/derive-xpub-child-public-key.spec.ts
  packages/bitcoin/src/utils/derive-xpub-child-public-key.ts
  packages/models/src/multisig.model.ts
  packages/services/package.json
  packages/services/src/infrastructure/api/leather/leather-api.types.ts
  packages/stacks/src/index.ts
  packages/stacks/src/message-signing.spec.ts
  packages/stacks/src/message-signing.ts
  packages/stacks/src/transactions/multisig-nonce.ts
  pnpm-lock.yaml
Due: bitcoin, stacks

feat(web): unify the connect overlay across portfolio and multisig
  apps/web/app/components/connect-card/connect-card.tsx
  apps/web/app/pages/multisig/onboarding/components/onboarding-connect-row.tsx
  apps/web/app/pages/multisig/onboarding/onboarding.page.tsx
  apps/web/app/pages/portfolio/components/wallet-connection-modal.tsx
  apps/web/public/images/connect-logo.svg
Due: none
