Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

feat(web): polish multisig connection dropdown
  apps/web/app/pages/multisig/components/connection-dropdown/connected-menu.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/dropdown-address.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/multisig-connect-dropdown.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/use-chain-connection.ts
Due: none

feat(web): wire multisig auth sign-in flow and session bootstrap (ref LEA-3577) (#2372)
  apps/web/app/features/multisig/auth/sessions.atom.ts
  apps/web/app/features/multisig/auth/use-session-bootstrap.ts
  apps/web/app/features/multisig/auth/use-sign-in.ts
  apps/web/app/features/multisig/auth/wallet-sign-in.ts
  apps/web/app/pages/multisig/multisig.layout.tsx
  apps/web/app/pages/multisig/multisig.route.tsx
  apps/web/app/pages/multisig/onboarding/components/onboarding-connect-row.tsx
  apps/web/app/pages/multisig/onboarding/onboarding.page.tsx
  apps/web/app/store/addresses.ts
  apps/web/package.json
  knip.json
  packages/services/src/infrastructure/auth/sign-in.service.ts
  packages/services/src/infrastructure/auth/sign-in.utils.spec.ts
  packages/services/src/infrastructure/auth/sign-in.utils.ts
  pnpm-lock.yaml
Due: none

fix: networks bug
  apps/extension/src/app/common/stacks-utils.spec.ts
  apps/extension/src/app/common/stacks-utils.ts
  apps/extension/src/app/pages/settings/components/network-switcher.tsx
  apps/extension/src/app/query/leather-query-provider.tsx
  apps/extension/src/app/store/networks/networks.hooks.spec.ts
  apps/extension/src/app/store/networks/networks.hooks.ts
  apps/mobile/src/store/settings/settings.read.spec.ts
  apps/mobile/src/store/settings/settings.read.ts
  packages/query/src/bitcoin/clients/bitcoin-client.spec.ts
  packages/query/src/bitcoin/clients/bitcoin-client.ts
  packages/services/src/infrastructure/api/mempool/mempool-api.utils.spec.ts
  packages/services/src/infrastructure/api/mempool/mempool-api.utils.ts
  packages/stacks/src/stacks.utils.spec.ts
  packages/stacks/src/stacks.utils.ts
  packages/stacks/src/validation/address-validation.spec.ts
  packages/stacks/src/validation/address-validation.ts
Due: query, stacks

fix: networks bug (#2379)
  apps/extension/src/app/common/stacks-utils.spec.ts
  apps/extension/src/app/common/stacks-utils.ts
  apps/extension/src/app/pages/settings/components/network-switcher.tsx
  apps/extension/src/app/query/leather-query-provider.tsx
  apps/extension/src/app/store/networks/networks.hooks.spec.ts
  apps/extension/src/app/store/networks/networks.hooks.ts
  apps/mobile/src/store/settings/settings.read.spec.ts
  apps/mobile/src/store/settings/settings.read.ts
  packages/query/src/bitcoin/clients/bitcoin-client.spec.ts
  packages/query/src/bitcoin/clients/bitcoin-client.ts
  packages/services/src/infrastructure/api/mempool/mempool-api.utils.spec.ts
  packages/services/src/infrastructure/api/mempool/mempool-api.utils.ts
  packages/stacks/src/stacks.utils.spec.ts
  packages/stacks/src/stacks.utils.ts
  packages/stacks/src/validation/address-validation.spec.ts
  packages/stacks/src/validation/address-validation.ts
Due: query, stacks

feat(web): polish multisig connect dropdown visuals
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/choose-chain-menu.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/connected-menu.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/dropdown-address.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/icon-slot.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/multisig-connect-dropdown.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/sign-in-item.tsx
  apps/web/app/pages/multisig/multisig.layout.tsx
  packages/ui/src/assets/icons/wallet-sparkle-20-20.svg
  packages/ui/src/assets/icons/wallet-sparkle-24-24.svg
  packages/ui/src/icons/wallet-sparkle-icon.native.tsx
  packages/ui/src/icons/wallet-sparkle-icon.web.tsx
Due: none

fix: add support for tpubs
  apps/extension/src/app/pages/rpc-get-addresses/use-get-addresses.ts
  packages/bitcoin/src/payments/p2wsh-p2sh-address-gen.spec.ts
  packages/bitcoin/src/payments/p2wsh-p2sh-address-gen.ts
  packages/bitcoin/src/utils/bitcoin.descriptors.spec.ts
  packages/bitcoin/src/utils/bitcoin.descriptors.ts
  packages/bitcoin/src/utils/bitcoin.utils.spec.ts
  packages/bitcoin/src/utils/bitcoin.utils.ts
  packages/constants/src/index.ts
  packages/crypto/package.json
  packages/crypto/src/keychain.spec.ts
  packages/crypto/src/keychain.ts
  pnpm-lock.yaml
Due: bitcoin, crypto

fix: add support for tpubs (#2381)
  apps/extension/src/app/pages/rpc-get-addresses/use-get-addresses.ts
  packages/bitcoin/src/payments/p2wsh-p2sh-address-gen.spec.ts
  packages/bitcoin/src/payments/p2wsh-p2sh-address-gen.ts
  packages/bitcoin/src/utils/bitcoin.descriptors.spec.ts
  packages/bitcoin/src/utils/bitcoin.descriptors.ts
  packages/bitcoin/src/utils/bitcoin.utils.spec.ts
  packages/bitcoin/src/utils/bitcoin.utils.ts
  packages/constants/src/index.ts
  packages/crypto/package.json
  packages/crypto/src/keychain.spec.ts
  packages/crypto/src/keychain.ts
  pnpm-lock.yaml
Due: bitcoin, crypto

fix: implement wsh signing in signPsbt
  apps/extension/package.json
  apps/extension/src/app/common/psbt/use-psbt-request-params.ts
  apps/extension/src/app/common/publish-subscribe.ts
  apps/extension/src/app/components/info-card/info-card.tsx
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/bitcoin-tx-signing-event-listeners.spec.ts
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/bitcoin-tx-signing-event-listeners.ts
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/ledger-bitcoin-sign-tx-container.tsx
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/use-sign-ledger-descriptor-tx.spec.ts
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/use-sign-ledger-descriptor-tx.ts
  apps/extension/src/app/features/ledger/hooks/use-ledger-navigate.ts
  apps/extension/src/app/features/psbt-signer/components/index.ts
  apps/extension/src/app/features/psbt-signer/components/psbt-descriptor-policy.spec.tsx
  apps/extension/src/app/features/psbt-signer/components/psbt-descriptor-policy.tsx
  apps/extension/src/app/features/psbt-signer/hooks/use-descriptor-psbt-details.spec.ts
  apps/extension/src/app/features/psbt-signer/hooks/use-descriptor-psbt-details.tsx
  apps/extension/src/app/features/psbt-signer/psbt-signer.tsx
  apps/extension/src/app/pages/rpc-sign-psbt/descriptor-psbt.hooks.spec.ts
  apps/extension/src/app/pages/rpc-sign-psbt/descriptor-psbt.hooks.ts
  apps/extension/src/app/pages/rpc-sign-psbt/rpc-sign-psbt.tsx
  apps/extension/src/app/pages/rpc-sign-psbt/use-rpc-sign-psbt.spec.ts
  apps/extension/src/app/pages/rpc-sign-psbt/use-rpc-sign-psbt.tsx
  apps/extension/src/app/store/accounts/blockchain/bitcoin/native-segwit-account.hooks.spec.ts
  apps/extension/src/app/store/accounts/blockchain/bitcoin/native-segwit-account.hooks.ts
  apps/extension/src/background/messaging/rpc-methods/sign-psbt.ts
  apps/extension/tests/specs/rpc-sign-psbt/sign-psbt.spec.ts
  knip.json
  packages/bitcoin/package.json
  packages/bitcoin/src/descriptors/wsh-descriptor.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
  packages/bitcoin/src/index.ts
  packages/rpc/src/methods/bitcoin/sign-psbt.ts
  pnpm-lock.yaml
Due: bitcoin

feat(web): polish multisig connect dropdown visuals (#2380)
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/choose-chain-menu.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/connected-menu.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/dropdown-address.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/icon-slot.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/multisig-connect-dropdown.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/sign-in-item.tsx
  apps/web/app/pages/multisig/multisig.layout.tsx
  packages/ui/src/assets/icons/wallet-sparkle-20-20.svg
  packages/ui/src/assets/icons/wallet-sparkle-24-24.svg
  packages/ui/src/icons/wallet-sparkle-icon.native.tsx
  packages/ui/src/icons/wallet-sparkle-icon.web.tsx
Due: none

chore(tokens): remove unused chain.stx and chain.btc color tokens
  packages/tokens/src/colors.ts
  packages/tokens/src/semantic-tokens.ts
Due: none

fix: fetch address from service every time, do not cache
  apps/web/app/features/multisig/auth/wallet-sign-in.ts
Due: none

refactor(web): make addressesAtom module-private
  apps/web/app/store/addresses.ts
Due: none

feat(web): multisig per-chain connection-status dropdown (#2376)
  apps/web/app/features/multisig/auth/wallet-sign-in.ts
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/layouts/page/page.tsx
  apps/web/app/layouts/page/sign-in-slot.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/choose-chain-menu.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/connected-menu.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/dropdown-address.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/icon-slot.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/multisig-connect-dropdown.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/sign-in-item.tsx
  apps/web/app/pages/multisig/components/connection-dropdown/use-chain-connection.ts
  apps/web/app/pages/multisig/multisig.layout.tsx
  apps/web/app/store/addresses.ts
  apps/web/app/utils/use-clipboard-copy.ts
  packages/ui/src/assets/icons/wallet-sparkle-24-24.svg
  packages/ui/src/icons/index.native.ts
  packages/ui/src/icons/index.web.ts
  packages/ui/src/icons/wallet-sparkle-icon.native.tsx
  packages/ui/src/icons/wallet-sparkle-icon.web.tsx
Due: none

fix: implement wsh signing in signPsbt (#2374)
  apps/extension/package.json
  apps/extension/src/app/common/psbt/use-psbt-request-params.ts
  apps/extension/src/app/common/publish-subscribe.ts
  apps/extension/src/app/components/info-card/info-card.tsx
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/bitcoin-tx-signing-event-listeners.spec.ts
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/bitcoin-tx-signing-event-listeners.ts
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/ledger-bitcoin-sign-tx-container.tsx
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/use-sign-ledger-descriptor-tx.spec.ts
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/use-sign-ledger-descriptor-tx.ts
  apps/extension/src/app/features/ledger/hooks/use-ledger-navigate.ts
  apps/extension/src/app/features/psbt-signer/components/index.ts
  apps/extension/src/app/features/psbt-signer/components/psbt-descriptor-policy.spec.tsx
  apps/extension/src/app/features/psbt-signer/components/psbt-descriptor-policy.tsx
  apps/extension/src/app/features/psbt-signer/hooks/use-descriptor-psbt-details.spec.ts
  apps/extension/src/app/features/psbt-signer/hooks/use-descriptor-psbt-details.tsx
  apps/extension/src/app/features/psbt-signer/psbt-signer.tsx
  apps/extension/src/app/pages/rpc-sign-psbt/descriptor-psbt.hooks.spec.ts
  apps/extension/src/app/pages/rpc-sign-psbt/descriptor-psbt.hooks.ts
  apps/extension/src/app/pages/rpc-sign-psbt/rpc-sign-psbt.tsx
  apps/extension/src/app/pages/rpc-sign-psbt/use-rpc-sign-psbt.spec.ts
  apps/extension/src/app/pages/rpc-sign-psbt/use-rpc-sign-psbt.tsx
  apps/extension/src/app/store/accounts/blockchain/bitcoin/native-segwit-account.hooks.spec.ts
  apps/extension/src/app/store/accounts/blockchain/bitcoin/native-segwit-account.hooks.ts
  apps/extension/src/background/messaging/rpc-methods/sign-psbt.ts
  apps/extension/tests/specs/rpc-sign-psbt/sign-psbt.spec.ts
  knip.json
  packages/bitcoin/package.json
  packages/bitcoin/src/descriptors/wsh-descriptor.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
  packages/bitcoin/src/index.ts
  packages/rpc/src/methods/bitcoin/sign-psbt.ts
  pnpm-lock.yaml
Due: bitcoin

fix: add non zero index signing for descriptor mode in signPsbt
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/use-sign-ledger-descriptor-tx.spec.ts
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/use-sign-ledger-descriptor-tx.ts
  apps/extension/src/app/features/psbt-signer/hooks/use-descriptor-psbt-details.spec.ts
  apps/extension/src/app/features/psbt-signer/hooks/use-descriptor-psbt-details.tsx
  apps/extension/src/app/pages/rpc-sign-psbt/descriptor-psbt.hooks.spec.ts
  apps/extension/src/app/pages/rpc-sign-psbt/descriptor-psbt.hooks.ts
  apps/extension/tests/specs/rpc-sign-psbt/sign-psbt.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
Due: bitcoin

fix: btc account selection in signPsbt flow
  apps/extension/src/app/store/software-keys/software-key.selectors.spec.ts
  apps/extension/src/app/store/software-keys/software-key.selectors.ts
  apps/extension/src/background/messaging/rpc-request-utils.ts
Due: none

feat(web): wire multisig vaults UI to backend — list, detail, members, create, join/decline, cancel
  apps/web/app/features/multisig/vaults/use-multisig-me.ts
  apps/web/app/features/multisig/vaults/use-vault-mutations.ts
  apps/web/app/features/multisig/vaults/use-vaults.ts
  apps/web/app/features/multisig/vaults/vault-query-keys.ts
  apps/web/app/pages/multisig/create-vault/components/member-rows.tsx
  apps/web/app/pages/multisig/create-vault/create-vault.page.tsx
  apps/web/app/pages/multisig/dashboard/components/vault-card.tsx
  apps/web/app/pages/multisig/dashboard/dashboard.page.tsx
  apps/web/app/pages/multisig/multisig-tokens.ts
  apps/web/app/pages/multisig/store/use-multisig.ts
  apps/web/app/pages/multisig/vault/components/members-section.tsx
  apps/web/app/pages/multisig/vault/components/vault-status-card.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
  knip.json
Due: none

feat(tokens): add green.text-secondary color token
  packages/tokens/src/colors.ts
  packages/tokens/src/semantic-tokens.ts
Due: none

feat(web): redirect multisig onboarding to dashboard after first sign-in
  apps/web/app/pages/multisig/onboarding/onboarding.page.tsx
Due: none

feat(web): multisig dashboard subheadings and connect-chain prompts
  apps/web/app/pages/multisig/dashboard/dashboard.page.tsx
Due: none

feat(web): shared web toast and multisig create-vault gating/validation
  apps/web/app/app.tsx
  apps/web/app/features/toasts/toasts-provider.tsx
  apps/web/app/features/toasts/use-toast.ts
  apps/web/app/pages/multisig/account/account.page.tsx
  apps/web/app/pages/multisig/components/multisig-toast.tsx
  apps/web/app/pages/multisig/create-vault/components/chain-picker.tsx
  apps/web/app/pages/multisig/create-vault/components/member-rows.tsx
  apps/web/app/pages/multisig/create-vault/components/vault-preview-card.tsx
  apps/web/app/pages/multisig/create-vault/create-vault.page.tsx
  apps/web/app/pages/multisig/data/dummy-multisig-data.ts
  apps/web/app/pages/multisig/modals/create-account-modal.tsx
  apps/web/app/pages/multisig/modals/invite-accept-modal.tsx
  apps/web/app/pages/multisig/modals/send-modal.tsx
  apps/web/app/pages/multisig/multisig.layout.tsx
  apps/web/app/pages/multisig/tx/tx.page.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
Due: none

feat(web): invitation modal
  apps/web/app/pages/multisig/components/invitation-modal.tsx
  apps/web/app/pages/multisig/create-vault/components/member-rows.tsx
  apps/web/app/pages/multisig/create-vault/create-vault.page.tsx
  apps/web/app/pages/multisig/dashboard/components/vault-card.tsx
  apps/web/app/pages/multisig/dashboard/dashboard.page.tsx
  apps/web/app/pages/multisig/modals/invite-accept-modal.tsx
  apps/web/app/pages/multisig/multisig-tokens.ts
  apps/web/app/pages/multisig/multisig.layout.tsx
  knip.json
Due: none

fix(web): scope multisig query cache by connected wallet
  apps/web/app/features/multisig/auth/use-sign-out.ts
  apps/web/app/features/multisig/vaults/use-multisig-me.ts
  apps/web/app/features/multisig/vaults/use-vault-mutations.ts
  apps/web/app/features/multisig/vaults/use-vaults.ts
  apps/web/app/features/multisig/vaults/vault-query-keys.ts
Due: none

feat(tokens): add orange color group
  packages/tokens/src/colors.ts
  packages/tokens/src/semantic-tokens.ts
Due: none

feat(web): create-vault validation and inline error states
  apps/web/app/pages/multisig/components/text-field.tsx
  apps/web/app/pages/multisig/create-vault/create-vault.page.tsx
Due: none

feat(web): multisig card gradient, pending badge, and theme fallback
  apps/web/app/pages/multisig/components/badge.tsx
  apps/web/app/pages/multisig/components/invitation-modal.tsx
  apps/web/app/pages/multisig/dashboard/components/create-vault-tile.tsx
  apps/web/app/pages/multisig/dashboard/components/vault-card.tsx
  apps/web/app/pages/multisig/multisig-tokens.ts
Due: none

fix(web): show loading state before multisig empty and error states
  apps/web/app/pages/multisig/dashboard/dashboard.page.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
Due: none

chore(web): remove unused multisig prototype scaffolds
  apps/web/app/pages/multisig/modals/components/faux-qr.tsx
  apps/web/app/pages/multisig/modals/components/share-invite-card.tsx
  apps/web/app/pages/multisig/modals/create-account-modal.tsx
  apps/web/app/pages/multisig/modals/share-invites-modal.tsx
  apps/web/app/pages/multisig/multisig-tokens.ts
  apps/web/app/pages/multisig/vault/components/accounts-list.tsx
  knip.json
Due: none

fix(web): vault network derivation, stable member keys, typed 409 error
  apps/web/app/pages/multisig/create-vault/components/member-rows.tsx
  apps/web/app/pages/multisig/create-vault/create-vault.page.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
  packages/services/src/index.ts
Due: none

chore(deps): ignore esbuild GHSA-gv7w-rqvm-qjhr in pnpm audit
  pnpm-workspace.yaml
Due: none

fix(web): address review - ux polish
  apps/web/app/pages/multisig/components/badge.tsx
  apps/web/app/pages/multisig/create-vault/create-vault.page.tsx
  apps/web/app/pages/multisig/multisig.layout.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
Due: none

fix(web): address review — stable preview keys, drop dead wallet fixture, canonical createdBy check
  apps/web/app/pages/multisig/components/invitation-modal.tsx
  apps/web/app/pages/multisig/create-vault/components/vault-preview-card.tsx
  apps/web/app/pages/multisig/data/dummy-multisig-data.ts
  apps/web/app/pages/multisig/vault/vault.page.tsx
Due: none

fix(web): use canonical user-id createdBy check in members-section
  apps/web/app/pages/multisig/vault/components/members-section.tsx
Due: none

fix(web): skip 4xx retries on vault queries and dedupe chainFromNetwork
  apps/web/app/features/multisig/vaults/use-vaults.ts
  apps/web/app/pages/multisig/components/invitation-modal.tsx
  apps/web/app/pages/multisig/dashboard/components/vault-card.tsx
  apps/web/app/pages/multisig/multisig.utils.ts
  apps/web/app/pages/multisig/vault/components/vault-status-card.tsx
Due: none

fix(web): guard invite actions while loading and normalize BTC address comparisons
  apps/web/app/pages/multisig/components/invitation-modal.tsx
  apps/web/app/pages/multisig/create-vault/create-vault.page.tsx
Due: none

fix(web): normalize BTC member addresses before submit
  apps/web/app/pages/multisig/create-vault/create-vault.page.tsx
Due: none

fix: add non zero index signing for descriptor mode in signPsbt (#2382)
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/use-sign-ledger-descriptor-tx.spec.ts
  apps/extension/src/app/features/ledger/flows/bitcoin-tx-signing/use-sign-ledger-descriptor-tx.ts
  apps/extension/src/app/features/psbt-signer/hooks/use-descriptor-psbt-details.spec.ts
  apps/extension/src/app/features/psbt-signer/hooks/use-descriptor-psbt-details.tsx
  apps/extension/src/app/pages/rpc-sign-psbt/descriptor-psbt.hooks.spec.ts
  apps/extension/src/app/pages/rpc-sign-psbt/descriptor-psbt.hooks.ts
  apps/extension/tests/specs/rpc-sign-psbt/sign-psbt.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
Due: bitcoin

fix: audit esbuild
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
