Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

feat: add stack in a pool page
  apps/web/app/features/stacking/hooks/stacking.query.ts
  apps/web/app/features/stacking/providers/stacking-client-provider.tsx
  apps/web/app/features/stacking/utils/types-preset-pools.ts
  apps/web/app/helpers/utils.ts
  apps/web/app/pages/stacking/components/earn-provider-table.tsx
  apps/web/app/root.tsx
  apps/web/app/routes.ts
  apps/web/app/routes/stacking/index.tsx
  apps/web/app/routes/stacking/stacking.tsx
  apps/web/app/store/addresses.ts
  apps/web/package.json
  apps/web/vite.config.ts
  packages/query/index.ts
  pnpm-lock.yaml
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat: integrate collectibles, ref LEA-1426
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/account/[account]/collectibles.tsx
  apps/mobile/src/app/(home)/collectibles/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles-serializer.spec.ts
  apps/mobile/src/components/widgets/collectibles/collectibles-serializer.ts
  apps/mobile/src/components/widgets/collectibles/collectibles-serializer.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles-widget.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles.layout.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles.mocks.ts
  apps/mobile/src/components/widgets/collectibles/collectibles.utils.ts
  apps/mobile/src/components/widgets/collectibles/index.ts
  apps/mobile/src/queries/transaction/use-check-utxos.ts
  apps/mobile/src/routes.ts
  eslint.config.js
  packages/bitcoin/src/validation/bitcoin-error.ts
  packages/ui/src/components/collectibles/collectibles.shared.tsx
  packages/ui/src/components/collectibles/index.native.ts
  packages/ui/src/components/collectibles/native/collectible-audio.native.tsx
  packages/ui/src/components/collectibles/native/collectible-caption.native.tsx
  packages/ui/src/components/collectibles/native/collectible-card-layout.native.tsx
  packages/ui/src/components/collectibles/native/collectible-card.native.stories.tsx
  packages/ui/src/components/collectibles/native/collectible-card.native.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/collectible-text.native.tsx
  pnpm-lock.yaml
Due: bitcoin

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: bitcoin, query

refactor: query package
  packages/query/index.ts
  packages/query/src/bitcoin/address/address.utils.ts
  packages/query/src/bitcoin/address/transactions-by-address.hooks.ts
  packages/query/src/bitcoin/address/transactions-by-address.spec.ts
  packages/query/src/bitcoin/address/utxos-by-address.hooks.ts
  packages/query/src/bitcoin/address/utxos-by-address.spec.tsx
  packages/query/src/bitcoin/balance/balance.utils.ts
  packages/query/src/bitcoin/balance/btc-taproot-balance.query.ts
  packages/query/src/bitcoin/ordinals/inscriptions.query.ts
  packages/query/src/bitcoin/ordinals/inscriptions.spec.ts
  packages/query/src/bitcoin/ordinals/ordinals.utils.ts
  packages/query/src/common/alex-sdk/alex-sdk-swappable-currency.query.ts
  packages/query/src/common/alex-sdk/alex-sdk.utils.ts
  packages/query/src/common/market-data/market-data.utils.ts
  packages/query/src/stacks/balance/account-balance.utils.ts
  packages/query/src/stacks/stx20/stx20-tokens.utils.ts
Due: query

fix: contract interface query response type
  packages/query/src/stacks/hiro-api-types.ts
  packages/query/src/stacks/stacks-client.ts
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
Due: query

fix: re-add crowdin action and update crowdin
  .github/workflows/crowdin-action.yml
  apps/mobile/package.json
  pnpm-lock.yaml
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
Due: none

feat(web): sidebar v3
  apps/web/app/features/page/page.tsx
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/features/sign-in-button/sign-in-button.tsx
  apps/web/app/layouts/nav/nav-item.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/home/home.tsx
  apps/web/app/pages/stacking/stacking.tsx
Due: none

feat(ui): location-aware dropdown transitions
  apps/web/app/features/page/page.tsx
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/features/sign-in-button/sign-in-button.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/store/addresses.ts
  packages/rpc/src/methods/open.ts
  packages/tokens/src/keyframes.ts
  packages/ui/src/components/dropdown-menu/dropdown-menu.web.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: bitcoin, query

fix: re-add crowdin action and update crowdin
  .github/workflows/crowdin-action.yml
Due: none

ci: sign off release pr commit
  .github/workflows/release-please.yml
  .github/workflows/update-mobile-versions.yml
Due: none

fix(rpc): allow unknown props in open method
  packages/rpc/src/methods/open.ts
Due: none

fix: fix position of TextInput error message, ref LEA-2177
  apps/mobile/src/components/text-input.tsx
Due: none

fix: only show widgets if data
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/activity/components/activity-widget.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles-widget.tsx
Due: none

fix: trim whitespace from key copy automatically, ref LEA-2146
  apps/mobile/src/app/(home)/recover-wallet.tsx
Due: none

fix: refactor recover wallet
  apps/mobile/src/app/(home)/recover-wallet.tsx
  apps/mobile/src/features/recover-wallet/actions.ts
  apps/mobile/src/features/recover-wallet/components/error-message.tsx
  apps/mobile/src/features/recover-wallet/recover-wallet.layout.tsx
  apps/mobile/src/features/recover-wallet/recover-wallet.tsx
  apps/mobile/src/features/recover-wallet/reducer.ts
  apps/mobile/src/features/recover-wallet/utils.ts
Due: none

fix: auto focus on textinput for mnemonic, ref LEA-2361
  apps/mobile/src/components/text-input.tsx
  apps/mobile/src/features/recover-wallet/recover-wallet.layout.tsx
  apps/mobile/src/features/recover-wallet/recover-wallet.tsx
  apps/mobile/src/features/recover-wallet/reducer.ts
Due: none

fix: adjust release job
  .github/workflows/release-please.yml
Due: none
