Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

feat: home card ui component
  .ls-lint.yml
  apps/web/app/components/auth-button.tsx
  apps/web/app/features/home/components/home-card.tsx
  apps/web/app/features/home/home.tsx
  apps/web/app/helpers/utils.ts
  apps/web/app/layouts/nav/nav.tsx
  apps/web/tests/homepage.spec.ts
  packages/sdk/src/client.spec.ts
  pnpm-lock.yaml
Due: none

fix: psbt null output address
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/features/psbt-signer/components/psbt-inputs-and-outputs/components/psbt-input-list/components/psbt-input-item.tsx
  apps/extension/src/app/features/psbt-signer/components/psbt-inputs-and-outputs/components/psbt-output-list/components/psbt-output-item.tsx
  apps/extension/src/app/features/psbt-signer/hooks/use-parsed-inputs.tsx
  apps/extension/src/app/features/psbt-signer/hooks/use-parsed-outputs.tsx
  apps/extension/src/app/features/psbt-signer/psbt-signer.tsx
Due: none

chore: update leather packages
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/features/psbt-signer/hooks/use-parsed-inputs.tsx
  apps/extension/src/app/features/psbt-signer/hooks/use-parsed-outputs.tsx
Due: none

feat(web): auth button styling
  apps/mobile/src/utils/types.ts
  apps/web/app/components/auth-button.tsx
  apps/web/app/helpers/utils.ts
  apps/web/app/layouts/nav/nav.tsx
  packages/ui/native.ts
  packages/ui/src/exports.web.ts
Due: none

feat(web): basic connect functionality
  apps/web/app/features/earn/earn.tsx
  apps/web/app/features/home/home.tsx
  apps/web/app/helpers/leather-sdk.ts
  apps/web/app/layouts/nav/nav-item.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/routes.ts
  apps/web/app/routes/earn.tsx
  apps/web/app/routes/home.tsx
  packages/bitcoin/src/utils/bitcoin.utils.ts
  packages/sdk/src/client.ts
  pnpm-lock.yaml
Due: bitcoin

feat(web): navigation bar, closes LEA-2196
  apps/web/app/helpers/utils.ts
  apps/web/app/layouts/nav/nav-item.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/root.tsx
  apps/web/app/routes/home.tsx
  apps/web/package.json
  apps/web/vite.config.ts
Due: none

feat(web): cf deployment setup
  .github/workflows/deploy-web.yml
  apps/web/.gitignore
  apps/web/app/entry.server.tsx
  apps/web/app/features/home/home.tsx
  apps/web/app/layouts/nav/global-loader.styles.ts
  apps/web/app/layouts/nav/global-loader.tsx
  apps/web/app/root.tsx
  apps/web/package.json
  apps/web/panda.config.ts
  apps/web/playwright.config.ts
  apps/web/tsconfig.cloudflare.json
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/worker-configuration.d.ts
  apps/web/workers/app.ts
  apps/web/wrangler.toml
  package.json
  packages/panda-preset/package.json
  packages/sdk/src/client.spec.ts
  packages/sdk/src/client.ts
  packages/ui/package.json
  packages/ui/src/exports.web.ts
  pnpm-lock.yaml
  turbo.json
Due: none

fix: export needed icons for web
  packages/ui/src/icons/index.web.ts
Due: none

chore(release): 6.65.1
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

feat: ensure platform defaults correctly set on mobile
  apps/mobile/.env.development
  apps/mobile/src/store/settings/settings.ts
  apps/mobile/src/utils/analytics-plugins.ts
  apps/mobile/src/utils/analytics.ts
  packages/analytics/package.json
  packages/analytics/src/client.spec.ts
  packages/analytics/src/client.ts
  packages/analytics/src/index.ts
  packages/analytics/src/types.ts
Due: none

fix(sdk): return result only
  packages/sdk/src/client.ts
Due: none

fix: sip10 balances service error handling
  packages/services/src/balances/runes-balances.service.ts
  packages/services/src/balances/sip10-balances.service.spec.ts
  packages/services/src/balances/sip10-balances.service.ts
  packages/services/src/balances/sip10-balances.utils.ts
Due: none

ci: enforce gpg commits for leather-bot
  .github/workflows/release-please.yml
  .github/workflows/update-mobile-versions.yml
Due: none

feat: add tokens pages, avatars indicators, animated sheet header ref LEA-2017
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/balances/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/[account]/choose-avatar.tsx
  apps/mobile/src/components/headers/animated-header/animated-header-screen.layout.tsx
  apps/mobile/src/components/headers/animated-header/animated-header.hooks.tsx
  apps/mobile/src/components/headers/animated-header/animated-title-header.tsx
  apps/mobile/src/components/headers/components/animated-reversible-header.tsx
  apps/mobile/src/components/headers/components/header-title-with-subtitle.tsx
  apps/mobile/src/components/headers/components/header-title.tsx
  apps/mobile/src/components/widgets/balances/balances-widget.tsx
  apps/mobile/src/components/widgets/balances/token-icon.tsx
  apps/mobile/src/features/balances/balances.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/bitcoin/runes-balance.tsx
  apps/mobile/src/features/balances/stacks/sip10-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/features/balances/utils/get-chain-layer-from-protocol.ts
  apps/mobile/src/features/receive/receive-sheets/select-asset.tsx
  apps/mobile/src/routes.ts
  packages/ui/native.ts
  packages/ui/src/components/avatar/btc-avatar-icon.native.tsx
  packages/ui/src/components/avatar/runes-avatar-icon.native.tsx
  packages/ui/src/components/avatar/sip10-avatar-icon.native.tsx
  packages/ui/src/components/avatar/stx-avatar-icon.native.tsx
Due: none

feat(web): sign in button, closes LEA-2317
  apps/web/app/components/auth-button.tsx
  apps/web/app/components/client-only.tsx
  apps/web/app/features/home/home.tsx
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/features/sign-in-button/sign-in-button.tsx
  apps/web/app/layouts/nav/nav-item.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/earn/earn.tsx
  apps/web/app/pages/home/components/home-card.tsx
  apps/web/app/pages/home/home.tsx
  apps/web/app/routes/earn.tsx
  apps/web/app/routes/home.tsx
  apps/web/app/store/addresses.ts
  apps/web/package.json
  apps/web/react-router.config.ts
  apps/web/vite.config.ts
  packages/ui/src/components/dropdown-menu/dropdown-menu.web.tsx
  pnpm-lock.yaml
Due: none

refactor: use redux
  apps/web/app/entry.client.tsx
  apps/web/app/features/sign-in-button/sign-in-button.tsx
  apps/web/app/helpers/utils.ts
  apps/web/app/layouts/root/root.layout.tsx
  apps/web/app/root.tsx
  apps/web/app/routes/home.tsx
  apps/web/app/store/accounts/accounts.slice.ts
  apps/web/app/store/store.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: none

feat: collectibles service
  apps/mobile/src/queries/collectibles/account-collectibles.query.ts
  packages/bitcoin/src/utils/bitcoin.utils.spec.ts
  packages/bitcoin/src/utils/bitcoin.utils.ts
  packages/models/src/bitcoin.model.ts
  packages/models/src/crypto-assets/crypto-asset-info.model.ts
  packages/models/src/crypto-assets/inscription-mime-type.model.ts
  packages/models/src/index.ts
  packages/query/src/bitcoin/ordinals/inscription.utils.ts
  packages/services/src/activity/bitcoin-tx-activity.utils.spec.ts
  packages/services/src/activity/bitcoin-tx-activity.utils.ts
  packages/services/src/assets/sip9-asset.service.ts
  packages/services/src/assets/stacks-asset.utils.ts
  packages/services/src/collectibles/collectibles.service.spec.ts
  packages/services/src/collectibles/collectibles.service.ts
  packages/services/src/collectibles/collectibles.utils.spec.ts
  packages/services/src/collectibles/collectibles.utils.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/services/src/inversify.config.ts
  packages/utils/src/assets/inscription-helpers.spec.ts
  packages/utils/src/assets/inscription-helpers.ts
  packages/utils/src/index.ts
  packages/utils/src/time.ts
Due: bitcoin, query, utils

refactor: switch to class-based services
  apps/mobile/babel.config.cjs
  apps/mobile/package.json
  apps/mobile/src/services/init-app-services.ts
  apps/mobile/src/services/mobile-http-cache.service.ts
  apps/mobile/src/services/mobile-settings.service.ts
  packages/prettier-config/.prettierrc.js
  packages/services/package.json
  packages/services/src/activity/activity.service.ts
  packages/services/src/assets/rune-asset.service.ts
  packages/services/src/assets/sip10-asset.service.ts
  packages/services/src/assets/sip9-asset.service.ts
  packages/services/src/balances/btc-balances.service.ts
  packages/services/src/balances/runes-balances.service.ts
  packages/services/src/balances/sip10-balances.service.spec.ts
  packages/services/src/balances/sip10-balances.service.ts
  packages/services/src/balances/stx-balances.service.spec.ts
  packages/services/src/balances/stx-balances.service.ts
  packages/services/src/collectibles/collectibles.service.spec.ts
  packages/services/src/collectibles/collectibles.service.ts
  packages/services/src/infrastructure/api/best-in-slot/best-in-slot-api.client.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/rate-limiter/rate-limiter.service.spec.ts
  packages/services/src/infrastructure/rate-limiter/rate-limiter.service.ts
  packages/services/src/inversify.config.ts
  packages/services/src/inversify.types.ts
  packages/services/src/market-data/market-data.service.ts
  packages/services/src/notifications/notifications.service.ts
  packages/services/src/transactions/bitcoin-transactions.service.spec.ts
  packages/services/src/transactions/bitcoin-transactions.service.ts
  packages/services/src/transactions/stacks-transactions.service.spec.ts
  packages/services/src/transactions/stacks-transactions.service.ts
  packages/services/src/utxos/utxos.service.ts
  packages/services/tsconfig.json
  pnpm-lock.yaml
Due: none

feat: add stacking queries, LEA-2322
  packages/query/package.json
  packages/query/src/query-prefixes.ts
  packages/query/src/stacking/stacking.query.ts
  pnpm-lock.yaml
Due: query

fix: leather api fetch using correct bitcoin network setting
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/settings/settings.selectors.ts
Due: none

feat(web): site footer
  apps/web/app/components/external-link.tsx
  apps/web/app/components/page.tsx
  apps/web/app/layouts/footer/footer.layout.tsx
  apps/web/app/layouts/footer/footer.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/earn/earn.tsx
  apps/web/app/pages/home/home.tsx
  apps/web/app/root.tsx
  apps/web/panda.config.ts
  apps/web/vite.config.ts
  packages/tokens/src/typography.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat: migrate stacking utils, LEA-2333
  apps/web/app/constants.ts
  apps/web/app/constants/app.ts
  apps/web/app/features/stacking/components/pool-icon.tsx
  apps/web/app/features/stacking/components/preset-pools.tsx
  apps/web/app/features/stacking/utils/types-preset-pools.ts
  apps/web/app/features/stacking/utils/types.ts
  apps/web/app/features/stacking/utils/utils-allow-contract-caller.ts
  apps/web/app/features/stacking/utils/utils-delegate-stx.ts
  apps/web/app/features/stacking/utils/utils-disallow-contract-caller.ts
  apps/web/app/features/stacking/utils/utils-preset-pools.ts
  apps/web/app/features/stacking/utils/utils.ts
  apps/web/app/helpers/leather-sdk.ts
  apps/web/app/utils/calculate-burn-height.spec.ts
  apps/web/app/utils/calculate-burn-height.ts
  apps/web/app/utils/unit-convert.spec.ts
  apps/web/app/utils/unit-convert.ts
  apps/web/app/utils/validators/stx-amount-validator.ts
  apps/web/package.json
  apps/web/public/icons/32x32_FastPool.png
  apps/web/public/icons/32x32_Lisa.png
  apps/web/public/icons/32x32_PlanBetter.png
  apps/web/public/icons/32x32_Restake.png
  apps/web/public/icons/32x32_StackingDao.png
  apps/web/public/icons/32x32_Xverse.png
  apps/web/tsconfig.cloudflare.json
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vitest.config.js
  pnpm-lock.yaml
Due: none

feat: initial work on stack in a pool form
  apps/web/app/components/title.tsx
  apps/web/app/features/stacking/components/choose-pooling-pool.tsx
  apps/web/app/features/stacking/components/pool-select-item.tsx
  apps/web/app/features/stacking/components/stacking-form-step.tsx
  apps/web/app/features/stacking/providers/stacking-client-provider.tsx
  apps/web/app/features/stacking/start-pooled-stacking.tsx
  apps/web/app/helpers/utils.ts
  apps/web/app/pages/earn/earn.tsx
  apps/web/app/pages/earn/stacking.tsx
  apps/web/app/root.tsx
  apps/web/app/routes.ts
  apps/web/app/routes/earn/index.tsx
  apps/web/app/routes/earn/stacking.tsx
  apps/web/app/store/addresses.ts
  apps/web/app/store/stacks-network.ts
  apps/web/app/types/network.ts
  apps/web/package.json
  apps/web/react-router.config.ts
  apps/web/vite.config.ts
  packages/query/index.ts
  packages/query/package.json
  pnpm-lock.yaml
Due: query

feat(web): earn page
  apps/web/app/components/dummy.tsx
  apps/web/app/components/page.tsx
  apps/web/app/components/table.tsx
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/layouts/footer/footer.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/earn/components/earn-instructions.tsx
  apps/web/app/pages/earn/components/earn-provider-table.tsx
  apps/web/app/pages/earn/earn.tsx
  apps/web/app/pages/home/home.tsx
  apps/web/package.json
  package.json
  packages/panda-preset/src/borders.ts
  packages/panda-preset/src/tokens.ts
  packages/ui/src/components/collectibles/web/collectible-item.layout.web.tsx
  pnpm-lock.yaml
Due: none
