Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

refactor: generic network name validator
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/shared/rpc/methods/send-transfer.ts
  apps/extension/src/shared/rpc/methods/sign-message.ts
  apps/extension/src/shared/rpc/methods/sign-psbt.ts
  apps/extension/src/shared/rpc/rpc-schemas.ts
Due: none

ci(ui): publish storybook web
  .github/workflows/publish-storybook.yml
Due: none

refactor: upgrade storybook
  apps/extension/.storybook/main.ts
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/shared/rpc/methods/sign-psbt.ts
Due: none

chore: draft activity feed
  apps/mobile/src/app/(home)/activity/stacks-activity.tsx
  apps/mobile/src/queries/activity/activity-transactions.query.ts
  apps/mobile/src/queries/activity/stacks-activity.query.ts
  apps/mobile/src/queries/balance/stacks-balance.query.ts
  apps/mobile/src/queries/stacks/transaction.mocks.ts
  apps/mobile/src/queries/stacks/use-mempool-txs-balance.spec.ts
  apps/mobile/src/queries/stacks/use-mempool-txs-balance.ts
Due: none

chore: balance investigation
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/components/widgets/accounts/accounts-widget.tsx
  apps/mobile/src/features/account-list/account-list.tsx
  apps/mobile/src/features/account-list/components/account-balance.tsx
  apps/mobile/src/features/balances/stacks/mock-signers.ts
  apps/mobile/src/features/balances/stacks/use-get-stacks-addresses.ts
  apps/mobile/src/queries/balance/stacks-balance.query.ts
  apps/mobile/src/queries/balance/total-balance.query.ts
  packages/stacks/src/signer/signer.ts
Due: stacks

chore: roll back stacks market data change as precision incorrect
  apps/mobile/src/queries/balance/stacks-balance.query.ts
Due: none

chore: add notes about STX balance for new market data service
  apps/mobile/src/queries/balance/bitcoin-balance.query.ts
  apps/mobile/src/queries/balance/stacks-balance.query.ts
  apps/mobile/src/queries/balance/total-balance.query.ts
  packages/services/src/market-data/market-data.service.ts
Due: none

chore: filter signers by fingerprint and get address using addressIndex
  apps/mobile/src/features/balances/stacks/mock-signers.ts
  apps/mobile/src/features/balances/stacks/use-get-stacks-addresses.ts
Due: none

fix: overwrite stacks signer accountIndex with derivationPath index
  apps/mobile/src/features/balances/stacks/mock-signers.ts
  packages/stacks/src/signer/signer.ts
Due: stacks

feat(models): sbtc testnet network
  packages/models/src/network/network.model.ts
Due: none

fix: correctly implement account indexes
  apps/mobile/src/features/balances/stacks/mock-signers.ts
  apps/mobile/src/queries/balance/stacks-balance.query.ts
  packages/stacks/src/signer/signer.ts
Due: stacks

fix: correctly implement account indexes
  apps/mobile/src/features/balances/stacks/use-get-stacks-addresses.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix: manage tokens toggle, closes (leather-io/extension#5974)
  apps/extension/src/app/components/crypto-asset-item/crypto-asset-item-toggle.tsx
  apps/extension/tests/specs/manage-tokens/manage-tokens.spec.ts
Due: none

ci: remove storybook publish
  apps/extension/.github/workflows/publish-storybook.yml
Due: none

fix: insufficient funds in send max btc flow
  apps/extension/src/app/common/transactions/bitcoin/fees/calculate-max-bitcoin-spend.ts
  apps/extension/src/app/common/transactions/bitcoin/utils.ts
  apps/extension/src/app/pages/send/send-crypto-asset-form/components/recipient-accounts-dialog/account-list-item.tsx
Due: none

fix: filter signers by account index to obtain address
  apps/mobile/src/features/balances/stacks/use-get-stacks-addresses.ts
Due: none

fix: ensure correct accountIndex is added to stacks signers
  packages/stacks/src/signer/signer.ts
Due: stacks

fix: roll back STX market data service to ensure price accuracy
  apps/mobile/src/queries/balance/stacks-balance.query.ts
  apps/mobile/src/queries/market-data/stx-market-data.query.ts
Due: none

fix: ensure correct accountIndex is added to stacks signers
  apps/mobile/src/features/balances/stacks/use-get-stacks-addresses.ts
Due: none

fix: refactor to cleanup accessing stacks signeraddresses
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/balances/stacks/use-get-stacks-addresses.ts
  apps/mobile/src/features/send/send-sheets/send-form-stx-sheet.tsx
  apps/mobile/src/queries/balance/total-balance.query.ts
  apps/mobile/src/store/keychains/stacks/stacks-keychains.read.spec.ts
  apps/mobile/src/store/keychains/stacks/stacks-keychains.read.ts
Due: none

fix: make mobile unit tests run in CI
  apps/mobile/package.json
  apps/mobile/src/queries/stacks/use-mempool-txs-balance.spec.ts
  apps/mobile/src/queries/stacks/use-transactions-with-transfers.query.spec.ts
  apps/mobile/src/store/keychains/stacks/stacks-keychains.write.spec.ts
Due: none

feat: add stx transfer fees default values
  packages/models/src/fees/fees.model.ts
  packages/query/src/common/remote-config/remote-config.query.ts
  packages/query/src/stacks/fees/fees.hooks.ts
  packages/query/src/stacks/fees/fees.utils.ts
Due: query

fix: go to account from accountsheet, add real balances and address ref LEA-1552
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/[account]/index.tsx
  apps/mobile/src/components/widgets/accounts/accounts-widget.tsx
  apps/mobile/src/features/account-selector-sheet.tsx
  apps/mobile/src/features/accounts/account-list/account-list-item.tsx
  apps/mobile/src/features/accounts/account-list/account-list.tsx
  apps/mobile/src/features/accounts/account-selector/account-selector-sheet.layout.tsx
  apps/mobile/src/features/accounts/account-selector/account-selector-sheet.tsx
  apps/mobile/src/features/accounts/components/account-address.tsx
  apps/mobile/src/features/accounts/components/account-balance.tsx
  apps/mobile/src/features/accounts/components/account-card.tsx
  apps/mobile/src/features/approver/components/approver-account-card.tsx
  apps/mobile/src/features/receive/receive-sheets/select-account.tsx
  apps/mobile/src/features/send/send-sheets/select-account-sheet.tsx
  apps/mobile/src/features/settings/wallet-and-accounts/wallet-card.tsx
Due: none

test: new sbtc network
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/tests/specs/settings/settings.spec.ts
Due: none

fix: support regtest address validation
  apps/extension/src/shared/rpc/methods/send-transfer.spec.ts
  apps/extension/src/shared/rpc/methods/send-transfer.ts
  apps/extension/src/shared/rpc/methods/sign-message.ts
  apps/extension/src/shared/rpc/methods/sign-psbt.ts
  apps/extension/src/shared/rpc/rpc-schemas.ts
Due: none

feat: add default set fees, closes (leather-io/extension#5930)
  apps/extension/config/wallet-config.json
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/tests/specs/send/send-stx.spec.ts
Due: none

feat: add mock alex prices
  apps/extension/tests/mocks/mock-alex-assets.ts
  apps/extension/tests/mocks/mock-apis.ts
  apps/extension/tests/specs/manage-tokens/manage-tokens.spec.ts
Due: none
