Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

fix(mobile): add specific loader for collectibles
  apps/mobile/src/features/token/bitcoin/inscription-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/components/collectible-loading.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): add seperate inscription details
  apps/mobile/src/features/activity/utils/make-activity-link.ts
  apps/mobile/src/features/collectibles/components/details-link.tsx
  apps/mobile/src/features/token/bitcoin/inscription-details.tsx
  apps/mobile/src/features/token/bitcoin/inscription-token-details.tsx
  apps/mobile/src/features/token/collectible.tsx
  apps/mobile/src/features/token/stacks/bns-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/features/token/stacks/sip9-token-details.tsx
  apps/mobile/src/features/token/stacks/use-get-hiro-explorer-link.ts
  apps/mobile/src/features/token/utils/is-bns.ts
  apps/mobile/src/features/token/utils/render-collectible-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/bns/bns.query.ts
  apps/mobile/src/shared/display-preference.ts
  packages/query/src/bitcoin/ordinals/inscription.utils.ts
Due: query

chore(mobile): add seperate SIP-9 details components
  apps/mobile/src/components/summary-table.tsx
  apps/mobile/src/features/collectibles/components/details-link.tsx
  apps/mobile/src/features/token/collectible.tsx
  apps/mobile/src/features/token/components/token-details-card.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/features/token/stacks/sip9-token-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

fix(mobile): use tokenId to distinguish sip-9 tokens
  apps/mobile/src/app/(tabs)/(index)/[assetProtocol]/[assetId]/index.tsx
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/collectibles/components/sip9.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/features/token/types.ts
Due: none

feat(mobile): add stamps details page including block height
  apps/mobile/src/features/token/bitcoin/inscription-token-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-token-details.tsx
  apps/mobile/src/features/token/collectible.tsx
  apps/mobile/src/features/token/stacks/bns-token-details.tsx
  apps/mobile/src/features/token/utils/render-collectible-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/models/src/assets/asset.model.ts
  packages/query/src/bitcoin/ordinals/inscription.utils.ts
  packages/services/src/assets/sip9-asset.utils.ts
  packages/services/src/collectibles/collectibles.service.ts
  packages/services/src/collectibles/collectibles.utils.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/ui/src/components/collectibles/native/bns.native.tsx
  packages/ui/src/components/collectibles/native/collectible-audio.native.tsx
Due: query

fix(mobile): make token descriptin expandable
  apps/mobile/src/features/token/bitcoin/inscription-token-details.tsx
  apps/mobile/src/features/token/components/collectible-loading.tsx
  apps/mobile/src/features/token/components/token-description.tsx
  apps/mobile/src/features/token/stacks/bns-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9-token-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): refactor - collectibles are tokens
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/token/bitcoin/inscription-token-details.tsx
  apps/mobile/src/features/token/bitcoin/inscription.tsx
  apps/mobile/src/features/token/bitcoin/stamp-token-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
  apps/mobile/src/features/token/components/details-link.tsx
  apps/mobile/src/features/token/components/empty-collectibles-state.tsx
  apps/mobile/src/features/token/components/fallback.tsx
  apps/mobile/src/features/token/components/loading.tsx
  apps/mobile/src/features/token/render-collectible.tsx
  apps/mobile/src/features/token/stacks/bns-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): refactor - collectibles are tokens
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/token/bitcoin/inscription-token-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-token-details.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
  apps/mobile/src/features/token/render-collectible.tsx
  apps/mobile/src/features/token/stacks/bns-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9-token-details.tsx
  apps/mobile/src/features/token/stacks/use-get-hiro-explorer-link.ts
Due: none

chore(mobile): refactor - collectibles are tokens
  apps/mobile/src/features/token/hooks/use-get-hiro-explorer-link.ts
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

fix: remove loose object zod definitions from rpc results
  apps/mobile/src/features/browser/approver-sheet/sign-message/bip322-signer.ts
  packages/rpc/src/methods/bitcoin/sign-message.ts
  packages/rpc/src/methods/get-addresses.ts
Due: none

feat(mobile): add swap network fee retrieval
  apps/mobile/src/features/swap/swap-state/actions/swap-actions.ts
  apps/mobile/src/features/swap/swap-state/hooks/use-network-fee.ts
  apps/mobile/src/features/swap/swap-state/strategies/execution-type/build-transaction/build-transaction/build-sbtc-bridge-transfer-tx.ts
  apps/mobile/src/features/swap/swap-state/strategies/execution-type/execution-type.ts
  apps/mobile/src/features/swap/swap-state/strategies/protocol/protocol.ts
  apps/mobile/src/features/swap/swap-state/strategies/transform-transaction-fees.ts
  apps/mobile/src/features/swap/swap-state/swap-state.reducer.ts
  apps/mobile/src/features/swap/swap-state/swap-state.types.ts
  apps/mobile/src/features/swap/swap-state/swap.queries.ts
  apps/mobile/src/features/swap/swap-state/test-utils/services.stub.ts
  apps/mobile/src/features/swap/swap-state/use-swap-state.spec.ts
  apps/mobile/src/features/swap/swap-state/use-swap-state.ts
  apps/mobile/src/features/swap/swap-state/validation/swap-validation.spec.ts
  apps/mobile/src/features/swap/swap.tsx
  packages/services/src/index.ts
Due: none

feat(mobile): correctly calculate swap spendable amounts
  apps/mobile/src/features/swap/swap-state/actions/swap-actions.ts
  apps/mobile/src/features/swap/swap-state/hooks/use-is-sending-max.ts
  apps/mobile/src/features/swap/swap-state/strategies/protocol/protocol.ts
  apps/mobile/src/features/swap/swap-state/swap-state.reducer.ts
  apps/mobile/src/features/swap/swap-state/swap-state.types.ts
  apps/mobile/src/features/swap/swap-state/swap.constants.ts
  apps/mobile/src/features/swap/swap-state/utils/amount-operations.ts
  apps/mobile/src/features/swap/swap-state/utils/protocol-operations.ts
  apps/mobile/src/features/swap/swap-state/validation/swap-validation.spec.ts
  apps/mobile/src/features/swap/swap-state/validation/swap-validation.ts
Due: none

feat(ui): add slidePair animation preset
  packages/ui/native.ts
  packages/ui/src/animations/slide-pair.native.ts
Due: none

feat(mobile): move swap amount error message into amount field
  apps/mobile/src/features/swap/components/amount-field/amount-field-error-messages.ts
  apps/mobile/src/features/swap/components/amount-field/amount-field-error.tsx
  apps/mobile/src/features/swap/components/amount-field/amount-field.tsx
  apps/mobile/src/features/swap/components/error-message.tsx
  apps/mobile/src/features/swap/screens/swap-form-screen.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

fix: add network to analytics in mobile
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/hooks/use-update-analytics-plugin.ts
  apps/mobile/src/utils/analytics-plugins.ts
  apps/mobile/src/utils/analytics.ts
Due: none

fix: subsequent approver requests + signMessage response
  apps/mobile/src/core/global-sheet-provider.tsx
  apps/mobile/src/features/browser/approver-sheet/approver-sheet.tsx
  apps/mobile/src/features/browser/approver-sheet/browser-approver.tsx
  apps/mobile/src/features/browser/approver-sheet/sign-message/bip322-signer.ts
  apps/mobile/src/features/browser/browser/browser.tsx
Due: none

fix(mobile): create SIP-9 assetId as unique identifier needed
  apps/mobile/src/features/collectibles/components/sip9.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  packages/utils/src/assets/asset-id.ts
Due: utils

chore(cms): convert string -> text type for better markdown editing
  packages/cms/src/studio/schema-types/post-type.ts
Due: none

chore(mobile): refactor - use serialized assetId to route collectibles
  apps/mobile/src/app/(tabs)/(index)/[assetProtocol]/[assetId]/index.tsx
  apps/mobile/src/features/collectibles/collectibles-list.tsx
  apps/mobile/src/features/collectibles/components/inscription.tsx
  apps/mobile/src/features/collectibles/components/sip9.tsx
  apps/mobile/src/features/collectibles/components/stamp.tsx
  apps/mobile/src/features/collectibles/render-collectible.tsx
  apps/mobile/src/features/token/bitcoin/inscription-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/features/token/types.ts
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/collectibles/account-collectibles.query.ts
  packages/utils/src/assets/asset-id.ts
Due: utils

chore(mobile): refactor token details to use serialized asset ID in routing
  apps/mobile/src/app/(tabs)/(index)/[assetProtocol]/[assetId]/index.tsx
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/balances/assets/assets-list.tsx
  apps/mobile/src/features/balances/assets/render-assets.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/collectibles/collectibles-list.tsx
  apps/mobile/src/features/collectibles/components/inscription.tsx
  apps/mobile/src/features/collectibles/components/sip9.tsx
  apps/mobile/src/features/collectibles/components/stamp.tsx
  apps/mobile/src/features/collectibles/render-collectible.tsx
  apps/mobile/src/features/feature-flags/index.ts
  apps/mobile/src/features/token/bitcoin/inscription-details.tsx
  apps/mobile/src/features/token/bitcoin/rune-token-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/features/token/types.ts
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/balance/runes-balance.query.ts
  apps/mobile/src/queries/collectibles/account-collectibles.query.ts
Due: none

feat(mobile): implement collectible details UI
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/components/summary-table.tsx
  apps/mobile/src/features/activity/utils/make-activity-link.ts
  apps/mobile/src/features/collectibles/render-collectible.tsx
  apps/mobile/src/features/settings/account-identifier-sheet.tsx
  apps/mobile/src/features/token/bitcoin/inscription-details.tsx
  apps/mobile/src/features/token/bitcoin/inscription-token-details.tsx
  apps/mobile/src/features/token/bitcoin/inscription.tsx
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-token-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp.tsx
  apps/mobile/src/features/token/collectible.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
  apps/mobile/src/features/token/components/collectible-loading.tsx
  apps/mobile/src/features/token/components/details-link.tsx
  apps/mobile/src/features/token/components/empty-collectibles-state.tsx
  apps/mobile/src/features/token/components/fallback.tsx
  apps/mobile/src/features/token/components/loading.tsx
  apps/mobile/src/features/token/components/token-description.tsx
  apps/mobile/src/features/token/components/token-details-card.tsx
  apps/mobile/src/features/token/hooks/use-get-hiro-explorer-link.ts
  apps/mobile/src/features/token/stacks/bns-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/features/token/stacks/sip9-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9.tsx
  apps/mobile/src/features/token/utils/is-bns.ts
  apps/mobile/src/features/token/utils/render-collectible-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/bns/bns.query.ts
  apps/mobile/src/shared/display-preference.ts
  packages/models/src/assets/asset.model.ts
  packages/models/src/assets/sip9-asset.model.ts
  packages/models/src/bns.model.ts
  packages/services/src/assets/sip9-asset.utils.ts
  packages/services/src/bns/bns.utils.ts
  packages/services/src/collectibles/collectibles.service.ts
  packages/services/src/collectibles/collectibles.utils.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/ui/src/components/collectibles/native/bns.native.tsx
  packages/ui/src/components/collectibles/native/collectible-audio.native.tsx
Due: none

refactor(web): layout changes with new homepage
  apps/web/app/app.tsx
  apps/web/app/components/apy-hero-card.tsx
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/features/stacking/start-liquid-stacking/start-liquid-stacking.tsx
  apps/web/app/features/stacking/start-pooled-stacking/start-pooled-stacking.tsx
  apps/web/app/layouts/footer/footer.layout.tsx
  apps/web/app/layouts/footer/footer.tsx
  apps/web/app/layouts/nav/nav-item.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/layouts/page/page.tsx
  apps/web/app/pages/help-center/category-guides/category-guides.route.tsx
  apps/web/app/pages/help-center/help-center.tsx
  apps/web/app/pages/sbtc/sbtc-rewards.tsx
  packages/ui/src/components/button/button.web.tsx
Due: none

fix(mobile): bugfix token routing,update CryptoAssetId to account for SIP-9
  packages/models/src/assets/asset-id.model.ts
  packages/utils/src/assets/asset-id.ts
Due: utils

chore(mobile): merge collectibles and tokens
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/token/bitcoin/inscription-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
  apps/mobile/src/features/token/components/empty-collectibles-state.tsx
  apps/mobile/src/features/token/components/fallback.tsx
  apps/mobile/src/features/token/components/inscription.tsx
  apps/mobile/src/features/token/components/loading.tsx
  apps/mobile/src/features/token/render-collectible.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/features/token/stacks/sip9.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

feat(web): add open graph image
  apps/web/app/constants/meta-tags.ts
  apps/web/public/images/leather-og.png
Due: none

chore(mobile): refactor to flatten token routing structure
  apps/mobile/src/app/(tabs)/(index)/[assetId]/index.tsx
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/balances/assets/assets-list.tsx
  apps/mobile/src/features/balances/assets/render-assets.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/token/bitcoin/stamp.tsx
  apps/mobile/src/features/token/components/inscription.tsx
  apps/mobile/src/features/token/stacks/sip9.tsx
  apps/mobile/src/features/token/types.ts
  packages/utils/src/assets/asset-id.ts
Due: utils

refactor(web): fix dropdown, address feedback
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  packages/ui/src/components/dropdown-menu/dropdown-menu.web.tsx
Due: none

feat: add regtest mempool api support to services
  packages/bitcoin/src/utils/bitcoin.descriptors.ts
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/api/mempool/mempool-api.client.ts
  packages/services/src/infrastructure/api/mempool/mempool-api.schema.ts
  packages/services/src/infrastructure/api/mempool/mempool-api.utils.ts
  packages/services/src/infrastructure/cache/http-cache.config.ts
  packages/services/src/infrastructure/settings/settings.selectors.spec.ts
  packages/services/src/infrastructure/settings/settings.selectors.ts
  packages/services/src/transactions/bitcoin-transactions.service.spec.ts
  packages/services/src/transactions/bitcoin-transactions.service.ts
  packages/services/src/transactions/bitcoin-transactions.utils.ts
  packages/services/src/utxos/utxos.service.ts
  packages/services/src/utxos/utxos.utils.spec.ts
  packages/services/src/utxos/utxos.utils.ts
Due: bitcoin

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
