Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

chore: move bitcoin-address to models to avoid circular dependency, ref LEA-1647
  apps/mobile/src/features/psbt-signer/psbt-signer.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/validation/btc.validation.ts
  packages/bitcoin/src/bip322/sign-message-bip322-bitcoinjs.ts
  packages/bitcoin/src/bip322/sign-message-bip322.spec.ts
  packages/bitcoin/src/coin-selection/calculate-max-spend.spec.ts
  packages/bitcoin/src/coin-selection/calculate-max-spend.ts
  packages/bitcoin/src/coin-selection/coin-selection.spec.ts
  packages/bitcoin/src/coin-selection/coin-selection.ts
  packages/bitcoin/src/index.ts
  packages/bitcoin/src/mocks/mocks.ts
  packages/bitcoin/src/psbt/psbt-details.ts
  packages/bitcoin/src/psbt/psbt-inputs.ts
  packages/bitcoin/src/psbt/psbt-outputs.ts
  packages/bitcoin/src/psbt/psbt-totals.ts
  packages/bitcoin/src/signer/bitcoin-signer.ts
  packages/bitcoin/src/transactions/generate-unsigned-transaction.ts
  packages/bitcoin/src/utils/bitcoin.utils.spec.ts
  packages/bitcoin/src/utils/bitcoin.utils.ts
  packages/bitcoin/src/utils/lookup-derivation-by-address.spec.ts
  packages/bitcoin/src/utils/lookup-derivation-by-address.ts
  packages/bitcoin/src/validation/address-validation.spec.ts
  packages/bitcoin/src/validation/address-validation.ts
  packages/bitcoin/src/validation/transaction-validation.spec.ts
  packages/bitcoin/src/validation/transaction-validation.ts
  packages/bitcoin/tsconfig.json
  packages/models/package.json
  packages/models/src/crypto-assets/bitcoin/bitcoin-address.ts
  packages/models/src/crypto-assets/bitcoin/bitcoin-error.ts
  packages/models/src/crypto-assets/bitcoin/bitcoin-unit.model.ts
  packages/models/src/index.ts
  packages/query/src/bitcoin/ordinals/brc20/brc20-tokens.query.ts
  pnpm-lock.yaml
Due: bitcoin, query

chore: move BitcoinAddress to models to avoid circular dependency problems
  packages/bitcoin/src/bip322/sign-message-bip322-bitcoinjs.ts
  packages/bitcoin/src/coin-selection/calculate-max-spend.ts
  packages/bitcoin/src/psbt/psbt-details.ts
  packages/bitcoin/src/psbt/psbt-inputs.ts
  packages/bitcoin/src/psbt/psbt-outputs.ts
  packages/bitcoin/src/psbt/psbt-totals.ts
  packages/bitcoin/src/signer/bitcoin-signer.ts
  packages/bitcoin/src/utils/bitcoin.utils.ts
  packages/bitcoin/src/utils/lookup-derivation-by-address.ts
  packages/bitcoin/src/validation/bitcoin-address.ts
  packages/bitcoin/src/validation/transaction-validation.ts
  packages/models/src/crypto-assets/bitcoin/bitcoin.model.ts
  packages/models/src/index.ts
  packages/query/src/bitcoin/ordinals/brc20/brc20-tokens.query.ts
Due: bitcoin, query

fix: mobile stacks network
  apps/mobile/src/store/settings/settings.read.ts
Due: none

fix: request params
  packages/rpc/src/index.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: bitcoin, query

chore: remove log
  .easignore
  .github/actions/build-android/action.yml
  .github/actions/build-ios/action.yml
  .github/actions/eas-deploy-ios/action.yml
  .github/actions/previous-mobile-tag/action.yml
  .github/actions/provision/action.yml
  .github/actions/setup-fastlane/action.yml
  .github/workflows/mobile-beta-builds.yml
  .github/workflows/mobile-preview-builds.yml
  .github/workflows/release-please.yml
  .github/workflows/update-mobile-versions.yml
  apps/mobile/.gitignore
  apps/mobile/android/app/build.gradle
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/app.config.js
  apps/mobile/eas.json
  apps/mobile/fastlane/Appfile
  apps/mobile/fastlane/Fastfile
  apps/mobile/fastlane/Gemfile
  apps/mobile/fastlane/Gemfile.lock
  apps/mobile/fastlane/Matchfile
  apps/mobile/fastlane/Pluginfile
  apps/mobile/fastlane/README.md
  apps/mobile/fastlane/android/fastlane/Fastfile
  apps/mobile/fastlane/ios/fastlane/Fastfile
  apps/mobile/fastlane/shared/Fastfile
  apps/mobile/fastlane/test-release-please.sh
  apps/mobile/ios/leatherwalletmobile/Info.plist
  apps/mobile/package.json
Due: none

fix: add rpc types for sip9 transfers
  packages/provider/src/add-leather-to-providers.ts
  packages/rpc/src/index.ts
  packages/rpc/src/methods/stacks/stx-transfer-sip9-nft.ts
Due: none

fix(rpc): optional signPsbt params
  packages/rpc/src/methods/bitcoin/sign-psbt.ts
Due: none

feat: change fee estimation logic, LEA-1760
  packages/query/src/common/remote-config/remote-config.query.ts
  packages/query/src/common/remote-config/remote-config.types.ts
  packages/query/src/stacks/fees/fees.hooks.ts
  packages/query/src/stacks/fees/fees.utils.spec.ts
  packages/query/src/stacks/fees/fees.utils.ts
Due: query

fix(rpc): upgrade signer libs
  apps/mobile/package.json
  apps/web/app/routes/docs.tsx
  packages/bitcoin/package.json
  packages/crypto/package.json
  packages/provider/package.json
  packages/query/package.json
  packages/rpc/package.json
  packages/stacks/package.json
  pnpm-lock.yaml
Due: bitcoin, query, crypto, stacks

chore: add precision checks to stacks and btc
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/send/send-form/validation/btc.validation.ts
  apps/mobile/src/features/send/send-form/validation/stx.validation.ts
  packages/bitcoin/src/validation/bitcoin-error.ts
  packages/bitcoin/src/validation/transaction-validation.spec.ts
  packages/models/src/index.ts
  packages/models/src/transactions/transaction-error.model.ts
  packages/stacks/src/validation/stacks-error.ts
  packages/stacks/src/validation/transaction-validation.spec.ts
  packages/stacks/src/validation/transaction-validation.ts
  packages/utils/src/money/index.ts
  packages/utils/src/money/is-valid-precision.spec.ts
  packages/utils/src/money/is-valid-precision.ts
Due: bitcoin, utils, stacks

fix: fix error calculating available spend amount
  apps/mobile/src/features/send/send-form/loaders/send-form-btc-loader.tsx
  packages/bitcoin/src/coin-selection/calculate-max-spend.ts
  packages/bitcoin/src/validation/amount-validation.spec.ts
  packages/bitcoin/src/validation/amount-validation.ts
  packages/bitcoin/src/validation/transaction-validation.spec.ts
  packages/bitcoin/src/validation/transaction-validation.ts
  packages/stacks/src/validation/transaction-validation.spec.ts
  packages/stacks/src/validation/transaction-validation.ts
Due: bitcoin, stacks

fix: fix error asserting minimum spend amount
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/send/send-form/loaders/send-form-btc-loader.tsx
  packages/bitcoin/src/coin-selection/calculate-max-spend.ts
  packages/bitcoin/src/validation/amount-validation.spec.ts
  packages/bitcoin/src/validation/amount-validation.ts
  packages/bitcoin/src/validation/transaction-validation.spec.ts
  packages/stacks/src/validation/transaction-validation.ts
Due: bitcoin, stacks

fix: add wallet sheet image bg color
  apps/mobile/src/components/add-wallet/add-wallet-sheet.layout.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
Due: bitcoin, query, crypto, stacks

feat: stx transfer sip10 ft, closes LEA-1962
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/authentication/use-finish-auth-request.ts
  apps/extension/src/app/common/hooks/account/use-switch-account.ts
  apps/extension/src/app/common/hooks/use-key-actions.ts
  apps/extension/src/app/common/transactions/stacks/generate-unsigned-txs.spec.ts
  apps/extension/src/app/common/transactions/stacks/generate-unsigned-txs.ts
  apps/extension/src/app/features/ledger/flows/jwt-signing/ledger-sign-jwt-container.tsx
  apps/extension/src/app/pages/rpc-stx-transfer-sip10-ft/rpc-stx-transfer-sip10-ft.tsx
  apps/extension/src/app/routes/hooks/use-on-change-account.ts
  apps/extension/src/app/routes/rpc-routes.tsx
  apps/extension/src/app/store/transactions/token-transfer.hooks.ts
  apps/extension/src/app/store/transactions/transaction.hooks.ts
  apps/extension/src/background/messaging/internal-methods/message-handler.ts
  apps/extension/src/background/messaging/rpc-message-handler.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip10-ft.ts
  apps/extension/src/shared/messages.ts
  apps/extension/src/shared/route-urls.ts
  apps/extension/src/shared/utils/legacy-requests.ts
  apps/extension/src/shared/utils/post-conditions.ts
Due: none

ci: ensure all checks pass
  apps/extension/.github/workflows/all-checks-pass.yml
Due: none

feat: use leather provider
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/inpage/add-leather-to-providers.ts
  apps/extension/src/inpage/inpage.ts
  apps/extension/src/shared/inpage-types.ts
Due: none

fix: failing onboarding integration test
  apps/extension/tests/page-object-models/onboarding.page.ts
Due: none

fix: update fn arg serialization, closes LEA-2166
  apps/extension/src/background/messaging/rpc-methods/stx-sign-transaction.ts
Due: none

refactor: use stacks descriptor
  apps/extension/src/app/common/authentication/use-finish-auth-request.ts
  apps/extension/src/app/common/hooks/account/use-switch-account.ts
  apps/extension/src/app/common/hooks/use-key-actions.ts
  apps/extension/src/app/components/loaders/stacks-account-loader.tsx
  apps/extension/src/app/features/container/container.tsx
  apps/extension/src/app/features/ledger/flows/jwt-signing/ledger-sign-jwt-container.tsx
  apps/extension/src/app/routes/hooks/use-on-change-account.ts
  apps/extension/src/app/store/chains/stx-chain.actions.ts
  apps/extension/src/app/store/chains/stx-chain.selectors.ts
  apps/extension/src/app/store/chains/stx-chain.slice.ts
  apps/extension/src/app/store/software-keys/software-key.actions.ts
  apps/extension/src/background/get-root-state.ts
  apps/extension/src/background/messaging/internal-methods/message-handler.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip10-ft.ts
  apps/extension/src/shared/messages.ts
  apps/extension/tests/page-object-models/onboarding.page.ts
Due: none

chore(release): 6.64.0
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

chore: bump mobile iOS / Android versions to 2.2.0
  apps/mobile/android/app/build.gradle
  apps/mobile/app.config.js
  apps/mobile/ios/leatherwalletmobile/Info.plist
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
Due: bitcoin, query, stacks

fix(query): add refetch interval stacks balances, ref leather-io/extension#5965
  packages/query/src/stacks/balance/account-balance.query.ts
Due: query

fix: add stacks readme.md
  packages/stacks/README.md
Due: stacks

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
