Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

chore: wip - load balances
  apps/mobile/package.json
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/scripts/injected-provider.js
  packages/query/package.json
  packages/query/src/common/balance/btc-balance-native-segwit.hooks.ts
  packages/query/src/common/balance/native-segwit-account.hooks.ts
  packages/query/src/common/balance/use-total-balance.hooks.ts
  packages/query/src/rate-limiter/queue-class.ts
  packages/query/src/stacks/balance/account-balance.query.ts
  packages/query/src/stacks/bns/bns.utils.ts
  packages/query/src/stacks/mempool/mempool.query.ts
  packages/query/src/stacks/nonce/account-nonces.query.ts
  packages/query/src/stacks/stacks-client.ts
  packages/query/src/stacks/stx20/stx20-tokens.query.ts
  packages/query/src/stacks/token-metadata/fungible-tokens/fungible-token-metadata.query.ts
  packages/query/src/stacks/token-metadata/non-fungible-tokens/non-fungible-token-holdings.query.ts
  packages/query/src/stacks/token-metadata/non-fungible-tokens/non-fungible-token-metadata.query.ts
  packages/query/src/stacks/transactions/raw-transaction-by-id.query.ts
  packages/query/src/stacks/transactions/transactions-by-id.query.ts
  packages/query/src/stacks/transactions/transactions-with-transfers.query.ts
  packages/query/tsconfig.json
  pnpm-lock.yaml
Due: query

feat: add all icons story
  packages/ui/src/icons/all-icons.web.stories.tsx
Due: none

fix: ensure Android builds and runs locally, closes LEA-1522
  apps/mobile/android/app/src/main/ic_launcher-playstore.png
  apps/mobile/android/app/src/main/res/drawable/ic_launcher_background.xml
  apps/mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  apps/mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  apps/mobile/android/app/src/main/res/xml/network_security_config.xml
  pnpm-lock.yaml
Due: none

feat: locked screen + updated splashscreens
  apps/mobile/app.json
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/leatherwalletmobile.xcodeproj/project.pbxproj
  apps/mobile/ios/leatherwalletmobile/Images.xcassets/SplashScreen.imageset/Contents.json
  apps/mobile/ios/leatherwalletmobile/Images.xcassets/SplashScreen.imageset/dark_image.png
  apps/mobile/ios/leatherwalletmobile/Images.xcassets/SplashScreen.imageset/image.png
  apps/mobile/ios/leatherwalletmobile/Images.xcassets/SplashScreenBackground.imageset/Contents.json
  apps/mobile/ios/leatherwalletmobile/Images.xcassets/SplashScreenBackground.imageset/dark_image.png
  apps/mobile/ios/leatherwalletmobile/Images.xcassets/SplashScreenBackground.imageset/image.png
  apps/mobile/ios/leatherwalletmobile/Info.plist
  apps/mobile/ios/leatherwalletmobile/leatherwalletmobile.entitlements
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/assets/dark-mode-splash.png
  apps/mobile/src/assets/light-mode-splash.png
  apps/mobile/src/assets/lottie-locked-splash-screen-dark.json
  apps/mobile/src/assets/lottie-locked-splash-screen-light.json
  apps/mobile/src/assets/lottie-splash-screen-dark.json
  apps/mobile/src/assets/lottie-splash-screen-light.json
  apps/mobile/src/assets/splash.png
  apps/mobile/src/components/animations/leather-locked-splash.tsx
  apps/mobile/src/components/animations/leather-splash.tsx
  apps/mobile/src/components/splash-screen-guard/splash-screen-guard.tsx
  apps/mobile/src/hooks/app-state.ts
  apps/mobile/src/locales/index.ts
  packages/ui/src/components/button/button.native.tsx
  pnpm-lock.yaml
Due: none

ci: fix e2e test
  apps/mobile/maestro/flows/restore-wallet.yaml
Due: none

chore: filthy WIP
  apps/mobile/package.json
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  packages/query/package.json
  packages/query/src/stacks/stacks-client.ts
  pnpm-lock.yaml
Due: query

fix: account sheet animation
  apps/mobile/src/components/widgets/accounts/sheets/add-account-sheet.layout.tsx
Due: none

chore: remove un-needed p-queue package, ref LEA-1500
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
Due: none

chore: temp add generated types
  packages/query/index.d.ts
  packages/query/index.d.ts.map
  packages/query/test/mock-btc-txs.d.ts
  packages/query/test/mock-btc-txs.d.ts.map
  packages/query/test/mock-inscriptions.d.ts
  packages/query/test/mock-inscriptions.d.ts.map
  packages/query/test/mock-utxos.d.ts
  packages/query/test/mock-utxos.d.ts.map
  packages/query/types/api-types.d.ts
  packages/query/types/api-types.d.ts.map
  packages/query/types/inscription.d.ts
  packages/query/types/inscription.d.ts.map
  packages/query/types/remote-config.d.ts
  packages/query/types/remote-config.d.ts.map
  packages/query/types/utxo.d.ts
  packages/query/types/utxo.d.ts.map
Due: query

fix: mobile headers, closes LEA-628
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/receive.tsx
  apps/mobile/src/app/(home)/send.tsx
  apps/mobile/src/app/(home)/settings/notifications/_layout.tsx
  apps/mobile/src/app/(home)/swap.tsx
  apps/mobile/src/components/headers/account.tsx
  apps/mobile/src/components/headers/components/header-back-button.tsx
  apps/mobile/src/components/headers/components/header-leather-logo.tsx
  apps/mobile/src/components/headers/components/header-options.tsx
  apps/mobile/src/components/headers/components/header-title.tsx
  apps/mobile/src/components/headers/containers/blurred-header.tsx
  apps/mobile/src/components/headers/containers/header-avoiding-container.tsx
  apps/mobile/src/components/headers/containers/simple-header.tsx
  apps/mobile/src/components/headers/header.layout.tsx
  apps/mobile/src/components/headers/home-header.tsx
  apps/mobile/src/components/headers/menu.tsx
  apps/mobile/src/components/headers/naked-header.tsx
  apps/mobile/src/components/headers/tabs-header.tsx
  apps/mobile/src/components/headers/title-header.tsx
  apps/mobile/src/components/network-badge.tsx
  apps/mobile/src/components/tab-bar.tsx
  apps/mobile/src/features/settings/account-identifier-sheet.tsx
  apps/mobile/src/shared/constants.ts
  packages/ui/src/components/cell/cell.native.tsx
Due: none

fix: fonts
  apps/mobile/app.json
  apps/mobile/ios/leatherwalletmobile.xcodeproj/project.pbxproj
  apps/mobile/ios/leatherwalletmobile/Info.plist
  packages/tokens/src/typography.ts
  packages/ui/app.json
  packages/ui/src/assets-native/fonts/MarchePro-Super.otf
Due: none

fix: network badge, closes LEA-1531
  apps/mobile/src/components/network-badge.tsx
Due: none

ci: add support for Android builds
  .github/actions/eas-deploy-android/action.yml
  .github/actions/eas-deploy-ios/action.yml
  .github/workflows/eas-deploy.yml
  .github/workflows/release-please.yml
  apps/mobile/android/app/build.gradle
  apps/mobile/eas.json
Due: none

feat: add testnet4 config, ref LEA-1406
  packages/bitcoin/src/bitcoin.utils.ts
  packages/models/src/network/network.model.ts
  packages/query/src/bitcoin/bitcoin-rate-limiter.ts
Due: bitcoin, query

feat: load stx data in account page
  apps/mobile/metro.config.cjs
  apps/mobile/package.json
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/scripts/injected-provider.js
  apps/mobile/src/shared/constants.ts
  apps/mobile/src/shared/environment.ts
  packages/query/package.json
  packages/query/src/rate-limiter/queue-class.ts
  packages/query/src/stacks/contract/contract.query.ts
  pnpm-lock.yaml
Due: query

feat: load stx data in account page
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/app-router.tsx
  apps/mobile/src/app/leather-query-provider.tsx
  apps/mobile/src/app/theme-provider.tsx
  apps/mobile/src/components/widgets/tokens/index.ts
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
  apps/mobile/src/mocks/tokens.mocks.tsx
Due: none

feat: load stx data in account page
  apps/mobile/src/shared/constants.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat: sum stx data on home page
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/components/widgets/accounts/accounts-widget.tsx
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.tsx
  apps/mobile/src/hooks/balances/use-stx-balances.ts
  apps/mobile/src/hooks/balances/use-total-balance.ts
Due: none

fix: issue with testnet4 config
  packages/models/src/network/network.model.ts
  packages/models/src/network/network.schema.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

ci: fix tests that rely on security passcode
  apps/mobile/maestro/shared/clean-up.yaml
  apps/mobile/maestro/shared/unlock.yaml
Due: none

feat: header privacy toggle, closes LEA-611
  apps/mobile/src/components/balance/balance.tsx
  apps/mobile/src/components/headers/components/header-options.tsx
  apps/mobile/src/components/private-text.tsx
  packages/ui/src/assets/icons/eye-1-16-16.svg
  packages/ui/src/assets/icons/eye-1-24-24.svg
  packages/ui/src/assets/icons/eye-1-closed-16-16.svg
  packages/ui/src/assets/icons/eye-1-closed-24-24.svg
Due: none

feat: reset store if zod validation fails
  apps/mobile/src/app/(home)/settings/networks/index.tsx
  apps/mobile/src/app/(home)/settings/security/index.tsx
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/index.tsx
  apps/mobile/src/components/wallet-manager/wallets.tsx
  apps/mobile/src/components/widgets/accounts/accounts-widget.tsx
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.layout.tsx
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.tsx
  apps/mobile/src/features/settings/theme-sheet.tsx
  apps/mobile/src/mocks/account.mocks.tsx
  apps/mobile/src/store/accounts/accounts.read.ts
  apps/mobile/src/store/accounts/accounts.ts
  apps/mobile/src/store/accounts/accounts.write.ts
  apps/mobile/src/store/accounts/utils.ts
  apps/mobile/src/store/global-action.ts
  apps/mobile/src/store/index.ts
  apps/mobile/src/store/keychains/bitcoin/bitcoin-keychains.read.ts
  apps/mobile/src/store/keychains/bitcoin/bitcoin-keychains.write.ts
  apps/mobile/src/store/keychains/bitcoin/utils.ts
  apps/mobile/src/store/keychains/stacks/stacks-keychains.write.ts
  apps/mobile/src/store/keychains/stacks/utils.ts
  apps/mobile/src/store/settings/settings.ts
  apps/mobile/src/store/settings/settings.write.ts
  apps/mobile/src/store/settings/utils.ts
  apps/mobile/src/store/storage-persistors.ts
  apps/mobile/src/store/utils.ts
  apps/mobile/src/store/wallets/utils.ts
  apps/mobile/src/store/wallets/wallets.read.ts
  apps/mobile/src/store/wallets/wallets.write.ts
  apps/mobile/src/utils/when-theme.ts
Due: none
