Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

fix: psbt error and controller handling
  apps/mobile/src/features/send/send-form.utils.ts
  apps/mobile/src/features/send/send-form/components/send-form-amount-field.tsx
  apps/mobile/src/features/send/send-form/components/send-form-button.tsx
  apps/mobile/src/features/send/send-form/components/send-form-numpad.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/schemas/send-form-btc.schema.ts
  apps/mobile/src/features/send/send-form/sheets/memo-sheet.tsx
  apps/mobile/src/features/send/send-form/sheets/recipient-sheet.tsx
  apps/mobile/src/features/send/send-sheets/send-form-btc-sheet.tsx
  packages/bitcoin/src/bitcoin-error.ts
  packages/bitcoin/src/coin-selection/coin-selection.ts
  packages/bitcoin/src/transactions/generate-unsigned-transaction.spec.ts
  packages/bitcoin/src/transactions/generate-unsigned-transaction.ts
Due: bitcoin

fix: styles for inscription options
  apps/extension/src/app/features/collectibles/components/bitcoin/inscription.tsx
  apps/extension/src/app/query/bitcoin/ordinals/inscriptions/inscriptions.query.ts
  apps/extension/src/app/store/accounts/blockchain/bitcoin/bitcoin.hooks.ts
  apps/extension/tests/specs/ledger/ledger.spec.ts
Due: none

feat: granular utxo protection feature
  apps/extension/src/app/common/hooks/balance/use-balances.tsx
  apps/extension/src/app/common/hooks/use-hover-with-children.ts
  apps/extension/src/app/components/account-total-balance.tsx
  apps/extension/src/app/debug.ts
  apps/extension/src/app/features/collectibles/components/bitcoin/high-sat-value-utxo.tsx
  apps/extension/src/app/features/collectibles/components/bitcoin/inscription-text.tsx
  apps/extension/src/app/features/collectibles/components/bitcoin/inscription.tsx
  apps/extension/src/app/features/collectibles/components/bitcoin/ordinals.tsx
  apps/extension/src/app/features/collectibles/components/collectible-item.layout.tsx
  apps/extension/src/app/features/discarded-inscriptions/use-inscribed-spendable-utxos.ts
  apps/extension/src/app/pages/home/home.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/btc/btc-send-form-confirmation.tsx
  apps/extension/src/app/query/bitcoin/address/utxos-by-address.hooks.ts
  apps/extension/src/app/query/bitcoin/balance/btc-balance-native-segwit.hooks.ts
  apps/extension/src/app/query/bitcoin/ordinals/inscriptions/inscriptions.query.ts
  apps/extension/src/app/store/accounts/blockchain/bitcoin/bitcoin.hooks.ts
  apps/extension/src/app/store/settings/settings.selectors.ts
  apps/extension/src/app/store/settings/settings.slice.ts
  apps/extension/src/app/ui/components/account/account.card.stories.tsx
  apps/extension/src/app/ui/components/account/account.card.tsx
  apps/extension/tests/page-object-models/onboarding.page.ts
  apps/extension/tests/specs/ledger/ledger.spec.ts
Due: none

feat: add sip10s to account total balance
  apps/extension/config/wallet-config.json
  apps/extension/src/app/common/hooks/balance/use-sip10-balance.tsx
  apps/extension/src/app/common/hooks/balance/use-total-balance.tsx
Due: none

chore(release): 6.57.0
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

fix: issue with zindex over iframe inscriptions
  apps/extension/src/app/features/collectibles/components/bitcoin/inscription.tsx
Due: none

fix: account addresses separator
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/components/account/account-addresses.tsx
  apps/extension/src/app/components/loaders/bitcoin-account-loader.tsx
  apps/extension/src/app/components/loaders/stacks-account-loader.tsx
  apps/extension/src/app/features/asset-list/_components/connect-ledger-asset-button.tsx
Due: none

fix: brc20 query logic
  packages/query/src/bitcoin/ordinals/brc20/brc20-tokens.query.ts
Due: query

fix: avaliable balance tooltip
  apps/extension/src/app/ui/components/account/account.card.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: bitcoin, query

fix: utxo protection dropdown
  apps/extension/src/app/features/collectibles/components/bitcoin/inscription.tsx
  apps/extension/src/app/ui/components/account/account.card.tsx
Due: none

chore(release): 6.58.0
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

feat: stacks fee selection
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/components/action-bar/action-bar-container.tsx
  apps/mobile/src/features/approver/components/fee-options.tsx
  apps/mobile/src/features/approver/components/fees/base-fee-card.tsx
  apps/mobile/src/features/approver/components/fees/base-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-card.tsx
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-sheet.tsx
  apps/mobile/src/features/approver/components/fees/fee-sheet.layout.tsx
  apps/mobile/src/features/approver/components/fees/stacks-fee-card.tsx
  apps/mobile/src/features/approver/components/fees/stacks-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/stacks-fee-sheet.tsx
  apps/mobile/src/features/approver/components/memo-card.tsx
  apps/mobile/src/features/approver/components/memo-sheet.tsx
  apps/mobile/src/features/approver/components/nonce-card.tsx
  apps/mobile/src/features/approver/components/nonce-sheet.tsx
  apps/mobile/src/features/approver/components/stacks-fee-card.tsx
  apps/mobile/src/features/approver/components/stacks-outcome.tsx
  apps/mobile/src/features/approver/utils.tsx
  apps/mobile/src/features/psbt-signer/psbt-signer.tsx
  apps/mobile/src/features/stacks-tx-signer/stacks-tx-signer.tsx
  apps/mobile/src/shared/constants.ts
  apps/mobile/src/shared/environment.ts
  packages/ui/src/icons/index.native.ts
  packages/ui/src/icons/numbered-list-icon.native.tsx
Due: none

fix: is multisig condition
  apps/extension/src/background/messaging/rpc-methods/sign-stacks-transaction.ts
Due: none

chore(release): 6.58.1
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

feat: add rpc send transfer test
  apps/extension/tests/mocks/mock-bitcoin-tx.ts
  apps/extension/tests/mocks/mock-utxos.ts
  apps/extension/tests/specs/rpc-send-transfer/rpc-send-transfer.spec.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

chore: update to eslint 9
  .eslintignore
  .eslintrc
  .gitignore
  apps/mobile/package.json
  eslint.config.js
  package.json
  packages/analytics/.eslintrc.yml
  packages/analytics/package.json
  packages/bitcoin/.eslintrc.yml
  packages/bitcoin/package.json
  packages/constants/.eslintrc.yml
  packages/constants/package.json
  packages/eslint-config/.eslintrc.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  packages/models/.eslintrc.yml
  packages/models/package.json
  packages/query/.eslintrc.yml
  packages/query/package.json
  packages/services/package.json
  packages/tokens/.eslintrc.yml
  packages/tokens/package.json
  packages/tsconfig-config/tsconfig.base.json
  packages/ui/.eslintrc.yml
  packages/ui/package.json
  packages/utils/.eslintrc.yml
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Due: bitcoin, query, utils

fix: safely fix or silence few surfaced eslint errors until addressed
  apps/mobile/src/app/(home)/developer-console/bitcoin-scratch-pad.tsx
  apps/mobile/src/components/headers/animated-header/animated-header.hooks.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/hooks/use-push-notifications.ts
  packages/bitcoin/src/bip322/bip322-utils.ts
  packages/bitcoin/src/btc-size-fee-estimator.ts
  packages/query/src/bitcoin/clients/bitcoin-client.ts
  packages/query/src/leather-query-provider.tsx
  packages/query/src/rate-limiter/queue-class.ts
  packages/query/src/stacks/bns/bns-v2-sdk/callers-helper.ts
  packages/rpc/src/methods/stx-sign-transaction.ts
  packages/rpc/src/methods/supported-methods.ts
  packages/services/src/infrastructure/rate-limiter/priority-queue.ts
  packages/ui/src/components/approver/animations/approver-animation.web.tsx
  packages/ui/src/components/collectibles/native/collectible-text.native.tsx
  packages/ui/src/theme-native/theme.tsx
  packages/ui/src/utils/style-context.web.tsx
  packages/utils/src/index.ts
  packages/utils/src/math/fibonacci.ts
  packages/utils/src/money/format-money.ts
Due: bitcoin, query, utils

fix: safely fix or silence hook dependency errors until addressed
  apps/mobile/.eslintrc.yml
  apps/mobile/src/app/(home)/developer-console/index.tsx
  apps/mobile/src/components/action-bar/action-bar.tsx
  apps/mobile/src/components/toast/toast-context.tsx
  apps/mobile/src/store/storage-persistors.ts
  packages/ui/src/components/approver/components/approver-actions.web.tsx
  packages/ui/src/components/skeleton-loader/skeleton-loader.native.tsx
Due: none

fix: address all occurrences triggering no-unused-vars
  apps/mobile/src/app/(home)/developer-console/bitcoin-scratch-pad.tsx
  apps/mobile/src/components/balance/balance.tsx
  apps/mobile/src/components/headers/header.layout.tsx
  apps/mobile/src/components/text-input.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles-widget.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/features/send/send-form/components/send-form-amount-field.tsx
  apps/mobile/src/features/send/send-form/components/send-form-button.tsx
  apps/mobile/src/features/send/send-form/components/send-form-numpad.tsx
  apps/mobile/src/features/send/send-form/components/send-form-recipient.tsx
  apps/mobile/src/features/send/send-form/sheets/memo-sheet.tsx
  apps/mobile/src/features/send/send-form/sheets/recipient-sheet.tsx
  packages/bitcoin/src/fees/bitcoin-fees.ts
  packages/models/src/crypto-assets/bitcoin/inscription.model.ts
  packages/models/src/network/network.model.ts
  packages/query/src/stacks/bns/bns.utils.ts
  packages/rpc/src/methods/stx-sign-transaction.ts
  packages/rpc/src/rpc/schemas.ts
  packages/services/src/balances/bitcoin-balances.service.ts
  packages/services/src/infrastructure/api/coincap/coincap-api.utils.ts
  packages/services/src/infrastructure/api/coingecko/coingecko-api.utils.ts
  packages/stacks/src/transactions/post-condition.utils.ts
  packages/ui/src/components/approver/animations/approver-animation.web.tsx
  packages/ui/src/components/collectibles/native/collectible-text.native.tsx
  packages/ui/src/components/spinner/spinner.web.tsx
Due: bitcoin, query, stacks

refactor: remove redundant regex escapes
  packages/ui/src/components/highlighting/clarity-prism.shared.ts
Due: none

fix: remove a return statement from finally block
  packages/query/src/bitcoin/transaction/use-bitcoin-broadcast-transaction.ts
Due: query

fix: text input not focusing on paste in Restore Wallet
  apps/mobile/src/app/(home)/recover-wallet.tsx
  apps/mobile/src/components/text-input.tsx
Due: none

refactor: ensure + operands are primitive
  apps/mobile/src/features/approver/components/inputs-outputs-card.tsx
  packages/utils/src/index.ts
Due: utils

refactor: remove redundant parseInt
  packages/utils/src/money/format-balance/format-balance.ts
Due: utils

refactor: ensure all switch statements are exhaustive
  apps/mobile/src/app/(home)/browser.tsx
  apps/mobile/src/app/(home)/settings/security/index.tsx
  apps/mobile/src/components/browser/browser-empty-state.tsx
  apps/mobile/src/components/text-input.tsx
  apps/mobile/src/components/toast/index.tsx
  apps/mobile/src/features/approver/components/approver-buttons.tsx
  packages/bitcoin/src/btc-size-fee-estimator.ts
  packages/models/src/network/network.model.ts
  packages/query/src/rate-limiter/best-in-slot-limiter.ts
  packages/query/src/rate-limiter/hiro-rate-limiter.ts
  packages/stacks/src/transactions/generate-unsigned-transaction.ts
  packages/tokens/package.json
  packages/tokens/src/typography.ts
  packages/ui/src/components/button/button.native.tsx
  packages/ui/src/components/collectibles/native/collectible-card.native.tsx
  packages/ui/src/components/flag/flag.native.tsx
  packages/utils/src/assets/asset-display-name.ts
  pnpm-lock.yaml
Due: bitcoin, query, utils, stacks

refactor: remove empty callbacks, make context hooks safe
  apps/mobile/src/app/(home)/create-new-wallet.tsx
  apps/mobile/src/app/(home)/recover-wallet.tsx
  apps/mobile/src/app/(home)/secure-your-wallet.tsx
  apps/mobile/src/app/(home)/settings/notifications/index.tsx
  apps/mobile/src/components/splash-screen-guard/use-auth-context.ts
  apps/mobile/src/components/toast/toast-context.tsx
  packages/ui/src/components/approver/stories/approver-demo.web.tsx
  packages/utils/src/index.ts
Due: utils

refactor: improve few empty object types
  apps/mobile/src/features/settings/network-badge.tsx
  packages/ui/src/components/cell/components/cell-aside.native.tsx
  packages/ui/src/components/cell/components/cell-content.native.tsx
  packages/ui/src/components/cell/components/cell-icon.native.tsx
  packages/ui/src/utils/style-context.web.tsx
Due: none

refactor: append void to floating promises
  apps/mobile/src/app/(home)/create-new-wallet.tsx
  apps/mobile/src/app/(home)/recover-wallet.tsx
  apps/mobile/src/app/(home)/settings/help/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/page/page.layout.tsx
  apps/mobile/src/components/sheets/notify-user-sheet.layout.tsx
  apps/mobile/src/components/splash-screen-guard/use-auth-state.tsx
  apps/mobile/src/features/settings/analytics-sheet.tsx
  apps/mobile/src/features/settings/app-authentication-sheet.tsx
  apps/mobile/src/features/settings/bitcoin-unit-sheet.tsx
  apps/mobile/src/features/settings/wallet-and-accounts/remove-wallet-sheet.tsx
  apps/mobile/src/hooks/use-create-wallet.ts
  apps/mobile/src/locales/index.ts
  apps/mobile/src/store/settings/settings.ts
  packages/ui/src/components/pressable/pressable.native.tsx
Due: none

refactor: use LiteralUnion for clearer intention
  packages/models/src/currencies.model.ts
Due: none

refactor: remove unknown from JsonValue
  packages/analytics/src/types.ts
Due: none
