Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

ci: throw error if files don't exist
  apps/mobile/app.config.js
Due: none

ci: remove expo checks
  apps/mobile/app.config.js
Due: none

ci: ensure version properly set
  .github/workflows/update-mobile-versions.yml
Due: none

fix: fix package.json
  apps/mobile/package.json
Due: none

fix: revert white space change
  release-please-config.json
Due: none

ci: add GITHUB_TOKEN for upload file step
  .github/workflows/mobile-beta-builds.yml
Due: none

fix: trying to fix output
  .github/actions/previous-mobile-tag/action.yml
  .github/workflows/mobile-beta-builds.yml
Due: none

ci: test automated changelog
  .github/workflows/mobile-beta-builds.yml
Due: none

chore: clean fastlane files
  apps/mobile/fastlane/Appfile
  apps/mobile/fastlane/android/fastlane/Fastfile
Due: none

fix: testing generating google-services
  .github/actions/build-android/action.yml
  .github/actions/build-ios/action.yml
  apps/mobile/app.config.js
Due: none

ci: fix substitution format
  .github/workflows/update-mobile-versions.yml
Due: none

ci: only create a version bump if changes found
  .github/workflows/update-mobile-versions.yml
Due: none

ci: trying to create a PR
  .github/workflows/update-mobile-versions.yml
Due: none

ci: use correct version
  .github/workflows/update-mobile-versions.yml
Due: none

chore: bump mobile iOS / Android versions to 2.1.0
  apps/mobile/android/app/build.gradle
  apps/mobile/app.config.js
  apps/mobile/ios/leatherwalletmobile/Info.plist
Due: none

Revert "fix: update sbtc bitcoin url"
  packages/models/src/network/network.model.ts
Due: none

fix: request params
  packages/rpc/src/index.ts
Due: none

feat: validate stacks address in mobile send, ref LEA-1647
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/send/send-form/validation/stx.validation.ts
  packages/stacks/src/mocks/mocks.ts
  packages/stacks/src/validation/address-validation.spec.ts
  packages/stacks/src/validation/address-validation.ts
  packages/stacks/src/validation/stacks-error.ts
  packages/stacks/src/validation/transaction-validation.spec.ts
Due: stacks

feat: add address validation to stacks pacakge, ref LEA-1647
  packages/stacks/package.json
  packages/stacks/src/index.ts
  packages/stacks/src/mocks/mocks.ts
  packages/stacks/src/validation/address-validation.spec.ts
  packages/stacks/src/validation/address-validation.ts
  packages/stacks/src/validation/stacks-error.ts
  packages/stacks/src/validation/transaction-validation.spec.ts
  packages/stacks/src/validation/transaction-validation.ts
  pnpm-lock.yaml
Due: stacks

fix: update vulnerabilities
  package.json
Due: none

fix: update dompurify to prevent xss vulnerability
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

fix: add resolution for path-to-regexp to fix vulnerability
  package.json
  pnpm-lock.yaml
Due: none

chore: refactor dom purify
  packages/ui/src/components/collectibles/web/collectible-text.layout.web.tsx
  packages/ui/src/components/collectibles/web/inscription-preview-card/components/inscription-text.layout.web.tsx
  packages/ui/src/components/collectibles/web/inscription-text.web.tsx
Due: none

fix: fix package vulnerabilities
  package.json
  pnpm-lock.yaml
Due: none

fix: esbuild vulnerability fix
  package.json
  pnpm-lock.yaml
Due: none

fix: block vitest remote code execution
  apps/mobile/package.json
  package.json
  packages/analytics/package.json
  packages/bitcoin/package.json
  packages/crypto/package.json
  packages/provider/package.json
  packages/query/package.json
  packages/rpc/package.json
  packages/services/package.json
  packages/stacks/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: bitcoin, query, utils, crypto, stacks

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix: upgrade typescript
  apps/mobile/package.json
  package.json
  packages/analytics/package.json
  packages/bitcoin/package.json
  packages/constants/package.json
  packages/models/package.json
  packages/query/package.json
  packages/services/package.json
  packages/tsconfig-config/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: bitcoin, query, utils

fix: upgrade pnpm
  .github/actions/provision/action.yml
  .prototools
  package.json
  pnpm-lock.yaml
Due: none

fix: upgrade turborepo
  package.json
  pnpm-lock.yaml
Due: none

fix: upgrade prettier
  .prettierignore
  package.json
  packages/analytics/package.json
  packages/bitcoin/package.json
  packages/constants/package.json
  packages/models/package.json
  packages/prettier-config/package.json
  packages/query/package.json
  packages/services/package.json
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: bitcoin, query, utils

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/tsconfig-config/CHANGELOG.md
  packages/tsconfig-config/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks
