Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

feat: token management
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/account/components/available-account-balance.tsx
  apps/mobile/src/features/balances/manage-tokens.sheet.tsx
  apps/mobile/src/features/feature-flags/index.ts
  apps/mobile/src/features/token/components/token-switch.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/balance/account-balance.query.ts
  apps/mobile/src/queries/balance/runes-balance.query.ts
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  apps/mobile/src/shared/test-id.ts
  apps/mobile/src/store/settings/language-preference-hydration.ts
  apps/mobile/src/store/settings/settings.read.ts
  apps/mobile/src/store/settings/settings.ts
  apps/mobile/src/store/settings/settings.write.ts
  apps/mobile/src/store/settings/utils.ts
  packages/services/src/balances/runes-balances.service.ts
  packages/services/src/balances/sip10-balances.service.ts
  packages/services/src/filtering/filtering.spec.ts
  packages/services/src/filtering/filtering.ts
  packages/services/src/types/request.types.ts
  packages/ui/src/assets/icons/settings-slider-hor-24-24.svg
  packages/ui/src/icons/index.native.ts
  packages/ui/src/icons/settings-slider-hor-icon.native.tsx
  packages/utils/src/assets/asset-id.ts
  pnpm-lock.yaml
Due: utils

feat: token management
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/account/components/available-account-balance.tsx
  apps/mobile/src/features/balances/manage-tokens.sheet.tsx
  apps/mobile/src/features/feature-flags/index.ts
  apps/mobile/src/features/token/components/token-switch.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/balance/account-balance.query.ts
  apps/mobile/src/queries/balance/runes-balance.query.ts
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  apps/mobile/src/shared/test-id.ts
  apps/mobile/src/store/settings/language-preference-hydration.ts
  apps/mobile/src/store/settings/settings.read.ts
  apps/mobile/src/store/settings/settings.ts
  apps/mobile/src/store/settings/settings.write.ts
  apps/mobile/src/store/settings/utils.ts
  packages/services/src/balances/runes-balances.service.ts
  packages/services/src/balances/sip10-balances.service.ts
  packages/services/src/balances/sip10-balances.utils.ts
  packages/services/src/types/request.types.ts
  packages/ui/src/assets/icons/settings-slider-hor-24-24.svg
  packages/ui/src/icons/index.native.ts
  packages/ui/src/icons/settings-slider-hor-icon.native.tsx
  packages/utils/src/assets/asset-id.ts
  pnpm-lock.yaml
Due: utils

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat(mobile): mobile collectibles - add fallback no image and enable ordinals
  apps/mobile/src/features/collectibles/collectibles-serializer.tsx
  apps/mobile/src/features/feature-flags/index.ts
  apps/mobile/src/queries/collectibles/account-collectibles.query.ts
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
Due: none

fix(mobile): show ordinal text inscriptions and refactor collectibles to add loading states
  apps/mobile/src/components/error/error.tsx
  apps/mobile/src/components/error/fetch-error.tsx
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/components/loading/empty-layout.tsx
  apps/mobile/src/features/collectibles/collectibles-list.tsx
  apps/mobile/src/features/collectibles/collectibles-serializer.tsx
  apps/mobile/src/features/feature-flags/index.ts
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/collectibles/account-collectibles.query.ts
  packages/ui/package.json
  packages/ui/src/components/collectibles/native/collectible-text.native.tsx
  pnpm-lock.yaml
Due: none

chore(mobile): deprecate legacy hiro inscription code
  packages/bitcoin/src/utils/bitcoin.utils.spec.ts
  packages/bitcoin/src/utils/bitcoin.utils.ts
  packages/models/src/network/network.model.ts
  packages/query/index.ts
  packages/query/src/bitcoin/ordinals/inscription.utils.ts
  packages/query/types/inscription.ts
Due: bitcoin, query

fix(mobile): make html collectibles render more reliably
  apps/mobile/src/features/collectibles/render-collectible.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
Due: none

fix(mobile): filter bns names out of sip9 service and fetch seperately
  apps/mobile/src/features/collectibles/collectibles-list.tsx
  apps/mobile/src/features/collectibles/collectibles-serializer.spec.ts
  apps/mobile/src/features/collectibles/collectibles-serializer.tsx
  apps/mobile/src/features/collectibles/collectibles.utils.ts
  apps/mobile/src/features/collectibles/render-collectible.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/models/src/assets/asset.model.ts
  packages/services/src/assets/sip9-asset.service.ts
  packages/services/src/collectibles/collectibles.service.spec.ts
  packages/services/src/collectibles/collectibles.service.ts
  packages/ui/src/assets-native/images/bnsv2.png
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/utils/src/assets/asset-id.ts
Due: utils

fix(mobile): deprecate serialize collectibles
  apps/mobile/src/components/loading/empty-layout.tsx
  apps/mobile/src/features/collectibles/collectibles-list.tsx
  apps/mobile/src/features/collectibles/collectibles-serializer.spec.ts
  apps/mobile/src/features/collectibles/collectibles-serializer.tsx
  apps/mobile/src/features/collectibles/collectibles.utils.ts
  apps/mobile/src/features/collectibles/render-collectible.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/models/src/assets/asset.model.ts
  packages/services/src/assets/sip9-asset.service.ts
  packages/services/src/collectibles/collectibles.service.spec.ts
  packages/services/src/collectibles/collectibles.service.ts
  packages/ui/package.json
  packages/ui/src/components/collectibles/index.native.ts
  packages/ui/src/components/collectibles/native/bns.native.tsx
  packages/ui/src/components/collectibles/native/collectible-audio.native.tsx
  packages/ui/src/components/collectibles/native/collectible-card-layout.native.tsx
  packages/ui/src/components/collectibles/native/collectible-card.native.stories.tsx
  packages/ui/src/components/collectibles/native/collectible-card.native.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/collectible-text.native.tsx
  packages/ui/src/components/collectibles/native/image-unavailable.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/utils/src/assets/asset-id.ts
  pnpm-lock.yaml
Due: utils

fix(mobile): refactor collectibles to allow width to auto adjust and remove gap and border radius
  apps/mobile/src/features/collectibles/collectibles-list.tsx
  apps/mobile/src/features/collectibles/render-collectible.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/ui/src/components/collectibles/native/collectible-audio.native.tsx
  packages/ui/src/components/collectibles/native/collectible-card-layout.native.tsx
  packages/ui/src/components/collectibles/native/collectible-card.native.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/collectible-text.native.tsx
  packages/ui/src/components/collectibles/native/image-unavailable.native.tsx
Due: none

fix(mobile): add image unavailable fallback
  apps/mobile/src/features/collectibles/collectibles-list.tsx
  apps/mobile/src/features/collectibles/collectibles-serializer.tsx
  apps/mobile/src/features/collectibles/collectibles.utils.ts
  apps/mobile/src/features/collectibles/render-collectible.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/query/src/bitcoin/ordinals/inscription.utils.ts
  packages/ui/package.json
  packages/ui/src/components/collectibles/index.native.ts
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/collectible-text.native.tsx
  packages/ui/src/components/collectibles/native/image-unavailable.native.tsx
Due: query

fix(mobile): fix display of ordinal text inscriptions
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-text.native.tsx
Due: none

fix(mobile): refactor to handle new accounts format
  apps/mobile/src/features/collectibles/collectibles-list.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-text.native.tsx
Due: none

fix: account header warning
  apps/mobile/src/features/account/components/account-header.tsx
Due: none

fix: sbtc analytics
  apps/extension/src/app/pages/swap/hooks/use-sbtc-deposit-transaction.tsx
Due: none

feat(web): add link to gitbook docs
  apps/web/app/layouts/nav/nav-item.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
Due: none

fix(swap): max swap amount
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/hooks/balance/use-calculate-max-spend.ts
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/btc/use-btc-choose-fee.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/btc/use-btc-send-form.tsx
  apps/extension/src/app/pages/swap/hooks/use-bitcoin-bridge-assets.tsx
Due: none

fix(ledger): sbtc routing
  apps/extension/src/app/features/ledger/hooks/use-ledger-navigate.ts
  apps/extension/src/app/pages/swap/swap.routes.tsx
Due: none

fix(ledger): sbtc incompatibility
  apps/extension/src/app/pages/swap/components/sbtc-ledger-recovery-warning.tsx
  apps/extension/src/app/pages/swap/swap.tsx
Due: none

fix(ledger): sbtc deposit
  apps/extension/src/app/pages/swap/hooks/use-sbtc-deposit-transaction.tsx
Due: none

chore(release): 6.73.1
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

fix: remove old sbtc withdrawal warning
  apps/extension/src/app/pages/swap/components/swap-review/bitcoin-swap-review.tsx
Due: none

feat: create swap service
  apps/mobile/metro.config.cjs
  apps/mobile/src/queries/swap/swap.query.ts
  apps/mobile/src/services/init-app-services.ts
  apps/web/stubs/bitflow-sdk-stub.js
  apps/web/vite.config.ts
  packages/models/src/assets/asset.model.ts
  packages/models/src/index.ts
  packages/models/src/swap/swap.model.ts
  packages/services/package.json
  packages/services/src/assets/fungible-asset.service.ts
  packages/services/src/assets/sip10-asset.service.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/api/alex/alex-sdk.client.ts
  packages/services/src/infrastructure/api/bitflow/bitflow-sdk.client.ts
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/api/leather/leather-api.types.ts
  packages/services/src/infrastructure/api/velar/velar-sdk.client.ts
  packages/services/src/infrastructure/cache/http-cache.config.ts
  packages/services/src/infrastructure/environment.ts
  packages/services/src/inversify.config.ts
  packages/services/src/swap/alex-swap-provider.service.ts
  packages/services/src/swap/bitflow-swap-provider.service.ts
  packages/services/src/swap/sbtc-bridge-swap-provider.service.ts
  packages/services/src/swap/swap-provider.interface.ts
  packages/services/src/swap/swap.service.ts
  packages/services/src/swap/swap.utils.ts
  packages/services/src/swap/velar-swap-provider.service.ts
  packages/services/src/utxos/utxos.utils.ts
  packages/utils/src/assets/asset-id.ts
  pnpm-lock.yaml
Due: utils

feat(ui): tweak numpad styling
  packages/ui/src/components/numpad/numpad-key.native.tsx
  packages/ui/src/components/numpad/numpad.native.tsx
Due: none

feat(ui): account for safe areas in sheet scrollables
  packages/ui/src/components/sheet/sheet-containers.native.tsx
Due: none

feat(ui): make asset avatars customizable
  packages/ui/native.ts
  packages/ui/src/components/avatar/avatar.native.tsx
  packages/ui/src/components/avatar/btc-avatar-icon.native.tsx
  packages/ui/src/components/avatar/sip10-avatar-icon.native.tsx
  packages/ui/src/components/avatar/stx-avatar-icon.native.tsx
Due: none

refactor: react 19.1
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
Due: none

chore(release): 6.73.2
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

fix(sbtc): use leather client for signer key fetch
  apps/extension/src/app/pages/swap/hooks/use-sbtc-deposit-transaction.tsx
Due: none

fix(sbtc): navigate to error page
  apps/extension/src/app/pages/swap/hooks/use-sbtc-deposit-transaction.tsx
Due: none

fix: nested button error
  apps/extension/src/app/components/transaction/transaction-title.tsx
  apps/extension/src/app/pages/swap/hooks/use-sbtc-deposit-transaction.tsx
Due: none

fix(sbtc): passing non-finalized tx
  apps/extension/src/app/features/ledger/generic-flows/tx-signing/use-ledger-sign-tx.ts
  apps/extension/src/app/pages/swap/hooks/use-sbtc-deposit-transaction.tsx
Due: none

chore(release): 6.73.3
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

feat(mobile): add generic search input
  apps/mobile/src/components/search-input.tsx
  apps/mobile/src/components/text-input.tsx
  apps/mobile/src/features/send/components/recipient/recipient-selector/recipient-selector.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none
