Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

fix: bns-v2-sdk patch
  packages/query/package.json
  packages/query/src/stacks/bns/bns-v2-sdk/README.md
  packages/query/src/stacks/bns/bns-v2-sdk/callers-helper.ts
  packages/query/src/stacks/bns/bns-v2-sdk/config.ts
  packages/query/src/stacks/bns/bns-v2-sdk/debug.ts
  packages/query/src/stacks/bns/bns-v2-sdk/index.ts
  packages/query/src/stacks/bns/bns-v2-sdk/interfaces.ts
  packages/query/src/stacks/bns/bns-v2-sdk/network.ts
  packages/query/src/stacks/bns/bns-v2-sdk/read-only-calls.ts
  packages/query/src/stacks/bns/bns-v2-sdk/utils.ts
  packages/query/src/stacks/bns/bns.utils.spec.ts
  packages/query/src/stacks/bns/bns.utils.ts
  pnpm-lock.yaml
Due: query

feat: fetch bns name from bns v2 api, closes LEA-1659
  apps/extension/src/app/common/hooks/account/use-account-names.ts
  apps/extension/src/app/store/software-keys/software-key.actions.ts
Due: none

refactor: apply mono package updates
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/components/loaders/stx20-tokens-loader.tsx
  apps/extension/src/app/features/asset-list/bitcoin/brc20-token-asset-list/brc20-token-asset-list.tsx
  apps/extension/src/app/features/asset-list/bitcoin/src20-token-asset-list/src20-token-asset-list.tsx
  apps/extension/src/app/features/asset-list/stacks/stx20-token-asset-list/stx20-token-asset-list.tsx
  apps/extension/src/app/query/bitcoin/ordinals/brc20/brc20-tokens.hooks.ts
Due: none

feat: hide bns archive collectible
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/features/collectibles/components/stacks/stacks-crypto-assets.tsx
Due: none

feat: add bns v2 names integration test
  apps/extension/src/app/features/collectibles/components/stacks/stacks-crypto-assets.tsx
  apps/extension/src/app/features/container/container.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/account-list-unavailable.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/switch-account-list-item.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/switch-account-sheet.tsx
  apps/extension/src/app/features/stacks-transaction-request/transaction-error/error-messages.tsx
  apps/extension/tests/mocks/mock-stacks-bns.ts
  apps/extension/tests/selectors/account.selectors.ts
  apps/extension/tests/specs/bns-names/bns-names.spec.ts
Due: none

chore(release): 6.52.0
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

fix: bns overflow issue
  apps/extension/src/app/pages/send/send-crypto-asset-form/components/recipient-fields/components/recipient-address-displayer.tsx
Due: none

fix: go back from btc and stx choose fee step
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/btc/btc-send-form.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/stacks/stacks-common-send-form.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/hooks/use-send-form-navigate.ts
Due: none

refactor(rpc): add stx_signTransaction, test schemas, closes leather-io/issues#13
  packages/rpc/package.json
  packages/rpc/src/index.ts
  packages/rpc/src/methods/get-addresses.ts
  packages/rpc/src/methods/get-info.ts
  packages/rpc/src/methods/send-transfer.ts
  packages/rpc/src/methods/sign-message.ts
  packages/rpc/src/methods/sign-psbt.ts
  packages/rpc/src/methods/stx-sign-message.ts
  packages/rpc/src/methods/stx-sign-transaction.ts
  packages/rpc/src/rpc/helpers.ts
  packages/rpc/src/rpc/index.ts
  packages/rpc/src/rpc/schemas.spec.ts
  packages/rpc/src/rpc/schemas.ts
  packages/rpc/tsconfig.json
  packages/rpc/vitest.config.js
  pnpm-lock.yaml
Due: none

feat: add bns v2 client and zonefile request
  packages/query/index.ts
  packages/query/src/query-prefixes.ts
  packages/query/src/stacks/bns/bns-v2-client.ts
  packages/query/src/stacks/bns/bns.query.ts
  packages/query/src/stacks/bns/bns.schemas.ts
  packages/query/src/stacks/bns/bns.utils.spec.ts
  packages/query/src/stacks/bns/bns.utils.ts
Due: query

fix: do not dismount inscription content on viewport exit
  apps/extension/src/app/features/collectibles/components/collectible-item.layout.tsx
Due: none

fix: improve mobile Pressable
  packages/ui/native.ts
  packages/ui/src/components/button/pressable.native.tsx
  packages/ui/src/components/cell/cell.native.tsx
  packages/ui/src/components/pressable/pressable.native.tsx
  packages/ui/src/hooks/use-pressed-state.native.ts
  packages/ui/src/theme-native/theme.tsx
Due: none

feat: add account card press animation
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.layout.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: query

fix(query): bns schemas, exports
  packages/query/index.ts
  packages/query/src/query-prefixes.ts
  packages/query/src/stacks/bns/bns-v2-client.ts
  packages/query/src/stacks/bns/bns.schemas.ts
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
Due: query

feat: send form, closes LEA-1649 and LEA-1651
  apps/mobile/package.json
  apps/mobile/src/common/sheet-navigator/sheet-navigation-container.tsx
  apps/mobile/src/components/full-height-sheet/full-height-sheet.layout.tsx
  apps/mobile/src/components/full-height-sheet/full-height-sheet.tsx
  apps/mobile/src/components/sheets/sheet.layout.tsx
  apps/mobile/src/features/send/send-form/components/send-form-amount-field.tsx
  apps/mobile/src/features/send/send-form/components/send-form-asset.tsx
  apps/mobile/src/features/send/send-form/components/send-form-button.tsx
  apps/mobile/src/features/send/send-form/components/send-form-container.tsx
  apps/mobile/src/features/send/send-form/components/send-form-footer.layout.tsx
  apps/mobile/src/features/send/send-form/components/send-form-memo.tsx
  apps/mobile/src/features/send/send-form/components/send-form-numpad.tsx
  apps/mobile/src/features/send/send-form/components/send-form-recipient.tsx
  apps/mobile/src/features/send/send-form/schemas/send-form-btc.schema.ts
  apps/mobile/src/features/send/send-form/schemas/send-form-stx.schema.ts
  apps/mobile/src/features/send/send-form/send-form-context.tsx
  apps/mobile/src/features/send/send-form/send-form.tsx
  apps/mobile/src/features/send/send-form/sheets/memo-sheet.tsx
  apps/mobile/src/features/send/send-form/sheets/recipient-sheet.tsx
  apps/mobile/src/features/send/send-sheet-navigator.tsx
  apps/mobile/src/features/send/send-sheets/select-account-sheet.tsx
  apps/mobile/src/features/send/send-sheets/select-asset-sheet.tsx
  apps/mobile/src/features/send/send-sheets/send-form-btc-sheet.tsx
  apps/mobile/src/features/send/send-sheets/send-form-stx-sheet.tsx
  apps/mobile/src/features/send/send-sheets/send-form.tsx
  apps/mobile/src/features/settings/email-address-sheet.tsx
  packages/ui/src/icons/index.native.ts
  packages/ui/src/icons/note-text-icon.native.tsx
  packages/ui/src/icons/user-icon.native.tsx
  pnpm-lock.yaml
Due: none

feat: add z-index scale
  apps/mobile/src/app/(home)/generating-wallet.tsx
  apps/mobile/src/app/(home)/recover-wallet.tsx
  apps/mobile/src/components/draggable.tsx
  apps/mobile/src/components/headers/header.layout.tsx
  apps/mobile/src/components/toast/index.tsx
  packages/panda-preset/src/preset.ts
  packages/panda-preset/src/tokens.ts
  packages/tokens/src/index.ts
  packages/tokens/src/z-indices.ts
  packages/tokens/tsup.config.ts
  packages/ui/src/components/sheet/components/sheet-header.native.tsx
  packages/ui/src/theme-native/theme.tsx
Due: none

feat: fetch zonefile data from bns v2 api
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/hooks/account/use-account-names.ts
  apps/extension/src/app/common/hooks/use-key-actions.ts
  apps/extension/src/app/features/collectibles/hooks/use-is-fetching-collectibles.ts
  apps/extension/src/app/pages/send/send-crypto-asset-form/components/recipient-fields/hooks/use-recipient-bns-name.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/components/recipient-fields/recipient-bns-name-type-field.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/family/stacks/components/stacks-recipient-field.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/btc/use-btc-send-form.tsx
  apps/extension/src/app/store/software-keys/software-key.actions.ts
  apps/extension/src/shared/forms/address-validators.ts
  apps/extension/tests/mocks/mock-stacks-bns.ts
  apps/extension/tests/specs/compliance-checks/compliance-checks.spec.ts
  apps/extension/tests/specs/send/send-stx.spec.ts
Due: none

ci: upgrade action deps
  apps/extension/.github/actions/provision/action.yml
  apps/extension/tests/mocks/mock-stacks-bns.ts
  apps/extension/tests/specs/send/send-stx.spec.ts
Due: none

feat: add sheet animation
  packages/tokens/src/keyframes.ts
  packages/ui/src/components/sheet/sheet.web.stories.tsx
  packages/ui/src/components/sheet/sheet.web.tsx
Due: none

fix: import all accounts for wallet
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/hooks/api-clients.hooks.ts
  apps/mobile/src/store/accounts/accounts.write.ts
  apps/mobile/src/store/key-store.ts
  apps/mobile/src/store/keychains/stacks/utils.ts
  packages/crypto/src/index.ts
  packages/crypto/src/recurse-accounts.ts
  pnpm-lock.yaml
Due: crypto

chore: draft batch account creation
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/leatherwalletmobile.xcodeproj/project.pbxproj
  apps/mobile/src/store/key-store.ts
  apps/mobile/src/store/keychains/bitcoin/bitcoin-keychains.read.ts
  apps/mobile/src/store/keychains/bitcoin/bitcoin-keychains.write.ts
  apps/mobile/src/store/keychains/stacks/stacks-keychains.write.ts
  apps/mobile/src/store/keychains/stacks/utils.ts
  apps/mobile/src/store/settings/settings.read.ts
  packages/crypto/src/recurse-accounts.spec.ts
  packages/crypto/src/recurse-accounts.ts
Due: crypto

chore: deprecate userAddsAccount to keep code DRY
  apps/mobile/src/store/accounts/accounts.write.ts
  apps/mobile/src/store/key-store.ts
  apps/mobile/src/store/keychains/bitcoin/bitcoin-keychains.read.ts
  apps/mobile/src/store/keychains/bitcoin/bitcoin-keychains.write.ts
  apps/mobile/src/store/keychains/stacks/stacks-keychains.write.ts
Due: none

chore: clean code
  apps/mobile/src/hooks/api-clients.hooks.ts
  apps/mobile/src/store/key-store.ts
  apps/mobile/src/store/keychains/stacks/utils.ts
Due: none

chore: test log
  apps/mobile/src/store/key-store.ts
  packages/crypto/src/recurse-accounts.ts
Due: crypto

chore: test log
  apps/mobile/src/store/key-store.ts
Due: none

feat: fetch stacks name owner by bns name
  packages/query/src/stacks/bns/bns-v2-client.ts
  packages/query/src/stacks/bns/bns.schemas.ts
  packages/query/src/stacks/bns/bns.utils.spec.ts
  packages/query/src/stacks/bns/bns.utils.ts
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: query

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
