Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

chore: deploy ios to firebase
  .github/workflows/firebase-deploy-ios.yml
Due: none

fix(signPsbt): window not closing
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/pages/rpc-sign-psbt/use-rpc-sign-psbt.tsx
  apps/extension/src/inpage/inpage.ts
  apps/extension/test-app/src/components/debugger.tsx
Due: none

fix: add network validation
  apps/extension/src/app/features/add-network/use-add-network.tsx
Due: none

fix(fees): remove hard coded token transfer amounts
  packages/query/src/stacks/fees/fees.hooks.ts
  packages/query/src/stacks/fees/fees.utils.ts
Due: query

fix(rpc): favour zod types only
  apps/mobile/package.json
  packages/models/package.json
  packages/models/src/types.utils.ts
  packages/query/package.json
  packages/rpc/package.json
  packages/rpc/src/methods/get-addresses.spec.ts
  packages/rpc/src/methods/get-addresses.ts
  packages/rpc/src/methods/stacks/stx-get-addresses.ts
  packages/rpc/src/rpc/schemas.ts
  packages/services/package.json
  pnpm-lock.yaml
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix: show available metadata for stacks nfts, ref leather-io/extension#5349
  apps/extension/src/app/components/collectibles/collectible-image.tsx
  apps/extension/src/app/features/collectibles/components/stacks/stacks-non-fungible-tokens.tsx
Due: none

fix: update hiro api headers
  packages/query/src/stacks/leather-headers.ts
  packages/services/src/infrastructure/api/hiro/hiro-leather-headers.ts
Due: query

feat: add "blur" effect to animated headers
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/headers/animated-header/animated-header-screen-with-keyboard.layout.tsx
  apps/mobile/src/components/headers/animated-header/animated-header-screen.layout.tsx
  apps/mobile/src/components/headers/animated-header/animated-header.hooks.tsx
  apps/mobile/src/components/headers/animated-header/animated-header.layout.tsx
  apps/mobile/src/components/headers/animated-header/animated-title-header.tsx
  apps/mobile/src/components/headers/header.layout.tsx
  pnpm-lock.yaml
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: query

refactor: remove redundant icon prop
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/components/fees/fee-item-icon.tsx
Due: none

refactor: address breaking changes in ui badge
  apps/extension/src/app/features/psbt-signer/components/psbt-inputs-and-outputs/components/psbt-input-list/components/psbt-input-item.tsx
  apps/extension/src/app/features/psbt-signer/components/psbt-inputs-and-outputs/components/psbt-output-list/components/psbt-output-item.tsx
  apps/extension/src/app/features/psbt-signer/components/psbt-request-details-header.tsx
  apps/extension/src/app/pages/fund/components/fiat-provider-item.tsx
  apps/extension/src/app/ui/components/badge/badge-with-tooltip.tsx
  apps/extension/src/app/ui/components/tag/tag-with-tooltip.tsx
Due: none

fix: add fastlane deploy to firebase with version increment
  .github/actions/eas-deploy-android/action.yml
  .github/actions/eas-deploy-ios/action.yml
  .github/workflows/firebase-deploy-ios.yml
  .github/workflows/firebase-deploy.yml
  apps/mobile/android/Gemfile.lock
  apps/mobile/android/app/build.gradle
  apps/mobile/android/fastlane/Fastfile
  apps/mobile/android/fastlane/Pluginfile
  apps/mobile/android/fastlane/report.xml
  apps/mobile/ios/leatherwalletmobile.xcodeproj/project.pbxproj
Due: none

fix: remove un-needed plugin
  apps/mobile/android/fastlane/Pluginfile
Due: none

chore(release): 6.60.1
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

chore: refactor fastlane to try and beter share lanes. Add slack hook
  apps/mobile/fastlane/Appfile
  apps/mobile/fastlane/Fastfile
  apps/mobile/fastlane/Gemfile
  apps/mobile/fastlane/Gemfile.lock
  apps/mobile/fastlane/Matchfile
  apps/mobile/fastlane/README.md
  apps/mobile/fastlane/android/Gemfile
  apps/mobile/fastlane/android/Gemfile.lock
  apps/mobile/fastlane/android/fastlane/Fastfile
  apps/mobile/fastlane/android/fastlane/Pluginfile
  apps/mobile/fastlane/android/fastlane/README.md
  apps/mobile/fastlane/android/fastlane/report.xml
  apps/mobile/fastlane/ios/fastlane/Fastfile
  apps/mobile/fastlane/ios/fastlane/Gemfile
  apps/mobile/fastlane/ios/fastlane/Matchfile
  apps/mobile/fastlane/ios/fastlane/Pluginfile
  apps/mobile/fastlane/ios/fastlane/README.md
  apps/mobile/fastlane/ios/fastlane/report.xml
  apps/mobile/fastlane/report.xml
  apps/mobile/fastlane/shared/Fastfile
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/leatherwalletmobile.xcodeproj/project.pbxproj
Due: none

chore: refactor fastlane to try and beter share lanes. Add slack hook
  apps/mobile/fastlane/android/fastlane/Fastfile
  apps/mobile/fastlane/android/fastlane/Pluginfile
  apps/mobile/fastlane/ios/fastlane/Fastfile
  apps/mobile/fastlane/report.xml
Due: none

feat(rpc): stx_getAddresses, closes LEA-1958
  apps/extension/src/background/messaging/rpc-message-handler.ts
  apps/extension/src/background/messaging/rpc-methods/get-addresses.ts
  apps/extension/src/background/messaging/rpc-methods/stx-get-addresses.ts
  apps/extension/tests/specs/rpc-get-addresses/get-addresses.spec.ts
Due: none

chore: wip
  apps/mobile/src/app/(home)/token/[token]/index.tsx
  apps/mobile/src/app/(home)/token/[token]/token-overview-card.tsx
  apps/mobile/src/app/(home)/token/[token]/token.layout.tsx
Due: none

chore: wip
  apps/mobile/src/app/(home)/token/[token]/index.tsx
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
  apps/mobile/src/features/balances/stacks/sip10-balance.tsx
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  packages/query/src/bitcoin/runes/runes.utils.ts
  packages/query/src/stacks/sip10/sip10-tokens.utils.ts
  packages/query/src/stacks/token-metadata/fungible-tokens/fungible-token-metadata.hooks.ts
  packages/services/src/assets/sip10-asset.utils.ts
  packages/services/src/balances/sip10-balances.service.ts
  packages/services/src/balances/sip10-balances.utils.ts
  packages/services/src/market-data/market-data.service.ts
Due: query

fix: stacks js v6 mock broadcast tx for swaps
  apps/extension/tests/mocks/mock-stacks-txs.ts
  apps/extension/tests/specs/swap/swap.spec.ts
Due: none

feat: runes balances service
  apps/mobile/src/features/balances/bitcoin/runes-balance.tsx
  apps/mobile/src/features/balances/stacks/sip10-balance.tsx
  apps/mobile/src/queries/balance/account-balance.query.ts
  apps/mobile/src/queries/balance/runes-balance.query.ts
  apps/mobile/src/queries/balance/total-balance.query.ts
  packages/services/src/balances/runes-balances.service.ts
  packages/services/src/balances/runes-balances.utils.spec.ts
  packages/services/src/balances/runes-balances.utils.ts
  packages/services/src/balances/sip10-balances.service.spec.ts
  packages/services/src/balances/sip10-balances.service.ts
  packages/services/src/balances/sip10-balances.utils.spec.ts
  packages/services/src/balances/sip10-balances.utils.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/api/best-in-slot/best-in-slot-api.client.ts
  packages/services/src/infrastructure/api/best-in-slot/best-in-slot-api.schema.ts
  packages/services/src/infrastructure/cache/http-cache.utils.ts
  packages/services/src/market-data/market-data.service.ts
Due: none

fix: prevent tab index to embedded elements
  apps/extension/src/app/components/collectibles/collectible-iframe.tsx
Due: none

fix: stx call contract types
  packages/rpc/src/index.ts
  packages/rpc/src/methods/stacks/stx-call-contract.ts
Due: none

fix(rpc): refactor msg signing types, add publicKey param in response
  packages/rpc/src/methods/stacks/stx-get-addresses.ts
  packages/rpc/src/methods/stacks/stx-sign-message.ts
Due: none

feat: address monitor and btc tx notifications
  apps/extension/pnpm-lock.yaml
  apps/extension/scripts/generate-manifest.js
  apps/extension/src/app/features/address-monitor/use-monitorable-addresses.ts
  apps/extension/src/app/features/address-monitor/use-sync-address-monitor.ts
  apps/extension/src/app/features/container/container.tsx
  apps/extension/src/app/store/accounts/blockchain/bitcoin/native-segwit-account.hooks.ts
  apps/extension/src/app/store/accounts/blockchain/bitcoin/taproot-account.hooks.ts
  apps/extension/src/background/background.ts
  apps/extension/src/background/messaging/internal-methods/message-handler.ts
  apps/extension/src/background/monitors/address-monitor.ts
  apps/extension/src/background/monitors/address-monitors/bitcoin-transaction-monitor.ts
  apps/extension/src/background/monitors/address-monitors/bitcoin-transaction-monitor/mempool-ws.spec.ts
  apps/extension/src/background/monitors/address-monitors/bitcoin-transaction-monitor/mempool-ws.ts
  apps/extension/src/shared/message-types.ts
  apps/extension/src/shared/messages.ts
Due: none

feat: support fiat currency setting, ref LEA-2032
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/bitcoin/runes-balance.tsx
  apps/mobile/src/features/balances/stacks/sip10-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/send/send-form/loaders/send-form-btc-loader.tsx
  apps/mobile/src/features/send/send-form/loaders/send-form-stx-loader.tsx
  apps/mobile/src/queries/balance/account-balance.query.ts
  apps/mobile/src/queries/balance/btc-balance.query.ts
  apps/mobile/src/queries/balance/runes-balance.query.ts
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  apps/mobile/src/queries/balance/stx-balance.query.ts
  apps/mobile/src/queries/balance/total-balance.query.ts
  apps/mobile/src/queries/market-data/market-data.query.ts
  apps/mobile/src/services/init-app-services.ts
  apps/mobile/src/services/mobile-network-settings.service.ts
  apps/mobile/src/services/mobile-settings.service.ts
  packages/services/package.json
  packages/services/src/balances/btc-balances.service.ts
  packages/services/src/balances/constants.ts
  packages/services/src/balances/runes-balances.service.ts
  packages/services/src/balances/runes-balances.utils.spec.ts
  packages/services/src/balances/runes-balances.utils.ts
  packages/services/src/balances/sip10-balances.service.spec.ts
  packages/services/src/balances/sip10-balances.service.ts
  packages/services/src/balances/sip10-balances.utils.spec.ts
  packages/services/src/balances/sip10-balances.utils.ts
  packages/services/src/balances/stx-balances.service.spec.ts
  packages/services/src/balances/stx-balances.service.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/api/best-in-slot/best-in-slot-api.client.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/rate-limiter/rate-limiter.service.spec.ts
  packages/services/src/infrastructure/rate-limiter/rate-limiter.service.ts
  packages/services/src/infrastructure/settings/network-settings.service.ts
  packages/services/src/infrastructure/settings/settings.service.ts
  packages/services/src/inversify.config.ts
  packages/services/src/market-data/market-data.service.ts
  pnpm-lock.yaml
Due: none
