Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

feat: multisig tx signing (#2431)
  apps/web/app/features/multisig/transactions/btc-multisig-descriptor.spec.ts
  apps/web/app/features/multisig/transactions/btc-multisig-descriptor.ts
  apps/web/app/features/multisig/transactions/build-btc-transfer.spec.ts
  apps/web/app/features/multisig/transactions/build-btc-transfer.ts
  apps/web/app/features/multisig/transactions/build-stx-transfer.spec.ts
  apps/web/app/features/multisig/transactions/build-stx-transfer.ts
  apps/web/app/features/multisig/transactions/derive-multisig-address.ts
  apps/web/app/features/multisig/transactions/signing/extract-stx-multisig-signature.spec.ts
  apps/web/app/features/multisig/transactions/signing/extract-stx-multisig-signature.ts
  apps/web/app/features/multisig/transactions/signing/pre-sign-verification.spec.ts
  apps/web/app/features/multisig/transactions/signing/pre-sign-verification.ts
  apps/web/app/features/multisig/transactions/signing/sign-btc-transaction.ts
  apps/web/app/features/multisig/transactions/signing/sign-stx-transaction.ts
  apps/web/app/features/multisig/transactions/signing/substitute-stx-nonce.spec.ts
  apps/web/app/features/multisig/transactions/signing/substitute-stx-nonce.ts
  apps/web/app/pages/multisig/components/dev-tools/broadcast-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/cancel-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/dev-tools-panel.tsx
  apps/web/app/pages/multisig/components/dev-tools/propose-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/sign-tool.tsx
  apps/web/app/pages/multisig/components/dev-tools/transaction-tools.tsx
  packages/bitcoin/src/bip322/verify-message-bip322.spec.ts
  packages/bitcoin/src/bip322/verify-message-bip322.ts
  packages/bitcoin/src/index.ts
  packages/bitcoin/src/payments/p2wpkh-address-gen.ts
  packages/bitcoin/src/transactions/wsh-multisig-transaction.spec.ts
  packages/bitcoin/src/transactions/wsh-multisig-transaction.ts
  packages/bitcoin/src/utils/derive-xpub-child-public-key.spec.ts
  packages/bitcoin/src/utils/derive-xpub-child-public-key.ts
  packages/models/src/multisig.model.ts
  packages/services/src/infrastructure/api/leather/leather-api.types.ts
  packages/stacks/src/message-signing.spec.ts
  packages/stacks/src/message-signing.ts
  pnpm-lock.yaml
Due: bitcoin, stacks

feat(web): show multisig transactions on dashboard
  apps/web/app/features/multisig/vaults/use-vault-transactions.ts
  apps/web/app/features/multisig/vaults/vault-query-keys.ts
  apps/web/app/pages/multisig/account/account.page.tsx
  apps/web/app/pages/multisig/account/components/account-transactions.tsx
  apps/web/app/pages/multisig/components/status-pill.tsx
  apps/web/app/pages/multisig/components/tx-row.tsx
  apps/web/app/pages/multisig/dashboard/dashboard.page.tsx
  apps/web/app/pages/multisig/data/multisig-types.ts
  apps/web/app/pages/multisig/store/use-multisig.ts
  apps/web/app/pages/multisig/tx/components/signer-rollcall.tsx
  apps/web/app/pages/multisig/tx/components/tx-details-table.tsx
  apps/web/app/pages/multisig/tx/relative-time.ts
  apps/web/app/pages/multisig/tx/tx.page.tsx
Due: none

refactor(web): consistent layout and spacing across multisig views
  apps/web/app/pages/multisig/account/account.page.tsx
  apps/web/app/pages/multisig/components/multisig-page.tsx
  apps/web/app/pages/multisig/components/section-label.tsx
  apps/web/app/pages/multisig/create-vault/create-vault.page.tsx
  apps/web/app/pages/multisig/dashboard/dashboard.page.tsx
  apps/web/app/pages/multisig/settings/settings.page.tsx
  apps/web/app/pages/multisig/tx/tx.page.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
Due: none

fix(extension): correct disabled swap button outline and add explanatory tooltip (#2429)
  apps/extension/src/app/pages/home/components/account-actions-current/account-actions.tsx
  packages/ui/src/components/button/button.web.tsx
Due: none

fix(extension): tidy up the multi-wallet account row in approval views
  apps/extension/src/app/components/account/account-addresses.tsx
  apps/extension/src/app/components/account/account-list-item.layout.tsx
  apps/extension/src/app/features/current-account/current-account-displayer.spec.tsx
  apps/extension/src/app/features/current-account/current-account-displayer.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/signing-account-card/signing-account-card.spec.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/signing-account-card/signing-account-card.tsx
  apps/extension/tests/specs/rpc-get-addresses/get-addresses.spec.ts
  apps/extension/tests/specs/rpc-send-transfer/rpc-send-transfer.spec.ts
  apps/extension/tests/specs/rpc-sign-psbt/sign-psbt.spec.ts
  packages/ui/src/components/item-layout/item-layout.web.tsx
Due: none

feat(web): proposal, signing, broadcast
  apps/web/app/features/multisig/transactions/use-propose-transaction.ts
  apps/web/app/features/multisig/transactions/use-transaction-mutations.ts
  apps/web/app/features/multisig/vaults/use-dashboard-activity.ts
  apps/web/app/features/multisig/vaults/use-vault-transactions.ts
  apps/web/app/layouts/page/page.tsx
  apps/web/app/pages/multisig/account/account.page.tsx
  apps/web/app/pages/multisig/account/components/propose-transaction-modal.tsx
  apps/web/app/pages/multisig/components/text-field.tsx
  apps/web/app/pages/multisig/components/transaction-row.tsx
  apps/web/app/pages/multisig/dashboard/dashboard.page.tsx
  apps/web/app/pages/multisig/tx/components/signer-rollcall.tsx
  apps/web/app/pages/multisig/tx/tx.page.tsx
  apps/web/app/pages/multisig/vault/components/vault-transactions.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
  package.json
  pnpm-lock.yaml
Due: none

fix: add networks
  apps/extension/src/app/pages/network/components/bitcoin-api-section.tsx
  apps/extension/src/app/pages/network/components/network-form-fields.tsx
  apps/extension/src/app/pages/network/components/network-list-item-menu.tsx
  apps/extension/src/app/pages/network/components/network-list-item.tsx
  apps/extension/src/app/pages/network/select-network.tsx
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy-account.ts
  apps/extension/src/app/store/accounts/accounts.slice.spec.ts
  apps/extension/src/app/store/policy/policy-store.utils.ts
  apps/extension/src/app/store/policy/policy.selectors.ts
  apps/extension/src/app/store/policy/policy.slice.spec.ts
  apps/extension/src/app/store/policy/policy.slice.ts
  apps/extension/src/background/messaging/rpc-methods/btc-add-account.ts
  apps/extension/src/background/messaging/rpc-methods/stx-add-account.ts
Due: none

fix: linters
  apps/extension/src/app/store/policy/policy.selectors.ts
Due: none

fix: registration networks
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy-account.spec.ts
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy-account.spec.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy-account.ts
  apps/extension/src/app/store/networks/networks.slice.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
Due: bitcoin

fix: linters
  apps/extension/src/app/pages/rpc-btc-add-account/btc-policy-account-registration.ts
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy-account.spec.ts
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy-account.spec.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/stx-policy-account-registration.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
Due: bitcoin

fix(extension): tidy up the multi-wallet account row in approval views (#2433)
  apps/extension/src/app/components/account/account-addresses.tsx
  apps/extension/src/app/components/account/account-list-item.layout.tsx
  apps/extension/src/app/features/current-account/current-account-displayer.spec.tsx
  apps/extension/src/app/features/current-account/current-account-displayer.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/signing-account-card/signing-account-card.spec.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/signing-account-card/signing-account-card.tsx
  apps/extension/tests/specs/rpc-get-addresses/get-addresses.spec.ts
  apps/extension/tests/specs/rpc-send-transfer/rpc-send-transfer.spec.ts
  apps/extension/tests/specs/rpc-sign-psbt/sign-psbt.spec.ts
  packages/ui/src/components/item-layout/item-layout.web.tsx
Due: none

fix: rename policyAccount to policy
  apps/extension/src/app/pages/network/components/network-list-item-menu.tsx
  apps/extension/src/app/pages/policy-feature-gate.ts
  apps/extension/src/app/pages/policy-match.ts
  apps/extension/src/app/pages/rpc-btc-add-account/btc-policy-registration.ts
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy.spec.ts
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy.ts
  apps/extension/src/app/pages/rpc-btc-add-account/rpc-btc-add-account.tsx
  apps/extension/src/app/pages/rpc-btc-add-account/use-btc-add-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy.spec.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy.ts
  apps/extension/src/app/pages/rpc-stx-add-account/rpc-stx-add-account.tsx
  apps/extension/src/app/pages/rpc-stx-add-account/stx-policy-registration.ts
  apps/extension/src/app/pages/rpc-stx-add-account/use-stx-add-account.ts
  apps/extension/src/app/store/accounts/accounts.slice.spec.ts
  apps/extension/src/app/store/accounts/accounts.slice.ts
  apps/extension/src/app/store/policy/policy.slice.spec.ts
  apps/extension/src/app/store/policy/policy.slice.ts
  apps/extension/src/app/store/replay-actions.spec.ts
  apps/extension/src/app/store/replay-actions.ts
  apps/extension/src/background/messaging/methods-restricted-to-origin.ts
  apps/extension/src/shared/constants.ts
  packages/rpc/src/methods/bitcoin/btc-add-account.ts
  packages/rpc/src/methods/stacks/stx-add-account.ts
Due: none

feat(web): unify the connect overlay across portfolio and multisig (#2432)
  apps/web/app/components/connect-card/connect-card.tsx
  apps/web/app/pages/multisig/onboarding/components/onboarding-connect-row.tsx
  apps/web/app/pages/multisig/onboarding/onboarding.page.tsx
  apps/web/app/pages/portfolio/components/wallet-connection-modal.tsx
  apps/web/public/images/connect-logo.svg
Due: none

fix: default to mainnet if network is not provided
  apps/extension/src/app/pages/rpc-btc-add-account/btc-policy-registration.ts
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy.spec.ts
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy.spec.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy.ts
  apps/extension/src/app/pages/rpc-stx-add-account/stx-policy-registration.ts
Due: none

refactor(web): consistent layout and spacing across multisig views (#2434)
  apps/web/app/pages/multisig/account/account.page.tsx
  apps/web/app/pages/multisig/components/multisig-page.tsx
  apps/web/app/pages/multisig/components/section-label.tsx
  apps/web/app/pages/multisig/create-vault/create-vault.page.tsx
  apps/web/app/pages/multisig/dashboard/dashboard.page.tsx
  apps/web/app/pages/multisig/settings/settings.page.tsx
  apps/web/app/pages/multisig/tx/tx.page.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
Due: none

fix: check btc network and compare it to descriptors
  apps/extension/src/app/pages/rpc-btc-add-account/btc-policy-registration.ts
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
Due: bitcoin

fix: network edits and remove watch-only
  apps/extension/src/app/pages/network/components/use-add-network.tsx
  apps/extension/src/app/store/networks/networks.actions.spec.ts
  apps/extension/src/app/store/networks/networks.actions.ts
  apps/extension/src/app/store/networks/networks.hooks.ts
  apps/extension/src/app/store/policy/policy-store.utils.ts
  apps/extension/src/app/store/policy/policy.selectors.ts
  packages/rpc/src/methods/bitcoin/btc-add-account.ts
Due: none

fix: account name max length
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/rename-account-dialog.tsx
  packages/constants/src/index.ts
  packages/rpc/package.json
  packages/rpc/src/methods/bitcoin/btc-add-account.spec.ts
  packages/rpc/src/methods/bitcoin/btc-add-account.ts
  packages/rpc/src/methods/stacks/stx-add-account.spec.ts
  packages/rpc/src/methods/stacks/stx-add-account.ts
  pnpm-lock.yaml
Due: none

chore: codex symlink
  .agents/skills
  AGENTS.md
  knip.json
Due: none

fix(extension): label Bitcoin API dropdown as Custom when values diverge from a preset (#2428)
  apps/extension/src/app/pages/network/components/bitcoin-api-section.tsx
  apps/extension/src/app/pages/network/components/network-form-fields.tsx
  apps/extension/src/app/pages/network/components/network-presets.spec.ts
  apps/extension/src/app/pages/network/components/network-presets.ts
  apps/extension/tests/specs/network/add-network.spec.ts
Due: none

feat(web): enrich multisig transaction details and polish the signing flow
  apps/web/app/components/icons/sign-icon.tsx
  apps/web/app/features/multisig/transactions/decode-proposal-summary.ts
  apps/web/app/features/multisig/transactions/use-onchain-transaction.ts
  apps/web/app/pages/multisig/account/account.page.tsx
  apps/web/app/pages/multisig/account/components/account-transactions.tsx
  apps/web/app/pages/multisig/dashboard/dashboard.page.tsx
  apps/web/app/pages/multisig/multisig-tokens.ts
  apps/web/app/pages/multisig/multisig.utils.ts
  apps/web/app/pages/multisig/tx/components/signer-rollcall.tsx
  apps/web/app/pages/multisig/tx/components/tx-details-table.tsx
  apps/web/app/pages/multisig/tx/tx.page.tsx
  apps/web/app/pages/multisig/vault/components/vault-transactions.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
  packages/stacks/src/index.ts
  packages/stacks/src/transactions/decode-stx-transfer.spec.ts
  packages/stacks/src/transactions/decode-stx-transfer.ts
Due: stacks

chore: codex symlink (#2436)
  .agents/skills
  AGENTS.md
  knip.json
Due: none

fix: remove overrides
  package.json
  pnpm-lock.yaml
Due: none

feat(web): transactions list + details, proposal + sign flow (#2435)
  apps/web/app/components/icons/sign-icon.tsx
  apps/web/app/features/multisig/transactions/decode-proposal-summary.ts
  apps/web/app/features/multisig/transactions/use-onchain-transaction.ts
  apps/web/app/features/multisig/transactions/use-propose-transaction.ts
  apps/web/app/features/multisig/transactions/use-transaction-mutations.ts
  apps/web/app/features/multisig/vaults/use-dashboard-activity.ts
  apps/web/app/features/multisig/vaults/use-vault-transactions.ts
  apps/web/app/features/multisig/vaults/vault-query-keys.ts
  apps/web/app/layouts/page/page.tsx
  apps/web/app/pages/multisig/account/account.page.tsx
  apps/web/app/pages/multisig/account/components/account-transactions.tsx
  apps/web/app/pages/multisig/account/components/propose-transaction-modal.tsx
  apps/web/app/pages/multisig/components/address-text.tsx
  apps/web/app/pages/multisig/components/multisig-page.tsx
  apps/web/app/pages/multisig/components/status-pill.tsx
  apps/web/app/pages/multisig/components/text-field.tsx
  apps/web/app/pages/multisig/components/transaction-row.tsx
  apps/web/app/pages/multisig/components/transaction-status.ts
  apps/web/app/pages/multisig/components/tx-row.tsx
  apps/web/app/pages/multisig/dashboard/dashboard.page.tsx
  apps/web/app/pages/multisig/data/multisig-types.ts
  apps/web/app/pages/multisig/multisig-tokens.ts
  apps/web/app/pages/multisig/multisig.utils.ts
  apps/web/app/pages/multisig/store/use-multisig.ts
  apps/web/app/pages/multisig/tx/components/signer-rollcall.tsx
  apps/web/app/pages/multisig/tx/components/tx-details-table.tsx
  apps/web/app/pages/multisig/tx/relative-time.ts
  apps/web/app/pages/multisig/tx/tx.page.tsx
  apps/web/app/pages/multisig/vault/components/vault-transactions.tsx
  apps/web/app/pages/multisig/vault/vault.page.tsx
  packages/stacks/src/index.ts
  packages/stacks/src/transactions/decode-stx-transfer.spec.ts
  packages/stacks/src/transactions/decode-stx-transfer.ts
Due: stacks

fix: hook up rpc requests in multisig dapp
  apps/web/app/pages/multisig/account/account.page.tsx
  apps/web/app/pages/multisig/account/components/account-details-card.tsx
Due: none

fix: add policy rename/remove buttons
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/policy-action-menu.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/remove-policy-dialog.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/rename-account-dialog.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/rename-entity-dialog.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/rename-policy-dialog.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/switch-account-sheet.tsx
  apps/extension/src/app/store/accounts/accounts.slice.spec.ts
  apps/extension/src/app/store/accounts/accounts.slice.ts
  apps/extension/src/app/store/active/active.slice.spec.ts
  apps/extension/src/app/store/active/active.slice.ts
  apps/extension/src/app/store/policy/policy.actions.ts
  apps/extension/src/app/store/policy/policy.slice.spec.ts
  apps/extension/src/app/store/policy/policy.slice.ts
  apps/extension/tests/selectors/switch-account.selectors.ts
Due: none

fix: signMessage should default to mainnet if no network provided
  apps/extension/src/app/features/stacks-message-signer/components/stacks-signature-message-content.tsx
  apps/extension/src/app/features/stacks-message-signer/components/structured-data-content.tsx
  apps/extension/src/app/pages/rpc-sign-bip322-message/rpc-sign-bip322-message.tsx
  apps/extension/src/app/pages/rpc-sign-bip322-message/use-sign-bip322-message.ts
Due: none

fix: receive address on policy
  apps/extension/src/app/pages/home/components/account-actions-current/transfer-buttons.tsx
  apps/extension/src/app/pages/home/home.tsx
  apps/extension/src/app/pages/receive/receive-btc.tsx
  apps/extension/src/app/pages/receive/receive-stx.tsx
Due: none

fix: ledger on-device confirmation
  apps/extension/src/app/pages/policy-match.ts
  apps/extension/src/app/pages/rpc-btc-add-account/btc-policy-registration.ts
  apps/extension/src/app/pages/rpc-btc-add-account/ledger/ledger-confirm-btc-policy-address.tsx
  apps/extension/src/app/pages/rpc-btc-add-account/ledger/use-display-ledger-descriptor-address.ts
  apps/extension/src/app/pages/rpc-btc-add-account/register-btc-policy.spec.ts
  apps/extension/src/app/pages/rpc-btc-add-account/rpc-btc-add-account.tsx
  apps/extension/src/app/pages/rpc-btc-add-account/use-btc-add-account.ts
  apps/extension/src/app/pages/rpc-stx-add-account/register-stx-policy.spec.ts
  apps/extension/src/app/pages/rpc-stx-add-account/rpc-stx-add-account.tsx
  apps/extension/src/app/pages/rpc-stx-add-account/stx-policy-registration.ts
  apps/extension/src/app/pages/rpc-stx-add-account/use-stx-add-account.ts
  apps/extension/src/app/routes/rpc-routes.tsx
  apps/extension/src/background/messaging/methods-restricted-to-origin.ts
  apps/extension/src/background/messaging/rpc-message-handler.ts
  apps/extension/src/shared/constants.spec.ts
  apps/extension/src/shared/constants.ts
  packages/rpc/src/methods/bitcoin/btc-add-account.spec.ts
  packages/rpc/src/methods/bitcoin/btc-add-account.ts
  packages/rpc/src/methods/stacks/stx-add-account.ts
Due: none

fix: ci
  apps/extension/src/app/store/policy/policy-store.utils.ts
  apps/extension/src/app/store/policy/policy.selectors.ts
  apps/extension/tests/page-object-models/onboarding.page.ts
  apps/extension/tests/specs/rpc-get-addresses/get-addresses.spec.ts
  apps/mobile/src/features/browser/approver-sheet/get-addresses/utils.ts
  apps/web/app/mocks/extension/get-addresses/get-addresses.mock.ts
Due: none

fix: add replay action
  apps/extension/src/app/store/replay-actions.ts
Due: none

fix: display address on ledger verification
  apps/extension/src/app/features/ledger/generic-steps/device-busy/device-busy.layout.tsx
  apps/extension/src/app/features/ledger/generic-steps/device-busy/device-busy.tsx
  apps/extension/src/app/features/ledger/hooks/use-ledger-navigate.ts
  apps/extension/src/app/pages/rpc-btc-add-account/ledger/ledger-confirm-btc-policy-address.tsx
Due: none

fix: add nonWitnessUtxo for bip322 signing
  packages/bitcoin/src/bip322/sign-message-bip322-bitcoinjs.ts
Due: bitcoin

fix: add localhost to allowed origin if in dev mode
  apps/extension/package.json
  apps/extension/src/shared/constants.spec.ts
  apps/extension/src/shared/constants.ts
Due: none

fix: minor issues
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/policy-list-item.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/rename-account-dialog.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/rename-entity-dialog.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/rename-policy-dialog.tsx
  apps/extension/src/app/pages/home/components/account-actions-current/transfer-buttons.tsx
  apps/extension/src/app/store/active/active.slice.ts
  apps/extension/src/app/store/policy/policy-addresses.ts
  apps/extension/src/app/store/replay-actions.spec.ts
  apps/extension/src/shared/constants.ts
  packages/bitcoin/src/bip322/sign-message-bip322.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
Due: bitcoin

fix: minor issues
  apps/extension/src/app/components/account/account-list-item.layout.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/policy-list-item.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/switch-account-sheet.tsx
  apps/extension/src/app/pages/rpc-get-addresses/use-get-addresses.ts
  apps/extension/src/app/store/accounts/accounts.slice.spec.ts
  apps/extension/src/app/store/accounts/accounts.slice.ts
  apps/extension/src/app/store/policy/policy.selectors.spec.ts
  apps/extension/src/app/store/policy/policy.selectors.ts
  apps/extension/tests/selectors/settings.selectors.ts
Due: none

fix: add tests
  apps/extension/tests/mocks/mock-launchdarkly.ts
  apps/extension/tests/mocks/mock-policies.ts
  apps/extension/tests/page-object-models/switch-account.page.ts
  apps/extension/tests/specs/rpc-add-account/rpc-add-account.spec.ts
  apps/extension/tests/specs/rpc-get-addresses/get-addresses-policy.spec.ts
  apps/extension/tests/specs/switch-account/policy-accounts.spec.ts
Due: none

fix: minor issues
  apps/extension/src/background/messaging/rpc-methods/send-transfer.ts
  apps/extension/src/background/messaging/rpc-request-utils.spec.ts
  apps/extension/src/background/messaging/rpc-request-utils.ts
  packages/rpc/src/index.ts
  packages/rpc/src/methods/get-addresses.spec.ts
  packages/rpc/src/methods/get-addresses.ts
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
