Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

chore: rename needs:demo-build label
  .github/workflows/mobile-preview-builds.yml
Due: none

chore: move compliance checker tests back to mono
  packages/query/src/common/compliance-checker/compliance-checker.spec.ts
Due: query

refactor: replace occurrences of USD with fiat in fee-related approver code
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/features/approver/components/fees/base-fee-card.tsx
  apps/mobile/src/features/approver/components/fees/base-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-sheet.tsx
  apps/mobile/src/features/approver/components/fees/stacks-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/stacks-fee-sheet.tsx
  apps/mobile/src/features/approver/components/inputs-outputs-card.tsx
  apps/mobile/src/features/approver/components/utxo-row.tsx
Due: none

refactor: remove unnecessary syntax from lookups
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-sheet.tsx
  apps/mobile/src/features/approver/utils.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

fix(mobile): collapse the sheet and show toast on fee selection in approver
  apps/mobile/src/features/approver/components/fees/base-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-sheet.tsx
  apps/mobile/src/features/approver/components/fees/fee-sheet.layout.tsx
  apps/mobile/src/features/approver/components/fees/stacks-fee-sheet.tsx
  apps/mobile/src/features/psbt-signer/psbt-signer.tsx
  apps/mobile/src/features/stacks-tx-signer/stacks-tx-signer.tsx
Due: none

feat(web): add query provider and upgrade alex sdk package
  apps/web/app/app.tsx
  apps/web/app/constants.ts
  apps/web/app/constants/environment.ts
  apps/web/app/queries/stacks/stacks-client.ts
  apps/web/app/root.tsx
  apps/web/app/store/stacks-network.ts
  apps/web/app/types/network.ts
  apps/web/package.json
  apps/web/vite.config.ts
  apps/web/wrangler.toml
  packages/query/package.json
  packages/services/package.json
  pnpm-lock.yaml
Due: query

refactor: query package
  packages/query/index.ts
  packages/query/src/bitcoin/address/address.utils.ts
  packages/query/src/bitcoin/address/transactions-by-address.hooks.ts
  packages/query/src/bitcoin/address/transactions-by-address.spec.ts
  packages/query/src/bitcoin/address/utxos-by-address.hooks.ts
  packages/query/src/bitcoin/address/utxos-by-address.spec.tsx
  packages/query/src/bitcoin/balance/balance.utils.ts
  packages/query/src/bitcoin/balance/btc-taproot-balance.query.ts
  packages/query/src/bitcoin/ordinals/inscriptions.query.ts
  packages/query/src/bitcoin/ordinals/inscriptions.spec.ts
  packages/query/src/bitcoin/ordinals/ordinals.utils.ts
  packages/query/src/common/alex-sdk/alex-sdk-swappable-currency.query.ts
  packages/query/src/common/alex-sdk/alex-sdk.utils.ts
  packages/query/src/common/market-data/market-data.utils.ts
  packages/query/src/stacks/balance/account-balance.utils.ts
  packages/query/src/stacks/stx20/stx20-tokens.utils.ts
Due: query

ci: eas build on dev
  .github/actions/eas-deploy-android/action.yml
  .github/actions/eas-deploy-ios/action.yml
  .github/workflows/mobile-preview-builds-dev.yml
  .github/workflows/mobile-preview-builds-pr.yml
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: query

refactor(web): upgrade cloudflare build config
  apps/mobile/package.json
  apps/web/.gitignore
  apps/web/app/routes/earn.tsx
  apps/web/package.json
  apps/web/public/favicon.ico
  apps/web/react-router.config.ts
  apps/web/tsconfig.cloudflare.json
  apps/web/vite.config.ts
  apps/web/workers/app.ts
  apps/web/wrangler.jsonc
  apps/web/wrangler.toml
  package.json
  packages/analytics/package.json
  packages/bitcoin/package.json
  packages/constants/package.json
  packages/crypto/package.json
  packages/models/package.json
  packages/panda-preset/package.json
  packages/prettier-config/.prettierrc.js
  packages/provider/package.json
  packages/query/package.json
  packages/rpc/package.json
  packages/sdk/package.json
  packages/services/package.json
  packages/stacks/package.json
  packages/tokens/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: bitcoin, query, utils, crypto, stacks

fix: provide feedback to user while broadcasting, closes (leather-io/extension#6193)
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/btc/btc-send-form-confirmation.tsx
Due: none

fix: settings test
  apps/extension/tests/specs/settings/settings.spec.ts
Due: none

fix(web): icon bundling, runtime errors caught in tests
  apps/web/app/components/icons/bitcoin-icon.tsx
  apps/web/app/components/icons/stacks-icon.tsx
  apps/web/app/layouts/footer/footer.tsx
  apps/web/app/pages/earn/earn.tsx
  apps/web/public/icons/bitcoin.svg
  apps/web/public/icons/stacks.svg
  apps/web/tests/earn.spec.ts
  apps/web/tests/homepage.spec.ts
  apps/web/tests/index.ts
  eslint.config.js
Due: none

fix: remove skipping utxos check unless test env
  apps/extension/src/app/pages/rpc-send-transfer/use-rpc-send-transfer-actions.tsx
Due: none

fix: update analytics usage
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/app-analytics.ts
  apps/extension/src/app/features/collectibles/components/bitcoin/ordinals.tsx
  apps/extension/src/app/features/collectibles/components/bitcoin/stamps.tsx
  apps/extension/src/shared/utils/analytics.ts
Due: none

fix: test ci fix
  apps/extension/src/app/pages/rpc-send-transfer/use-rpc-send-transfer-actions.tsx
Due: none

refactor: address breaking changes in Avatar
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/components/sbtc-deposit-status-item/sbtc-deposit-status-item.tsx
  apps/extension/src/app/components/stacks-asset-avatar.tsx
  apps/extension/src/app/pages/fund/components/icon-components.tsx
  apps/extension/src/app/pages/receive/components/receive-tokens.tsx
  apps/extension/src/app/pages/swap/components/swap-asset-select/components/select-asset-trigger-button.tsx
  apps/extension/src/app/pages/swap/components/swap-asset-sheet/components/swap-asset-item.tsx
  apps/extension/src/app/ui/components/avatar/stamps-avatar-icon.tsx
  apps/extension/src/app/ui/components/avatar/stx20-avatar-icon.tsx
Due: none

feat: integrate leather api types into client
  apps/mobile/src/services/init-app-services.ts
  packages/constants/src/index.ts
  packages/services/package.json
  packages/services/redocly.yaml
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/api/leather/leather-api.types.ts
  packages/services/src/inversify.config.ts
  packages/services/src/inversify.types.ts
  pnpm-lock.yaml
Due: none

chore(release): 6.65.2
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

feat(web): add provider icons
  apps/web/app/components/img-loader.tsx
  apps/web/app/components/table.tsx
  apps/web/app/pages/earn/components/earn-provider-table.tsx
  apps/web/public/icons/32x32_FastPool.png
  apps/web/public/icons/32x32_Lisa.png
  apps/web/public/icons/32x32_PlanBetter.png
  apps/web/public/icons/32x32_Restake.png
  apps/web/public/icons/32x32_StackingDao.png
  apps/web/public/icons/32x32_Xverse.png
  apps/web/public/icons/fastpool.webp
  apps/web/public/icons/lisa.webp
  apps/web/public/icons/planbetter.webp
  apps/web/public/icons/restake.webp
  apps/web/public/icons/stacking-dao.webp
  apps/web/public/icons/xverse.webp
Due: none

feat(web): side bar v2
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/sbtc-rewards/sbtc-rewards.tsx
  apps/web/app/pages/stacking/components/earn-instructions.tsx
  apps/web/app/pages/stacking/components/earn-provider-table.tsx
  apps/web/app/pages/stacking/components/liquid-stacking-explainer.tsx
  apps/web/app/pages/stacking/components/stacking-explainer.tsx
  apps/web/app/pages/stacking/stacking.tsx
  apps/web/app/routes.ts
  apps/web/app/routes/sbtc-rewards.tsx
  apps/web/app/routes/stacking.tsx
  apps/web/panda.config.ts
  packages/panda-preset/src/borders.ts
  packages/ui/src/components/hr.web.tsx
Due: none

feat(web): table improvements
  apps/web/app/components/icons/bitcoin-icon.tsx
  apps/web/app/components/icons/stacks-icon.tsx
  apps/web/app/components/table.tsx
  apps/web/app/constants.ts
  apps/web/app/constants/constants.ts
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/features/stacking/components/preset-pools.tsx
  apps/web/app/features/stacking/utils/utils-delegate-stx.ts
  apps/web/app/features/stacking/utils/utils-preset-pools.ts
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/stacking/components/earn-provider-table.tsx
  apps/web/package.json
  apps/web/tests/earn.spec.ts
  eslint.config.js
  packages/constants/src/index.ts
  packages/panda-preset/src/recipes/button-recipe.ts
  packages/ui/src/assets/icons/mobile-16-16.svg
  packages/ui/src/assets/icons/mobile-24-24.svg
  packages/ui/src/assets/icons/puzzle-16-16.svg
  packages/ui/src/assets/icons/puzzle-24-24.svg
  packages/ui/src/icons/index.web.ts
  packages/ui/src/icons/mobile-icon.web.tsx
  packages/ui/src/icons/puzzle-icon.web.tsx
  pnpm-lock.yaml
Due: none
