Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

ci: test automated changelog
  .github/workflows/mobile-beta-builds.yml
Due: none

fix: changelog generation
  .github/workflows/mobile-beta-builds.yml
Due: none

fix: less specific regex
  .github/workflows/mobile-beta-builds.yml
Due: none

fix: correct regex
  .github/workflows/mobile-beta-builds.yml
Due: none

fix: attempting to read value
  .github/workflows/mobile-beta-builds.yml
Due: none

chore: testing output
  .github/actions/previous-mobile-tag/action.yml
  .github/workflows/mobile-beta-builds.yml
Due: none

fix: ensure i fetch history
  .github/actions/previous-mobile-tag/action.yml
  .github/workflows/mobile-beta-builds.yml
Due: none

fix: debugging
  .github/actions/previous-mobile-tag/action.yml
  .github/workflows/mobile-beta-builds.yml
Due: none

fix: trying to fix output
  .github/actions/previous-mobile-tag/action.yml
  .github/workflows/mobile-beta-builds.yml
Due: none

chore: send form validation
  apps/mobile/src/features/psbt-signer/psbt-signer.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/send/send-form/providers/send-form-btc-provider.tsx
  apps/mobile/src/features/send/send-form/providers/send-form-stx-provider.tsx
  apps/mobile/src/features/send/send-form/send-form.utils.ts
  apps/mobile/src/features/send/send-form/validation/btc.amount-validators.ts
  apps/mobile/src/features/send/send-form/validation/btc.fee-validators.ts
  apps/mobile/src/features/send/send-form/validation/btc.validation.ts
  apps/mobile/src/features/send/send-form/validation/common.validation.ts
  apps/mobile/src/features/send/send-form/validation/stx.amount-validators.ts
  apps/mobile/src/features/send/send-form/validation/stx.fee-validators.ts
  apps/mobile/src/features/send/send-form/validation/stx.validation.ts
  apps/mobile/src/features/send/send-sheet-navigator.tsx
  apps/mobile/src/features/send/send-sheets/select-account-sheet.tsx
  apps/mobile/src/features/send/send-sheets/select-asset-sheet.tsx
  apps/mobile/src/features/send/send-sheets/send-form-btc-sheet.tsx
  apps/mobile/src/features/send/send-sheets/send-form-stx-sheet.tsx
  apps/mobile/src/features/send/send-sheets/sign-psbt.tsx
  apps/mobile/src/features/send/send-sheets/sign-stacks-tx.tsx
Due: none

chore: send form validation
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
Due: none

chore: btc validation
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/send/send-form/validation/btc.validation.ts
  packages/bitcoin/src/coin-selection/coin-selection.ts
  packages/bitcoin/src/validation/address-validation.ts
  packages/stacks/src/validation/stacks-error.ts
  packages/stacks/src/validation/transaction-validation.ts
  packages/utils/src/index.ts
  packages/utils/src/validation/error.ts
  packages/utils/src/validation/transaction-validation.ts
Due: bitcoin, utils, stacks

chore: swap to validate on change as onBlur poor experience
  apps/mobile/src/features/send/send-form/components/send-form-amount-field.tsx
  apps/mobile/src/features/send/send-form/components/send-form-button.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/schemas/send-form-btc.schema.ts
  apps/mobile/src/features/send/send-form/send-form.tsx
Due: none

chore: btc validation
  apps/mobile/src/features/send/send-form/components/send-form-button.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/send/send-form/send-form.tsx
  apps/mobile/src/features/send/send-form/validation/stx.validation.ts
  packages/stacks/src/validation/address-validation.ts
  packages/stacks/src/validation/transaction-validation.ts
Due: stacks

chore: add btc amount validation
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/validation/btc.validation.ts
  packages/bitcoin/src/coin-selection/calculate-max-spend.ts
  packages/bitcoin/src/index.ts
  packages/bitcoin/src/validation/amount-validation.ts
  packages/bitcoin/src/validation/bitcoin-error.ts
  packages/bitcoin/src/validation/transaction-validation.ts
Due: bitcoin

chore: add btc package unit tests
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/send/send-form/validation/btc.validation.ts
  packages/bitcoin/src/coin-selection/calculate-max-spend.ts
  packages/bitcoin/src/coin-selection/coin-selection.spec.ts
  packages/bitcoin/src/coin-selection/coin-selection.utils.spec.ts
  packages/bitcoin/src/fees/bitcoin-fees.spec.ts
  packages/bitcoin/src/index.ts
  packages/bitcoin/src/mocks/mocks.ts
  packages/bitcoin/src/transactions/generate-unsigned-transaction.spec.ts
  packages/bitcoin/src/validation/address-validation.spec.ts
  packages/bitcoin/src/validation/address-validation.ts
  packages/bitcoin/src/validation/amount-validation.spec.ts
  packages/bitcoin/src/validation/transaction-validation.spec.ts
  packages/services/src/utxos/utxos.utils.ts
  packages/stacks/src/validation/transaction-validation.ts
Due: bitcoin, stacks

chore: add stacks transactions unit tests
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  packages/models/src/network.model.ts
  packages/stacks/src/index.ts
  packages/stacks/src/mocks/mocks.ts
  packages/stacks/src/validation/address-validation.spec.ts
  packages/stacks/src/validation/address-validation.ts
  packages/stacks/src/validation/transaction-validation.spec.ts
  packages/stacks/src/validation/transaction-validation.ts
Due: stacks

fix: block vitest remote code execution
  apps/mobile/package.json
  package.json
  packages/analytics/package.json
  packages/bitcoin/package.json
  packages/crypto/package.json
  packages/provider/package.json
  packages/query/package.json
  packages/rpc/package.json
  packages/services/package.json
  packages/stacks/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: bitcoin, query, utils, crypto, stacks

fix: add resolution for path-to-regexp to fix vulnerability
  package.json
  pnpm-lock.yaml
Due: none

fix: update dompurify to prevent xss vulnerability
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

fix: esbuild vulnerability fix
  package.json
  pnpm-lock.yaml
Due: none

fix: fix package vulnerabilities
  package.json
  pnpm-lock.yaml
Due: none

fix: update vulnerabilities
  package.json
Due: none

feat: add test app
  .dependency-cruiser.cjs
  apps/test-app/.gitignore
  apps/test-app/README.md
  apps/test-app/eslint.config.mjs
  apps/test-app/next.config.ts
  apps/test-app/package.json
  apps/test-app/postcss.config.mjs
  apps/test-app/public/file.svg
  apps/test-app/public/globe.svg
  apps/test-app/public/next.svg
  apps/test-app/public/vercel.svg
  apps/test-app/public/window.svg
  apps/test-app/src/app/favicon.ico
  apps/test-app/src/app/globals.css
  apps/test-app/src/app/layout.tsx
  apps/test-app/src/app/page.tsx
  apps/test-app/src/components/get-addresses-section.tsx
  apps/test-app/src/components/labeled-input.tsx
  apps/test-app/src/components/section.tsx
  apps/test-app/src/components/select.tsx
  apps/test-app/src/components/sign-psbt-section.tsx
  apps/test-app/src/components/transfer-stx-section.tsx
  apps/test-app/src/index.d.ts
  apps/test-app/src/services/init-app-services.ts
  apps/test-app/src/services/mobile-http-cache.service.ts
  apps/test-app/src/services/mobile-settings.service.ts
  apps/test-app/src/utils/bitcoin-transaction.ts
  apps/test-app/tailwind.config.ts
  apps/test-app/tsconfig.json
  pnpm-lock.yaml
Due: none

chore: refactor dom purify
  packages/ui/src/components/collectibles/web/collectible-text.layout.web.tsx
  packages/ui/src/components/collectibles/web/inscription-preview-card/components/inscription-text.layout.web.tsx
  packages/ui/src/components/collectibles/web/inscription-text.web.tsx
Due: none

feat: implement btc outbound balance
  packages/constants/src/index.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/api/best-in-slot/best-in-slot-api.client.ts
  packages/services/src/infrastructure/api/best-in-slot/best-in-slot-api.utils.spec.ts
  packages/services/src/infrastructure/api/best-in-slot/best-in-slot-api.utils.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/api/leather/leather-api.pagination.ts
  packages/services/src/infrastructure/api/leather/leather-api.schemas.ts
  packages/services/src/infrastructure/settings/settings.selectors.spec.ts
  packages/services/src/infrastructure/settings/settings.selectors.ts
  packages/services/src/inversify.config.ts
  packages/services/src/transactions/bitcoin-transactions.service.ts
  packages/services/src/transactions/bitcoin-transactions.utils.spec.ts
  packages/services/src/transactions/bitcoin-transactions.utils.ts
  packages/services/src/utxos/utxos.service.ts
  packages/services/src/utxos/utxos.utils.spec.ts
  packages/services/src/utxos/utxos.utils.ts
Due: none

feat: enable notifications by default
  apps/extension/src/app/store/settings/settings.slice.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat: add address validation to stacks pacakge, ref LEA-1647
  packages/stacks/package.json
  packages/stacks/src/index.ts
  packages/stacks/src/mocks/mocks.ts
  packages/stacks/src/validation/address-validation.spec.ts
  packages/stacks/src/validation/address-validation.ts
  packages/stacks/src/validation/stacks-error.ts
  packages/stacks/src/validation/transaction-validation.spec.ts
  packages/stacks/src/validation/transaction-validation.ts
  pnpm-lock.yaml
Due: stacks

feat: validate stacks address in mobile send, ref LEA-1647
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/send/send-form/validation/stx.validation.ts
  packages/stacks/src/mocks/mocks.ts
  packages/stacks/src/validation/address-validation.spec.ts
  packages/stacks/src/validation/address-validation.ts
  packages/stacks/src/validation/stacks-error.ts
  packages/stacks/src/validation/transaction-validation.spec.ts
Due: stacks

fix: update sbtc bitcoin url
  packages/models/src/network/network.model.ts
Due: none

ci: test merge back for tags
  .github/actions/previous-mobile-tag/action.yml
  .github/workflows/update-mobile-versions.yml
Due: none

ci: run on tags push
  .github/actions/previous-mobile-tag/action.yml
  .github/workflows/update-mobile-versions.yml
Due: none

ci: fix substitution
  .github/actions/previous-mobile-tag/action.yml
  .github/workflows/update-mobile-versions.yml
Due: none

ci: get proper branch
  .github/actions/previous-mobile-tag/action.yml
  .github/workflows/update-mobile-versions.yml
Due: none
