Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

chore: wip
  apps/mobile/ios/leatherwalletmobile.xcodeproj/project.pbxproj
  apps/mobile/ios/leatherwalletmobile.xcodeproj/xcshareddata/xcschemes/leatherwalletmobile.xcscheme
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: bitcoin, query

chore: wip
  apps/mobile/ios/leatherwalletmobile.xcodeproj/project.pbxproj
Due: none

feat(rpc): add stx_getNetworks
  packages/rpc/src/index.ts
  packages/rpc/src/methods/stacks/stx-get-networks.ts
Due: none

feat: add fallback if config fetch failed, LEA-1806
  packages/query/src/common/remote-config/remote-config.query.ts
Due: query

ci: ensure linear merge
  .github/workflows/check-linear-merge-pr.yml
  .github/workflows/check-linear-merge.yml
Due: none

ci: log pr name
  .github/workflows/check-linear-merge.yml
Due: none

refactor: gen stacks transactions
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/common/transactions/stacks-transactions.hooks.ts
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/stacks-tx-signer/stacks-tx-signer.tsx
  packages/provider/package.json
  packages/query/package.json
  packages/rpc/package.json
  packages/stacks/package.json
  packages/stacks/src/index.ts
  packages/stacks/src/transactions/generate-unsigned-transaction.spec.ts
  packages/stacks/src/transactions/generate-unsigned-transaction.ts
  pnpm-lock.yaml
Due: query, stacks

fix: sip30 success response, closes (leather-io/extension#6152)
  apps/extension/src/app/common/rpc/use-rpc-sip30-broadcast-transaction.ts
  apps/extension/src/app/common/transactions/stacks/transaction.utils.ts
  apps/extension/src/app/features/stacks-transaction-request/hooks/use-stacks-broadcast-transaction.tsx
Due: none

ci: ensure runs on label, not tag
  .easignore
  .github/workflows/eas-deploy.yml
  .github/workflows/test-e2e.yml
  apps/mobile/.eas/build/maestro-test-android.yml
  apps/mobile/.eas/build/maestro-test-ios.yml
  apps/mobile/.eas/common/maestro.yml
  apps/mobile/.eas/workflows/android-maestro-test.yml
  apps/mobile/.eas/workflows/ios-maestro-test.yml
  apps/mobile/.env.development
  apps/mobile/.gitignore
  apps/mobile/android/gradle/wrapper/gradle-wrapper.properties
  apps/mobile/android/gradlew.bat
  apps/mobile/app.config.js
  apps/mobile/eas.json
  apps/mobile/maestro/flows/accounts-page.yaml
  apps/mobile/maestro/flows/restore-wallet.yaml
  apps/mobile/maestro/flows/wallet-management.yaml
  apps/mobile/maestro/flows/wallet-multi-wallet.yaml
  apps/mobile/maestro/shared/add-wallet.yaml
  apps/mobile/maestro/shared/clean-up.yaml
  apps/mobile/package.json
  apps/mobile/src/components/headers/components/header-back-button.tsx
  apps/mobile/src/components/widgets/accounts/accounts-widget.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/features/feature-flags/feature-flag.ts
  apps/mobile/src/shared/test-id.ts
  apps/mobile/src/store/index.ts
  apps/mobile/src/utils/is-dev.ts
Due: none

fix: stacks pkg release
  packages/stacks/src/signer/signer.ts
Due: stacks

fix: add runes + fallback sip-10 avatars. Hide token symbol, show all sip10, ref LEA-2017
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/components/balance/balance.tsx
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
  apps/mobile/src/features/balances/bitcoin/runes-balance.tsx
  apps/mobile/src/features/balances/stacks/sip10-balance.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  packages/ui/native.ts
  packages/ui/src/components/avatar/runes-avatar-icon.native.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

ci: disable broken jobs
  .github/workflows/crowdin-action.yml
Due: none

ci: production deploy environment
  apps/extension/.github/workflows/publish-extensions.yml
Due: none

ci: 🪓 unused ci jobs
  .github/workflows/check-linear-merge-pr.yml
  .github/workflows/check-linear-merge.yml
Due: none

ci: add all-checks job
  .github/workflows/all-checks-pass.yml
Due: none

ci: add all-checks job
  .github/workflows/all-checks-pass.yml
  .github/workflows/crowdin-action.yml
Due: none

feat(web): navigation bar, closes LEA-2196
  apps/web/app/helpers/utils.ts
  apps/web/app/layouts/nav/nav-item.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/root.tsx
  apps/web/app/routes/home.tsx
  apps/web/package.json
  apps/web/vite.config.ts
Due: none

feat(web): basic connect functionality
  apps/web/app/features/earn/earn.tsx
  apps/web/app/features/home/home.tsx
  apps/web/app/helpers/leather-sdk.ts
  apps/web/app/layouts/nav/nav-item.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/routes.ts
  apps/web/app/routes/earn.tsx
  apps/web/app/routes/home.tsx
  packages/bitcoin/src/utils/bitcoin.utils.ts
  packages/sdk/src/client.ts
  pnpm-lock.yaml
Due: bitcoin

chore: update axios lib
  package.json
  packages/query/package.json
  packages/services/package.json
  pnpm-lock.yaml
Due: query

feat(web): cf deployment setup
  .github/workflows/deploy-web.yml
  apps/web/.gitignore
  apps/web/app/entry.server.tsx
  apps/web/app/features/home/home.tsx
  apps/web/app/layouts/nav/global-loader.styles.ts
  apps/web/app/layouts/nav/global-loader.tsx
  apps/web/app/root.tsx
  apps/web/package.json
  apps/web/panda.config.ts
  apps/web/playwright.config.ts
  apps/web/tsconfig.cloudflare.json
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/worker-configuration.d.ts
  apps/web/workers/app.ts
  apps/web/wrangler.toml
  package.json
  packages/panda-preset/package.json
  packages/sdk/src/client.spec.ts
  packages/sdk/src/client.ts
  packages/ui/package.json
  packages/ui/src/exports.web.ts
  pnpm-lock.yaml
  turbo.json
Due: none

feat: add spam filter test
  packages/utils/src/spam-filter/spam-filter.spec.ts
Due: utils

ci: check signed commits
  .github/workflows/check-signed-commits.yml
Due: none

fix: podfile.lock conflicts
  apps/mobile/ios/Podfile.lock
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

ci: audit all commits are signed on pr
  apps/extension/.github/workflows/audit-signed-commits.yml
  apps/extension/.github/workflows/code-checks.yml
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
Due: none

feat: add ALEX avatars as fallback, ref LEA-2264
  packages/services/src/assets/sip10-asset.service.ts
  packages/services/src/assets/sip10-consts.ts
  packages/services/src/assets/stacks-asset.utils.spec.ts
  packages/services/src/assets/stacks-asset.utils.ts
  packages/services/src/balances/sip10-balances.service.ts
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
