Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: bitcoin, query

fix: adjust release job
  .github/workflows/release-please.yml
Due: none

fix: fix lingui
  apps/mobile/src/app/(home)/activity/components/activity-widget.tsx
  apps/mobile/src/app/(home)/settings/display/index.tsx
  apps/mobile/src/features/browser/approver-sheet/get-addresses/get-addresses.layout.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
Due: none

fix: adjust icon padding, ref LEA-2003
  apps/mobile/src/app/settings/wallet/configure/[wallet]/[account]/choose-avatar.tsx
Due: none

fix: fix problem with lingui dynamic key
  apps/mobile/src/app/activity/activity.layout.tsx
  apps/mobile/src/features/send/error-messages.ts
Due: none

fix: add waitlist trigger for Save To, ref LEA-1825
  apps/mobile/src/components/create-new-wallet/mnemonic-display.tsx
  apps/mobile/src/features/waitlist/ids.ts
Due: none

ci: run --gpg-sign on release prs
  .github/workflows/release-please.yml
  .github/workflows/sign-release-commit.yml
Due: none

fix: manually specify latest iOS to appease AppStore
  apps/mobile/eas.json
  apps/mobile/src/components/create-new-wallet/mnemonic-display.tsx
Due: none

ci: attempt adding leather-bot token to checkout
  .github/workflows/release-please.yml
  .github/workflows/sign-release-commit.yml
Due: none

feat: stack in a pool form part 1
  apps/mobile/package.json
  apps/web/app/constants/constants.ts
  apps/web/app/constants/network.ts
  apps/web/app/features/stacking/components/choose-pooling-amount.tsx
  apps/web/app/features/stacking/components/choose-rewards-address.tsx
  apps/web/app/features/stacking/components/stacking-form-info-panel.tsx
  apps/web/app/features/stacking/components/stacking-form-item-title.tsx
  apps/web/app/features/stacking/components/stacking-layout.tsx
  apps/web/app/features/stacking/start-pooled-stacking.tsx
  apps/web/app/features/stacking/utils/types-preset-pools.ts
  apps/web/app/features/stacking/utils/types.ts
  apps/web/app/features/stacking/utils/utils-delegate-stx.ts
  apps/web/app/features/stacking/utils/utils.ts
  apps/web/app/pages/stacking/components/earn-provider-table.tsx
  apps/web/app/pages/stacking/stack-in-pool.tsx
  apps/web/app/queries/balance/account-balance.hooks.ts
  apps/web/app/queries/balance/use-mempool-txs-balance.ts
  apps/web/app/queries/stacks/use-stacks-confirmed-transactions.ts
  apps/web/app/queries/stacks/use-stacks-pending-transactions.ts
  apps/web/app/queries/transaction/transactions-by-id.query.ts
  apps/web/app/queries/transaction/use-transactions-with-transfers.query.ts
  apps/web/app/routes.ts
  apps/web/app/routes/stacking/stacking.tsx
  apps/web/app/store/addresses.ts
  apps/web/package.json
  apps/web/vite.config.ts
  packages/models/package.json
  packages/query/package.json
  packages/services/package.json
  packages/stacks/package.json
  pnpm-lock.yaml
Due: query, stacks

fix: utxo inscription check html page path
  apps/mobile/src/queries/transaction/use-check-utxos.ts
  packages/query/src/bitcoin/ordinals/inscriptions.query.ts
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
Due: query

fix: add locale selection sheet, ref LEA-2138
  apps/mobile/src/app/settings/display/index.tsx
  apps/mobile/src/features/settings/locale-selection-sheet.tsx
  apps/mobile/src/locales/index.ts
  apps/mobile/src/locales/toggle-localization.ts
  apps/mobile/src/store/settings/settings.read.ts
  apps/mobile/src/store/settings/settings.ts
  apps/mobile/src/store/settings/settings.write.ts
  apps/mobile/src/store/settings/utils.ts
  packages/analytics/src/events.ts
Due: none

feat: sign message
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/app/developer-console/bitcoin-scratch-pad.tsx
  apps/mobile/src/features/browser/approver-sheet/approver-sheet.tsx
  apps/mobile/src/features/browser/approver-sheet/browser-approver.tsx
  apps/mobile/src/features/browser/approver-sheet/get-addresses/get-addresses.tsx
  apps/mobile/src/features/browser/approver-sheet/sign-message/bip322-signer.ts
  apps/mobile/src/features/browser/approver-sheet/sign-message/sign-message.layout.tsx
  apps/mobile/src/features/browser/approver-sheet/sign-message/sign-message.tsx
  apps/mobile/src/features/browser/approver-sheet/sign-psbt.tsx
  apps/mobile/src/features/psbt-signer/psbt-signer.tsx
  apps/mobile/src/features/psbt-signer/signer.ts
  apps/mobile/src/features/psbt-signer/use-psbt-signer.ts
  apps/mobile/src/queries/leather-query-provider.tsx
  packages/bitcoin/src/signer/bitcoin-signer.ts
  pnpm-lock.yaml
Due: bitcoin

feat: add pooling conditions in stack form
  apps/web/app/constants/network.ts
  apps/web/app/features/stacking/components/choose-pooling-conditions.tsx
  apps/web/app/features/stacking/start-pooled-stacking.tsx
  apps/web/app/features/stacking/utils/stacking-pools-validator.ts
  apps/web/app/routes/stacking/stacking.tsx
  apps/web/vite.config.ts
  packages/ui/src/assets/icons/magnifying-glass-24-24.svg
  packages/ui/src/icons/index.web.ts
  packages/ui/src/icons/magnifying-glass-icon.web.tsx
Due: none

feat: add pooling duration component
  apps/web/app/features/stacking/components/choose-pooling-duration.tsx
  apps/web/app/features/stacking/components/pooling-details.tsx
  apps/web/app/features/stacking/start-pooled-stacking.tsx
Due: none

fix: disable locale change option in prod pending sheet addition, ref LEA-2138
  apps/mobile/src/app/settings/display/index.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: bitcoin, query

fix(rpc): add new error codes
  packages/rpc/src/methods/open.ts
  packages/rpc/src/rpc/schemas.ts
Due: none
