Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

fix: add locale setting and default i18n for ES, ref LEA-2138
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/app/(home)/developer-console/index.tsx
  apps/mobile/src/app/(home)/settings/display/index.tsx
  apps/mobile/src/locales/index.ts
  apps/mobile/src/locales/toggle-localization.ts
  pnpm-lock.yaml
Due: none

fix: use dynamic key for theme display
  apps/mobile/src/app/(home)/settings/display/index.tsx
  apps/mobile/src/locales/index.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix: stx token transfer fees condition
  packages/query/src/common/remote-config/remote-config.query.ts
  packages/query/src/stacks/fees/fees.utils.ts
Due: query

fix: support networks on tx calls
  apps/extension/src/background/messaging/rpc-methods/stx-call-contract.ts
  apps/extension/src/background/messaging/rpc-methods/stx-deploy-contract.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip9-nft.ts
Due: none

fix(rpc): prevent opening on fail
  apps/extension/src/background/messaging/messaging-utils.ts
  apps/extension/src/background/messaging/rpc-methods/stx-call-contract.ts
  apps/extension/src/background/messaging/rpc-methods/stx-deploy-contract.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip10-ft.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip9-nft.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-stx.ts
Due: none

fix: error during formating causing broadcast error
  apps/extension/.github/workflows/all-checks-pass.yml
  apps/extension/src/app/common/hooks/use-submit-stx-transaction.ts
  apps/extension/src/app/features/address-monitor/use-sync-address-monitor.ts
  apps/extension/src/app/features/stacks-transaction-request/hooks/use-stacks-transaction-summary.ts
  apps/extension/src/background/messaging/internal-methods/message-handler.ts
Due: none

refactor: send transfer fees to shared fee editor
  apps/extension/src/app/components/approve-transaction/approve-transaction-selected-fee.tsx
  apps/extension/src/app/features/fee-editor/bitcoin/bitcoin-fees.utils.spec.ts
  apps/extension/src/app/features/fee-editor/bitcoin/use-bitcoin-fees.ts
  apps/extension/src/app/features/fee-editor/components/current-fee-item.tsx
  apps/extension/src/app/features/fee-editor/components/custom-fee-item.tsx
  apps/extension/src/app/features/fee-editor/components/default-fees-list.tsx
  apps/extension/src/app/features/fee-editor/components/fee-item-icon.tsx
  apps/extension/src/app/features/fee-editor/components/fee-item.tsx
  apps/extension/src/app/features/fee-editor/components/fees.tsx
  apps/extension/src/app/features/fee-editor/fee-editor.context.ts
  apps/extension/src/app/features/fee-editor/fee-editor.tsx
  apps/extension/src/app/features/fee-editor/fee-editor.utils.spec.ts
  apps/extension/src/app/features/fee-editor/fee-editor.utils.ts
  apps/extension/src/app/features/fee-editor/use-fee-editor.ts
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer-container.tsx
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer.tsx
  apps/extension/src/app/pages/rpc-send-transfer/use-rpc-send-transfer-actions.tsx
  apps/extension/src/shared/rpc/methods/send-transfer.spec.ts
  apps/extension/src/shared/rpc/methods/send-transfer.ts
  apps/extension/tests/specs/rpc-send-transfer/rpc-send-transfer.spec.ts
Due: none

refactor: address fee editor naming concerns
  apps/extension/src/app/components/loaders/bitcoin-utxos-loader.tsx
  apps/extension/src/app/features/fee-editor/bitcoin/bitcoin-fee-editor.provider.tsx
  apps/extension/src/app/features/fee-editor/bitcoin/bitcoin-fees-loader.tsx
  apps/extension/src/app/features/fee-editor/components/custom-fee-item.tsx
  apps/extension/src/app/features/fee-editor/components/default-fees-list.tsx
  apps/extension/src/app/features/fee-editor/components/fee-item-icon.tsx
  apps/extension/src/app/features/fee-editor/components/fee-item.tsx
  apps/extension/src/app/features/fee-editor/components/selected-fee-item.tsx
  apps/extension/src/app/features/fee-editor/fee-editor.context.ts
  apps/extension/src/app/features/fee-editor/fee-editor.provider.tsx
  apps/extension/src/app/features/fee-editor/fee-editor.tsx
  apps/extension/src/app/features/fee-editor/fee-editor.utils.spec.ts
  apps/extension/src/app/features/fee-editor/fee-editor.utils.ts
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer-container.tsx
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer.tsx
  apps/extension/src/app/pages/rpc-send-transfer/use-rpc-send-transfer-actions.tsx
Due: none

refactor: use loaders and remove effect hooks
  apps/extension/src/app/components/loaders/bitcoin-utxos-loader.tsx
  apps/extension/src/app/components/loaders/stacks-nonce-loader.tsx
  apps/extension/src/app/features/fee-editor/bitcoin/bitcoin-fee-editor.provider.tsx
  apps/extension/src/app/features/fee-editor/bitcoin/bitcoin-fees-loader.tsx
  apps/extension/src/app/features/fee-editor/fee-editor.context.ts
  apps/extension/src/app/features/fee-editor/fee-editor.provider.tsx
  apps/extension/src/app/features/fee-editor/use-fee-editor.ts
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer-container.tsx
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer.context.ts
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer.tsx
  apps/extension/src/app/pages/rpc-send-transfer/use-rpc-send-transfer-actions.tsx
  apps/extension/src/app/pages/rpc-send-transfer/use-rpc-send-transfer.ts
  apps/extension/src/app/pages/swap/containers/bitcoin-swap-container.tsx
  apps/extension/src/app/pages/swap/containers/stacks-swap-container.tsx
Due: none

refactor: rpc send transfer
  apps/extension/src/app/common/fees/use-fees.ts
  apps/extension/src/app/common/rpc/use-rpc-request.ts
  apps/extension/src/app/components/approve-transaction/approve-transaction-selected-fee.tsx
  apps/extension/src/app/components/approve-transaction/approve-transaction-wrapper.tsx
  apps/extension/src/app/components/approve-transaction/get-approve-transaction-actions.tsx
  apps/extension/src/app/components/bitcoin-fees-list/format-bitcoin-fee.ts
  apps/extension/src/app/features/fee-editor/bitcoin/bitcoin-fees.utils.spec.ts
  apps/extension/src/app/features/fee-editor/bitcoin/bitcoin-fees.utils.ts
  apps/extension/src/app/features/fee-editor/bitcoin/use-bitcoin-fees.ts
  apps/extension/src/app/features/fee-editor/components/custom-fee-item.tsx
  apps/extension/src/app/features/fee-editor/components/fee-item-icon.tsx
  apps/extension/src/app/features/fee-editor/components/fee-item.tsx
  apps/extension/src/app/features/fee-editor/components/fees.tsx
  apps/extension/src/app/features/fee-editor/fee-editor.context.ts
  apps/extension/src/app/features/fee-editor/fee-editor.tsx
  apps/extension/src/app/features/fee-editor/fee-editor.utils.spec.ts
  apps/extension/src/app/features/fee-editor/fee-editor.utils.ts
  apps/extension/src/app/features/fee-editor/use-fee-editor.ts
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer-choose-fee.tsx
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer-container.tsx
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer.context.ts
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer.routes.tsx
  apps/extension/src/app/pages/rpc-send-transfer/rpc-send-transfer.tsx
  apps/extension/src/app/pages/rpc-send-transfer/use-rpc-send-transfer-actions.tsx
  apps/extension/src/app/pages/rpc-send-transfer/use-rpc-send-transfer.ts
  apps/extension/src/shared/route-urls.ts
Due: none

chore: create pull_request_template
  .github/pull_request_template.md
Due: none

chore: update formatting of file name
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: specify currency symbol and precision using currency map, ref LEA-2032
  apps/mobile/src/app/(home)/settings/display/index.tsx
  apps/mobile/src/components/balance/balance.tsx
  packages/utils/src/money/format-money.spec.ts
  packages/utils/src/money/format-money.ts
Due: utils

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

ci: behaviours for needs: labels
  apps/extension/.github/workflows/all-checks-pass.yml
  apps/extension/.github/workflows/pr-guard.yml
Due: none

fix: improve copy
  apps/extension/.github/workflows/pr-guard.yml
Due: none

ci: pr label guards
  .github/workflows/pr-guard.yml
Due: none

refactor(rpc): register rpc request handlers
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/background/messaging/messaging-utils.ts
  apps/extension/src/background/messaging/rpc-helpers.ts
  apps/extension/src/background/messaging/rpc-message-handler.ts
  apps/extension/src/background/messaging/rpc-methods/get-addresses.ts
  apps/extension/src/background/messaging/rpc-methods/open-swap.ts
  apps/extension/src/background/messaging/rpc-methods/open.ts
  apps/extension/src/background/messaging/rpc-methods/send-transfer.ts
  apps/extension/src/background/messaging/rpc-methods/sign-message.ts
  apps/extension/src/background/messaging/rpc-methods/sign-psbt.ts
  apps/extension/src/background/messaging/rpc-methods/sign-stacks-message.ts
  apps/extension/src/background/messaging/rpc-methods/stx-call-contract.ts
  apps/extension/src/background/messaging/rpc-methods/stx-deploy-contract.ts
  apps/extension/src/background/messaging/rpc-methods/stx-get-addresses.ts
  apps/extension/src/background/messaging/rpc-methods/stx-sign-transaction.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip10-ft.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip9-nft.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-stx.ts
  apps/extension/src/background/messaging/rpc-methods/supported-methods.ts
Due: none

fix(rpc): send transfer, closes LEA-2248
  packages/rpc/src/methods/bitcoin/send-transfer.ts
Due: none

feat(sdk): leather client sdk
  eslint.config.js
  packages/rpc/src/index.ts
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/client.spec.ts
  packages/sdk/src/client.ts
  packages/sdk/src/index.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  packages/sdk/vitest.config.js
  pnpm-lock.yaml
  release-please-config.json
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
Due: bitcoin, query

chore: wip
  apps/mobile/src/features/balances/stacks/sip10-balance.tsx
Due: none

chore: wip asset avatar fallbacks
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/components/balance/balance.tsx
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
  apps/mobile/src/features/balances/bitcoin/runes-balance.tsx
  apps/mobile/src/features/balances/stacks/sip10-balance.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  packages/bitcoin/src/utils/bitcoin.utils.ts
  packages/ui/native.ts
  packages/ui/src/components/avatar/index.ts
  packages/ui/src/components/avatar/runes-avatar-icon.native.tsx
  packages/ui/src/components/avatar/stacks-asset-avatar.native.tsx
  packages/ui/src/components/avatar/stacks-asset-avatar.web.tsx
  packages/ui/src/components/dynamic-color-circle.native.tsx
Due: bitcoin

fix: don't show token symbol for crypto, ref LEA-2017
  apps/mobile/src/components/balance/balance.tsx
Due: none

chore: wip
  apps/mobile/src/features/balances/stacks/sip10-balance.tsx
  packages/ui/src/components/avatar/stacks-asset-avatar.native.tsx
  packages/ui/src/components/avatar/stacks-asset-avatar.web.tsx
  packages/ui/src/components/dynamic-color-circle.native.tsx
Due: none
