Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

feat(mobile): add device id to settings
  apps/mobile/src/app/(home)/settings/index.tsx
  apps/mobile/src/hooks/use-copy-to-clipboard.ts
  apps/mobile/src/hooks/use-device-id.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

fix: test ci fix
  apps/extension/src/app/pages/rpc-send-transfer/use-rpc-send-transfer-actions.tsx
Due: none

fix: update analytics usage
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/app-analytics.ts
  apps/extension/src/app/features/collectibles/components/bitcoin/ordinals.tsx
  apps/extension/src/app/features/collectibles/components/bitcoin/stamps.tsx
  apps/extension/src/shared/utils/analytics.ts
Due: none

feat(web): earn page
  apps/web/app/components/dummy.tsx
  apps/web/app/components/page.tsx
  apps/web/app/components/table.tsx
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/layouts/footer/footer.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/earn/components/earn-instructions.tsx
  apps/web/app/pages/earn/components/earn-provider-table.tsx
  apps/web/app/pages/earn/earn.tsx
  apps/web/app/pages/home/home.tsx
  apps/web/package.json
  package.json
  packages/panda-preset/src/borders.ts
  packages/panda-preset/src/tokens.ts
  packages/ui/src/components/collectibles/web/collectible-item.layout.web.tsx
  pnpm-lock.yaml
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

feat(web): table improvements
  apps/web/app/components/icons/bitcoin-icon.tsx
  apps/web/app/components/icons/stacks-icon.tsx
  apps/web/app/components/table.tsx
  apps/web/app/pages/earn/components/earn-provider-table.tsx
  apps/web/vite.config.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix: log return from bitcoin broadcast tx
  packages/query/src/bitcoin/transaction/use-bitcoin-broadcast-transaction.ts
Due: query

fix: contract interface query response type
  packages/query/src/stacks/hiro-api-types.ts
  packages/query/src/stacks/stacks-client.ts
Due: query

fix: add new route for account balances and correct account total, ref LEA-2017
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/account/[account]/balances.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/components/widgets/balances/balances-widget.tsx
  apps/mobile/src/routes.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
Due: query

refactor: update leather api url
  packages/constants/src/index.ts
Due: none

ci: publish only packages
  .github/workflows/release-please.yml
Due: none

feat(web): liquid stacking table
  apps/web/app/components/page.tsx
  apps/web/app/components/table.tsx
  apps/web/app/pages/earn/components/earn-provider-table.tsx
  apps/web/app/pages/earn/earn.tsx
Due: none

feat: liquid stacking explainer
  apps/web/app/components/explainer.tsx
  apps/web/app/pages/earn/components/earn-provider-table.tsx
  apps/web/app/pages/earn/components/liquid-stacking-explainer.tsx
  apps/web/app/pages/earn/components/stacking-explainer.tsx
  apps/web/app/pages/earn/earn.tsx
Due: none

fix(web): enable imports of icons from ui, closes LEA-2315
  apps/web/app/components/icons/bitcoin-icon.tsx
  apps/web/app/components/icons/stacks-icon.tsx
  apps/web/app/features/sign-in-button/sign-in-button.layout.tsx
  apps/web/app/helpers/utils.ts
  apps/web/app/layouts/footer/footer.layout.tsx
  apps/web/app/layouts/nav/nav-item.layout.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/earn/components/earn-instructions.tsx
  apps/web/package.json
  apps/web/vite.config.ts
  packages/ui/src/components/accordion/accordion.web.tsx
  packages/ui/src/icons/index.web.ts
  pnpm-lock.yaml
Due: none

refactor: remove unnecessary syntax from lookups
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-sheet.tsx
  apps/mobile/src/features/approver/utils.tsx
Due: none

refactor: replace occurrences of USD with fiat in fee-related approver code
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/features/approver/components/fees/base-fee-card.tsx
  apps/mobile/src/features/approver/components/fees/base-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/bitcoin-fee-sheet.tsx
  apps/mobile/src/features/approver/components/fees/stacks-fee-option.tsx
  apps/mobile/src/features/approver/components/fees/stacks-fee-sheet.tsx
  apps/mobile/src/features/approver/components/inputs-outputs-card.tsx
  apps/mobile/src/features/approver/components/utxo-row.tsx
Due: none

refactor: address breaking changes in Avatar
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/components/sbtc-deposit-status-item/sbtc-deposit-status-item.tsx
  apps/extension/src/app/components/stacks-asset-avatar.tsx
  apps/extension/src/app/pages/fund/components/icon-components.tsx
  apps/extension/src/app/pages/receive/components/receive-tokens.tsx
  apps/extension/src/app/pages/swap/components/swap-asset-select/components/select-asset-trigger-button.tsx
  apps/extension/src/app/pages/swap/components/swap-asset-sheet/components/swap-asset-item.tsx
  apps/extension/src/app/ui/components/avatar/stamps-avatar-icon.tsx
  apps/extension/src/app/ui/components/avatar/stx20-avatar-icon.tsx
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
