Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

fix(mobile): show ft post conditions without metadata
  apps/mobile/src/features/approver/components/asset-outcome.tsx
  apps/mobile/src/features/approver/components/post-conditions/ft-post-condition.tsx
Due: none

fix(query): use numeric min for missing nonce selection
  packages/query/src/stacks/nonce/account-nonces.utils.spec.ts
  packages/query/src/stacks/nonce/account-nonces.utils.ts
Due: query

refactor(bitcoin): detect p2pkh witness script via btc-signer
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
Due: bitcoin

fix(test-app): read env overrides under Vite, pin signPsbt network, accept tpubs
  apps/extension/tests/specs/rpc-catalog/rpc-catalog.spec.ts
  apps/test-app/AGENTS.md
  apps/test-app/package.json
  apps/test-app/src/builders/psbt.spec.ts
  apps/test-app/src/builders/psbt.ts
  apps/test-app/src/env.ts
  apps/test-app/src/guards.ts
  apps/test-app/src/methods/bitcoin.ts
  apps/test-app/src/methods/bonds.ts
  apps/test-app/src/methods/multisig.ts
  apps/test-app/src/run-spec.ts
  apps/test-app/src/scenarios/bond-lifecycle.ts
  apps/test-app/src/scenarios/multisig-roundtrip.ts
  apps/test-app/src/scenarios/sign-in.ts
  apps/test-app/src/session.ts
  apps/test-app/src/ui/result-panel.tsx
  apps/test-app/src/verifiers/spec-verifiers.ts
  apps/test-app/src/wallet.ts
  pnpm-lock.yaml
Due: none

fix(bitcoin): match p2pkh witness script by opcodes and defer compile errors to popup
  apps/extension/src/background/messaging/rpc-methods/sign-psbt.spec.ts
  apps/extension/src/background/messaging/rpc-methods/sign-psbt.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.spec.ts
  packages/bitcoin/src/descriptors/wsh-descriptor.ts
Due: bitcoin

test(extension): assert spend sources match signed rpc send transfer
  apps/extension/tests/specs/rpc-send-transfer/rpc-send-transfer.spec.ts
Due: none

chore: upgrade turbo to 2.11.7 and stop build from running expo prebuild
  .github/workflows/mobile:deploy-production.yml
  apps/mobile/package.json
  knip.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

fix(mobile): return sponsored contract calls to the app without error (#2811)
  apps/mobile/src/features/approver/components/fees/sponsored-fee-card.tsx
  apps/mobile/src/features/approver/layouts/base-stx-tx-approver.layout.tsx
  apps/mobile/src/features/approver/stacks-fees.section.tsx
  apps/mobile/src/features/approver/utils.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/call-contract/call-contract.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/deploy-contract/deploy-contract.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/transfer-sip10-ft/hooks.ts
  apps/mobile/src/features/browser/approver-sheet/stx/transfer-sip10-ft/transfer-sip10-ft.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/transfer-sip9-nft/hooks.ts
  apps/mobile/src/features/browser/approver-sheet/stx/transfer-sip9-nft/transfer-sip9-nft.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/transfer-stx/hooks.ts
  apps/mobile/src/features/browser/approver-sheet/stx/transfer-stx/transfer-stx.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/utils.spec.ts
  apps/mobile/src/features/browser/approver-sheet/stx/utils.ts
  apps/mobile/src/i18n/locales/en/messages.po
  packages/stacks/src/transactions/create-tx-hex.spec.ts
  packages/stacks/src/transactions/create-tx-hex.ts
  packages/stacks/src/transactions/generate-unsigned-transaction.spec.ts
Due: stacks

fix(web): read stackingdao native pool claimable rewards from pox-5 (#2831)
  apps/web/app/features/bitcoin-staking/queries/create-get-pox5-earned-rewards-query-options.spec.ts
  apps/web/app/features/bitcoin-staking/queries/create-get-pox5-earned-rewards-query-options.ts
  apps/web/app/features/bitcoin-staking/queries/pox5-stacking.query.ts
  apps/web/app/mocks/api/hiro.so/pox5-signer-manager.ts
  apps/web/app/pages/playground/areas/staking-states/staking-mock-data.ts
Due: none

fix(query): use numeric min for missing nonce selection (#2848)
  packages/query/src/stacks/nonce/account-nonces.utils.spec.ts
  packages/query/src/stacks/nonce/account-nonces.utils.ts
Due: query

fix(mobile): show ft post conditions without metadata (#2847)
  apps/mobile/src/features/approver/components/asset-outcome.tsx
  apps/mobile/src/features/approver/components/post-conditions/ft-post-condition.tsx
Due: none

refactor: remove wallet-config remote config (#2835)
  apps/extension/config/wallet-config.json
  apps/extension/config/wallet-config.md
  apps/extension/config/wallet-config.schema.json
  apps/extension/src/app/app.tsx
  apps/extension/src/app/common/hooks/use-navigate-to-send-form.ts
  apps/extension/src/app/common/hooks/use-swap-availability.ts
  apps/extension/src/app/common/spam-filter/use-spam-filter.ts
  apps/extension/src/app/features/container/container.tsx
  apps/extension/src/app/features/in-app-messages/components/in-app-message-item.tsx
  apps/extension/src/app/features/in-app-messages/in-app-messages.tsx
  apps/extension/src/app/features/promo-banner/promo-banner.tsx
  apps/extension/src/app/pages/home/components/account-actions-current/account-actions.tsx
  apps/extension/src/app/pages/home/components/swaps-disabled-tooltip-label.tsx
  apps/extension/src/app/pages/swap/swap-container.tsx
  apps/extension/src/app/query/common/remote-config/remote-config.query.ts
  apps/extension/src/app/query/leather-query-provider.tsx
  apps/extension/src/app/query/sbtc/sbtc-deposits.query.ts
  apps/extension/src/app/query/sbtc/sponsored-transactions.hooks.ts
  apps/extension/src/shared/constants.ts
  apps/extension/tests/mocks/constants.ts
  apps/extension/tests/mocks/mock-apis.ts
  apps/mobile/package.json
  apps/mobile/src/core/leather-query-provider.tsx
  apps/mobile/src/queries/common/remote-config/remote-config.query.ts
  apps/mobile/src/queries/leather-query-provider.tsx
  apps/mobile/src/queries/stacks/fees/fees.hooks.ts
  apps/mobile/src/shared/constants.ts
  apps/mobile/src/shared/environment.ts
  packages/query/src/index.ts
  packages/query/src/stacks/fees/fees.types.ts
  packages/query/src/stacks/fees/fees.utils.ts
  packages/query/src/types/remote-config.ts
  pnpm-lock.yaml
Due: query

feat(tokens): add ink.text-secondary and use it for decision-critical copy
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/remove-policy-dialog.tsx
  apps/extension/src/app/features/dialogs/switch-account-sheet/components/remove-wallet-dialog.tsx
  apps/extension/src/app/features/dialogs/taproot-utxo-warning-dialog/taproot-utxo-warning-dialog.tsx
  apps/extension/src/app/features/psbt-signer/components/psbt-descriptor-policy.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/stacks/post-conditions/fungible-post-condition-item.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/stacks/post-conditions/post-condition-item.tsx
  apps/extension/src/app/features/rpc-stacks-transaction-request/stacks/post-conditions/pox-post-condition-item.tsx
  apps/extension/src/app/pages/swap/swap-review.tsx
  apps/mobile/src/features/swap/screens/swap-review-screen.tsx
  apps/web/app/features/bitcoin-staking/components/pool-health-warning.tsx
  apps/web/app/pages/multisig/vault/components/cancel-vault-modal.tsx
  apps/web/app/pages/multisig/vault/components/create-account-modal.tsx
  apps/web/app/pages/support/components/scam-warning.tsx
  packages/tokens/README.md
  packages/tokens/src/colors.ts
  packages/tokens/src/semantic-tokens.ts
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
