Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

feat: promo banner, closes LEA-2978
  apps/extension/public/assets/images/promo-banner/promo-banner-1.png
  apps/extension/public/assets/images/promo-banner/promo-banner-2.png
  apps/extension/public/assets/images/promo-banner/promo-banner-3.png
  apps/extension/src/app/debug.ts
  apps/extension/src/app/features/container/container.tsx
  apps/extension/src/app/features/in-app-messages/components/in-app-message-item.tsx
  apps/extension/src/app/features/in-app-messages/in-app-messages.tsx
  apps/extension/src/app/features/promo-banner/promo-banner-navbar.tsx
  apps/extension/src/app/features/promo-banner/promo-banner.tsx
  apps/extension/src/app/features/promo-banner/promo-card.layout.tsx
  apps/extension/src/app/features/promo-banner/use-promos.ts
  apps/extension/src/app/features/promo-card/promo-card.tsx
  apps/extension/src/app/pages/home/home.tsx
  apps/extension/src/app/pages/onboarding/set-password/set-password.tsx
  apps/extension/src/app/store/settings/settings.selectors.ts
  apps/extension/src/app/store/settings/settings.slice.ts
Due: none

feat: promo bannar tracking, closes LEA-2980
  apps/extension/public/assets/illustrations/promo-banner-mobile.svg
  apps/extension/public/assets/illustrations/promo-banner-sbtc.svg
  apps/extension/public/assets/illustrations/promo-banner-stacking.svg
  apps/extension/public/assets/images/promo-banner/promo-banner-1.png
  apps/extension/public/assets/images/promo-banner/promo-banner-2.png
  apps/extension/public/assets/images/promo-banner/promo-banner-3.png
  apps/extension/src/app/features/promo-banner/promo-banner.tsx
  apps/extension/src/app/features/promo-banner/promo-card.layout.tsx
  apps/extension/src/app/features/promo-banner/promo-card.tsx
  apps/extension/src/app/features/promo-banner/use-promos.ts
  apps/extension/src/app/store/settings/settings.selectors.ts
  apps/extension/src/app/store/settings/settings.slice.ts
  apps/extension/tests/page-object-models/onboarding.page.ts
Due: none

fix: bitflow gh actions env var
  apps/extension/.env.example
  apps/extension/.github/workflows/build-extension.yml
  apps/extension/.github/workflows/development-extension.yml
  apps/extension/.github/workflows/playwright.yml
  apps/extension/.github/workflows/publish-extensions.yml
Due: none

fix: approver disabled confirm
  apps/mobile/src/features/approver/layouts/get-addresses.layout.tsx
  apps/mobile/src/features/browser/approver-sheet/browser-approver.tsx
  apps/mobile/src/features/browser/approver-sheet/get-addresses/get-addresses.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/get-addresses/get-addresses.tsx
  apps/mobile/src/locales/en/messages.po
Due: none

fix: activity title
  apps/mobile/src/app/(tabs)/activity.tsx
  apps/mobile/src/locales/en/messages.js
  apps/mobile/src/locales/en/messages.po
Due: none

fix: explore button
  apps/mobile/src/features/browser/browser/search-bar/search-bar.tsx
  apps/mobile/src/features/browser/browser/use-browser-search-state.ts
  apps/mobile/src/features/browser/browser/use-open-url.ts
  apps/mobile/src/shared/constants.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.js
  apps/mobile/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

fix: drag-down-to-close and no back button in token details
  apps/mobile/src/features/token/components/token-activity.tsx
  apps/mobile/src/features/token/token-sheet.tsx
Due: none

feat(utils): add formatter factory & amount formatter
  packages/utils/src/formatter/fiat-metadata.ts
  packages/utils/src/formatter/formatter-presets.ts
  packages/utils/src/formatter/formatter.spec.ts
  packages/utils/src/formatter/formatter.ts
  packages/utils/src/index.ts
Due: utils

feat(utils): accept formatter preset callbacks
  packages/utils/src/formatter/formatter-presets.ts
  packages/utils/src/formatter/formatter.ts
  packages/utils/src/formatter/formatter.types.ts
Due: utils

fix(web): fastpool v2 missing contract args, closes LEA-3059
  apps/web/app/data/data.ts
  apps/web/app/features/stacking/start-pooled-stacking/utils/utils-delegate-stx.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: none

feat(web): toggle button for mock mode, disabled in prod
  .github/workflows/playwright.yml
  apps/web/app/components/mock-mode-toggle.tsx
  apps/web/app/constants/environment.ts
  apps/web/app/entry.client.tsx
  apps/web/app/features/mock-dialog/mock-dialog.layout.tsx
  apps/web/app/features/page/page.tsx
Due: none

test(web): integrate msw-playwright for api mocks
  apps/web/app/entry.client.tsx
  apps/web/app/helpers/leather-sdk.ts
  apps/web/app/mocks/api/mock-handlers.ts
  apps/web/app/pages/stacking/components/start-earning-button.tsx
  apps/web/package.json
  apps/web/tests/index.ts
  apps/web/tests/pooled-stacking.spec.ts
  pnpm-lock.yaml
Due: none

feat(utils): add formatter tests for edge cases and presets
  packages/utils/src/formatter/formatter.spec.ts
  packages/utils/src/formatter/formatter.ts
  packages/utils/src/formatter/formatter.types.ts
Due: utils

feat(utils): ensure resiliency in the formatter, add error callback
  packages/utils/src/formatter/formatter-presets.ts
  packages/utils/src/formatter/formatter.spec.ts
  packages/utils/src/formatter/formatter.ts
  packages/utils/src/formatter/formatter.types.ts
Due: utils

feat(utils): add percentage formatter
  packages/utils/src/formatter/formatter.spec.ts
  packages/utils/src/formatter/formatter.ts
Due: utils

feat(utils): add formatter readme
  packages/utils/src/formatter/README.md
  packages/utils/src/formatter/formatter-presets.ts
  packages/utils/src/formatter/formatter.ts
  packages/utils/src/formatter/formatter.types.ts
Due: utils

feat(utils): rename formatter -> currency-formatter
  packages/utils/src/currency-formatter/README.md
  packages/utils/src/currency-formatter/currency-formatter-presets.ts
  packages/utils/src/currency-formatter/currency-formatter.spec.ts
  packages/utils/src/currency-formatter/currency-formatter.ts
  packages/utils/src/currency-formatter/currency-formatter.types.ts
  packages/utils/src/currency-formatter/fiat-metadata.ts
  packages/utils/src/formatter/formatter.types.ts
  packages/utils/src/index.ts
Due: utils

feat(utils): merge shorthand-balance presets into one
  packages/utils/src/currency-formatter/README.md
  packages/utils/src/currency-formatter/currency-formatter-presets.ts
  packages/utils/src/currency-formatter/currency-formatter.spec.ts
  packages/utils/src/currency-formatter/currency-formatter.ts
  packages/utils/src/currency-formatter/currency-formatter.types.ts
  packages/utils/src/fiat-metadata.ts
  packages/utils/src/money/index.ts
  packages/utils/src/money/is-fiat-currency-code.ts
Due: utils

feat(web): friday vibe code changelog poc
  apps/web/ADR-changelog-implementation.md
  apps/web/app/changelogs/2024-01-15-initial-release.md
  apps/web/app/changelogs/2024-02-20-ui-improvements.md
  apps/web/app/pages/changelog/changelog.tsx
  apps/web/app/routes.ts
  apps/web/app/routes/changelog.page.tsx
  apps/web/app/types/markdown.d.ts
  apps/web/app/utils/changelog.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: none

fix(utils): ensure up to two decimals by default for compact notation
  packages/utils/src/currency-formatter/currency-formatter-presets.ts
  packages/utils/src/currency-formatter/currency-formatter.spec.ts
  packages/utils/src/currency-formatter/currency-formatter.ts
Due: utils

fix: update release please manifest
  .release-please-manifest.json
  apps/mobile/app.config.js
  apps/mobile/package.json
  packages/analytics/package.json
  packages/bitcoin/package.json
  packages/constants/package.json
  packages/crypto/package.json
  packages/eslint-config/package.json
  packages/models/package.json
  packages/panda-preset/package.json
  packages/prettier-config/package.json
  packages/provider/package.json
  packages/query/package.json
  packages/rpc/package.json
  packages/sdk/package.json
  packages/services/package.json
  packages/stacks/package.json
  packages/tokens/package.json
  packages/tsconfig-config/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
