Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

feat: increase stx balance request priority
  packages/query/src/stacks/stacks-client.ts
Due: query

feat: quicknode xpub lookup
  apps/mobile/metro.config.cjs
  apps/mobile/package.json
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/queries/balance/bitcoin-balance.query.ts
  packages/query/index.ts
  packages/query/src/bitcoin/address/utxos-by-address.hooks.ts
  packages/query/src/bitcoin/balance/btc-blockbook-utxos.ts
  packages/query/src/stacks/contract/contract.query.ts
  pnpm-lock.yaml
Due: query

fix: adjust feedback button display
  apps/extension/src/app/features/feedback-button/feedback-button.tsx
  apps/extension/src/app/features/settings/settings.tsx
  apps/extension/src/app/pages/home/home.tsx
  apps/extension/src/shared/utils/analytics.ts
Due: none

test: add more e2e tests and fix flakiness in rename flows
  apps/mobile/.eas/build/build-and-maestro-test.yml
  apps/mobile/maestro/flows/change-account-icon.yaml
  apps/mobile/maestro/flows/delete-wallet.yaml
  apps/mobile/maestro/flows/hide-account.yaml
  apps/mobile/maestro/flows/rename-account.yaml
  apps/mobile/maestro/flows/rename-wallet.yaml
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/[account]/index.tsx
  apps/mobile/src/components/headers/title.tsx
  apps/mobile/src/components/sheets/input-sheet.layout.tsx
  apps/mobile/src/components/wallet-settings/account-card.tsx
  apps/mobile/src/components/wallet-settings/account-name-sheet.tsx
  apps/mobile/src/components/wallet-settings/wallet-card.tsx
  apps/mobile/src/components/wallet-settings/wallet-name-sheet.tsx
  apps/mobile/src/components/widgets/accounts/components/cards/create-wallet-card.tsx
  apps/mobile/src/features/account-selector-sheet.tsx
  apps/mobile/src/features/settings/choose-avatar/avatar-button.tsx
  apps/mobile/src/locales/en/messages.po
  apps/mobile/src/locales/pseudo-locale/messages.po
  apps/mobile/src/shared/test-id.ts
  apps/mobile/src/utils/testing-utils.ts
Due: none

chore/crowdin-translations
  apps/mobile/src/locales/en/messages.d.ts
  apps/mobile/src/locales/es/messages.d.ts
  apps/mobile/src/locales/es/messages.po
Due: none

fix: get addresses focus behaviour, closes (leather-io/extension#5899)
  apps/extension/src/app/pages/rpc-get-addresses/components/get-addresses.layout.tsx
  apps/extension/src/app/pages/rpc-get-addresses/rpc-get-addresses.tsx
Due: none

chore(release): 6.48.1
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

feat: update locales
  apps/mobile/src/locales/en/messages.d.ts
  apps/mobile/src/locales/en/messages.po
  apps/mobile/src/locales/es/messages.d.ts
Due: none

feat: add get stacks burn address
  packages/stacks/src/stacks.utils.spec.ts
  packages/stacks/src/stacks.utils.ts
Due: stacks

feat: crowdin ota
  apps/mobile/package.json
  apps/mobile/src/app/(home)/developer-console/index.tsx
  apps/mobile/src/locales/en/messages.d.ts
  apps/mobile/src/locales/en/messages.po
  apps/mobile/src/locales/es/messages.d.ts
  apps/mobile/src/locales/es/messages.po
  apps/mobile/src/locales/index.ts
  apps/mobile/src/locales/pseudo-locale/messages.d.ts
  apps/mobile/src/locales/pseudo-locale/messages.po
  pnpm-lock.yaml
Due: none

ci: delete string checks and build lingui before crowdin sync
  .github/workflows/code-checks.yml
  .github/workflows/crowdin-action.yml
Due: none

chore/crowdin-translations
  apps/mobile/src/locales/en/messages.po
  apps/mobile/src/locales/es/messages.po
  apps/mobile/src/locales/pseudo-locale/messages.po
Due: none

feat: crowdin ota
  .github/workflows/code-checks.yml
  .github/workflows/crowdin-action.yml
  apps/mobile/package.json
  apps/mobile/src/app/(home)/developer-console/index.tsx
  apps/mobile/src/locales/en/messages.d.ts
  apps/mobile/src/locales/en/messages.po
  apps/mobile/src/locales/es/messages.d.ts
  apps/mobile/src/locales/es/messages.po
  apps/mobile/src/locales/index.ts
  apps/mobile/src/locales/pseudo-locale/messages.d.ts
  apps/mobile/src/locales/pseudo-locale/messages.po
  pnpm-lock.yaml
Due: none

feat: add tokens enabled config hook
  packages/query/src/common/remote-config/remote-config.query.ts
Due: query

fix: build script without lingui
  apps/mobile/package.json
Due: none

fix: secure store biometrics
  apps/mobile/.eas/build/build-and-maestro-test.yml
  apps/mobile/maestro/flows/change-account-icon.yaml
  apps/mobile/maestro/flows/create-wallet-without-security.yaml
  apps/mobile/maestro/flows/delete-wallet.yaml
  apps/mobile/maestro/flows/hide-account.yaml
  apps/mobile/maestro/flows/rename-account.yaml
  apps/mobile/maestro/flows/rename-wallet.yaml
  apps/mobile/maestro/shared/add-wallet.yaml
  apps/mobile/src/app/(home)/settings/security/index.tsx
  apps/mobile/src/hooks/create-wallet.ts
  apps/mobile/src/store/settings/settings.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

ci: maestro startup timeout
  apps/mobile/.eas/build/build-and-maestro-test.yml
Due: none

feat: lock screen
  apps/mobile/src/app/(home)/developer-console/index.tsx
  apps/mobile/src/app/(home)/settings/security/index.tsx
  apps/mobile/src/assets/lottie-locked-splash-screen-dark.json
  apps/mobile/src/assets/lottie-locked-splash-screen-light.json
  apps/mobile/src/assets/lottie-splash-screen-dark.json
  apps/mobile/src/assets/lottie-splash-screen-light.json
  apps/mobile/src/components/animations/leather-locked-splash.tsx
  apps/mobile/src/components/animations/leather-splash.tsx
  apps/mobile/src/components/splash-screen-guard/splash-screen-guard.tsx
  apps/mobile/src/features/settings/app-authentication-sheet.tsx
  apps/mobile/src/hooks/app-state.ts
  apps/mobile/src/hooks/create-wallet.ts
  apps/mobile/src/store/settings/settings.read.ts
  apps/mobile/src/store/settings/settings.ts
  apps/mobile/src/store/settings/settings.write.ts
Due: none

fix: tokens enabled config hook type
  packages/query/src/common/remote-config/remote-config.query.ts
  packages/query/types/remote-config.ts
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
Due: query

chore: wip
  apps/mobile/metro.config.cjs
  apps/mobile/package.json
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  pnpm-lock.yaml
Due: none

chore: wip
  apps/mobile/metro.config.cjs
  apps/mobile/src/app/(home)/account/[account]/index.tsx
Due: none

chore: wip
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/shared/constants.ts
  apps/mobile/src/shared/environment.ts
  packages/query/src/stacks/contract/contract.query.ts
Due: query

chore: wip - load balances
  apps/mobile/.prettierignore
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/polyfill.cjs
  packages/query/index.ts
  packages/query/src/bitcoin/balance/btc-balance.hooks.ts
  packages/query/src/bitcoin/balance/btc-native-segwit-balance.hooks.ts
  packages/query/src/common/balance/btc-balance-native-segwit.hooks.ts
  packages/query/src/common/balance/native-segwit-account.hooks.ts
  packages/query/src/common/balance/use-total-balance.hooks.ts
  pnpm-lock.yaml
Due: query

feat: app layer poc
  apps/mobile/ios/Podfile.lock
  apps/mobile/metro.config.cjs
  apps/mobile/package.json
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/app-services.context.tsx
  apps/mobile/src/queries/balance/bitcoin-balance.query.ts
  babel.config.cjs
  packages/models/src/index.ts
  packages/models/src/utxo/utxo.model.ts
  packages/services/package.json
  packages/services/src/accounts/accounts.service.ts
  packages/services/src/api/providers/blockbook-client.ts
  packages/services/src/api/providers/mempool-client.ts
  packages/services/src/balance/bitcoin/bitcoin-balance.service.ts
  packages/services/src/balance/bitcoin/dto/bitcoin-composite-balance.dto.ts
  packages/services/src/index.ts
  packages/services/src/inversify.config.ts
  packages/services/src/utxos/utxo.service.ts
  packages/services/tsconfig.json
  packages/services/tsup.config.ts
  packages/services/vitest.config.js
  pnpm-lock.yaml
Due: none
