Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

fix: reverse hardcoding of text, ref LEA-1780
  apps/mobile/src/app/(home)/create-new-wallet.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/features/settings/wallet-and-accounts/wallet-card.tsx
Due: none

feat: stacks approver
  apps/mobile/src/features/approver/components/approver-buttons.tsx
  apps/mobile/src/features/approver/components/bitcoin-fee-card.tsx
  apps/mobile/src/features/approver/components/bitcoin-outcome.tsx
  apps/mobile/src/features/approver/components/inputs-outputs-card.tsx
  apps/mobile/src/features/approver/components/stacks-fee-card.tsx
  apps/mobile/src/features/approver/components/stacks-outcome.tsx
  apps/mobile/src/features/approver/utils.ts
  apps/mobile/src/features/psbt-signer/psbt-signer.tsx
  apps/mobile/src/features/psbt-signer/utils.ts
  apps/mobile/src/features/send/send-form.utils.ts
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/send/send-sheet-navigator.tsx
  apps/mobile/src/features/send/send-sheets/sign-stacks-tx.tsx
  apps/mobile/src/features/stacks-tx-signer/stacks-tx-signer.tsx
  apps/mobile/src/features/stacks-tx-signer/use-broadcast-stx-transaction.ts
  packages/rpc/src/methods/stx-sign-transaction.ts
  packages/utils/src/index.ts
  packages/utils/src/money/calculate-money.ts
Due: utils

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat: migrate legacy auth request to approver ux
  apps/extension/.eslintrc.cjs
  apps/extension/src/app/common/focus-tab.ts
  apps/extension/src/app/common/utils.ts
  apps/extension/src/app/components/connect-account/connect-account.layout.tsx
  apps/extension/src/app/components/requester-flag.tsx
  apps/extension/src/app/features/current-account/current-account-displayer.tsx
  apps/extension/src/app/pages/choose-account/choose-account.tsx
  apps/extension/src/app/pages/choose-account/components/accounts.tsx
  apps/extension/src/app/pages/legacy-account-auth/legacy-account-auth.tsx
  apps/extension/src/app/pages/rpc-get-addresses/rpc-get-addresses.tsx
  apps/extension/src/app/pages/rpc-get-addresses/use-get-addresses.ts
  apps/extension/src/app/routes/app-routes.tsx
  apps/extension/tests/specs/transactions/transactions.spec.ts
Due: none

test: fix broken tests
  apps/extension/src/app/pages/legacy-account-auth/legacy-account-auth.tsx
  apps/extension/tests/specs/profile/profile.spec.ts
  apps/extension/tests/specs/transactions/transactions.spec.ts
Due: none

fix(query): looser stamps schema
  packages/query/src/bitcoin/stamps/stamps-by-address.query.ts
Due: query

feat: add connect dapps const
  packages/constants/src/index.ts
Due: none

refactor: extract pressable HOCs into a separate component
  packages/ui/src/components/pressable/pressable-core.native.tsx
  packages/ui/src/components/pressable/pressable.native.tsx
Due: none

refactor: add ability to specify transitions for Pressable
  packages/ui/native.ts
  packages/ui/package.json
  packages/ui/src/components/pressable/pressable-core.native.tsx
  packages/ui/src/components/pressable/pressable.native.tsx
  packages/ui/src/components/pressable/pressable.types.native.ts
  packages/ui/src/components/pressable/pressable.utils.native.ts
  packages/ui/src/hooks/use-pressed-state.native.ts
Due: none

refactor: migrate remaining list items to Cell
  apps/mobile/src/app/(home)/recover-wallet.tsx
  apps/mobile/src/components/add-wallet/add-wallet-cell.tsx
  apps/mobile/src/components/add-wallet/add-wallet-sheet.layout.tsx
  apps/mobile/src/components/widgets/accounts/sheets/add-account-sheet.layout.tsx
  apps/mobile/src/features/accounts/account-list/account-list-item.tsx
  apps/mobile/src/features/approver/components/approver-account-card.tsx
  apps/mobile/src/features/approver/components/bitcoin-fee-card.tsx
  apps/mobile/src/features/approver/components/bitcoin-outcome.tsx
  apps/mobile/src/features/approver/components/inputs-outputs-card.tsx
  apps/mobile/src/features/approver/components/utxo-row.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/features/receive/receive-sheets/receive-asset-item.tsx
Due: none

refactor: replace all occurrences of TouchableOpacity with Pressable
  apps/mobile/src/app/(home)/create-new-wallet.tsx
  apps/mobile/src/components/action-bar/action-bar-container.tsx
  apps/mobile/src/components/browser/browser-empty-state.tsx
  apps/mobile/src/components/browser/browser-in-use.tsx
  apps/mobile/src/components/developer-console/list-items.tsx
  apps/mobile/src/components/headers/components/header-back-button.tsx
  apps/mobile/src/components/headers/components/header-options.tsx
  apps/mobile/src/components/more-info-icon.tsx
  apps/mobile/src/components/tab-bar.tsx
  apps/mobile/src/components/widgets/components/widget/widget-header.tsx
  apps/mobile/src/features/accounts/account-selector/account-selector-sheet-header.tsx
  apps/mobile/src/features/send/send-form/components/send-form-memo.tsx
  apps/mobile/src/features/settings/choose-avatar/avatar-button.tsx
  apps/mobile/src/features/settings/wallet-and-accounts/wallet-card.tsx
Due: none

feat: add haptics to account cards & wallet creation flow
  apps/mobile/src/app/(home)/settings/display/index.tsx
  apps/mobile/src/components/action-bar/action-bar-container.tsx
  apps/mobile/src/components/add-wallet/add-wallet-cell.tsx
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.layout.tsx
  apps/mobile/src/hooks/use-create-wallet.ts
Due: none

ci: add more tests to cover leatherhood features, ref #LEA-1858
  apps/mobile/maestro/flows/accounts-drawer.yaml
  apps/mobile/maestro/flows/accounts-page.yaml
  apps/mobile/maestro/flows/change-network.yaml
  apps/mobile/maestro/flows/change-theme.yaml
  apps/mobile/maestro/flows/settings-guides.yaml
  apps/mobile/maestro/flows/settings-learn.yaml
  apps/mobile/maestro/flows/settings-support.yaml
  apps/mobile/maestro/flows/wallet-add-account.yaml
  apps/mobile/maestro/flows/wallet-management.yaml
  apps/mobile/maestro/flows/wallet-multi-wallet.yaml
  apps/mobile/src/features/settings/network-badge.tsx
  apps/mobile/src/shared/test-id.ts
  packages/ui/src/components/badge/badge.native.tsx
Due: none

feat: add styling props to section
  packages/ui/src/components/approver/components/approver-section.web.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix: toggle text and icon when hiding account
  apps/mobile/maestro/flows/hide-account.yaml
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/[account]/index.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
Due: none

feat: add swap/open methods
  packages/rpc/src/index.ts
  packages/rpc/src/methods/open-swap.ts
  packages/rpc/src/methods/open.ts
  packages/rpc/src/methods/send-transfer.ts
Due: none

feat: udpate types to conform with extension provider
  packages/rpc/package.json
  packages/rpc/src/index.ts
  packages/rpc/src/methods/send-transfer.ts
  packages/rpc/src/methods/sign-psbt.ts
  packages/rpc/src/methods/stx-sign-message.ts
  packages/rpc/src/methods/stx-sign-transaction.ts
  packages/rpc/src/methods/supported-methods.ts
  packages/rpc/src/rpc/schemas.ts
  pnpm-lock.yaml
Due: none

fix: testnet ordering
  packages/models/src/network/network.model.ts
Due: none

fix: make p2tr payments more permissive
  packages/bitcoin/src/p2tr-address-gen.ts
Due: bitcoin

fix(ledger): legacy auth flow
  apps/extension/src/app/common/publish-subscribe.ts
  apps/extension/src/app/pages/legacy-account-auth/legacy-account-auth.tsx
Due: none

fix: dismiss keyboard onPaste if text change matches clipboard, ref LEA-1789
  apps/mobile/maestro/flows/restore-wallet.yaml
  apps/mobile/src/app/(home)/recover-wallet.tsx
Due: none
