Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: query

fix: incorrect port on sbtc dev env mempool.space instance
  packages/models/src/network/network.model.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

chore: clean code
  apps/mobile/src/store/accounts/accounts.write.ts
  apps/mobile/src/store/key-store.ts
  apps/mobile/src/store/keychains/stacks/utils.ts
  packages/crypto/src/recurse-accounts.ts
Due: crypto

feat: change stacks bns name owner fetch fn
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/pages/send/send-crypto-asset-form/components/recipient-fields/hooks/use-recipient-bns-name.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/components/recipient-type-dropdown/recipient-type-dropdown.tsx
Due: none

chore(release): 6.53.0
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

refactor(rpc): add stx_signTransaction, test schemas, closes leather-io/issues#13
  packages/rpc/package.json
  packages/rpc/src/index.ts
  packages/rpc/src/methods/get-addresses.ts
  packages/rpc/src/methods/get-info.ts
  packages/rpc/src/methods/send-transfer.ts
  packages/rpc/src/methods/sign-message.ts
  packages/rpc/src/methods/sign-psbt.ts
  packages/rpc/src/methods/stx-sign-message.ts
  packages/rpc/src/methods/stx-sign-transaction.ts
  packages/rpc/src/rpc/helpers.ts
  packages/rpc/src/rpc/index.ts
  packages/rpc/src/rpc/schemas.spec.ts
  packages/rpc/src/rpc/schemas.ts
  packages/rpc/tsconfig.json
  packages/rpc/vitest.config.js
  pnpm-lock.yaml
Due: none

refactor: use zod for rpc validation
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/shared/forms/address-validators.ts
  apps/extension/src/shared/rpc/methods/send-transfer.spec.ts
  apps/extension/src/shared/rpc/methods/send-transfer.ts
  apps/extension/src/shared/rpc/methods/sign-message.ts
  apps/extension/src/shared/rpc/methods/sign-psbt.ts
  apps/extension/src/shared/rpc/methods/sign-stacks-message.ts
  apps/extension/src/shared/rpc/methods/sign-stacks-transaction.ts
  apps/extension/src/shared/rpc/methods/validation.utils.ts
Due: none

fix: import all accounts for wallet
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/hooks/api-clients.hooks.ts
  apps/mobile/src/store/accounts/accounts.write.ts
  apps/mobile/src/store/key-store.ts
  apps/mobile/src/store/keychains/stacks/utils.ts
  packages/crypto/src/index.ts
  packages/crypto/src/recurse-accounts.ts
  pnpm-lock.yaml
Due: crypto

chore: draft batch account creation
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/store/key-store.ts
  apps/mobile/src/store/keychains/bitcoin/bitcoin-keychains.read.ts
  apps/mobile/src/store/keychains/bitcoin/bitcoin-keychains.write.ts
  apps/mobile/src/store/keychains/stacks/stacks-keychains.write.ts
  apps/mobile/src/store/keychains/stacks/utils.ts
  apps/mobile/src/store/settings/settings.read.ts
  packages/crypto/src/recurse-accounts.spec.ts
  packages/crypto/src/recurse-accounts.ts
Due: crypto

chore: test log
  apps/mobile/src/store/key-store.ts
  packages/crypto/src/recurse-accounts.ts
Due: crypto

chore: deprecate userAddsAccount to keep code DRY
  apps/mobile/src/store/accounts/accounts.write.ts
  apps/mobile/src/store/key-store.ts
  apps/mobile/src/store/keychains/bitcoin/bitcoin-keychains.read.ts
  apps/mobile/src/store/keychains/bitcoin/bitcoin-keychains.write.ts
  apps/mobile/src/store/keychains/stacks/stacks-keychains.write.ts
Due: none

chore: it works configurably
  apps/mobile/src/store/key-store.ts
  packages/crypto/src/recurse-accounts.ts
Due: crypto

chore: test log
  apps/mobile/src/store/key-store.ts
Due: none

chore: it works configurably
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/store/key-store.ts
  packages/crypto/src/recurse-accounts.ts
Due: crypto

refactor: convert widget into compound components
  apps/mobile/src/components/widgets/accounts/accounts-widget.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles-widget.tsx
  apps/mobile/src/components/widgets/components/widget/widget-header.tsx
  apps/mobile/src/components/widgets/components/widget/widget.tsx
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
Due: none

fix: make ItemLayout full-width and match designs
  apps/mobile/src/components/full-height-sheet/full-height-sheet.layout.tsx
  apps/mobile/src/features/account-list/account-list-item.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/features/receive/receive-sheets/receive-asset-item.tsx
  apps/mobile/src/features/receive/receive-sheets/receive-asset-sheet.tsx
  apps/mobile/src/features/receive/receive-sheets/select-asset.tsx
  apps/mobile/src/features/send/send-form/components/send-form-asset.tsx
  apps/mobile/src/features/send/send-form/components/send-form-container.tsx
  apps/mobile/src/features/send/send-form/components/send-form-numpad.tsx
  apps/mobile/src/features/send/send-sheets/select-asset-sheet.tsx
  packages/tokens/src/typography.ts
  packages/ui/src/components/item-layout/item-layout.native.tsx
  packages/ui/src/theme-native/theme.tsx
Due: none

feat: add haptics support to Pressable
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/leatherwalletmobile.xcodeproj/project.pbxproj
  apps/mobile/package.json
  packages/ui/native.ts
  packages/ui/package.json
  packages/ui/src/components/pressable/pressable.native.tsx
  packages/ui/src/hooks/use-haptics.native.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: utils

feat: add a setting to disable haptics in the app
  apps/mobile/src/app/(home)/settings/display/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/store/settings/settings.read.ts
  apps/mobile/src/store/settings/settings.ts
  apps/mobile/src/store/settings/settings.write.ts
  apps/mobile/src/store/settings/utils.ts
  packages/ui/native.ts
  packages/ui/src/hooks/use-haptics.native.tsx
Due: none

chore: use market data service for STX balances
  apps/mobile/src/queries/balance/stacks-balance.query.ts
  apps/mobile/src/queries/market-data/stx-market-data.query.ts
Due: none

chore: add activity page
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/activity/activity.layout.tsx
  apps/mobile/src/app/(home)/activity/index.tsx
  apps/mobile/src/components/headers/components/header-leather-logo.tsx
  apps/mobile/src/components/headers/components/header-options.tsx
  apps/mobile/src/routes.ts
  apps/mobile/src/shared/test-id.ts
Due: none

feat: add stx transfer fees default values
  packages/models/src/fees/fees.model.ts
  packages/query/src/common/remote-config/remote-config.query.ts
  packages/query/src/stacks/fees/fees.hooks.ts
  packages/query/src/stacks/fees/fees.utils.ts
Due: query

chore: stub out stacks activity based on stacks balances
  apps/mobile/src/app/(home)/activity/activity-cell.tsx
  apps/mobile/src/app/(home)/activity/activity.layout.tsx
  apps/mobile/src/app/(home)/activity/index.tsx
  apps/mobile/src/app/(home)/activity/stacks-activity.tsx
  apps/mobile/src/queries/activity/stacks-activity.query.ts
Due: none

fix: update dependencies
  .commitlintrc.cjs
  .commitlintrc.js
  .github/actions/provision/action.yml
  .github/workflows/code-checks.yml
  apps/mobile/package.json
  package.json
  packages/analytics/package.json
  packages/bitcoin/package.json
  packages/crypto/package.json
  packages/query/package.json
  packages/rpc/package.json
  packages/services/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: bitcoin, query, utils, crypto

refactor: remove @stacks/rpc-client, deprecated package
  package.json
  packages/query/package.json
  packages/query/src/stacks/contract/contract.hooks.ts
  packages/query/src/stacks/hiro-api-types.ts
  pnpm-lock.yaml
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks
