Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

refactor(ui): redesign & refactor button for web
  packages/ui/src/components/button/button.web.stories.tsx
  packages/ui/src/components/button/button.web.tsx
  packages/ui/src/icons/icon/create-icon.native.tsx
  packages/ui/src/icons/icon/create-icon.web.tsx
Due: none

refactor(web): migrate the web app to the new button
  apps/web/app/features/install-dialog/install-dialog.tsx
  apps/web/app/features/sbtc-enroll/sbtc-enroll-button.tsx
  apps/web/app/features/stacking/components/choose-stacking-amount.tsx
  apps/web/app/features/stacking/increase-liquid-stacking/increase-liquid-stacking.tsx
  apps/web/app/features/stacking/start-liquid-stacking/start-liquid-stacking.tsx
  apps/web/app/features/stacking/start-pooled-stacking/start-pooled-stacking.tsx
  apps/web/app/pages/sbtc-rewards/components/get-sbtc-grid.tsx
  apps/web/app/pages/sbtc-rewards/sbtc-rewards.tsx
  apps/web/app/pages/stacking/components/stacking-provider-table.tsx
  apps/web/app/pages/stacking/components/start-earning-button.tsx
  packages/panda-preset/src/preset.ts
  packages/panda-preset/src/recipes/button-recipe.ts
  packages/ui/src/components/button/button.web.tsx
Due: none

fix(ui): fix shrinking labeled icon buttons
  packages/ui/src/components/icon-button/icon-button.web.tsx
Due: none

fix: update zod patch version
  apps/mobile/package.json
  apps/web/package.json
  packages/models/package.json
  packages/provider/package.json
  packages/query/package.json
  packages/rpc/package.json
  packages/rpc/src/rpc/helpers.ts
  packages/rpc/src/rpc/schemas.ts
  packages/sdk/package.json
  packages/services/package.json
  packages/stacks/package.json
  pnpm-lock.yaml
Due: query, stacks

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.js
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

test(web): add test env fixtures
  apps/web/app/mocks/api/leather.io/ping.ts
  apps/web/app/mocks/api/leather.io/quests-connect-earn.ts
  apps/web/app/mocks/api/mock-handlers.ts
  apps/web/playwright.config.ts
  apps/web/tests/index.ts
  apps/web/tests/mode-fixture.spec.ts
  apps/web/tests/pooled-stacking.spec.ts
Due: none

feat: add sip10 sends
  apps/mobile/src/components/amount-field/amount-field-secondary-value.tsx
  apps/mobile/src/components/amount-field/amount-field.tsx
  apps/mobile/src/components/amount-field/amount-field.utils.ts
  apps/mobile/src/features/approver/components/asset-outcome.tsx
  apps/mobile/src/features/approver/components/sip10-recipient.tsx
  apps/mobile/src/features/approver/layouts/base-stx-tx-approver.layout.tsx
  apps/mobile/src/features/approver/utils.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/transfer-sip10-ft/hooks.ts
  apps/mobile/src/features/browser/approver-sheet/stx/transfer-sip9-nft/hooks.ts
  apps/mobile/src/features/browser/approver-sheet/stx/transfer-stx/hooks.ts
  apps/mobile/src/features/browser/approver-sheet/stx/utils.ts
  apps/mobile/src/features/feature-flags/index.ts
  apps/mobile/src/features/send/components/asset-picker/asset-picker.tsx
  apps/mobile/src/features/send/components/inline-asset-picker.tsx
  apps/mobile/src/features/send/components/numpad.tsx
  apps/mobile/src/features/send/forms/stx/sip10-approval.tsx
  apps/mobile/src/features/send/forms/stx/sip10-form.tsx
  apps/mobile/src/features/send/forms/stx/sip10-loader.tsx
  apps/mobile/src/features/send/forms/stx/stx-form-schema.ts
  apps/mobile/src/features/send/forms/stx/use-sip10-form.ts
  apps/mobile/src/features/send/hooks/use-validate-input-decimal-places.ts
  apps/mobile/src/features/send/navigation.tsx
  apps/mobile/src/features/send/screens/approval.tsx
  apps/mobile/src/features/send/screens/form.layout.tsx
  apps/mobile/src/features/send/screens/form.tsx
  apps/mobile/src/features/send/screens/select-account.tsx
  apps/mobile/src/features/send/screens/select-asset.tsx
  apps/mobile/src/features/send/send-flow-provider.tsx
  apps/mobile/src/features/send/send.tsx
  apps/mobile/src/features/send/types.ts
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  packages/stacks/src/index.ts
  packages/stacks/src/transactions/create-tx-hex.ts
  packages/stacks/src/transactions/get-contract-fn-args.ts
  packages/stacks/src/transactions/sip-10-contract-call.utils.ts
  packages/ui/src/components/approver/components/approver-container.native.tsx
Due: stacks

fix(ui): specify text color on ghost & outline button variants
  packages/ui/src/components/button/button.native.tsx
  packages/ui/src/components/button/button.web.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.js
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: query, stacks

chore: update leather packages
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
Due: none

fix: use new protections api
  apps/extension/src/app/services/queries/balance/btc-balance.query.ts
Due: none

fix: issues introduced with zod upgrade
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/app-analytics.ts
  apps/extension/src/app/query/sbtc/sbtc-limits.query.ts
  apps/extension/src/background/messaging/rpc-request-utils.ts
  apps/extension/src/shared/rpc/methods/send-transfer.ts
  apps/extension/src/shared/rpc/methods/sign-message.ts
Due: none

feat(web): advanced tools, closes LEA-3099 LEA-3118
  .github/workflows/playwright.yml
  apps/mobile/package.json
  apps/web/app/components/form-select.tsx
  apps/web/app/components/forms/form-page.layout.tsx
  apps/web/app/components/forms/form-section.tsx
  apps/web/app/components/info-card.tsx
  apps/web/app/components/select-trigger.tsx
  apps/web/app/features/stacking/components/stacking-layout.tsx
  apps/web/app/features/stacking/increase-liquid-stacking/increase-liquid-stacking.tsx
  apps/web/app/features/stacking/providers/stacking-client-provider.tsx
  apps/web/app/features/stacking/start-liquid-stacking/start-liquid-stacking.tsx
  apps/web/app/features/stacking/start-pooled-stacking/start-pooled-stacking.tsx
  apps/web/app/features/stacking/start-pooled-stacking/utils/stacking-pool-form-schema.ts
  apps/web/app/features/tools/signer-key-generation/components/signer-key-generation-form.tsx
  apps/web/app/features/tools/signer-key-generation/components/signer-key-generation-preview-card.tsx
  apps/web/app/features/tools/signer-key-generation/request-signer-key-signature.ts
  apps/web/app/features/tools/signer-key-generation/signer-key-generation-schema.ts
  apps/web/app/features/tools/signer-key-generation/signer-key-generation.loader.tsx
  apps/web/app/features/tools/signer-key-generation/signer-key-generation.tsx
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/advanced/advanced.page.tsx
  apps/web/app/pages/advanced/advanced.route.tsx
  apps/web/app/pages/advanced/components/advanced-tool.tsx
  apps/web/app/pages/advanced/tools/signer-key-generation.page.tsx
  apps/web/app/pages/advanced/tools/signer-key-generation.route.tsx
  apps/web/app/pages/home/components/home-card.tsx
  apps/web/app/pages/home/home.tsx
  apps/web/app/routes.ts
  apps/web/package.json
  package.json
  packages/bitcoin/package.json
  packages/bitcoin/src/index.ts
  packages/bitcoin/src/schemas/address-schema.spec.ts
  packages/bitcoin/src/schemas/address-schema.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: bitcoin

feat(web): disable advanced in prod
  apps/web/app/layouts/nav/nav.tsx
  apps/web/app/pages/advanced/advanced.route.tsx
Due: none

refactor: migrate Button to new version
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/components/info-card/info-card.tsx
  apps/extension/src/app/components/layout/card/components/summary-footer.tsx
  apps/extension/src/app/components/rpc-transaction-request/get-transaction-actions.tsx
  apps/extension/src/app/features/asset-list/_components/connect-ledger-asset-button.tsx
  apps/extension/src/app/features/settings/network/components/network-list-item.layout.tsx
  apps/extension/src/app/pages/onboarding/sign-in/mnemonic-form.tsx
  apps/extension/src/app/pages/onboarding/welcome/welcome.layout.tsx
  apps/extension/src/app/pages/rpc-sign-psbt/rpc-sign-psbt-summary.tsx
  apps/extension/src/app/pages/send/ordinal-inscription/sent-inscription-summary.tsx
  apps/extension/src/app/ui/components/secret-key/secret-key.layout.tsx
Due: none

feat: normalize account service request usage
  apps/mobile/src/features/send/forms/stx/sip10-loader.tsx
  apps/mobile/src/features/send/forms/stx/stx-loader.tsx
  apps/mobile/src/features/send/hooks/use-preload-stx-data.ts
  apps/mobile/src/queries/balance/btc-balance.query.ts
  apps/mobile/src/queries/balance/runes-balance.query.ts
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  apps/mobile/src/queries/balance/stx-balance.query.ts
  packages/services/src/balances/btc-balances.service.ts
  packages/services/src/balances/runes-balances.service.ts
  packages/services/src/balances/sip10-balances.service.spec.ts
  packages/services/src/balances/sip10-balances.service.ts
  packages/services/src/balances/stx-balances.service.spec.ts
  packages/services/src/balances/stx-balances.service.ts
  packages/services/src/types/index.ts
  packages/services/src/types/request.types.ts
  packages/services/src/utxos/utxos.service.ts
Due: none

feat(web): add signature preview box
  apps/web/app/components/when-client.tsx
  apps/web/app/features/install-dialog/install-dialog.tsx
  apps/web/app/features/mock-dialog/mock-dialog.tsx
  apps/web/app/features/tools/signer-key-generation/components/signer-key-generation-form.tsx
  apps/web/app/features/tools/signer-key-generation/components/signer-key-generation-preview-card.tsx
  apps/web/app/features/tools/signer-key-generation/components/signer-key-generation-result-card.tsx
  apps/web/app/features/tools/signer-key-generation/request-signer-key-signature.ts
  apps/web/app/features/tools/signer-key-generation/signer-key-generation-schema.ts
  apps/web/app/features/tools/signer-key-generation/signer-key-generation.tsx
  apps/web/app/layouts/page/page.tsx
  apps/web/app/pages/advanced/advanced.page.tsx
  apps/web/app/pages/advanced/components/advanced-tool-item-with-auth.tsx
  apps/web/app/pages/advanced/tools/signer-key-generation.page.tsx
  apps/web/app/pages/sbtc-rewards/components/get-sbtc-grid.tsx
  apps/web/app/pages/stacking/pooled/pooled-stacking.tsx
  apps/web/app/store/addresses.ts
  packages/bitcoin/package.json
  pnpm-lock.yaml
Due: bitcoin

test: push change
  .github/workflows/mobile-pr-preview-build.yml
  .github/workflows/mobile-preview-builds-pr.yml
Due: none

chore(mobile): refactor sheets back to pages, ref LEA-3015
  apps/mobile/src/app/(tabs)/(index)/account/[accountId]/token/[tokenId]/index.tsx
  apps/mobile/src/app/(tabs)/(index)/balances/index.tsx
  apps/mobile/src/app/(tabs)/(index)/token/[tokenId]/index.tsx
  apps/mobile/src/components/action-buttons.tsx
  apps/mobile/src/components/screen/screen.tsx
  apps/mobile/src/features/account/account-list/account-list-item.tsx
  apps/mobile/src/features/account/account-list/account-list.tsx
  apps/mobile/src/features/account/account.tsx
  apps/mobile/src/features/account/accounts-widget.tsx
  apps/mobile/src/features/account/components/account-avatar.tsx
  apps/mobile/src/features/approver/components/approver-account-card.tsx
  apps/mobile/src/features/balances/assets/assets-flashlist.tsx
  apps/mobile/src/features/balances/balances.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/receive/receive.tsx
  apps/mobile/src/features/send/components/recipient/recipient-selector/recipient-selector-item.tsx
  apps/mobile/src/features/send/screens/select-account.tsx
  apps/mobile/src/features/send/send-sheet.tsx
  apps/mobile/src/features/token/account-list-item.tsx
  apps/mobile/src/features/token/address-list.tsx
  apps/mobile/src/features/token/bitcoin/bitcoin-token-details.tsx
  apps/mobile/src/features/token/components/token-activity.tsx
  apps/mobile/src/features/token/components/token-details-card.tsx
  apps/mobile/src/features/token/components/token-details-table.tsx
  apps/mobile/src/features/token/components/token-details.tsx
  apps/mobile/src/features/token/components/token-overview.tsx
  apps/mobile/src/features/token/components/token-price-change.tsx
  apps/mobile/src/features/token/hooks/use-get-token-balance.ts
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/stacks/stacks-token-details.tsx
  apps/mobile/src/features/token/token-receive-sheet.tsx
  apps/mobile/src/features/token/token-sheet.tsx
  apps/mobile/src/features/token/token.tsx
  apps/mobile/src/features/token/utils/get-token-name.ts
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/activity/account-activity.query.ts
  packages/analytics/src/events.ts
Due: none

chore(mobile): rebase with latest flashlist refactor
  apps/mobile/src/app/(tabs)/(index)/account/[accountId]/balances.tsx
  apps/mobile/src/app/(tabs)/(index)/balances/index.tsx
  apps/mobile/src/features/balances/assets/assets-balance-by-account.tsx
  apps/mobile/src/features/balances/assets/assets-balance.tsx
  apps/mobile/src/features/balances/assets/assets-flashlist.tsx
  apps/mobile/src/features/balances/assets/render-assets.tsx
  apps/mobile/src/features/balances/balances.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): rebase with latest flashlist refactor
  apps/mobile/src/app/(tabs)/(index)/account/[accountId]/token/[tokenId]/index.tsx
  apps/mobile/src/features/balances/assets/render-assets.tsx
  apps/mobile/src/features/balances/balances.tsx
Due: none

chore(mobile): refactor account list item
  apps/mobile/src/features/balances/balances.tsx
  apps/mobile/src/features/token/account-list.tsx
  apps/mobile/src/features/token/address-list.tsx
  apps/mobile/src/features/token/bitcoin/bitcoin-token-details.tsx
  apps/mobile/src/features/token/hooks/use-get-token-balance.ts
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/stacks/stacks-token-details.tsx
  apps/mobile/src/features/token/token.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): refactor to use token specific balance queries
  apps/mobile/src/features/receive/receive.tsx
  apps/mobile/src/features/send/send-sheet.tsx
  apps/mobile/src/features/token/bitcoin/bitcoin-account-list.tsx
  apps/mobile/src/features/token/bitcoin/bitcoin-address-list.tsx
  apps/mobile/src/features/token/bitcoin/bitcoin-token-details.tsx
  apps/mobile/src/features/token/components/account-list.tsx
  apps/mobile/src/features/token/components/address-list.tsx
  apps/mobile/src/features/token/stacks/sip10-account-list.tsx
  apps/mobile/src/features/token/stacks/sip10-address-list.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/stacks/stacks-account-list.tsx
  apps/mobile/src/features/token/stacks/stacks-address-list.tsx
  apps/mobile/src/features/token/stacks/stacks-token-details.tsx
  apps/mobile/src/features/token/token.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/activity/account-activity.query.ts
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  packages/services/src/activity/activity.service.ts
Due: none

chore(mobile): refactor activity service return type
  apps/mobile/src/features/activity/activity-flashlist.tsx
  apps/mobile/src/features/token/bitcoin/bitcoin-token-details.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/stacks/stacks-token-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/services/src/activity/activity.service.ts
Due: none

chore(mobile): clean code
  apps/mobile/src/features/receive/screens/select-asset.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): clean code
  apps/mobile/src/features/token/bitcoin/bitcoin-token-details.tsx
  apps/mobile/src/features/token/components/token-activity.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/stacks/stacks-token-details.tsx
  apps/mobile/src/features/token/token.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): implement receive asset selection
  apps/mobile/src/features/receive/get-assets.ts
  apps/mobile/src/features/receive/navigation.tsx
  apps/mobile/src/features/receive/receive-sheet.tsx
  apps/mobile/src/features/receive/receive.tsx
  apps/mobile/src/features/receive/screens/asset-details.tsx
  apps/mobile/src/features/receive/screens/select-asset.tsx
  apps/mobile/src/features/receive/use-select-assets.ts
  apps/mobile/src/features/token/bitcoin/bitcoin-address-list.tsx
  apps/mobile/src/features/token/components/address-list.tsx
  apps/mobile/src/features/token/stacks/sip10-address-list.tsx
  apps/mobile/src/features/token/stacks/stacks-address-list.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): add notes for refactor of SIP-10 fetching
  apps/mobile/src/features/approver/components/asset-outcome.tsx
  apps/mobile/src/features/approver/components/sip10-recipient.tsx
  apps/mobile/src/features/receive/receive-sheet.tsx
  apps/mobile/src/features/send/forms/stx/sip10-loader.tsx
  apps/mobile/src/features/send/send-sheet.tsx
  apps/mobile/src/features/token/bitcoin/bitcoin-account-list.tsx
  apps/mobile/src/features/token/bitcoin/bitcoin-token-details.tsx
  apps/mobile/src/features/token/stacks/sip10-account-list.tsx
  apps/mobile/src/features/token/stacks/sip10-address-list.tsx
  apps/mobile/src/features/token/stacks/stacks-account-list.tsx
  apps/mobile/src/features/token/stacks/stacks-token-details.tsx
  apps/mobile/src/features/token/token.tsx
  apps/mobile/src/features/token/utils/get-token-name.ts
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  packages/models/src/activity/activity.model.ts
  packages/services/src/activity/activity.service.ts
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
