Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

fix: update bitcoin readme.md
  packages/bitcoin/README.md
Due: bitcoin

fix(query): add refetch interval stacks balances, ref leather-io/extension#5965
  packages/query/src/stacks/balance/account-balance.query.ts
Due: query

fix: add stacks readme.md
  packages/stacks/README.md
Due: stacks

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
Due: bitcoin, query, stacks

fix: manually update packages to workspace
  apps/mobile/package.json
Due: none

fix: rollback release-please action
  .github/workflows/release-please.yml
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

chore(rpc): sip30 support table
  packages/rpc/README.md
Due: none

fix: btc recipient validation, closes LEA-2126
  apps/extension/src/shared/forms/address-validators.ts
Due: none

fix: upgrade default pkgs
  apps/web/app/home/home.tsx
  apps/web/app/root.tsx
  apps/web/app/routes/home.tsx
  apps/web/app/welcome/welcome.tsx
  apps/web/package.json
  apps/web/tsconfig.json
  eslint.config.js
  pnpm-lock.yaml
Due: none

fix: panda-preset build chain
  .dependency-cruiser.cjs
  apps/web/package.json
  package.json
  packages/panda-preset/package.json
  packages/tokens/package.json
  packages/tokens/src/typography.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

feat(web): scaffold react router v7, closes LEA-2114
  .syncpackrc
  apps/web/.dockerignore
  apps/web/.gitignore
  apps/web/Dockerfile
  apps/web/README.md
  apps/web/app/app.css
  apps/web/app/root.tsx
  apps/web/app/routes.ts
  apps/web/app/routes/home.tsx
  apps/web/app/welcome/welcome.tsx
  apps/web/package.json
  apps/web/public/favicon.ico
  apps/web/react-router.config.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: none

feat(web): add playwright, closes LEA-2120
  .github/workflows/playwright.yml
  apps/web/.dockerignore
  apps/web/.gitignore
  apps/web/Dockerfile
  apps/web/README.md
  apps/web/app/root.tsx
  apps/web/app/routes/home.tsx
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/postcss.config.cjs
  apps/web/tests/homepage.spec.ts
  pnpm-lock.yaml
Due: none

feat(ui): house, glasses, newspaper icons
  packages/ui/src/assets/icons/glasses-16-16.svg
  packages/ui/src/assets/icons/glasses-24-24.svg
  packages/ui/src/assets/icons/house-16-16.svg
  packages/ui/src/assets/icons/house-24-24.svg
  packages/ui/src/assets/icons/newspaper-16-16.svg
  packages/ui/src/assets/icons/newspaper-24-24.svg
  packages/ui/src/icons/glasses-icon.native.tsx
  packages/ui/src/icons/glasses-icon.web.tsx
  packages/ui/src/icons/house-icon.native.tsx
  packages/ui/src/icons/house-icon.web.tsx
  packages/ui/src/icons/index.native.ts
  packages/ui/src/icons/index.web.ts
  packages/ui/src/icons/newspaper-icon.native.tsx
  packages/ui/src/icons/newspaper-icon.web.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

feat: stx transfer sip9 nft, closes LEA-1964
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/pages/rpc-stx-transfer-sip9-nft/rpc-stx-transfer-sip9-nft.tsx
  apps/extension/src/app/routes/rpc-routes.tsx
  apps/extension/src/background/messaging/messaging-utils.ts
  apps/extension/src/background/messaging/rpc-message-handler.ts
  apps/extension/src/background/messaging/rpc-methods/stx-transfer-sip9-nft.ts
  apps/extension/src/shared/route-urls.ts
  apps/extension/src/shared/utils/post-conditions.ts
  apps/extension/test-app/src/components/debugger.tsx
  apps/extension/tests/specs/rpc-stx-transfer-sip10-ft/rpc-stx-transfer-sip10-ft.spec.ts
  apps/extension/tests/specs/rpc-stx-transfer-sip9-nft/rpc-stx-transfer-sip9-nft.spec.ts
Due: none

fix: sbtc limits schema, closes LEA-2185
  apps/extension/src/app/query/sbtc/sbtc-limits.query.ts
Due: none

fix: roll back react upgrade in ui to fix bug in mobile
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

refactor: use sbtc lib deposit defaults
  apps/extension/src/app/pages/swap/hooks/use-sbtc-deposit-transaction.tsx
  apps/extension/src/app/pages/swap/providers/bitcoin-swap-provider.tsx
Due: none

feat: add compliance checks to mobile, ref LEA-1852
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  apps/mobile/src/features/send/send-form/hooks/use-send-form-stx.tsx
  apps/mobile/src/features/send/send-form/validation/btc.validation.ts
  apps/mobile/src/features/send/send-form/validation/stx.validation.ts
  packages/models/src/transactions/transaction-error.model.ts
  packages/query/index.ts
  packages/query/src/common/compliance-checker/compliance-checker.constants.ts
  packages/query/src/common/compliance-checker/compliance-checker.hooks.spec.ts
  packages/query/src/common/compliance-checker/compliance-checker.hooks.ts
  packages/query/src/common/compliance-checker/compliance-checker.query.ts
  packages/query/src/common/compliance-checker/compliance-checker.spec.ts
  packages/query/src/common/compliance-checker/compliance-checker.ts
  packages/query/src/common/compliance-checker/compliance-checker.types.ts
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix(rpc): getAddress network support, ref LEA-2195
  packages/rpc/src/methods/get-addresses.spec.ts
  packages/rpc/src/methods/get-addresses.ts
  packages/rpc/src/methods/stacks/stx-get-addresses.ts
Due: none
