Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

fix(ci): update workflows to use prepare:build instead of prepare
  .github/workflows/extension:integration-tests.yml
  .github/workflows/web:integration-tests.yml
Due: none

feat(state): add ability to disable pairs/assets in swap
  packages/state/src/swap/actions/swap-actions.ts
  packages/state/src/swap/index.ts
  packages/state/src/swap/swap-state.types.ts
  packages/state/src/swap/swap.queries.ts
  packages/state/src/swap/tests/test-utils/fixtures.ts
  packages/state/src/swap/tests/test-utils/render.tsx
  packages/state/src/swap/tests/use-swap-state.assets.spec.ts
  packages/state/src/swap/use-swap-state.ts
  packages/state/src/swap/utils/asset-selection.ts
  packages/state/src/swap/utils/disabled-pairs.ts
Due: none

feat(mobile): disable sBTC bridging via LaunchDarkly flag
  apps/mobile/src/features/feature-flags/index.ts
  apps/mobile/src/features/swap/swap.tsx
  apps/mobile/src/features/swap/use-swap-disabled-pairs.ts
  packages/constants/src/index.ts
Due: none

chore: upgrade tar to 7.5.4 for CVE-2026-23950
  package.json
  pnpm-lock.yaml
Due: none

chore: release dev
  .release-please-manifest.json
  apps/extension/CHANGELOG.md
  apps/extension/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/features/CHANGELOG.md
  packages/features/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/queries/CHANGELOG.md
  packages/queries/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix(mobile): fix Lottie animation BG colour mismatch, ref LEA-3367
  apps/mobile/src/assets/lottie-locked-splash-screen-dark.json
  apps/mobile/src/assets/lottie-splash-screen-dark.json
Due: none

fix(mobile): make sure lottie animations stay synced with tokens, ref LEA-3367
  apps/mobile/package.json
  apps/mobile/scripts/sync-lottie-colors.js
  apps/mobile/scripts/sync-lottie-colors.spec.js
  apps/mobile/src/assets/README.md
  apps/mobile/src/assets/lottie-locked-splash-screen-dark.json
  apps/mobile/src/assets/lottie-locked-splash-screen-light.json
  apps/mobile/src/assets/lottie-splash-screen-dark.json
  apps/mobile/src/assets/lottie-splash-screen-light.json
  apps/mobile/vitest.config.js
  scripts/test-mobile-build.sh
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
Due: none

refactor(extension): add isolated feature flags for extension revamp
  apps/extension/src/app/features/container/headers/home.header.tsx
  apps/extension/src/app/features/feature-flags/index.tsx
  apps/extension/src/app/pages/home/components/account-actions-switch.tsx
  apps/extension/src/app/pages/home/components/account-card-switch.tsx
  apps/extension/src/app/pages/home/components/activity-switch.tsx
  apps/extension/src/app/pages/home/components/assets-switch.tsx
  apps/extension/src/app/pages/home/components/home-tabs-switch.tsx
  apps/extension/src/app/pages/home/components/home-tabs.tsx
  apps/extension/src/app/pages/home/home-current.tsx
  apps/extension/src/app/pages/home/home.tsx
Due: none

feat(extension): add activityRevamp feature flag
  apps/extension/src/app/features/feature-flags/index.tsx
  apps/extension/src/app/pages/home/components/activity-switch.tsx
  apps/extension/src/app/pages/home/home.tsx
Due: none

chore: add dummy release notes markdown files
  apps/extension/RELEASE_NOTES.md
  apps/mobile/RELEASE_NOTES.md
Due: none

chore: exempt some issues from stale timer by label
  .github/workflows/repo:close-stale-issues.yml
Due: none

fix(mobile): make sure lottie animations use correct colour, ref LEA-3367
  apps/mobile/src/assets/lottie-locked-splash-screen-dark.json
  apps/mobile/src/assets/lottie-splash-screen-dark.json
  apps/mobile/src/components/splash-screen-guard/splash-screen-guard.tsx
Due: none

fix(mobile): fix status bar color
  apps/mobile/src/components/status-bar.tsx
Due: none

fix(crypto): leading zero loss in fingerprint calc
  packages/crypto/package.json
  packages/crypto/src/keychain.spec.ts
  packages/crypto/src/keychain.ts
Due: crypto

fix: update redux migrations and secure store migrations. add tests
  apps/extension/src/app/common/app-analytics.ts
  apps/mobile/src/app/create-new-wallet.tsx
  apps/mobile/src/features/psbt-signer/signer.ts
  apps/mobile/src/features/recover-wallet/recover-wallet.tsx
  apps/mobile/src/hooks/use-create-wallet.ts
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/store/index.ts
  apps/mobile/src/store/key-store.ts
  apps/mobile/src/store/keychains/stacks/stacks-keychains.read.ts
  apps/mobile/src/store/migrations/migrate-1-2-pad-fingerprints.spec.ts
  apps/mobile/src/store/migrations/migrate-1-2-pad-fingerprints.ts
  apps/mobile/src/store/secure-store/mnemonic-store.spec.ts
  apps/mobile/src/store/secure-store/mnemonic-store.ts
  apps/mobile/src/store/secure-store/secure-store-access.spec.ts
  apps/mobile/src/store/secure-store/secure-store-access.ts
  apps/mobile/src/store/secure-store/secure-store-keys.spec.ts
  apps/mobile/src/store/secure-store/secure-store-keys.ts
  apps/mobile/src/store/secure-store/temp-mnemonic-store.ts
  apps/mobile/src/store/secure-store/utils.ts
  apps/mobile/src/store/storage-persistors.ts
  apps/mobile/src/store/wallets/wallets.read.ts
  packages/crypto/src/keychain.spec.ts
  packages/crypto/src/keychain.ts
  packages/stacks/src/stacks.utils.spec.ts
  packages/stacks/src/stacks.utils.ts
  packages/test-config/src/test-helpers.ts
Due: crypto, stacks

refactor: simplify keychain update
  packages/crypto/src/keychain.spec.ts
  packages/crypto/src/keychain.ts
Due: crypto

fix(mobile): migrate to correct fingerprint format
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/store/migrations/index.ts
  apps/mobile/src/store/migrations/migrate-1-2-pad-fingerprints.spec.ts
  apps/mobile/src/store/migrations/migrate-1-2-pad-fingerprints.ts
  apps/mobile/src/store/storage-persistors.ts
  packages/bitcoin/src/signer/bitcoin-signer.spec.ts
  packages/bitcoin/src/signer/bitcoin-signer.ts
  pnpm-lock.yaml
Due: bitcoin

fix(web): update xverse pool minimum
  apps/web/app/data/data.ts
Due: none

fix: remove premature error in getMnemonic function
  apps/mobile/src/store/secure-store/mnemonic-store.ts
Due: none

fix(mobile): make sure lottie animations stay synced with tokens, ref LEA-3367
  apps/mobile/src/assets/lottie-locked-splash-screen-dark.json
  apps/mobile/src/assets/lottie-splash-screen-dark.json
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
