Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

fix: remove faux border for activity avatars and default to false
  packages/ui/src/components/avatar/avatar.native.tsx
  packages/ui/src/components/avatar/runes-avatar-icon.native.tsx
  packages/ui/src/components/avatar/sip10-avatar-icon.native.tsx
Due: none

feat(ui): add useInterval and useCountdown hooks
  apps/extension/src/app/common/hooks/use-interval.ts
  apps/extension/src/app/common/hooks/use-waiting-message.ts
  packages/ui/native.ts
  packages/ui/package.json
  packages/ui/src/exports.web.ts
  packages/ui/src/utils/use-countdown.shared.ts
  packages/ui/src/utils/use-interval.shared.ts
  packages/ui/src/utils/use-interval.spec.ts
  packages/ui/vitest.config.js
  pnpm-lock.yaml
Due: none

fix: improve token-details loading state
  apps/mobile/src/components/balance/balance.tsx
  apps/mobile/src/components/balance/price-change.tsx
  apps/mobile/src/features/balances/total-balance.tsx
  apps/mobile/src/features/token/bitcoin/rune-token-details.tsx
  apps/mobile/src/features/token/components/token-description.tsx
  apps/mobile/src/features/token/components/token-loading.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/token.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

fix: improve home screen loading state
  apps/mobile/src/features/account/components/account-stacking.tsx
  apps/mobile/src/features/account/components/account-total-balance.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

fix: improve token-details loading state
  apps/mobile/src/components/balance/price-change.tsx
  apps/mobile/src/features/token/bitcoin/rune-token-details.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

refactor(mobile): split swap tests into files
  apps/mobile/src/features/swap/swap-state/tests/test-utils/fixtures.ts
  apps/mobile/src/features/swap/swap-state/tests/test-utils/services.stub.ts
  apps/mobile/src/features/swap/swap-state/tests/use-swap-state.amounts.spec.ts
  apps/mobile/src/features/swap/swap-state/tests/use-swap-state.fees.spec.ts
  apps/mobile/src/features/swap/swap-state/use-swap-state.spec.ts
  apps/mobile/src/features/swap/swap-state/validation/swap-validation.spec.ts
Due: none

feat(mobile): add swap execution tests
  apps/mobile/src/features/swap/swap-state/tests/use-swap-state.execution.spec.ts
Due: none

feat(mobile): add swap execution
  apps/mobile/src/features/swap/screens/swap-form-screen.tsx
  apps/mobile/src/features/swap/swap-state/actions/swap-actions.ts
  apps/mobile/src/features/swap/swap-state/hooks/use-execute-swap.ts
  apps/mobile/src/features/swap/swap-state/hooks/use-network-fee.ts
  apps/mobile/src/features/swap/swap-state/hooks/use-swap-executability.ts
  apps/mobile/src/features/swap/swap-state/hooks/use-swap-quotes.ts
  apps/mobile/src/features/swap/swap-state/strategies/execution-type/build-transaction/build-transaction/build-sbtc-bridge-transfer-tx.ts
  apps/mobile/src/features/swap/swap-state/strategies/execution-type/execution-type.ts
  apps/mobile/src/features/swap/swap-state/strategies/execution-type/transform-transaction-fees.ts
  apps/mobile/src/features/swap/swap-state/strategies/protocol/protocol.ts
  apps/mobile/src/features/swap/swap-state/swap-state.reducer.ts
  apps/mobile/src/features/swap/swap-state/swap-state.types.ts
  apps/mobile/src/features/swap/swap-state/swap.queries.ts
  apps/mobile/src/features/swap/swap-state/test-utils/services.stub.ts
  apps/mobile/src/features/swap/swap-state/tests/test-utils/render.ts
  apps/mobile/src/features/swap/swap-state/tests/use-swap-state.assets.spec.ts
  apps/mobile/src/features/swap/swap-state/tests/use-swap-state.quotes.spec.ts
  apps/mobile/src/features/swap/swap-state/use-swap-state.spec.ts
  apps/mobile/src/features/swap/swap-state/use-swap-state.ts
  apps/mobile/src/features/swap/swap-state/utils/is-quote-aligned-with-current-input.ts
  apps/mobile/src/features/swap/swap-state/utils/swap-quote-selection.ts
  apps/mobile/src/features/swap/swap-state/validation/swap-validation.spec.ts
  apps/mobile/src/features/swap/use-swap-dependencies.ts
  apps/mobile/src/i18n/locales/en/messages.po
  packages/services/src/index.ts
  packages/services/src/inversify.config.ts
Due: none

feat(services): further separate transaction fee quote types
  apps/mobile/src/features/swap/swap-state/test-utils/services.stub.ts
  packages/models/src/fees/transaction-fees.model.ts
  packages/services/src/fees/bitcoin-transaction-fees.utils.ts
  packages/services/src/fees/stacks-transaction-fees.utils.spec.ts
  packages/services/src/fees/stacks-transaction-fees.utils.ts
Due: none

fix: improve collectible list loading making list shimmer independently
  apps/mobile/src/components/balance/price-change.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
  apps/mobile/src/features/token/components/collectibles-list-loading.tsx
  apps/mobile/src/features/token/components/loading.tsx
  packages/ui/src/components/skeleton-loader/skeleton-loader.native.tsx
Due: none

fix: responsive portfolio
  apps/web/app/components/table.tsx
  apps/web/app/pages/portfolio/components/activity-list/index.tsx
  apps/web/app/pages/portfolio/components/portfolio-page.layout.tsx
  apps/web/app/pages/portfolio/portfolio-table/portfolio-table.tsx
Due: none

fix: standardise token + collectible details loading
  apps/mobile/src/features/token/bitcoin/inscription-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/components/collectible-loading.tsx
  apps/mobile/src/features/token/components/token-loading.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore: add .prettier config for vscode at mono root
  .vscode/settings.json
Due: none

fix(mobile): add output value description sheet to inscription details
  apps/mobile/src/features/token/bitcoin/inscription-token-details.tsx
  apps/mobile/src/features/token/components/token-stat-card.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): preload collectibles at home level to make it feel snappier
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
Due: none

feat: defi integrations
  packages/services/src/defi/bitflow/bitflow.service.ts
  packages/services/src/defi/bitflow/bitflow.utils.ts
  packages/services/src/defi/granite/granite-v1.service.ts
  packages/services/src/defi/granite/granite-v1.utils.ts
  packages/services/src/defi/stacking-dao/stacking-dao.service.ts
  packages/services/src/defi/stacking-dao/stacking-dao.utils.ts
  packages/services/src/defi/zest/zest-borrow.service.ts
  packages/services/src/defi/zest/zest-borrow.utils.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/api/hiro/hiro-request-priorities.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.types.ts
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/api/leather/leather-api.types.ts
  packages/services/src/infrastructure/cache/http-cache.config.ts
  packages/services/src/infrastructure/rate-limiter/leather-rate-limiter.ts
  packages/services/src/inversify.config.ts
  packages/services/src/market/market-data.service.ts
  packages/stacks/src/clarity.ts
  packages/stacks/src/index.ts
Due: stacks

chore(mobile): add better error handling for collectible loading
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/utils/src/assets/inscription-helpers.spec.ts
  packages/utils/src/assets/inscription-helpers.ts
Due: utils

chore(mobile): add better error handling for collectible loading
  apps/mobile/src/features/token/bitcoin/inscription.tsx
  packages/models/src/assets/asset.model.ts
  packages/query/src/bitcoin/ordinals/inscription.utils.ts
  packages/services/src/collectibles/collectibles.utils.spec.ts
  packages/services/src/collectibles/collectibles.utils.ts
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/utils/src/assets/inscription-helpers.spec.ts
  packages/utils/src/assets/inscription-helpers.ts
Due: query, utils

chore(mobile): fix bug with GLTF previews
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/utils/src/assets/inscription-helpers.spec.ts
  packages/utils/src/assets/inscription-helpers.ts
Due: utils

chore(mobile): add bespoke handling of gltf collectibles
  packages/ui/src/components/collectibles/native/collectible-gltf.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/ui/src/components/collectibles/native/sip9.native.tsx
Due: none

feat(web): add empty state
  apps/web/app/pages/portfolio/components/activity-list/index.tsx
  apps/web/app/pages/portfolio/components/portfolio-page.layout.tsx
  apps/web/app/pages/portfolio/components/portfolio-summary.tsx
  apps/web/app/pages/portfolio/components/wallet-connection-modal.tsx
  apps/web/app/pages/portfolio/dummy-portfolio-data.ts
  apps/web/app/pages/portfolio/portfolio-table/portfolio-empty.tsx
  apps/web/app/pages/portfolio/portfolio-table/portfolio-loading.tsx
  apps/web/app/pages/portfolio/portfolio-table/portfolio-table.tsx
  apps/web/app/pages/portfolio/portfolio.page.tsx
  apps/web/app/pages/portfolio/portfolio.route.tsx
  apps/web/public/images/extension-logo.svg
  apps/web/workers/csp.ts
  package.json
Due: none

chore(mobile): fetch html inscriptions serverside and feed src
  apps/mobile/src/features/token/bitcoin/inscription.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/models/src/assets/asset.model.ts
  packages/services/src/collectibles/collectibles.service.ts
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/utils/src/assets/inscription-helpers.spec.ts
  packages/utils/src/assets/inscription-helpers.ts
Due: utils

feat(web): add portfolio modal
  apps/web/app/pages/portfolio/components/portfolio-page.layout.tsx
  apps/web/app/pages/portfolio/components/wallet-connection-modal.tsx
  apps/web/app/pages/portfolio/dummy-portfolio-data.ts
  apps/web/app/pages/portfolio/portfolio-table/portfolio-table.tsx
  apps/web/app/pages/portfolio/portfolio.page.tsx
  package.json
Due: none

chore(mobile): rollback inline html and use ord.io
  apps/mobile/src/features/token/bitcoin/inscription.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/models/src/assets/asset.model.ts
  packages/query/src/bitcoin/ordinals/inscription.utils.ts
  packages/services/src/collectibles/collectibles.service.ts
  packages/services/src/collectibles/collectibles.utils.spec.ts
  packages/services/src/collectibles/collectibles.utils.ts
  packages/ui/src/components/collectibles/native/collectible-gltf.native.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/utils/src/assets/inscription-helpers.spec.ts
  packages/utils/src/assets/inscription-helpers.ts
Due: query, utils

fix: psbt testnet
  apps/mobile/src/features/account/components/account-address.tsx
  apps/mobile/src/features/approver/components/utxo-row.tsx
  apps/mobile/src/features/browser/approver-sheet/send-transfer.tsx
  apps/mobile/src/features/browser/approver-sheet/sign-message/bip322-signer.ts
  apps/mobile/src/features/browser/approver-sheet/sign-message/sign-message.tsx
  apps/mobile/src/features/browser/approver-sheet/sign-psbt.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/call-contract/call-contract.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/deploy-contract/deploy-contract.tsx
  apps/mobile/src/features/browser/approver-sheet/stx/utils.ts
  apps/mobile/src/features/psbt-signer/psbt-signer.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/shared/utils.ts
  packages/bitcoin/src/psbt/psbt-outputs.ts
  packages/rpc/src/methods/bitcoin/sign-message.ts
Due: bitcoin

feat: add defi model types
  packages/models/src/index.ts
  packages/models/src/yield/helpers/yield.helpers.ts
  packages/models/src/yield/providers/bitflow.model.ts
  packages/models/src/yield/providers/granite.model.ts
  packages/models/src/yield/providers/stacking-dao.model.ts
  packages/models/src/yield/providers/zest.model.ts
  packages/models/src/yield/yield-position.base.model.ts
  packages/models/src/yield/yield-position.model.ts
  packages/models/src/yield/yield-product.model.ts
  packages/models/src/yield/yield-provider.model.ts
  packages/services/src/index.ts
  packages/services/src/inversify.config.ts
  packages/services/src/yield/providers/bitflow/bitflow-amm-lp.service.ts
  packages/services/src/yield/providers/bitflow/bitflow.utils.ts
  packages/services/src/yield/providers/granite/granite-v1.service.ts
  packages/services/src/yield/providers/granite/granite.utils.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao-lst.service.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao.utils.ts
  packages/services/src/yield/providers/zest/zest-borrow.service.ts
  packages/services/src/yield/providers/zest/zest.utils.ts
  packages/services/src/yield/yield-product.interface.ts
  packages/services/src/yield/yield.service.ts
Due: none

fix: critical-rn-vulnerability
  package.json
  pnpm-lock.yaml
Due: none

chore: release dev
  .release-please-manifest.json
  apps/extension/CHANGELOG.md
  apps/extension/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix: sentry dsn env variable
  .github/workflows/publish-extensions.yml
Due: none

fix: standardise token + collectible details loading
  apps/mobile/src/components/balance/price-change.tsx
  apps/mobile/src/features/token/bitcoin/inscription-details.tsx
  apps/mobile/src/features/token/bitcoin/rune-token-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/components/collectible-loading.tsx
  apps/mobile/src/features/token/components/collectibles-list-loading.tsx
  apps/mobile/src/features/token/components/token-loading.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/features/token/token.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/ui/src/components/skeleton-loader/skeleton-loader.native.tsx
Due: none
