Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

fix: file lint
  .ls-lint.yml
  packages/secure-store-utils/example/App.tsx
  packages/secure-store-utils/example/babel.config.js
  packages/secure-store-utils/example/metro.config.js
  packages/secure-store-utils/example/tsconfig.json
  packages/secure-store-utils/example/webpack.config.js
Due: none

fix: deps
  packages/secure-store-utils/package.json
  pnpm-lock.yaml
Due: none

chore: add basic tests
  apps/mobile/src/queries/stacks/transactions-with-transfers.query.spec.ts
  apps/mobile/src/queries/stacks/use-mempool-txs-balance.spec.ts
  apps/mobile/src/queries/stacks/use-stacks-pending-transactions.spec.ts
Due: none

chore: use uuid instead of crypto.randomID to support RN
  apps/mobile/package.json
  apps/mobile/src/scripts/injected-provider.js
  packages/query/package.json
  packages/query/src/rate-limiter/queue-class.ts
  pnpm-lock.yaml
Due: query

chore: downgrade p-queue and fix version to prevent throwIfAborted error on RN
  packages/query/package.json
  pnpm-lock.yaml
Due: query

fix: manage tokens performance
  apps/extension/src/app/components/crypto-asset-item/crypto-asset-item-toggle.tsx
Due: none

chore: use uuid instead of crypto.randomID to support RN
  apps/mobile/src/scripts/injected-provider.js
  packages/query/src/rate-limiter/queue-class.ts
Due: query

refactor(analytics): slightly more permissible types for interface
  .release-please-manifest.json
  apps/mobile/src/utils/analytics.ts
  packages/analytics/README.md
  packages/analytics/src/client.spec.ts
  packages/analytics/src/client.ts
  packages/analytics/src/events.ts
  packages/analytics/src/index.ts
  packages/analytics/src/types.ts
  packages/analytics/tsconfig.json
  pnpm-lock.yaml
  release-please-config.json
Due: none

refactor!: small clean-up and breaking change to release
  packages/analytics/src/index.ts
Due: none

Revert "refactor!: small clean-up and breaking change to release"
  packages/analytics/src/index.ts
Due: none

refactor!: small change to trigger publish, closes LEA-1692
  packages/analytics/src/index.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

refactor: change rune market data field to avg price
  packages/query/src/bitcoin/runes/runes-ticker-info.query.ts
Due: query

feat: add numpad component
  packages/ui/native.ts
  packages/ui/src/components/numpad/numpad-key.native.tsx
  packages/ui/src/components/numpad/numpad.native.stories.tsx
  packages/ui/src/components/numpad/numpad.native.tsx
Due: none

feat: integrate stacks total balances, ref LEA-1500
  apps/mobile/package.json
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/common/leather-query-provider.tsx
  apps/mobile/src/components/widgets/accounts/accounts-widget.tsx
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.tsx
  apps/mobile/src/components/widgets/tokens/token-icon.tsx
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/balances/stacks/use-get-stacks-addresses.ts
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/mocks/account.mocks.tsx
  apps/mobile/src/mocks/tokens.mocks.tsx
  apps/mobile/src/queries/balance/stacks-balance.query.spec.ts
  apps/mobile/src/queries/balance/stacks-balance.query.ts
  apps/mobile/src/queries/balance/total-balance.query.spec.ts
  apps/mobile/src/queries/balance/total-balance.query.ts
  apps/mobile/src/queries/stacks/use-mempool-txs-balance.spec.ts
  apps/mobile/src/queries/stacks/use-mempool-txs-balance.ts
  apps/mobile/src/queries/stacks/use-stacks-confirmed-transactions.ts
  apps/mobile/src/queries/stacks/use-stacks-pending-transactions.ts
  apps/mobile/src/queries/stacks/use-transactions-with-transfers.query.spec.ts
  apps/mobile/src/queries/stacks/use-transactions-with-transfers.query.ts
  apps/mobile/src/shared/constants.ts
  apps/mobile/src/shared/environment.ts
  apps/mobile/src/store/accounts/accounts.read.ts
  apps/mobile/src/store/accounts/utils.ts
  pnpm-lock.yaml
Due: none

chore: remove ledger badge until necessary
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.layout.tsx
  apps/mobile/src/components/widgets/accounts/components/cards/account-card.tsx
  apps/mobile/src/store/accounts/utils.ts
Due: none

feat: add sip10 tokens send test
  apps/extension/src/app/pages/send/sent-summary/stx-sent-summary.tsx
  apps/extension/tests/mocks/mock-stacks-txs.ts
  apps/extension/tests/page-object-models/send.page.ts
  apps/extension/tests/selectors/mocked-tokens.selectors.ts
  apps/extension/tests/selectors/send.selectors.ts
  apps/extension/tests/specs/manage-tokens/manage-tokens.spec.ts
  apps/extension/tests/specs/manage-transaction/manage-transaction.spec.ts
  apps/extension/tests/specs/send/send-sip10.spec.ts
Due: none

feat: architecture diagram, closes leather-io/issues#95
  .editorconfig
  .github/workflows/publish-architecture.yml
  .gitignore
  README.md
  architecture/font-italic.ttf
  architecture/font-regular.ttf
  architecture/leather-architecture.d2
Due: none

feat: upgrade stacks/transactions to v6.17 for non-seq multisig support
  apps/mobile/package.json
  packages/bitcoin/package.json
  packages/query/package.json
  packages/stacks/package.json
  pnpm-lock.yaml
Due: bitcoin, query, stacks

ci: add dark mode to architecture diagram
  .github/workflows/publish-architecture.yml
  architecture/leather-architecture.d2
Due: none

feat: send context and select account, closes #LEA-1642
  apps/mobile/package.json
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/send.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/action-bar/action-bar-container.tsx
  apps/mobile/src/components/divider.tsx
  apps/mobile/src/components/headers/components/header-title-with-subtitle.tsx
  apps/mobile/src/components/headers/full-height-sheet-header.tsx
  apps/mobile/src/components/sheets/full-height-sheet.tsx
  apps/mobile/src/features/account-list/account-list-item.tsx
  apps/mobile/src/features/account-list/account-list.tsx
  apps/mobile/src/features/send/send-sheet-context.tsx
  apps/mobile/src/features/send/send-sheet-navigator.tsx
  apps/mobile/src/features/send/send-sheet.layout.tsx
  apps/mobile/src/features/send/send-sheet.tsx
  apps/mobile/src/features/send/send-sheets/select-account.tsx
  apps/mobile/src/features/send/send-sheets/select-asset.tsx
  apps/mobile/src/features/send/send-sheets/send-form.tsx
  apps/mobile/src/features/settings/wallet-and-accounts/wallet-card.tsx
  pnpm-lock.yaml
Due: none

fix(query): too short key identifier
  packages/query/src/bitcoin/ordinals/inscriptions.hooks.ts
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: bitcoin, query, stacks

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
