Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

fix: issues with prod builds
  .github/workflows/mobile-beta-builds.yml
  .github/workflows/mobile-production-deploy.yml
  apps/mobile/app.config.ts
Due: none

fix: issues with prod builds
  .github/workflows/mobile-production-deploy.yml
Due: none

fix: remove cancel workflow
  .github/workflows/mobile-production-deploy.yml
Due: none

fix: try to fix android builds
  apps/mobile/app.config.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
Due: none

feat(mobile): add deep linking , ref LEA-2695
  apps/mobile/app.config.ts
  apps/mobile/src/app/_layout.tsx
Due: none

feat(mobile): deep linking WIP
  apps/web/public/.well-known/apple-app-site-association.json
  apps/web/public/.well-known/assetlinks.json
Due: none

chore: mobile release version
  apps/mobile/app.config.ts
Due: none

chore: release-please should track app.config.ts
  release-please-config.json
Due: none

chore(mobile): token details single account refactor, ref LEA-3015
  apps/mobile/src/app/(tabs)/(index)/[assetProtocol]/[assetId]/index.tsx
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/balances/assets/assets-balance-by-account.tsx
  apps/mobile/src/features/balances/assets/assets-balance.tsx
  apps/mobile/src/features/balances/assets/assets-list.tsx
  apps/mobile/src/features/balances/assets/render-assets.tsx
  apps/mobile/src/features/balances/assets/utils/sort-sip10-balances.spec.ts
  apps/mobile/src/features/balances/assets/utils/sort-sip10-balances.ts
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/balances/total-balance.tsx
  apps/mobile/src/features/receive/get-assets.ts
  apps/mobile/src/features/receive/use-select-assets.ts
  apps/mobile/src/features/send/components/asset-picker/asset-picker.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/stacks/stacks-address-list.tsx
  apps/mobile/src/features/token/types.ts
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/queries/balance/btc-balance.query.ts
  apps/mobile/src/queries/balance/runes-balance.query.ts
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  apps/mobile/src/queries/balance/stx-balance.query.ts
  apps/mobile/src/queries/balance/total-balance.query.ts
Due: none

chore(mobile): deprecate query pre-loader as it was loading all activity and balances, ref LEA-3015
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/core/query-preloader.tsx
  apps/mobile/src/queries/activity/account-activity.query.ts
Due: none

chore(mobile): add deprecation notices for unused queries, ref LEA-3015
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/features/activity/activity-list.tsx
  apps/mobile/src/hooks/use-account-addresses.ts
  apps/mobile/src/queries/activity/account-activity.query.ts
  apps/mobile/src/queries/balance/btc-balance.query.ts
  apps/mobile/src/queries/balance/sip10-balance.query.ts
  apps/mobile/src/queries/balance/stx-balance.query.ts
  apps/mobile/src/queries/collectibles/account-collectibles.query.ts
Due: none

feat: add bitflow env provider address
  apps/extension/.github/workflows/build-extension.yml
  apps/extension/.github/workflows/development-extension.yml
  apps/extension/.github/workflows/playwright.yml
  apps/extension/.github/workflows/publish-extensions.yml
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/shared/environment.ts
  apps/extension/src/shared/utils/bitflow-sdk.ts
Due: none

chore(mobile): rename token details to abbreviate and remove never assertion, ref LEA-3015
  apps/mobile/src/app/(tabs)/(index)/[assetProtocol]/[assetId]/index.tsx
  apps/mobile/src/features/token/bitcoin/bitcoin-token-details.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/stacks/stacks-token-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore: migrate integration tests to testnet4
  apps/extension/src/app/store/networks/networks.utils.ts
  apps/extension/tests/mocks/mock-bitcoin-tx.ts
  apps/extension/tests/mocks/mock-utxos.ts
  apps/extension/tests/page-object-models/home.page.ts
  apps/extension/tests/selectors/network.selectors.ts
  apps/extension/tests/specs/network/add-network.spec.ts
  apps/extension/tests/specs/rpc-send-transfer/rpc-send-transfer.spec.ts
Due: none

fix: remove outdated color definitions from sign out flow buttons
  apps/extension/src/app/features/settings/sign-out/sign-out.tsx
Due: none

fix: broken stacks fee estimation, ref #6251
  .github/workflows/web-preview-build-pr.yml
  apps/web/react-router.config.ts
  apps/web/vite.config.ts
  packages/query/README.md
  packages/query/src/stacks/fees/fees.utils.spec.ts
  packages/query/src/stacks/fees/fees.utils.ts
  packages/stacks/src/validation/address-validation.spec.ts
Due: query, stacks

fix: use correct balance in the "insufficient balance" message for sip-10 send
  apps/extension/src/app/common/error-formatters.ts
  apps/extension/src/app/common/validation/forms/amount-validators.ts
  apps/extension/src/app/common/validation/forms/fee-validators.ts
Due: none

feat: add token id model and utils
  packages/models/src/activity/activity.model.ts
  packages/models/src/assets/asset-id.model.ts
  packages/models/src/assets/asset.model.ts
  packages/models/src/index.ts
  packages/models/src/inscription-mime-type.model.ts
  packages/utils/src/assets/asset-id.ts
  packages/utils/src/index.ts
Due: utils

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat(mobile): check in Google Services config files
  .github/actions/provision/action.yml
  .github/workflows/mobile-production-deploy.yml
  .gitignore
  apps/mobile/.easignore
  apps/mobile/GoogleService-Info.plist
  apps/mobile/google-services.json
  apps/mobile/package.json
Due: none

fix(query): stamps schema fails
  packages/query/src/bitcoin/stamps/stamps-by-address.query.ts
Due: query

feat: flatten object util
  packages/utils/src/flatten-object.spec.ts
  packages/utils/src/flatten-object.ts
  packages/utils/src/index.ts
Due: utils

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
