Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
Due: query

fix: fully opened sheet for Add Wallet button
  apps/mobile/src/components/action-bar/container.tsx
  apps/mobile/src/components/add-wallet/add-wallet-sheet.layout.tsx
  apps/mobile/src/components/add-wallet/add-wallet-sheet.tsx
Due: none

fix: update failing support test link
  apps/extension/src/app/features/errors/app-error-boundary.tsx
  apps/extension/src/app/features/settings/settings.tsx
  apps/extension/tests/specs/settings/settings.spec.ts
Due: none

feat: auth before deleting wallet
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/index.tsx
Due: none

fix: add experimental support for blur view on android
  apps/mobile/src/app/(home)/create-new-wallet.tsx
  packages/ui/src/components/blur-view/blur-view.native.tsx
Due: none

test: add support for Android e2e tests, closes LEA-1585
  .github/workflows/test-e2e.yml
  apps/mobile/.eas/build/build-and-maestro-test.yml
  apps/mobile/.eas/build/maestro-test-android.yml
  apps/mobile/.eas/build/maestro-test-ios.yml
  apps/mobile/.eas/common/maestro.yml
  apps/mobile/eas.json
  apps/mobile/ios/Podfile.lock
  apps/mobile/maestro/flows/change-account-icon.yaml
  apps/mobile/maestro/flows/create-wallet-without-security.yaml
  apps/mobile/maestro/flows/create-wallet.yaml
  apps/mobile/maestro/flows/hide-account.yaml
  apps/mobile/maestro/flows/rename-account.yaml
  apps/mobile/maestro/flows/rename-wallet.yaml
  apps/mobile/maestro/flows/restore-wallet.yaml
  apps/mobile/maestro/flows/secure/create-wallet.yaml
  apps/mobile/maestro/flows/secure/delete-wallet.yaml
  apps/mobile/maestro/shared/add-wallet.yaml
  apps/mobile/package.json
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/[account]/index.tsx
  apps/mobile/src/shared/test-id.ts
  docs/e2e-tests.md
  package.json
  patches/expo-secure-store@13.0.2.patch
  pnpm-lock.yaml
Due: none

chore: update query package
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
Due: none

fix: ledger test
  apps/extension/tests/mocks/mock-stacks-txs.ts
  apps/extension/tests/specs/ledger/ledger.spec.ts
Due: none

chore(release): 6.51.1
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

fix: schema fails btc obj null
  packages/query/src/bitcoin/stamps/stamps-by-address.query.ts
Due: query

feat(bitcoin): recursive address look up helper
  packages/bitcoin/src/bitcoin-signer.ts
  packages/bitcoin/src/bitcoin.utils.spec.ts
  packages/bitcoin/src/bitcoin.utils.ts
  packages/bitcoin/src/lookup-derivation-by-address.spec.ts
  packages/bitcoin/src/lookup-derivation-by-address.ts
  packages/bitcoin/src/p2wpkh-address-gen.ts
  packages/constants/src/index.ts
Due: bitcoin

feat: integrate bitcoin balances
  apps/mobile/metro.config.cjs
  apps/mobile/package.json
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/home/home.tsx
  apps/mobile/src/components/widgets/tokens/index.ts
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
  apps/mobile/src/features/settings/wallet-and-accounts/account-card.tsx
  apps/mobile/src/mocks/tokens.mocks.tsx
  apps/mobile/src/queries/balance/bitcoin-balance.query.ts
  apps/mobile/src/store/settings/utils.ts
  packages/bitcoin/src/p2wpkh-address-gen.ts
  packages/query/index.ts
  packages/query/src/bitcoin/address/transactions-by-address.hooks.ts
  packages/query/src/bitcoin/address/utxos-by-address.hooks.ts
  packages/query/src/bitcoin/address/utxos-by-address.spec.tsx
  packages/query/src/bitcoin/balance/btc-blockbook-utxos.ts
  packages/query/src/bitcoin/balance/btc-taproot-balance.hooks.ts
  packages/query/src/bitcoin/clients/bitcoin-client.ts
  packages/query/src/bitcoin/ordinals/inscriptions.query.ts
  packages/query/src/bitcoin/runes/runes-outputs-by-address.query.ts
  packages/query/src/stacks/contract/contract.query.ts
  pnpm-lock.yaml
Due: bitcoin, query

feat: add error analytics
  apps/extension/src/app/common/persistence.ts
Due: none

fix: remove redundant, verbose in query cache
  packages/query/src/stacks/transactions/transactions-with-transfers.query.spec.ts
  packages/query/src/stacks/transactions/transactions-with-transfers.query.ts
Due: query

refactor: inscription query
  apps/mobile/package.json
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/mocks/tokens.mocks.tsx
  apps/mobile/src/queries/balance/bitcoin-balance.query.ts
  packages/bitcoin/src/index.ts
  packages/query/index.ts
  packages/query/src/bitcoin/address/utxos-by-address.hooks.ts
  packages/query/src/bitcoin/balance/btc-blockbook-utxos.ts
  packages/query/src/bitcoin/balance/btc-taproot-balance.hooks.ts
  packages/query/src/bitcoin/clients/best-in-slot.ts
  packages/query/src/bitcoin/ordinals/inscription.query.ts
  packages/query/src/bitcoin/ordinals/inscription.utils.ts
  packages/query/src/bitcoin/ordinals/inscriptions-infinite.query.ts
  packages/query/src/bitcoin/ordinals/inscriptions.hooks.ts
  packages/query/src/bitcoin/ordinals/inscriptions.spec.ts
  pnpm-lock.yaml
Due: bitcoin, query

fix(query): gcTime using too big of a number for javascript
  apps/mobile/package.json
  packages/models/package.json
  packages/query/package.json
  packages/query/src/bitcoin/address/transactions-by-address.query.ts
  packages/query/src/stacks/token-metadata/fungible-tokens/fungible-token-metadata.query.ts
  packages/query/src/stacks/token-metadata/non-fungible-tokens/non-fungible-token-metadata.query.ts
  packages/rpc/package.json
  packages/utils/src/time.ts
  pnpm-lock.yaml
Due: query, utils

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat: remove stacks tx estimated time, LEA-1686
  apps/extension/src/app/common/transactions/stacks/transaction.utils.ts
  apps/extension/src/app/features/stacks-transaction-request/hooks/use-stacks-transaction-summary.ts
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/send-form-confirmation.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/stacks/stacks-send-form-confirmation.tsx
  apps/extension/src/app/pages/send/sent-summary/stx-sent-summary.tsx
  apps/extension/src/app/pages/swap/components/swap-details/swap-details.tsx
Due: none

feat: add cancel transaction, ref LEA-958
  apps/extension/package.json
  apps/extension/pnpm-lock.yaml
  apps/extension/src/app/common/hooks/use-submit-stx-transaction.ts
  apps/extension/src/app/common/transactions/stacks/transaction.utils.ts
  apps/extension/src/app/components/stacks-transaction-item/stacks-transaction-action-menu.tsx
  apps/extension/src/app/components/stacks-transaction-item/stacks-transaction-item.tsx
  apps/extension/src/app/features/activity-list/components/tab-wrapper.tsx
  apps/extension/src/app/features/dialogs/increase-fee-dialog/components/increase-fee-actions.tsx
  apps/extension/src/app/features/dialogs/increase-fee-dialog/increase-stx-fee-dialog.tsx
  apps/extension/src/app/features/dialogs/transaction-action-dialog/cancel-stacks-transaction-sheet.tsx
  apps/extension/src/app/features/dialogs/transaction-action-dialog/components/fee-multiplier-button.tsx
  apps/extension/src/app/features/dialogs/transaction-action-dialog/components/fee-multiplier.tsx
  apps/extension/src/app/features/dialogs/transaction-action-dialog/components/increase-fee-field.tsx
  apps/extension/src/app/features/dialogs/transaction-action-dialog/components/transaction-actions.tsx
  apps/extension/src/app/features/dialogs/transaction-action-dialog/hooks/use-btc-increase-fee.ts
  apps/extension/src/app/features/dialogs/transaction-action-dialog/hooks/use-stacks-transaction-action.ts
  apps/extension/src/app/features/dialogs/transaction-action-dialog/increase-btc-fee-dialog.tsx
  apps/extension/src/app/features/dialogs/transaction-action-dialog/increase-stacks-fee-sheet.tsx
  apps/extension/src/app/features/dialogs/transaction-action-dialog/stacks-transaction-action-sheet.tsx
  apps/extension/src/app/features/stacks-transaction-request/hooks/use-stacks-broadcast-transaction.tsx
  apps/extension/src/app/routes/app-routes.tsx
  apps/extension/src/app/store/submitted-transactions/submitted-transactions.hooks.ts
  apps/extension/src/shared/route-urls.ts
  apps/extension/tests/mocks/mock-stacks-txs.ts
  apps/extension/tests/selectors/activity.selectors.ts
  apps/extension/tests/specs/manage-transaction/manage-transaction.spec.ts
Due: none

feat(analytics)!: update analytics package events, types and exports
  packages/analytics/package.json
  packages/analytics/src/client.ts
  packages/analytics/src/index.ts
  packages/analytics/src/types.ts
  packages/analytics/tsconfig.json
Due: none

feat(mobile): add leather-io/analytics package
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/utils/analytics.ts
  pnpm-lock.yaml
Due: none

chore: refactor filename and add basic tests
  apps/mobile/src/queries/balance/use-total-balance.spec.ts
  packages/query/index.ts
  packages/query/src/stacks/balance/account-balance.hooks.ts
  packages/query/src/stacks/balance/use-stx-balance.query.spec.ts
  packages/query/src/stacks/balance/use-stx-balance.query.ts
Due: query

fix(mobile): remove fontWeight from MarchePro font, closes LEA-1584
  apps/mobile/android/app/src/main/assets/fonts/MarchePro-Super.otf
  apps/mobile/src/app/(home)/settings/notifications/_layout.tsx
  apps/mobile/src/components/headers/animated-header/animated-header-screen-with-keyboard.layout.tsx
  apps/mobile/src/components/headers/animated-header/animated-header-screen.layout.tsx
  packages/tokens/src/typography.ts
Due: none

feat: secure store utils
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/features/settings/app-authentication-sheet.tsx
  apps/mobile/src/store/storage-persistors.ts
  package.json
  packages/secure-store-utils/.eslintrc.js
  packages/secure-store-utils/.gitignore
  packages/secure-store-utils/.npmignore
  packages/secure-store-utils/CHANGELOG.md
  packages/secure-store-utils/README.md
  packages/secure-store-utils/android/build.gradle
  packages/secure-store-utils/android/src/main/AndroidManifest.xml
  packages/secure-store-utils/android/src/main/java/expo/modules/securestoreutils/SecureStoreUtils.kt
  packages/secure-store-utils/example/App.tsx
  packages/secure-store-utils/example/babel.config.js
  packages/secure-store-utils/example/metro.config.js
  packages/secure-store-utils/example/tsconfig.json
  packages/secure-store-utils/example/webpack.config.js
  packages/secure-store-utils/expo-module.config.json
  packages/secure-store-utils/ios/SecureStoreAccessible.swift
  packages/secure-store-utils/ios/SecureStoreExceptions.swift
  packages/secure-store-utils/ios/SecureStoreOptions.swift
  packages/secure-store-utils/ios/SecureStoreUtils.podspec
  packages/secure-store-utils/ios/SecureStoreUtils.swift
  packages/secure-store-utils/package.json
  packages/secure-store-utils/src/SecureStoreUtils.ts
  packages/secure-store-utils/src/index.ts
  packages/secure-store-utils/tsconfig.json
  patches/expo-module-scripts@3.5.2.patch
  pnpm-lock.yaml
Due: none

fix: syncpack
  packages/secure-store-utils/src/index.ts
  packages/secure-store-utils/src/secure-store-utils.ts
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
