Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

refactor: remove unnecessary async or return Promise where appropriate
  apps/mobile/src/app/(home)/secure-your-wallet.tsx
  apps/mobile/src/components/sheets/notify-user-sheet.layout.tsx
  apps/mobile/src/store/key-store.ts
  apps/mobile/src/store/utils.ts
  packages/bitcoin/src/bip322/sign-message-bip322.spec.ts
  packages/bitcoin/src/transactions/generate-unsigned-transaction.spec.ts
  packages/bitcoin/src/transactions/generate-unsigned-transaction.ts
  packages/services/src/infrastructure/rate-limiter/rate-limiter.service.spec.ts
  packages/stacks/src/signer/signer.spec.ts
Due: bitcoin, stacks

fix: address all occurrences triggering no-unused-vars
  apps/mobile/src/app/(home)/developer-console/bitcoin-scratch-pad.tsx
  apps/mobile/src/components/balance/balance.tsx
  apps/mobile/src/components/headers/header.layout.tsx
  apps/mobile/src/components/text-input.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles-widget.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/features/send/send-form/components/send-form-amount-field.tsx
  apps/mobile/src/features/send/send-form/components/send-form-button.tsx
  apps/mobile/src/features/send/send-form/components/send-form-numpad.tsx
  apps/mobile/src/features/send/send-form/components/send-form-recipient.tsx
  apps/mobile/src/features/send/send-form/sheets/memo-sheet.tsx
  apps/mobile/src/features/send/send-form/sheets/recipient-sheet.tsx
  packages/bitcoin/src/fees/bitcoin-fees.ts
  packages/bitcoin/src/transactions/generate-unsigned-transaction.ts
  packages/models/src/crypto-assets/bitcoin/inscription.model.ts
  packages/models/src/network/network.model.ts
  packages/query/src/stacks/bns/bns.utils.ts
  packages/rpc/src/methods/stx-sign-transaction.ts
  packages/rpc/src/rpc/schemas.ts
  packages/services/src/balances/bitcoin-balances.service.ts
  packages/services/src/infrastructure/api/coincap/coincap-api.utils.ts
  packages/services/src/infrastructure/api/coingecko/coingecko-api.utils.ts
  packages/stacks/src/transactions/post-condition.utils.ts
  packages/ui/src/components/approver/animations/approver-animation.web.tsx
  packages/ui/src/components/collectibles/native/collectible-text.native.tsx
  packages/ui/src/components/spinner/spinner.web.tsx
Due: bitcoin, query, stacks

refactor: ensure all switch statements are exhaustive
  apps/mobile/src/app/(home)/browser.tsx
  apps/mobile/src/app/(home)/settings/security/index.tsx
  apps/mobile/src/components/browser/browser-empty-state.tsx
  apps/mobile/src/components/text-input.tsx
  apps/mobile/src/components/toast/index.tsx
  apps/mobile/src/features/approver/components/approver-buttons.tsx
  packages/bitcoin/src/btc-size-fee-estimator.ts
  packages/models/src/network/network.model.ts
  packages/query/src/rate-limiter/best-in-slot-limiter.ts
  packages/query/src/rate-limiter/hiro-rate-limiter.ts
  packages/stacks/src/transactions/generate-unsigned-transaction.ts
  packages/tokens/package.json
  packages/tokens/src/typography.ts
  packages/ui/src/components/button/button.native.tsx
  packages/ui/src/components/collectibles/native/collectible-card.native.tsx
  packages/ui/src/components/flag/flag.native.tsx
  packages/utils/src/assets/asset-display-name.ts
  pnpm-lock.yaml
Due: bitcoin, query, utils, stacks

refactor: remove empty callbacks, make context hooks safe
  apps/mobile/src/app/(home)/create-new-wallet.tsx
  apps/mobile/src/app/(home)/recover-wallet.tsx
  apps/mobile/src/app/(home)/secure-your-wallet.tsx
  apps/mobile/src/app/(home)/settings/notifications/index.tsx
  apps/mobile/src/components/splash-screen-guard/use-auth-context.ts
  apps/mobile/src/components/toast/toast-context.tsx
  apps/mobile/src/features/approver/components/bitcoin-fee-card.tsx
  apps/mobile/src/features/approver/components/stacks-fee-card.tsx
  packages/ui/src/components/approver/stories/approver-demo.web.tsx
  packages/utils/src/index.ts
Due: utils

refactor: remove redundant regex escapes
  packages/ui/src/components/highlighting/clarity-prism.shared.ts
Due: none

refactor: ensure + operands are primitive
  apps/mobile/src/features/approver/components/inputs-outputs-card.tsx
  packages/utils/src/index.ts
Due: utils

fix: text input not focusing on paste in Restore Wallet
  apps/mobile/src/app/(home)/recover-wallet.tsx
  apps/mobile/src/components/text-input.tsx
Due: none

ci: build before linting in code checks
  .github/workflows/code-checks.yml
Due: none

chore: add optional pre-commit/pre-push checks
  .env.example
  .husky/hooks.js
  .husky/pre-commit
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: none

refactor: use explicit conditions instead of expressions
  apps/mobile/src/hooks/use-push-notifications.ts
Due: none

docs: add linting details to readme files
  README.md
  packages/eslint-config/README.md
Due: none

refactor: locally disable @tanstack/query rules at usage points
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  packages/query/src/bitcoin/fees/fee-estimates.query.ts
  packages/query/src/bitcoin/ordinals/brc20/brc20-tokens.query.ts
  packages/query/src/bitcoin/ordinals/inscriptions.query.ts
  packages/query/src/stacks/bns/bns.query.ts
  packages/query/src/stacks/contract/contract.query.ts
Due: query

chore: update ls-lint ignore list
  .ls-lint.yml
Due: none

refactor: remove an unnecessary unknown type
  packages/bitcoin/src/bitcoin.utils.ts
Due: bitcoin

ci: add new tests to CI, ref LEA-1858
  apps/mobile/.eas/common/maestro.yml
  docs/e2e-tests.md
Due: none

fix: wip
  apps/mobile/src/app/(home)/activity/activity-cell.tsx
  apps/mobile/src/app/(home)/activity/stacks/stacks-activity-cell.tsx
  apps/mobile/src/app/(home)/activity/stacks/stacks-activity.tsx
Due: none

fix: ensure consistent drag down behaviour, ref LEA-1855
  apps/mobile/src/features/receive/receive-sheets/select-account.tsx
  apps/mobile/src/features/receive/receive-sheets/select-asset.tsx
  apps/mobile/src/features/send/send-sheets/select-account-sheet.tsx
Due: none

fix: wip
  apps/mobile/src/features/receive/receive-sheets/select-asset.tsx
Due: none

chore: draft for icon process
  docs/core/ICONS.md
Due: none

feat: add boxed cat icons
  packages/ui/src/assets/icons/boxed-cat-locked-24x24.svg
  packages/ui/src/assets/icons/boxed-cat-unlocked-24x24.svg
  packages/ui/src/icons/boxed-cat-locked-icon.native.tsx
  packages/ui/src/icons/boxed-cat-locked-icon.web.tsx
  packages/ui/src/icons/boxed-cat-unlocked-icon.native.tsx
  packages/ui/src/icons/boxed-cat-unlocked-icon.web.tsx
  packages/ui/src/icons/index.native.ts
  packages/ui/src/icons/index.web.ts
Due: none

feat: additional platform and more flexible default params
  packages/analytics/src/types.ts
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: none

chore: update platform to extension
  apps/extension/src/shared/utils/analytics.ts
Due: none

fix: broken sbtc supply cap check
  apps/extension/src/app/pages/swap/hooks/use-swap-form.tsx
Due: none

fix: sbtc swap updates and bugs
  apps/extension/src/app/components/sbtc-deposit-status-item/sbtc-deposit-status-item.tsx
  apps/extension/src/app/features/activity-list/activity-list.tsx
  apps/extension/src/app/features/activity-list/activity-list.utils.ts
  apps/extension/src/app/features/activity-list/components/pending-transaction-list/pending-transaction-list.tsx
  apps/extension/src/app/features/activity-list/components/transaction-list/transaction-list-item.tsx
  apps/extension/src/app/features/activity-list/components/transaction-list/transaction-list.model.ts
  apps/extension/src/app/features/activity-list/components/transaction-list/transaction-list.tsx
  apps/extension/src/app/features/activity-list/components/transaction-list/transaction-list.utils.spec.ts
  apps/extension/src/app/features/activity-list/components/transaction-list/transaction-list.utils.ts
  apps/extension/src/app/pages/swap/bitflow-swap.utils.ts
  apps/extension/src/app/pages/swap/components/swap-asset-select/components/swap-amount-field.tsx
  apps/extension/src/app/pages/swap/components/swap-details/swap-detail.layout.tsx
  apps/extension/src/app/pages/swap/components/swap-details/swap-details.tsx
  apps/extension/src/app/pages/swap/hooks/use-sbtc-deposit-transaction.tsx
  apps/extension/src/app/pages/swap/hooks/use-swap-assets-from-route.ts
  apps/extension/src/app/pages/swap/hooks/use-swap-form.tsx
  apps/extension/src/app/query/sbtc/get-stacks-block.query.ts
  apps/extension/src/app/query/sbtc/sbtc-deposits.query.ts
Due: none

chore(release): 6.56.1
  apps/extension/CHANGELOG.md
  apps/extension/package.json
Due: none

feat: btc fee modal
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/features/approver/components/bitcoin-fee-card.tsx
  apps/mobile/src/features/approver/components/fee-options.tsx
  apps/mobile/src/features/approver/components/fees-sheet.tsx
  apps/mobile/src/features/approver/components/utxo-row.tsx
  apps/mobile/src/features/approver/utils.ts
  apps/mobile/src/features/approver/utils.tsx
  apps/mobile/src/features/psbt-signer/psbt-signer.tsx
  apps/mobile/src/features/psbt-signer/use-psbt-accounts.ts
  apps/mobile/src/features/send/send-form.utils.ts
  apps/mobile/src/features/send/send-form/hooks/use-send-form-btc.tsx
  packages/ui/src/components/approver/approver-context.shared.ts
  packages/ui/src/components/approver/approver.native.tsx
Due: none

fix: receive navigation animation
  apps/mobile/src/features/receive/receive-sheet-navigator.tsx
  apps/mobile/src/features/receive/receive-sheets/receive-asset-details.tsx
  apps/mobile/src/features/receive/receive-sheets/select-asset.tsx
  apps/mobile/src/features/receive/utils.ts
Due: none

feat: add sip10s to account total balance
  apps/extension/config/wallet-config.json
  apps/extension/src/app/common/hooks/balance/use-sip10-balance.tsx
  apps/extension/src/app/common/hooks/balance/use-total-balance.tsx
Due: none

fix: select asset animation
  apps/mobile/src/features/receive/receive-sheets/select-asset.tsx
  apps/mobile/src/features/send/send-sheets/select-asset-sheet.tsx
Due: none

fix: approver bug
  packages/ui/src/components/approver/approver-context.shared.ts
Due: none

feat: granular utxo protection feature
  apps/extension/src/app/common/hooks/balance/use-balances.tsx
  apps/extension/src/app/common/hooks/use-hover-with-children.ts
  apps/extension/src/app/components/account-total-balance.tsx
  apps/extension/src/app/debug.ts
  apps/extension/src/app/features/collectibles/components/bitcoin/high-sat-value-utxo.tsx
  apps/extension/src/app/features/collectibles/components/bitcoin/inscription-text.tsx
  apps/extension/src/app/features/collectibles/components/bitcoin/inscription.tsx
  apps/extension/src/app/features/collectibles/components/bitcoin/ordinals.tsx
  apps/extension/src/app/features/collectibles/components/collectible-item.layout.tsx
  apps/extension/src/app/features/discarded-inscriptions/use-inscribed-spendable-utxos.ts
  apps/extension/src/app/pages/home/home.tsx
  apps/extension/src/app/pages/send/send-crypto-asset-form/form/btc/btc-send-form-confirmation.tsx
  apps/extension/src/app/query/bitcoin/address/utxos-by-address.hooks.ts
  apps/extension/src/app/query/bitcoin/balance/btc-balance-native-segwit.hooks.ts
  apps/extension/src/app/query/bitcoin/ordinals/inscriptions/inscriptions.query.ts
  apps/extension/src/app/store/accounts/blockchain/bitcoin/bitcoin.hooks.ts
  apps/extension/src/app/store/settings/settings.selectors.ts
  apps/extension/src/app/store/settings/settings.slice.ts
  apps/extension/src/app/ui/components/account/account.card.stories.tsx
  apps/extension/src/app/ui/components/account/account.card.tsx
  apps/extension/tests/page-object-models/onboarding.page.ts
  apps/extension/tests/specs/ledger/ledger.spec.ts
Due: none
