Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
Due: none

feat: balances service
  apps/mobile/src/queries/balance/bitcoin-balance.query.ts
  apps/mobile/src/queries/balance/stacks-balance.query.ts
  packages/models/src/crypto-assets/crypto-asset-balance.model.ts
  packages/query/src/bitcoin/runes/runes.utils.ts
  packages/query/src/bitcoin/stamps/stamps-by-address.hooks.ts
  packages/query/src/stacks/stx20/stx20-tokens.hooks.ts
  packages/query/src/stacks/token-metadata/fungible-tokens/fungible-token-metadata.hooks.ts
  packages/services/package.json
  packages/services/src/balances/bitcoin-balances.service.ts
  packages/services/src/balances/bitcoin-balances.utils.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/api/hiro/hiro-leather-headers.ts
  packages/services/src/infrastructure/api/hiro/hiro-request-priorities.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.utils.ts
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/cache/http-cache.utils.ts
  packages/services/src/inversify.config.ts
  packages/services/src/market-data/market-data.service.ts
  packages/utils/src/assets/balance-helpers.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: query, utils

fix: hardcode broken translations for leatherhood release, ref LEA-1780
  apps/mobile/src/app/(home)/create-new-wallet.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/features/settings/wallet-and-accounts/wallet-card.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

refactor: rewrite Callout for web, add portalling
  packages/ui/panda.config.ts
  packages/ui/src/components/callout/callout.utils.web.tsx
  packages/ui/src/components/callout/callout.web.stories.tsx
  packages/ui/src/components/callout/callout.web.tsx
  packages/ui/src/exports.web.ts
  packages/ui/src/utils/render-into-portal.web.ts
Due: none

feat: add mobile version of Callout
  packages/panda-preset/panda.config.ts
  packages/ui/native.ts
  packages/ui/panda.config.ts
  packages/ui/src/components/callout/callout.native.stories.tsx
  packages/ui/src/components/callout/callout.native.tsx
  packages/ui/src/icons/cloud-off-icon.native.tsx
  packages/ui/src/icons/index.native.ts
Due: none

fix: replace barrel imports with relative paths
  packages/ui/src/components/approver/components/approver-actions.native.tsx
  packages/ui/src/components/approver/components/approver-advanced.native.tsx
  packages/ui/src/components/approver/components/approver-container.native.tsx
  packages/ui/src/components/approver/components/approver-footer.native.tsx
  packages/ui/src/components/approver/components/approver-header.native.tsx
  packages/ui/src/components/approver/components/approver-section.native.tsx
  packages/ui/src/components/badge/badge.native.tsx
  packages/ui/src/components/highlighting/highlighter.native.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat: adds BNS punycode support gobally
  apps/extension/src/app/common/hooks/account/use-account-names.ts
Due: none

ci: fix issues linking to test reports
  apps/extension/.github/workflows/build-extension.yml
Due: none

chore: fix links in readme
  apps/extension/.github/workflows/build-extension.yml
  apps/extension/README.md
Due: none

fix: swap asset type
  packages/query/src/common/alex-sdk/alex-sdk.hooks.ts
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: query

fix: gate features not ready for production release
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/app/(home)/settings/display/index.tsx
  apps/mobile/src/app/(home)/settings/index.tsx
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/index.tsx
  apps/mobile/src/components/action-bar/action-bar-container.tsx
  apps/mobile/src/components/add-wallet/add-wallet-sheet.layout.tsx
  apps/mobile/src/components/headers/components/header-options.tsx
  apps/mobile/src/utils/feature-flag.ts
Due: none

fix: add network badge to home screen if not mainnet, ref LEA-1815
  apps/mobile/src/components/headers/components/header-options.tsx
Due: none

fix: keep action bar enabled to all users
  apps/mobile/src/components/action-bar/action-bar-container.tsx
Due: none

fix: add correct color to add account card icon
  apps/mobile/src/components/widgets/accounts/components/cards/add-account-card.tsx
Due: none

feat: prod crowdin hash
  apps/mobile/src/locales/index.ts
Due: none

fix: adjust horizontal alignment of account page, ref #1820
  apps/mobile/src/app/(home)/account/[account]/account-overview-card.tsx
Due: none

fix: reenable account identifier setting
  apps/mobile/src/app/(home)/settings/display/index.tsx
Due: none

fix: add wallet name and header to account selector, ref #LEA-1828
  apps/mobile/src/features/accounts/account-selector/account-selector-sheet-header.tsx
  apps/mobile/src/features/accounts/account-selector/account-selector-sheet.layout.tsx
  apps/mobile/src/features/accounts/components/account-card.tsx
Due: none

fix: add wallet name to configure account card, ref #LEA-1828
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/app/(home)/settings/display/index.tsx
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/[account]/index.tsx
  apps/mobile/src/features/accounts/account-selector/account-selector-sheet.layout.tsx
Due: none

fix: remove your collectibles, ref #LEA-1822
  apps/mobile/src/app/(home)/settings/wallet/configure/[wallet]/[account]/choose-avatar.tsx
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
