Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

fix: stale state breaking sBTC form, closes LEA-3225
  apps/extension/src/app/pages/swap/swap-provider.tsx
Due: none

feat: add stamps service and integrate to collectibles on mobile
  apps/extension/src/app/services/use-account-addresses.ts
  apps/mobile/src/app/(tabs)/(index)/[assetProtocol]/[assetId]/index.tsx
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/types.ts
  apps/mobile/src/hooks/use-account-addresses.ts
  apps/mobile/src/i18n/locales/en/messages.po
  packages/bitcoin/src/index.ts
  packages/models/src/account.model.ts
  packages/models/src/assets/asset.model.ts
  packages/services/src/collectibles/collectibles.service.spec.ts
  packages/services/src/collectibles/collectibles.service.ts
  packages/services/src/collectibles/collectibles.utils.ts
  packages/services/src/infrastructure/api/stampchain/stampchain-api.client.ts
  packages/services/src/infrastructure/api/stampchain/stampchain-api.schema.ts
  packages/services/src/infrastructure/api/stampchain/stampchain-api.types.ts
  packages/services/src/infrastructure/cache/http-cache.config.ts
  packages/utils/src/accounts/account-addresses.spec.ts
  pnpm-lock.yaml
Due: bitcoin, utils

chore: release dev
  .release-please-manifest.json
  apps/extension/CHANGELOG.md
  apps/extension/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/cms/CHANGELOG.md
  packages/cms/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix: try to use connect account first for post conditions
  apps/mobile/src/features/approver/contract-call-post-conditions.section.tsx
  apps/mobile/src/features/approver/layouts/base-stx-tx-approver.layout.tsx
  apps/mobile/src/store/apps/apps.read.ts
Due: none

fix(stacks): improve address and memo validation
  packages/rpc/src/methods/stacks/stx-transfer-stx.ts
  packages/stacks/src/index.ts
  packages/stacks/src/schemas/memo.schema.spec.ts
  packages/stacks/src/schemas/memo.schema.ts
Due: stacks

feat(web): generate twitter preview cards for changelog posts
  apps/web/app/constants/cms-client.ts
  apps/web/app/constants/meta-tags.ts
  apps/web/app/pages/changelog/changelog-entry.route.tsx
Due: none

fix(web): adjust spacing around changelog entry title
  apps/web/app/pages/changelog/components/changelog-entry.tsx
Due: none

fix(web): ensure image scales with page sizse correctly
  apps/web/app/pages/changelog/components/changelog-entry.tsx
Due: none

fix(cms): ensure we sort the changelog correctly
  packages/cms/src/client/queries/changelog-queries.ts
Due: none

fix(web): changelog inline images
  apps/web/app/components/content/portable-text-content.tsx
  apps/web/app/pages/changelog/components/changelog-entry.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/extension/CHANGELOG.md
  apps/extension/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/cms/CHANGELOG.md
  packages/cms/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
Due: bitcoin, query, stacks

chore: infer schema from settings state, ref LEA-3232
  apps/mobile/src/store/settings/utils.ts
  packages/models/src/bitcoin.model.ts
  packages/models/src/network/network.model.ts
  packages/models/src/settings.model.ts
Due: none

fix(mobile): sign with @scure/btc-signer and remove bitcoinjs dependancy
  apps/extension/src/app/pages/rpc-sign-bip322-message/use-sign-bip322-message.ts
  apps/mobile/src/features/browser/approver-sheet/sign-message/bip322-signer.ts
  packages/bitcoin/src/bip322/sign-message-bip322-bitcoinjs.ts
  packages/bitcoin/src/bip322/sign-message-bip322.spec.ts
  packages/bitcoin/src/bip322/sign-message-bip322.ts
  packages/bitcoin/src/index.ts
Due: bitcoin

feat: centralise network settings to settings service
  apps/extension/src/app/services/extension-settings.service.ts
  apps/mobile/src/services/mobile-settings.service.ts
  apps/mobile/src/store/settings/settings.read.ts
  apps/web/app/services/web-settings.service.ts
  apps/web/app/store/stacks-network.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/settings/network-preferences.spec.ts
  packages/services/src/infrastructure/settings/network-preferences.ts
  packages/services/src/infrastructure/settings/settings.service.ts
Due: none

fix(web): polish changelog entry styling
  apps/web/app/pages/changelog/components/changelog-entry.tsx
  apps/web/app/pages/changelog/components/changelog-page-layout.tsx
Due: none

fix(web): frame changelog imagery
  apps/web/app/components/content/portable-text-content.tsx
  apps/web/app/pages/changelog/components/changelog-entry.tsx
Due: none

feat(web): add changelog to sidebar
  apps/web/app/layouts/nav/nav.tsx
  packages/ui/src/assets/icons/changelog-16-16.svg
  packages/ui/src/assets/icons/changelog-24-24.svg
  packages/ui/src/icons/changelog-icon.native.tsx
  packages/ui/src/icons/changelog-icon.web.tsx
  packages/ui/src/icons/index.native.ts
  packages/ui/src/icons/index.web.ts
Due: none

fix(mobile): prevent URL oscillation in browser deep linking
  apps/mobile/src/features/browser/browser/browser.tsx
Due: none

feat(mobile): refactor collectible image to try and cache image
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
Due: none

feat: add market history service, types, and API integration
  apps/mobile/src/features/token/use-get-token-details.ts
  apps/mobile/src/queries/assets/fungible-asset-info.query.ts
  apps/mobile/src/queries/market-history/market-history.query.ts
  packages/models/src/market.model.ts
  packages/services/src/activity/activity.service.ts
  packages/services/src/assets/fungible-asset-info.service.spec.ts
  packages/services/src/assets/fungible-asset-info.service.ts
  packages/services/src/assets/fungible-asset-info.utils.spec.ts
  packages/services/src/balances/btc-balances.service.ts
  packages/services/src/balances/runes-balances.service.ts
  packages/services/src/balances/sip10-balances.service.spec.ts
  packages/services/src/balances/sip10-balances.service.ts
  packages/services/src/balances/stx-balances.service.spec.ts
  packages/services/src/balances/stx-balances.service.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/api/leather/leather-api.types.ts
  packages/services/src/inversify.config.ts
  packages/services/src/market/market-data.service.spec.ts
  packages/services/src/market/market-data.service.ts
  packages/services/src/market/market-history.service.spec.ts
  packages/services/src/market/market-history.service.ts
  packages/services/src/market/market-history.utils.spec.ts
  packages/services/src/market/market-history.utils.ts
  packages/services/src/types/asset.types.ts
Due: none

chore: show collection name in header
  apps/mobile/src/features/settings/account-identifier-sheet.tsx
  apps/mobile/src/features/token/collectible.tsx
  apps/mobile/src/features/token/utils/render-collectible-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  apps/mobile/src/shared/display-preference.ts
  apps/web/.claude/settings.local.json
  packages/models/src/assets/sip9-asset.model.ts
  packages/services/src/assets/sip9-asset.utils.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
Due: none

feat: add thumbnails for videos
  packages/ui/src/components/collectibles/native/collectible-video.native.tsx
Due: none

feat(mobile): add better image caching
  apps/mobile/src/features/collectibles/collectibles-list.tsx
  apps/mobile/src/features/collectibles/components/inscription.tsx
  apps/mobile/src/features/collectibles/components/sip9.tsx
  packages/models/src/assets/sip9-asset.model.ts
  packages/services/src/assets/sip9-asset.utils.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/ui/src/components/collectibles/native/bns.native.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/collectible-video.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/ui/src/components/collectibles/native/sip9.native.tsx
Due: none

feat(mobile): add details page for BNS, excluding attributes
  apps/mobile/src/features/collectibles/components/sip9.tsx
  apps/mobile/src/features/token/utils/is-bns.ts
  apps/mobile/src/features/token/utils/render-collectible-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/ui/src/components/collectibles/native/bns.native.tsx
Due: none

feat: improve thumbnail robustness
  apps/mobile/src/components/summary-table.tsx
  packages/services/src/assets/sip9-asset.utils.ts
  packages/ui/src/components/collectibles/native/collectible-video.native.tsx
  packages/ui/src/components/collectibles/native/sip9.native.tsx
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
