Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

chore: wip on transaction value
  apps/mobile/src/app/(home)/activity/stacks-activity-cell.tsx
  apps/mobile/src/app/(home)/activity/transaction/transaction-list.model.ts
  apps/mobile/src/app/(home)/activity/transaction/transaction-list.utils.ts
Due: none

refactor(rpc): migrate signPsbt methods
  packages/rpc/package.json
  packages/rpc/src/index.ts
  packages/rpc/src/methods/sign-psbt.ts
  packages/rpc/src/rpc/helpers.ts
  packages/rpc/src/schemas/network-schemas.ts
  packages/rpc/src/schemas/validators.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: utils

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: bitcoin, query

fix: button spinner color
  packages/panda-preset/src/recipes/button-recipe.ts
  packages/ui/src/components/button/button.web.stories.tsx
  packages/ui/src/components/button/button.web.tsx
Due: none

fix: hide the scrollbar on accounts and collectibles widgets
  apps/mobile/src/components/widgets/accounts/accounts-widget.tsx
  apps/mobile/src/components/widgets/collectibles/collectibles-widget.tsx
Due: none

feat: export slider
  packages/ui/src/exports.web.ts
Due: none

feat: add color and update prop name
  packages/ui/src/icons/activity-icons/activity-icon.native.tsx
Due: none

chore: use existing pattern
  packages/ui/src/icons/arrow-down-icon.native.tsx
Due: none

chore: omit activity icon when not provided
  packages/ui/src/icons/icon/icon-with-activity.native.tsx
Due: none

feat: add user icon
  packages/ui/src/icons/index.web.ts
  packages/ui/src/icons/user-icon.web.tsx
Due: none

fix: investigate incorrect balances
  apps/mobile/src/app/(home)/account/[account]/account.layout.tsx
  apps/mobile/src/app/(home)/account/[account]/index.tsx
  apps/mobile/src/components/widgets/tokens/tokens-widget.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/send/send-sheets/select-asset-sheet.tsx
Due: none

chore: add logging of utxo query keys
  packages/query/src/bitcoin/balance/btc-blockbook-utxos.ts
Due: query

fix: adjust width of create account card, ref LEA-1786
  apps/mobile/src/components/widgets/accounts/components/cards/create-wallet-card.tsx
Due: none

fix: disable click of My Accounts if no accounts created ref LEA-1783
  apps/mobile/src/components/widgets/accounts/accounts-widget.tsx
Due: none

fix: only show tokenlist if the user has wallets, ref #LEA-1787
  apps/mobile/src/app/(home)/home/home.tsx
Due: none

fix: hide developer menu for non production builds, ref LEA-1796
  apps/mobile/src/components/headers/components/header-options.tsx
Due: none

chore: design updates to account page, ref LEA-1794
  apps/mobile/src/app/(home)/account/[account]/account-overview-card.tsx
Due: none

fix: add sbtc config to wallet config
  packages/query/types/remote-config.ts
Due: query

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/panda-preset/CHANGELOG.md
  packages/panda-preset/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: query

fix: update btc balance api url and zod schema
  packages/query/src/bitcoin/balance/btc-blockbook-utxos.ts
Due: query

feat: add banner component
  packages/ui/native.ts
  packages/ui/src/components/banner/banner.native.stories.tsx
  packages/ui/src/components/banner/banner.native.tsx
  packages/ui/src/components/banner/banner.web.stories.tsx
  packages/ui/src/components/banner/banner.web.tsx
  packages/ui/src/exports.web.ts
  packages/ui/src/icons/cloud-off-icon.native.tsx
  packages/ui/src/icons/index.native.ts
Due: none

fix: show loading state until total balance is fully loaded
  apps/extension/src/app/pages/home/home.tsx
Due: none

chore: release dev
  .release-please-manifest.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

fix: fix appstore connect deployment to bypass manual approval
  apps/mobile/ios/leatherwalletmobile/Info.plist
Due: none

feat: balances service
  apps/mobile/src/queries/balance/bitcoin-balance.query.ts
  apps/mobile/src/queries/balance/stacks-balance.query.ts
  packages/models/src/crypto-assets/crypto-asset-balance.model.ts
  packages/query/src/bitcoin/runes/runes.utils.ts
  packages/query/src/bitcoin/stamps/stamps-by-address.hooks.ts
  packages/query/src/stacks/stx20/stx20-tokens.hooks.ts
  packages/query/src/stacks/token-metadata/fungible-tokens/fungible-token-metadata.hooks.ts
  packages/services/package.json
  packages/services/src/balances/bitcoin-balances.service.ts
  packages/services/src/balances/bitcoin-balances.utils.ts
  packages/services/src/index.ts
  packages/services/src/infrastructure/api/hiro/hiro-leather-headers.ts
  packages/services/src/infrastructure/api/hiro/hiro-request-priorities.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.client.ts
  packages/services/src/infrastructure/api/hiro/hiro-stacks-api.utils.ts
  packages/services/src/infrastructure/api/leather/leather-api.client.ts
  packages/services/src/infrastructure/cache/http-cache.utils.ts
  packages/services/src/inversify.config.ts
  packages/services/src/market-data/market-data.service.ts
  packages/utils/src/assets/balance-helpers.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: query, utils

fix: hardcode broken translations for leatherhood release, ref LEA-1780
  apps/mobile/src/app/(home)/create-new-wallet.tsx
  apps/mobile/src/features/balances/bitcoin/bitcoin-balance.tsx
  apps/mobile/src/features/balances/stacks/stacks-balance.tsx
  apps/mobile/src/features/balances/token-balance.tsx
  apps/mobile/src/features/settings/wallet-and-accounts/wallet-card.tsx
Due: none

Path conditions:
  bitcoin: any of: packages/bitcoin
  query: any of: packages/query
  utils: any of: packages/utils
  crypto: any of: packages/crypto
  stacks: any of: packages/stacks
