Repository leather-io/mono: changes, and which Codecov flags are due for each by the changed paths.
All: bitcoin, query, utils, crypto, stacks

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: 'condensed_header, diff, flags, files, components'
  require_changes: false # if true: only post the comment if coverage changes
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

codecov:
  require_ci_to_pass: false

component_management:
  individual_components:
    - component_id: packages-bitcoin # this is an identifier that should not be changed
      name: bitcoin # this is a display name, and can be changed freely
      paths:
        - packages/bitcoin

    - component_id: packages-query
      name: query
      paths:
        - packages/query

    - component_id: packages-utils
      name: utils
      paths:
        - packages/utils

    - component_id: packages-crypto
      name: crypto
      paths:
        - packages/crypto

    - component_id: packages-stacks
      name: stacks
      paths:
        - packages/stacks
# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

fix: improve token-details loading state
  apps/mobile/src/components/balance/price-change.tsx
  apps/mobile/src/features/token/bitcoin/rune-token-details.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

fix: improve collectible list loading making list shimmer independently
  apps/mobile/src/components/balance/price-change.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
  apps/mobile/src/features/token/components/collectibles-list-loading.tsx
  apps/mobile/src/features/token/components/loading.tsx
  packages/ui/src/components/skeleton-loader/skeleton-loader.native.tsx
Due: none

fix: improve token-details loading state
  apps/mobile/src/components/balance/balance.tsx
  apps/mobile/src/components/balance/price-change.tsx
  apps/mobile/src/features/balances/total-balance.tsx
  apps/mobile/src/features/token/bitcoin/rune-token-details.tsx
  apps/mobile/src/features/token/components/token-description.tsx
  apps/mobile/src/features/token/components/token-loading.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/token.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

fix: improve home screen loading state
  apps/mobile/src/features/account/components/account-stacking.tsx
  apps/mobile/src/features/account/components/account-total-balance.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

fix: standardise token + collectible details loading
  apps/mobile/src/components/balance/price-change.tsx
  apps/mobile/src/features/token/bitcoin/inscription-details.tsx
  apps/mobile/src/features/token/bitcoin/rune-token-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/components/collectible-loading.tsx
  apps/mobile/src/features/token/components/collectibles-list-loading.tsx
  apps/mobile/src/features/token/components/token-loading.tsx
  apps/mobile/src/features/token/stacks/sip10-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9-details.tsx
  apps/mobile/src/features/token/token.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/ui/src/components/skeleton-loader/skeleton-loader.native.tsx
Due: none

fix: remove faux border for activity avatars and default to false
  packages/ui/src/components/avatar/avatar.native.tsx
  packages/ui/src/components/avatar/runes-avatar-icon.native.tsx
  packages/ui/src/components/avatar/sip10-avatar-icon.native.tsx
Due: none

fix: sentry dsn env variable
  .github/workflows/publish-extensions.yml
Due: none

chore: release dev
  .release-please-manifest.json
  apps/extension/CHANGELOG.md
  apps/extension/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bitcoin/CHANGELOG.md
  packages/bitcoin/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/provider/CHANGELOG.md
  packages/provider/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/rpc/CHANGELOG.md
  packages/rpc/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stacks/CHANGELOG.md
  packages/stacks/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: bitcoin, query, utils, crypto, stacks

feat: filter swap assets by visibility
  packages/services/src/assets/fungible-asset.service.ts
  packages/services/src/swap/swap.service.ts
Due: none

feat: add ld to extension and web
  .github/workflows/build-extension.yml
  .github/workflows/deploy-web.yml
  .github/workflows/development-extension.yml
  .github/workflows/playwright-extension.yml
  .github/workflows/playwright-web.yml
  .github/workflows/publish-extensions.yml
  apps/extension/.env.example
  apps/extension/package.json
  apps/extension/src/app/app.tsx
  apps/extension/src/app/common/client-id/index.ts
  apps/extension/src/app/features/feature-flags/index.ts
  apps/extension/webpack/webpack.config.base.js
  apps/web/.env.example
  apps/web/app/entry.client.tsx
  apps/web/app/features/feature-flags/index.ts
  apps/web/app/utils/client-id/index.ts
  apps/web/package.json
  apps/web/vite.config.ts
  apps/web/workers/csp.ts
  pnpm-lock.yaml
Due: none

fix(mobile): add output value description sheet to inscription details
  apps/mobile/src/features/token/bitcoin/inscription-token-details.tsx
  apps/mobile/src/features/token/components/token-stat-card.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): preload collectibles at home level to make it feel snappier
  apps/mobile/src/components/home/home-with-account-screen.tsx
  apps/mobile/src/features/token/collectibles-list.tsx
Due: none

feat(mobile): add quote price information to collectible stats page
  apps/mobile/src/features/token/bitcoin/inscription-token-details.tsx
  apps/mobile/src/features/token/bitcoin/inscription-token-stats.tsx
  apps/mobile/src/features/token/components/token-stat-card.tsx
  apps/mobile/src/features/token/stacks/sip9-token-details.tsx
  apps/mobile/src/features/token/stacks/sip9-token-stats.tsx
  apps/mobile/src/i18n/locales/en/messages.po
Due: none

chore(mobile): refactor sip9 model and add validation
  apps/mobile/src/features/token/collectibles-list.tsx
  apps/mobile/src/features/token/stacks/sip9-token-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/models/src/assets/sip9-asset.model.ts
  packages/services/src/assets/sip9-asset.utils.spec.ts
  packages/services/src/assets/sip9-asset.utils.ts
Due: none

chore(mobile): add better error handling for collectible loading
  apps/mobile/src/features/token/bitcoin/inscription.tsx
  packages/models/src/assets/asset.model.ts
  packages/query/src/bitcoin/ordinals/inscription.utils.ts
  packages/services/src/collectibles/collectibles.utils.spec.ts
  packages/services/src/collectibles/collectibles.utils.ts
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/utils/src/assets/inscription-helpers.spec.ts
  packages/utils/src/assets/inscription-helpers.ts
Due: query, utils

chore(mobile): fix bug with GLTF previews
  packages/ui/src/components/collectibles/native/collectible-gltf.native.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/ui/src/components/collectibles/native/sip9.native.tsx
  packages/utils/src/assets/inscription-helpers.spec.ts
  packages/utils/src/assets/inscription-helpers.ts
Due: utils

fix(mobile): favour ord.io for viewing inscriptions
  apps/mobile/src/features/token/bitcoin/stamp.tsx
  apps/mobile/src/features/token/stacks/sip9.tsx
  packages/ui/src/components/collectibles/native/bns.native.tsx
  packages/ui/src/components/collectibles/native/collectible-gltf.native.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/ui/src/components/collectibles/native/sip9.native.tsx
  packages/utils/src/assets/inscription-helpers.ts
  pnpm-lock.yaml
Due: utils

fix(mobile): fix fallback ui image
  apps/mobile/src/features/token/bitcoin/inscription.tsx
  apps/mobile/src/features/token/bitcoin/stamp.tsx
  apps/mobile/src/features/token/components/fallback.tsx
  apps/mobile/src/features/token/stacks/sip9.tsx
  apps/mobile/src/features/token/utils/image-unavailable-label.ts
  apps/mobile/src/i18n/locales/en/messages.po
  packages/ui/src/components/collectibles/native/collectible-gltf.native.tsx
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/image-unavailable.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/ui/src/components/collectibles/native/sip9.native.tsx
Due: none

fix(mobile): use react-svg for SVGs for improved rendering
  apps/mobile/src/features/token/bitcoin/stamp-token-details.tsx
  packages/services/src/collectibles/collectibles.utils.spec.ts
  packages/ui/src/components/collectibles/index.native.ts
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/collectible-svg.native.tsx
  packages/ui/src/components/collectibles/native/image-unavailable.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  pnpm-lock.yaml
Due: none

fix(mobile): ord.io preview for html and image, fix bug showing stamp-details
  apps/mobile/src/features/token/bitcoin/stamp-details.tsx
  apps/mobile/src/features/token/bitcoin/stamp-token-details.tsx
  apps/mobile/src/i18n/locales/en/messages.po
  packages/ui/src/components/collectibles/native/collectible-html.native.tsx
  packages/ui/src/components/collectibles/native/collectible-image.native.tsx
  packages/ui/src/components/collectibles/native/inscription.native.tsx
  packages/utils/src/assets/inscription-helpers.ts
Due: utils

fix: client id uuid
  apps/extension/package.json
  apps/extension/src/app/common/client-id/index.ts
  apps/web/app/utils/client-id/index.ts
  pnpm-lock.yaml
Due: none

chore: release dev
  .release-please-manifest.json
  apps/extension/CHANGELOG.md
  apps/extension/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  packages/query/CHANGELOG.md
  packages/query/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: query

feat: enhances yield model
  packages/models/src/index.ts
  packages/models/src/yield/helpers/yield.helpers.ts
  packages/models/src/yield/providers/bitflow-position.model.ts
  packages/models/src/yield/providers/fast-pool-position.model.ts
  packages/models/src/yield/providers/granite-position.model.ts
  packages/models/src/yield/providers/granite.model.ts
  packages/models/src/yield/providers/hermetica-position.model.ts
  packages/models/src/yield/providers/lisa-position.model.ts
  packages/models/src/yield/providers/stacking-dao-position.model.ts
  packages/models/src/yield/providers/stacking-dao.model.ts
  packages/models/src/yield/providers/velar-position.model.ts
  packages/models/src/yield/providers/xverse-position.model.ts
  packages/models/src/yield/providers/zest-position.model.ts
  packages/models/src/yield/yield-position.base.model.ts
  packages/models/src/yield/yield-position.model.ts
  packages/models/src/yield/yield-product.model.ts
  packages/models/src/yield/yield-provider.model.ts
  packages/services/src/index.ts
  packages/services/src/inversify.config.ts
  packages/services/src/yield/providers/bitflow/bitflow-amm-lp.service.ts
  packages/services/src/yield/providers/granite/granite-v1-borrow.service.ts
  packages/services/src/yield/providers/granite/granite-v1-earn.service.ts
  packages/services/src/yield/providers/granite/granite-v1.utils.ts
  packages/services/src/yield/providers/granite/granite.constants.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao-lst.service.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao-lst.utils.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao-ststx.service.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao-ststxbtc.service.ts
  packages/services/src/yield/providers/stacking-dao/stacking-dao.constants.ts
  packages/services/src/yield/providers/zest/zest-borrow.service.ts
  packages/services/src/yield/providers/zest/zest-borrow.utils.ts
  packages/services/src/yield/providers/zest/zest.constants.ts
  packages/services/src/yield/yield-product.interface.ts
  packages/services/src/yield/yield.service.ts
Due: none
